<h1>Listing pre_mission_signups</h1>

<table>
  <tr>
    <th>Mission</th>
    <th>Description</th>
    <th>User Name</th>
    <th>Email</th>
  </tr>

<% @pre_mission_signups.each do |pre_mission_signup| %>
  <tr>
    <td><%= pre_mission_signup.mission %></td>
    <td><%= pre_mission_signup.description %></td>
    <% if pre_mission_signup.user.present? %>
      <td><%= pre_mission_signup.user.name %></td>
    <% end %>
    <td><%= pre_mission_signup.email %></td>
    <td><%= link_to 'Show', pre_mission_signup %></td>
    <td><%= link_to 'Edit', edit_pre_mission_signup_path(pre_mission_signup) %></td>
    <td><%= link_to 'Destroy', pre_mission_signup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pre mission signup', new_pre_mission_signup_path %>
