<p id="notice"><%= notice %></p>

<p>
  <%= @pre_mission_signup.mission %><br>
  <%= @pre_mission_signup.description %><br>
  <%= @pre_mission_signup.user.name %><br>
  <%= @pre_mission_signup.email %>
</p>
