<div class="page-main">
  <div class="page-content">
    <div class="heading28" style="margin-bottom: 20px">Partner Schools</div>
    <% Account.where(:private => false).each do |account| %>
      <div class="heading16 brown"><%= account.name %></div>
      <%= account.courses.uniq.count %> events, <%= account.memberships.uniq.count %> people in this school<br><br>
    <% end %>
    <hr>
    <div class="heading28" style="margin-bottom: 20px">Live Missions</div>
    <% Mission.where(:account_id => nil).where(:status => "live").each do |mission| %>
      <div class="heading16 brown"><%= link_to full_mission_title(mission), mission %></div>
      Created by: <%= link_to mission.crewmanships.first.user.name, mission.crewmanships.first.user %> (<%= mission.crewmanships.first.user.email %>)<br>
      <%= mission.crewmanships.count %> people following this mission<br>
      <%= mission.courses.count %> events, <%= mission.topics.count %> topics, <%= mission.comments.count %> comments<br><br>
    <% end %>
    <hr>
    <div class="heading28" style="margin-bottom: 20px">Draft Missions</div>
    <% Mission.where(:account_id => nil).where(:status => "draft").each do |mission| %>
      <div class="heading16 brown"><%= link_to full_mission_title(mission), mission %></div>
      Created by: <%= link_to mission.crewmanships.first.user.name, mission.crewmanships.first.user %> (<%= mission.crewmanships.first.user.email %>)<br>
      <%= mission.created_at.strftime("%a %b %d, %Y") %><br><br>
    <% end %>
  </div><!-- end page-content -->
</div>

<div class="sidebar">
  <div class="sidebar-content">
    <div class="heading14">Month over month</div>
    <% @users_by_month.each do |month, count| %>
      <%= "#{Date::MONTHNAMES[month.last.to_i]}:" %>
      <%= "#{ @users_by_month[month] || 0 } U & #{@courses_by_month[month] ||0} C & #{number_to_currency @transaction_by_month[month] || 0, :precision => 0 }" %><br>
    <% end %>
    <br><br>

    <div class="heading14">Total to date</div>
    <table>
      <tr>
        <td>Total Users:</td>
        <td><%= "#{@total_users} (#{number_to_percentage(@total_fb_users/@total_users.to_f * 100, :precision => 0)} FB)" %></td>
      </tr>
      <tr>
        <td>Active Users:</td>
        <td><%="#{@total_active_users} (#{number_to_percentage(@total_active_users/@total_users.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr>
        <td>Active Students:</td>
        <td><%= "#{@total_active_students} (#{number_to_percentage(@total_active_students/@total_users.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr>
        <td>Active Teachers</td>
        <td><%= "#{@total_active_teachers} (#{number_to_percentage(@total_active_teachers/@total_users.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr>
        <td>Repeat Users:</td>
        <td><%= "#{@total_repeat_users} (#{number_to_percentage(@total_repeat_users/@total_active_users.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr>
        <td>Repeat Students:</td>
        <td><%= "#{@total_repeat_students} (#{number_to_percentage(@total_repeat_students/@total_active_students.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr class="metrics_underline">
        <td>Repeat Teachers:</td>
        <td><%= "#{@total_repeat_teachers} (#{number_to_percentage(@total_repeat_teachers/@total_active_teachers.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr>
        <td>Total Courses:</td>
        <td><%= "#{@total_courses}" %></td>
      </tr>
      <tr>
        <td>Paying Courses:</td>
        <td><%= "#{@paying_courses} (#{number_to_percentage(@paying_courses/@total_courses.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr>
        <td>Free Courses:</td>
        <td><%= "#{@free_courses} (#{number_to_percentage(@free_courses/@total_courses.to_f * 100, :precision => 0)})" %></td>
      </tr>
    </table>
  </div>
</div>
