<div class="sidebar white" style="width: 300px; margin-right: 30px; border: 1px solid #ddd">
  <div style="padding: 30px">
    <div class="heading28" style="margin-bottom: 20px">Overview</div>
    <table class="table table-bordered">
      <tr>
        <td>Live Missions:</td>
        <td><%= @live_missions.count %></td>
      </tr>
      <tr>
        <td>Draft Missions:</td>
        <td><%= @draft_missions.count %></td>
      </tr>
    </table>
    <table class="table table-bordered">
      <tr>
        <td>Total Users:</td>
        <td><%= "#{@total_users.count} (#{number_to_percentage(@total_fb_users.count/@total_users.count.to_f * 100, :precision => 0)} FB)" %></td>
      </tr>
      <tr>
        <td>Activated Users:</td>
        <td><%="#{@total_activated_users.count} (#{number_to_percentage(@total_activated_users.count/@total_users.count.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr>
        <td>Students vs. Teachers ratio</td>
        <td><%= "#{@total_activated_students.count} (#{number_to_percentage(@total_activated_students.count/@total_users.count.to_f * 100, :precision => 0)})" %> vs. <%= "#{@total_activated_teachers.count} (#{number_to_percentage(@total_activated_teachers.count/@total_users.count.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr>
        <td>Engaged Users:</td>
        <td>work in progress</td>
      </tr>

      <tr>
        <td>Student turned Teacher</td>
        <td>work in progress</td>
      </tr>
    </table>
    <table class="table table-bordered">
      <tr>
        <td>Total Events:</td>
        <td><%= @total_courses.count %></td>
      </tr>
      <tr>
        <td>Paying vs. Free ratio</td>
        <td><%= "#{@paying_courses.count} (#{number_to_percentage(@paying_courses.count/@total_courses.count.to_f * 100, :precision => 0)})" %> vs. <%= "#{@free_courses.count} (#{number_to_percentage(@free_courses.count/@total_courses.count.to_f * 100, :precision => 0)})" %></td>
      </tr>
      <tr>
        <td>Events in draft:</td>
        <td><%= @draft_courses.count + @courses_not_live.count %></td>
      </tr>
    </table>
  </div>
</div>

<div class="tabbable" style="float: left; width: 626px">
  <ul class="nav nav-tabs" style="margin-bottom: 0px;">
    <li class="active"><a href="#tab1" data-toggle="tab" class="heading11">Need Rallying</a></li>
    <li><a href="#tab2" data-toggle="tab" class="heading11">Trends</a></li>
    <li><a href="#tab3" data-toggle="tab" class="heading11">Impact</a></li>
  </ul>
  <div class="tab-content" style="overflow: hidden">
    <div class="tab-pane active" id="tab1">
      <div class="page-main-tab white">
        <div class="page-content">
          <div class="heading28" style="margin-bottom: 20px">Upcoming events in the next 7 days</div>
          <table class="table table-bordered">
            <thead>
              <th>Days from today</th>
              <th>Event</th>
              <th>Status</th>
            </thead>
            <tbody>
              <% @courses_next7days.each do |course| %>
              <tr>
                <td>
                  <% if ((course.starts_at - Time.zone.now) / 60 / 60 / 24).round(0) == 0 %>
                    Today!
                  <% else %>
                    <%= ((course.starts_at - Time.zone.now) / 60 / 60 / 24).round(0) %> day(s)
                  <% end %>
                </td>
                <td>
                  <%= link_to course.title, course %> by <%= link_to course.teacher.name, course.teacher %><br>
                  <div style="font-size: 11px">
                  <% if course.account == nil %>
                    <%= "#{course.mission.verb} #{course.mission.title}" %>
                  <% else %>
                    Partner school: <%= course.account.name %>
                  <% end %><br>
                  <%= course.starts_at.strftime("%a %b %d, %Y") %>, <%= "#{course.starts_at.strftime("%l:%M%p")} - #{course.ends_at.strftime("%l:%M%p")}" %>
                  </div>
                </td>
                <% if course.students.count < course.min_seats %>
                  <td style="background-color: #F5F25D">
                <% else %>
                  <td>
                <% end %>
                  <%= course.students.count %> of <%= course.min_seats %><br>
                  (max. <%= course.max_seats %>)<br>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
          <div class="heading28" style="margin-bottom: 20px">Events in draft</div>
          <% @draft_courses.each do |course| %>
            <div class="heading16 brown"><%= link_to course.title %></div>
            Created by: <%= link_to course.teacher.name, course.teacher %> (<%= course.teacher.email %>)<br>
            Created on: <%= course.created_at.strftime("%a %b %d, %Y") %><br><br>
          <% end %>
          <hr>
          <div class="heading28" style="margin-bottom: 20px">Missions in draft</div>
          <% @draft_missions.each do |mission| %>
            <div class="heading16 brown"><%= link_to full_mission_title(mission), mission %></div>
            Created by: <%= link_to mission.crewmanships.first.user.name, mission.crewmanships.first.user %> (<%= mission.crewmanships.first.user.email %>)<br>
            Created on: <%= mission.created_at.strftime("%a %b %d, %Y") %><br><br>
          <% end %>
        </div>
      </div><!-- end page main -->
    </div><!-- end tab1 -->

    <div class="tab-pane" id="tab2">
      <div class="page-main-tab white">
        <div class="page-content">
          <div class="heading28" style="margin-bottom: 20px">By month</div>
          <table class="table table-bordered">
            <thead>
              <th>Month</th>
              <th>Members</th>
              <th>Events</th>
            </thead>
            <tbody>
              <% @users_by_month.each do |month, count| %>
                <tr>
                  <td><%= "#{Date::MONTHNAMES[month.last.to_i]}:" %></td>
                  <td><a data-toggle="modal" href="#monthDetail"><%= "#{@users_by_month[month] || 0 } members" %></a></td>
                  <td><%= "#{@courses_by_month[month] ||0} events" %></td>
                </tr>
                <!-- modal begins -->
                <div class="modal hide" id="monthDetail">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3><%= "#{Date::MONTHNAMES[month.last.to_i]}:" %></h3>
                  </div>
                  <div class="modal-body">
                  </div>
                </div><!-- modal ends -->
              <% end %>
            </tbody>
          </table>
          <hr>
          <div class="heading28" style="margin-bottom: 20px">By Mission</div>
          <table class="table table-bordered">
            <thead>
              <th>Partner</th>
              <th>Members</th>
              <th>Events</th>
            </thead>
            <tbody>
              <% @top_accounts.each do |account| %>
                <tr>
                  <td><%= link_to account.name, "http://#{account.subdomain}.hourschool.com" %></td>
                  <td><%= account.memberships.uniq.count %> members</td>
                  <td><%= account.courses.uniq.count %> events</td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <table class="table table-bordered">
            <thead>
              <th>Community</th>
              <th>Members</th>
              <th>Events</th>
            </thead>
            <tbody>
              <% @top_missions.each do |mission| %>
                <tr>
                  <td><%= link_to full_mission_title(mission), mission %></td>
                  <td><%= mission.crewmanships.count %> members</td>
                  <td><%= mission.courses.count %> events</td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <hr>
          <div class="heading28" style="margin-bottom: 20px">By Member</div>
          <table class="table table-bordered">
            <thead>
              <th>Name</th>
              <th># of events</th>
              <th>Date joined</th>
            </thead>
            <tbody>
              <% @top_users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.roles.count %></td>
                  <td><%= user.created_at.strftime("%b %d, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div><!-- end page main -->
    </div><!-- end tab2 -->

    <div class="tab-pane" id="tab3">
      <div class="page-main-tab white">
        <div class="page-content">
          Below is a list of people who have both been a student and a teacher. People that have only been student or teacher are excluded.
          <div class="heading14" style="margin: 20px 0px">Student first</div>
          <table class="table table-bordered">
            <thead>
              <th>Name</th>
              <th>Journey</th>
              <th>Joined on</th>
              <th>Activated on</th>
              <th>Became teacher on</th>
            </thead>
            <tbody>
              <% @teachers.each do |teacher| %>
              <% if teacher.roles.collect(&:name).include?('student') && teacher.roles.order("created_at ASC").collect(&:name).first == "student" %>
                <tr>
                  <td><%= link_to teacher.name, teacher %></td>
                  <td>
                    <% teacher.roles.order("created_at ASC").each do |role| %>
                      <%= link_to role.name, role.course %>,
                    <% end %>
                  </td>
                  <td><%= teacher.created_at.strftime("%b %d, %Y") %></td>
                  <td><%= link_to teacher.roles.order("created_at ASC").first.created_at.strftime("%b %d, %Y"), teacher.roles.order("created_at ASC").first.course %></td>
                  <td><%= link_to teacher.roles.order("created_at ASC").where(:name => "teacher").first.created_at.strftime("%b %d, %Y"), teacher.roles.order("created_at ASC").where(:name => "teacher").first.course %> </td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <div class="heading14" style="margin: 20px 0px">Teacher first</div>
          <table class="table table-bordered">
            <thead>
              <th>Name</th>
              <th>Journey</th>
              <th>Joined on</th>
              <th>Activated on</th>
            </thead>
            <tbody>
              <% @teachers.each do |teacher| %>
              <% if teacher.roles.collect(&:name).include?('student') && teacher.roles.order("created_at ASC").collect(&:name).first == "teacher" %>
                <tr>
                  <td><%= teacher.name %></td>
                  <td>
                    <% teacher.roles.order("created_at ASC").each do |role| %>
                      <%= role.name %>,
                    <% end %>
                  </td>
                  <td><%= teacher.created_at.strftime("%b %d, %Y") %></td>
                  <td><%= teacher.roles.order("created_at ASC").first.created_at.strftime("%b %d, %Y")  %></td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>

        </div>
      </div><!-- end page main -->
    </div><!-- end tab2 -->

  </div><!-- end tab-content -->
</div><!-- end tabbable -->














