
- url   = suggestion_url(@req)
- title = "Help me find someone to teach this class!"

.modal
  .welcome-header Nominate a teacher
  .indent
    = render :partial => "shared/components/add_this_buttons", :locals => {:url => url, :title => title }
  %br
  %br

  - if current_user.facebook?
    .welcome-header Via Facebook
    .indent.clearfix
      - if current_user.facebook?
        %div{:style => 'width:270px'}
          %div.clearfix
            = render :partial => "users/facebook/autocomplete/share", :locals => { :link => url, :name => @req.name,  :message => "You should Teach this class!"}

          %div.clearfix.indent
            = render :partial => "users/facebook/grid/share", :locals => { :link => url, :name => @req.name, :message => "You should teach this class!",  :same_city => true , :limit => 5 }

      - else
        %p.confirm Classes are more fun with friends! Connect Facebook to your account today!
        = render :partial => 'users/facebook/connect_button'
      %br
      %br

  .welcome-header Via Email
  .indent{:style => 'width:600px'}
    = form_tag suggestion_nominations_path, :method => 'post' do
      .form-question Recipient:
      .form-question-tip= "Who do you think can teach a #{@req.name} class?"
      = hidden_field_tag 'reqid', @req.id
      = text_field_tag 'email', 'Enter email address here', :class => 'form-with-margin', :onclick => 'this.value= "";'
      %br
      %br
      %br
      .form-question Message:
      .form-question-tip Write a short note and tell them why you think he/she'd be great to teach the class!

      = text_area_tag 'message', '', :class => 'form-tall', :placeholder => "I think you would be an amazing teacher for #{@req.name} because..."
      .page-section-float-left
        = submit_tag "Send message", :class => "send-message-button"


