<%= form_for(@invite) do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
      <% @invite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
    <%= f.hidden_field :inviter_id, :value => "#{current_user.id}" if current_user %>
    From: <%= current_user.name %><br>
  <% else %>
    <div class="field clearfix" style="float: left; margin-right: 10px">
      <%= f.label :inviter_name, "Your name" %>
      <%= f.text_field :inviter_name, :placeholder => "Name" %>
    </div>
    <div class="field clearfix">
      <%= f.label :inviter_email, "Your email" %>
      <%= f.text_field :inviter_email, :placeholder => "email@email.com" %>
    </div>
  <% end %>
  <br>

  <div class="field clearfix" id="invite_by_email">
    To email: <%= f.text_field :invitee_email, :placeholder => "email@email.com"  %>
  </div><br>

  <div class="field clearfix">
    <%= f.label :message, "Personal message" %>
    <%= f.text_area :message, :class => "form-med-with-margin", :style => "width: 450px",
    :value => "I am going to this event and I think you should join me!" %>
  </div><br>

  <br>
  <%= f.hidden_field :invitable_type, :value => "course" %>
  <%= f.hidden_field :invitable_id, :value => "#{@course.id}" %>

  <div class="actions">
    <%= f.submit "Send invite", :class => "btn btn-primary" %>
  </div>
<% end %>




