<%= form_for(@invite) do |f| %>
  <% if @invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
      <% @invite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
    <%= f.hidden_field :inviter_id, :value => "#{current_user.id}" if current_user %>
    From: <%= current_user.name %><br>
  <% end %>
  <br>

<!--   <div class="field clearfix" style="float: left; margin-right: 10px">
    <%= f.label :invitee, "Invite an HourSchool user by name" %>
    <%= text_field_tag :userSearch, "", :placeholder => "Start typing a name", :class => "userSearchTypeahead", :autocomplete => "off" %>
    <%= f.hidden_field :invitee_id %>

    <script type="text/javascript">
    $('.userSearchTypeahead').typeahead({
      source: function(typeahead, query) {
        var _this = this;
        return $.ajax({
          url: "<%= search_users_path(:format => :json) %>?q=" + query,
          success: function(data) {
            return typeahead.process(data);
          }
        });
      },
      property: "name",
      onselect: function (obj) {
        if (obj.id == 0) {
          $('#invite_invitee_email').focus()
        } else {
          $('#invite_invitee_id').val(obj.id);
        }
      }
    });
    </script>
  </div>
 -->
  <div class="field clearfix" id="invite_by_email">
    To email: <%= f.text_field :invitee_email, :placeholder => "robin@boywonder.com"  %>
  </div><br>

  <div class="field clearfix">
    <%= f.label :message, "Personal message" %>
    <%= f.text_area :message, :class => "form-med-with-margin", :style => "width: 450px",
    :value => "I am starting this mission and I think you should join me!" %>
  </div><br>

  <div class="field clearfix">
    <% if @mission.courses.where("starts_at > (?)", Time.zone.now).any? %>
      <div style="margin-bottom: 5px">Do you want to invite them to attend any of the following events? (optional) </div>
      <% for course in @mission.courses.where("starts_at > (?)", Time.zone.now).where(:status => "live").find(:all) %>
        <div style="float: left;">
          <%= radio_button_tag("invite_selection", "course:#{course.id}", checked = false, options = {}) %>
        </div>
        <div class="heading13" style="margin: 2px 0px 5px 20px"><%= course.title %></div>
      <% end %>
    <% end %>
  </div><br>

  <div class="field clearfix">
    <% if @mission.topics.any? %>
      <div style="margin-bottom: 5px">Do you want to invite them to organize an event for any of the following topics? (optional) </div>
      <% for topic in @mission.topics.find(:all) %>
        <div style="float: left;">
          <%= radio_button_tag("invite_selection", "topic:#{topic.id}", checked = false, options = {}) %>

        </div>
        <div class="heading13" style="margin: 2px 0px 5px 20px"><%= topic.title %></div>
      <% end %>
    <% end %>
  </div><br>

  <div class="field clearfix">
    <% if @mission.comments.where(:comment_type => "question").any? %>
      <div style="margin-bottom: 5px">Do you want to invite them to answer any of the following questions? (optional) </div>
      <% for comment in @mission.comments.where(:comment_type => "question").find(:all) %>
        <div style="float: left;">
          <%= radio_button_tag("invite_selection", "comment:#{comment.id}", checked = false, options = {}) %>
        </div>
        <div class="heading13" style="margin: 2px 0px 5px 20px"><%= comment.body %></div>
      <% end %>
    <% end %>
  </div><br>

  <br>
  <%= f.hidden_field :invitable_type, :value => "mission" %>
  <%= f.hidden_field :invitable_id, :value => "#{@mission.id}" %>

  <div class="actions">
    <%= f.submit "Send invite", :class => "btn btn-primary" %>
  </div>
<% end %>




