<h1>Listing invites</h1>

<table>
  <tr>
    <th>Inviter</th>
    <th>Invitee</th>
    <th>Message</th>
    <th>Invitable</th>
    <th>Invitable type</th>
    <th>Invite action</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invites.each do |invite| %>
  <tr>
    <td><%= invite.inviter %></td>
    <td><%= invite.invitee %></td>
    <td><%= invite.message %></td>
    <td><%= invite.invitable %></td>
    <td><%= invite.invitable_type %></td>
    <td><%= invite.invite_action %></td>
    <td><%= link_to 'Show', invite %></td>
    <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
    <td><%= link_to 'Destroy', invite, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invite', new_invite_path %>
