<div class="signup_wizard">
 <p class="error"></p>
 
 <%= form_for @user, :url => {:action => "update"}, :method => :put, :html => {:class => 'inset', :id => 'form-signup'} do |f| %>
   <div>
     <%=  f.text_field :name , :placeholder => "Name" %>
   </div>
   <div>
     <%=  f.text_field :email , :placeholder => "Email" %>
   </div>
   <div>
     <%=  f.text_field :zip , :placeholder => "Zipcode" %>
   </div>
   <div>
     <%=  f.text_area :bio , :placeholder => "bio" %>
   </div>
   <div>
     <%=  f.submit "Next", :class => "button-submit" %>
   </div>
 <% end %>

 <%= link_to "Skip", wizard_path(@next_step) %>
</div>