.page
  .page-content

    / - if resource_name.to_s == "member"
    /   = "Sign up for Hourschool Enterprise, it is free!"
    /   = link_to "is my company participating?", "#"
    / - else
    /   = "Sign up"

    .page-section-float-left
      .welcome-header Signup Wizard
      %img.greyheader_half{:src => '../../../images/v2/greyheader_half.png'}
      %br
      %ul.sub-nav
        %li.sub-nav-inactive
          %a.sub-nav-inactive(href="/wizard/confirm_password") Confirm Password
        %li.sub-nav-active
          %a.sub-nav-active(href="/wizard/confirm_profile") Confirm Profile
             
    = form_for(@user, :as => :user, :url => {:action => "update"}) do |f|
      %div{:class => "form-question"}
        = f.label :name
        %br/

        = f.text_field :name, :class => "form-short-with-margin"
      %div{:class => "form-question"}
        = f.label :email
        %br/
        = f.email_field :email, :class => "form-short-with-margin"
      %div{:class => "form-question"}
        = f.label "Zipcode"
        %br/
        = f.text_field :zipcode, :class => "form-short-with-margin"
      %div{:class => "form-question"}
        = f.label :bio
        %br/
        = f.text_area :bio, :class => "form-short-with-margin"
    
      .page-section-float-left
        = f.submit "Confirm", :class => "loginButton"



