<% if current_account == Account.find(4) %>
  
  <div class="container_16 middle" id="middle_events">
    
    <div class="page-section-float-left"><br>
      <div class="heading15 sidebar">Sign in to Women.Design.Build</div>
    </div>

    <%- if resource.present? && resource.email.present? -%>
      <div class="page-section-float-left">
          <div class="error-block"><div class="form-error">* Email or Password is Incorrect</div></div>
      </div>
    <%- end -%>

    <%= render 'form' %>

    <hr>

    <div class="page-section-float-left"><br>
      <div class="heading15 sidebar">Don't have an account? <br> Sign up now!</div>
      <%= render "registrations/form" %>
    </div>
      
  </div>
  
<% else %>

  <div class="page">
    <div class="page-content">

      <div class="page-section-float-left">
      <div class="heading25 dark_grey">Sign in</div>
      <div class="class-alternatives">It's fast and easy. And we will not post anything without your permission.</div>
        <br>
        <%  if resource_name.to_s == "user" %>
        <%= link_to image_tag('fb_connect.jpg'), user_omniauth_authorize_path(:facebook) %>
        <% end %>
      </div>

      <br />
      <div class="heading15 marcomm"> Or sign in with email:</div>
    
        <%- if resource.present? && resource.email.present? -%>
          <div class="page-section-float-left">
              <div class="error-block"><div class="form-error">* Email or Password is Incorrect</div></div>
          </div>
        <%- end -%>

      <%= render 'form' %>
  
      <hr>

      <div class="page-section-float-left"><br>
        <div class="heading15 marcomm">Don't have an account? <br> Sign up now!</div>
        <%= render "registrations/form" %>
      </div>

    </div>
  </div>
    
<% end %>







