<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <% Course.order('created_at asc').each do |course| %>
      <label>
        <%= check_box_tag 'track[course_ids][]', course.id, @courses.include?(course) %>
        <%= course.title %>
      </label>
      (<%= link_to 'view', course %>)<br />
    <% end %>
  </div>
  <div class="field">

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
