:css

  a{color: #ff7733;}
  
  .classRow {
    width: 100%;
    overflow: hidden;
  }
  .classBlock {
    width: 100%;
    padding-bottom: 10px;
    box-shadow: 1px 1px 1px #F0F0F0, 1px 1px 2px 1px #F0F0F0;
    overflow: hidden;
    height: auto;
  }
  .classBlock img { float: left; }
  .classBlock .class-description {
    float: left; 
    width: 650px; 
    margin-top: -20px; 
    padding-left: 20px;
    height: auto;
  }
  .intext_link { color: #FF7733; }
  
  p {
    margin-bottom: 15px;
  }
  
  hr {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #F0F0F0;
  }
  
  .heading25_666{ text-align: center;}

.full-page
  .page-content
    .center
      .marcomm-header
        .heading25_666 
          = @track.title
        = image_tag('v2/greyheader_full.png', :class => 'greyheader_full')

    .page-section-float-left
      %div
        = @track.description

      %hr 
      
      -@courses.each do |course|
        .classRow
          .classBlock
            = link_to image_tag(course.photo.url(:small), :size => "190x120"), course
            = image_tag('v2/arrow_white_pointup.png', :class => 'class-arrow')
            %br
            .class-description
              .heading13-class
                = link_to course.title, course
              %p
                = sanitize course.description.gsub(/\n/,'<br/>')
                = link_to 'Sign up here!', course