- if community_site?
  - if current_user
    %ul.searchFilter
      %li
        .sidebar-heading My Location
        %li= link_to "#{current_user.city.try(:name)}, #{current_user.city.try(:state)}", courses_browse_path(:upcoming, :city => current_user.city.try(:name))

%ul.searchFilter
  %li
    .sidebar-heading Browse By Time
    %li= link_to "Everything!",   courses_search_path(add_filter(:id => :all))
    %li= link_to "Upcoming only", courses_search_path(add_filter(:id => :upcoming))


- if community_site?
  %ul.searchFilter
    %li
      .sidebar-heading Browse By Category
      - TAGS_HASH.each do |tag, id|
        %li= link_to "#{tag}", courses_search_path(add_filter(:tag => id))
