.page
  .page-content    
          
    = render :layout => 'shared/page/section', :locals => {:header => "Learn at HourSchool"} do

      - if @no_courses_found
        .pagenote-box.clearfix
          .pagenote-header 
            = "Sorry, we can't find anything :("
          = "If there's something you have always wanted to learn but don't see it on HourSchool, "
          = link_to "suggest it!", new_suggestion_path, :class => "pagenote-link"
          = "It's very likely that someone near you can teach it."

    
      = render :partial => 'courses/course_grid', :locals => {:courses => @courses}
    .page-section-float-right
      %table.view-more
        %tr
          %td
            = will_paginate @courses, :previous_label => "Prev"


= content_for :sidebar do
  = render :partial => 'sidebar'