= render :partial => "home/header"
.page
  .content
    .heading25_ccc Edit your account
    
      
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages! 
      %div{:class => "form-question"}
        = f.label :name
      %br/
      = f.text_field :name, :class => "form"
      %div{:class => "form-question"}
        = f.label "About you (Briefly)"
        = form_tag about_save_path, :method => 'post' do
          %br/
          = text_area_tag "about", :class => "form"
          = submit_tag "save (password not required)"
      %br/
      
      %div{:class => "form-question"}
        = f.label :email
      %br/
      = f.email_field :email, :class => "form"
      - if resource_name.to_s == "member"
        %div
          = f.label :organization
        %br/

        = f.text_field :organization
      - else
        %div{:class => "form-question"}
          = f.label "Zipcode"
        %br/
        = f.text_field :zipcode, :class => "form"

      %div{:class => "form-question"}
      = f.label :password
      = " (leave blank if you don't want to change it)"
      %br/
      = f.password_field :password, :class => "form"
      %div{:class => "form-question"}
        = f.label :password_confirmation

      %br/
      = f.password_field :password_confirmation, :class => "form"
      %div{:class => "form-question"}
        = f.label :current_password
        = " (we need your current password to confirm your changes)"
      = f.password_field :password_confirmation, :class => "form"
      %div
        = f.submit "Update"
  %h3= "Cancel my account"
  %p
  = "Unhappy? "
  = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete

  = link_to "Back", :back 

