= render :partial => "home/header"
.page
	.content
		.heading25_ccc
			- if resource_name.to_s == "member"
				= "Sign up for Hourschool Enterprise, it is free!"
				= link_to "is my company participating?", "#"
			- else
				= "Sign up"
		
		= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
			= devise_error_messages!
			%div{:class => "form-question"}
				= f.label :name
				%br/

				= f.text_field :name, :class => "form"
			- if resource_name.to_s == "member"
				%div{:class => "form-question"}
					= f.label :organization
					%br/

					= f.text_field :organization, :class => "form"
			- else
				%div{:class => "form-question"}
					= f.label "Zipcode"
					%br/
					= f.text_field :zipcode, :class => "form"
					/ = f.text_field :location
					/ = f.select :location, options_for_select([["Austin", "Austin, TX"], ["San Francisco", "San Francisco, CA"]]), :class => "form"
			%div{:class => "form-question"}
				= f.label :email
				%br/
				= f.email_field :email, :class => "form"
			%div{:class => "form-question"}
				= f.label :password
				%br/
				= f.password_field :password, :class => "form"
	
			%div{:class => "form-question"}
				= f.label :password_confirmation
				%br/
				= f.password_field :password_confirmation, :class => "form"
			%div{:class => "form-question"}
				= f.label "About you (Briefly)"
				%br/
				= f.text_area :about, :class => "form"
			%div
				= f.submit "Sign up"

		= render :partial => "devise/shared/links"

