<%- unless friend.blank? -%>
  <div class='facebookShare' data-id="<%= friend['id'] %>" data-limit=1>
    <table class="fb_share_table">
      <tr class="fb_share_table">
        <td style="width: 50px">
          <img src="<%= friend['image_url'] %>" width="40" height="40" class ="fb_friend_picture"/>
        </td>

        <td style="width: 60px">
          <a href="<%= friend['image_url'] %>" class="fb_friend_name">
              <%= friend['name'] %>
          </a>
        </td>

        <td class="fb_share_table">
            <a href="#" class="btn fit action small button_accept facebookShareSubmit" id="invite-button">Invite</a>
        </td>

        <td class="fb_share_table">
          <a href="#"
             data-url="<%= users_facebook_share_path(:next) %>"
             class="close button_decline facebookShareDecline" data-tooltip="#">x</a>
        </td>

        </tr>
    </table>
  </div>
<%- end -%>
