<p>Hello <%= @name.split(" ").first %>,</p>

<p>Thank you for signing up for <%= @course.title %>! Check out some handy details:</p>

<p>
Event: <%= @course.title %><br>
When: <%= @course.starts_at.strftime("%a %b %d, %Y") %> at <%= @course.starts_at.strftime("%l:%M%p") %> - <%= @course.ends_at.strftime("%l:%M%p") %><br>
Where: <%= @course.place_name %> - <%= @course.address %>, <%= @course.city.name %>, <%= @course.city.state %>, <%= @course.zip %><br>
<%= "Direction: #{@course.directions}" if @course.directions.present? %></p>

<p>Tickets bought: <%= @role.quantity %></p>

<p>Got questions? You can message the event organizer at <%= @url %></p>

<p>Remember, it's always more fun with friends. Share this event with people who you think might be interested.</p>
