<p>Congratulations!</p>

<p><%= "#{@account.name}" %> is now live: <%= link_to "http://#{@account.subdomain}.hourschool.com", "http://#{@account.subdomain}.hourschool.com" %>

<p>So what's next?  Well, if you haven't already, we recommend getting started by posting a few of your upcoming classes. You can post them by clicking <%= link_to "this link", @url %>, or directly from your site by clicking on the "add a class" button located on your new homepage.</p>

<p>After you post your first 1-3 classes, personally invite some friends to these events! Be sure to share the classes you post on your favorite social media platforms, and ask your network to help you get the word out to anyone who would be interested in <%= "#{@account.name}" %>.</p>

<p>To help you grow your school and build a vibrant community, we've built some resources for both community managers and teachers. They are available for free at our <%= link_to "resource center", "http://www.hourschool.com/resources" %>.</p>

<p>If you have any questions about getting started, feel free to shoot me an email at <%= link_to "alex@hourschool.com", "mailto:alex@hourschool.com" %> or call me directly at 1-877-246-4689.  We're here, and we're happy to help.</p>

<p>Cheers,<br>
Alex</p>
