
<div class="email-page">  

  <center>
        <img src="../../../images/v2/Logo_Orange.png">
  </center>
  
  
<div class="email-content">

  <h1 class="email-header">Hi,</h1>

  <p class="email-body"> You have been nominated by <%= @user.name %> to teach at HourSchool. <%= @user.name%> believes that you are a great person to teach a class on <%= @req.name%>. Here is <%= @user.name%>'s message -- </p>
  
  <p class="email-body"><%= @message %></p>

   <p class="email-body"> Please check <%= @url %> to teach this course. We hope you can teach this! There are also other great classes for you to look at http://hourschool.com </p>
  
  <p class="email-footer">
  Cheers!<br>
  HourSchool Team<br>
  <br>
  ---<br>
  Learn more about HourSchool, give us feedback, or contact us with any questions here:
  <a href="www.hourschool.com/community_faq">www.hourschool.com/community_faq</a>
  </p>
</div>




</div>