
<h1>Hello <%= @name.split(" ").first %>,</h1>
<br />
<p>Thank you for signing up for <%= @course.title %>! Check out some handy details:</p>
<br />
<p>Class: <%= @course.title %></p>
<p>Cover Charge: $ <%= @course.price %></p>
<p>When: <%= @course.starts_at.strftime("%a %b %d, %Y") %> at <%= "#{@course.starts_at.in_time_zone(@course.city.time_zone || @course.teacher.time_zone).strftime("%l:%M%p")} - #{@course.ends_at.in_time_zone(@course.city.time_zone || @course.teacher.time_zone).strftime("%l:%M%p")}" %></p>
<p>Where: <%= @course.place_name %> - <%= @course.address %></p>
<br />
<p>Got questions? You can message your teacher at <%= @url %></p>
<br />
<p>Remember, classes are always more fun with friends. Share this class with people who you think might be interested.</p>
  