<div class="dashboard-feed-thumbnail">
  <% if comment.user.photo.present? %>
    <%= link_to (image_tag comment.user.photo.url, :size => "75x75"), comment.user %>
  <% else %>
    <%= image_tag 'v2/Avatars_01_V1.png', :size => "75x75" %>
  <% end %>
  <div style="font-size: 9px"><%= "#{time_ago_in_words comment.created_at} ago" %></div>
  <% if comment.mission.featured == true %>
    <span class="label">Staff picks</span>
  <% end %>
</div>


<div class="dashboard-feed-body">
  <div style="margin-bottom: 10px">
  	<%= link_to comment.user.name, comment.user %> left a comment in <%= link_to "#{comment.mission.verb} #{comment.mission.title}", comment.mission %>
  </div>
  <%= simple_format Rinku.auto_link(comment.body) %>
  <% if comment.comment_type == 'file' %>
    <%= link_to comment.photo_file_name, comment.photo.url %>
  <% elsif comment.comment_type == 'photo' %>
    <%= image_tag(comment.photo.url(:normal)) %>
  <% end %>  
</div>



