<div class="dashboard-feed-thumbnail">
  <%= image_tag(crewmanship.user.photo.url, :size => "75x75") %>
  <div style="font-size: 9px"><%= "#{time_ago_in_words crewmanship.created_at} ago" %></div>
</div>

<div class="dashboard-feed-body">
  <% if crewmanship.user.crewmanships.where(:role => "creator").last %>
    <div style="margin-bottom: 10px">
   		<%= link_to crewmanship.user.name, crewmanship.user %> created the mission <%= link_to crewmanship.mission.title, crewmanship.mission %>
    </div>
  <% else %>
  	<div style="margin-bottom: 10px">
    	<%= link_to crewmanship.user.name, crewmanship.user %> joined the mission <%= link_to crewmanship.mission.title, crewmanship.mission %>
     </div>
  <% end %>

  <%= image_tag(crewmanship.mission.photo.url(:preview)) if crewmanship.mission.photo.present? %>

</div>

