<h1>Listing topics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= topic.title %></td>
    <td><%= topic.user.name %></td>
    <td><%= link_to 'Show', mission_topic_path(@mission, topic) %></td>
    <td><%= link_to 'Edit', edit_mission_topic_path(@mission, topic) %></td>
    <td><%= link_to 'Destroy', mission_topic_path(@mission, topic), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic', new_mission_topic_path %>
