<div class="span3">
  <ul class="nav nav-list well" style="background-color: white">
    <li class="nav-header">General</li>
    <li><%= link_to "Dashboard", admin_index_path %></li>
    <li><%= link_to "Events", admin_courses_path %></li>
    <li><%= link_to "People", admin_users_path %></li>
    <li><%= link_to "Payments", admin_payments_path %></li>
    <li class="divider"></li>
    <li class="nav-header">Report</li>
    <li><%= link_to "Activity", admin_metrics_path %></li>
    <li><%= link_to "Engagement", admin_reports_path %></li>
    <li class="divider"></li>
    <li class="nav-header">Settings</li>
    <li><%= link_to "Membership Plans", admin_settings_path %></li>
    <li><%= link_to "Settings", edit_account_path(:admin) %></li>
  </ul>
</div>