<div class="page-main white">
  <div class="page-content">

  <div class="heading28" style="margin-bottom: 30px">Admin Dashboard</div>

  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" style="margin-bottom: 0px;">
      <li class="active"><a href="#tab1" data-toggle="tab" class="heading11">Events</a></li>
      <li><a href="#tab2" data-toggle="tab" class="heading11">People</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="white tab-border">
          <div class="page-content">
            <% if current_account == Account.where(:id => 7).last %>
              <%= link_to "Post event", new_course_path(:place_name => "The Hub LA",
      :address => "830 Traction Avenue, #3A", :zip => "90013", :city_id => 119614, :directions => "Located in the Arts District of Downtown Los Angeles.
Cross Street :: Alameda between 2nd & 3rd St.

To reach us, please take the exterior set of purple stairs up to the third floor. These stairs are located in the building’s adjacent parking lot ($5 all day parking) across the street from Novel Cafe at 811 Traction.

PARKING LOTS:
1. 830 Traction’s lot offers $5 parking for the evening.
2. Lot on Hewitt St. between Traction and 3rd: $5

STREET PARKING:
Free parking after 6pm. Metered parking available on certain blocks."), :class => "btn right" %>
            <% else %>
              <%= link_to "Post event", new_course_path, :class => "btn right"  %>
            <% end %>
            <% @courses.each do |course| %>
              <div class="mission-divider">
                <div class="heading16 brown" style="padding-top: 10px">
                  <%= link_to course.title, course %>
                </div>
                <%= course.starts_at.strftime("%a %b %d, %l:%M") %> - <%= course.ends_at.strftime("%l:%M%p") if course.ends_at.present? %><br>
                Posted by: <%= link_to course.teacher.name, user_path(course.teacher.id) %><br>
                <%= course.students.count %> out of <%= course.max_seats %> attending
                <br>
                <%= link_to 'Edit', edit_course_path(course), :class => "btn" %>
              </div>
            <% end %>
          </div>
        </div>
      </div><!-- end tab1 -->

      <div class="tab-pane" id="tab2">
        <div class="white tab-border">
          <div class="page-content">
            <div class="heading11" style="margin-bottom: 30px">Total users:
            <% if community_site? %>
              <%= User.uniq.count %>
            <% else %>
              <%= current_account.users.uniq.count %>
            <% end %>
            </div>

            <% @users.each do |user| %>
              <div class="mission-divider">
                <div class="crewman-photo">
                  <% if user.photo.present? %>
                    <%= link_to_avatar(user, :thumb_large) %>
                  <% else %>
                    <%= image_tag 'v2/Avatars_01_V1.png', :size => "125x125" %>
                  <% end %>
                </div>
                <%= link_to user.name, user_path(user.id), :class => "heading13 brown" %><br>
                <%= user.email %><br>
                ID: <%= user.id %><br>
                City:
                <%= user.location if user.location.present? %>
                <%= "#{user.city.name}, #{user.city.state}" if user.city.present?%><br>
                Joined: <%= user.created_at.strftime("%b %d, %Y") %><br>
                <% if community_site? %>
                  <%= user.memberships.collect(&:account).reject {|x| x.blank? }.collect(&:name).to_sentence %>
                <% else %>
                    <% if Membership.find_by_account_id_and_user_id_and_admin(current_account.id, user.id, true) %>
                      Admin
                    <% else %>
                      <%= link_to 'Make Admin', make_admin_user_path(user), :method => :put, :class => "btn" %>
                    <% end %>
                <% end %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div><!-- end tab2 -->


    </div><!-- end tab-content -->
  </div><!-- end tabbable -->
</div>
</div><!-- end page-main -->


<div class="left" style="width: 290px"><!-- sidebar container -->
  <div class="white right page-sidebar">
    <div class="sidebar-content-white">
        <div class="heading14" style="border-bottom: 1px dashed #EFEFEF; padding-bottom: 7px; margin-bottom: 10px">
          Some handy tools
        </div>

        <div class="mission-divider">
          <% if current_account == Account.where(:id => 7).last %>
            <%= link_to "Post a new event", new_course_path(:place_name => "The Hub LA",
      :address => "830 Traction Avenue, #3A", :zip => "90013", :city_id => 119614, :directions => "Located in the Arts District of Downtown Los Angeles.
Cross Street :: Alameda between 2nd & 3rd St.

To reach us, please take the exterior set of purple stairs up to the third floor. These stairs are located in the building’s adjacent parking lot ($5 all day parking) across the street from Novel Cafe at 811 Traction.

PARKING LOTS:
1. 830 Traction’s lot offers $5 parking for the evening.
2. Lot on Hewitt St. between Traction and 3rd: $5

STREET PARKING:
Free parking after 6pm. Metered parking available on certain blocks.") %>
          <% else %>
            <%= link_to "Post event", new_course_path, :class => "btn right" %>
          <% end %>
          <br>
          <%= link_to "Edit my profile", edit_user_registration_path %>
          <%#= link_to "Account Settings", edit_account_path(:admin) %>
        </div>

        <p style="font-size: 10px">If you have any feedback or questions, please contact us at <a href="mailto:hello@hourschool.com">hello@hourschool.com</a>.<p>

    </div>
  </div>
</div>


