- if community_site?
  - if current_user
    %ul.searchFilter
      %li
        .sidebar-heading My Location
        - if current_user.city
          %li= link_to "#{current_user.city.try(:name)}, #{current_user.city.try(:state)}", courses_browse_path(:upcoming, :city => current_user.city.try(:name))
        - else
          // set my location
    
%ul.searchFilter
  %li
    .sidebar-heading Browse By Time
    %li= link_to "Everything!",   courses_browse_path(:all,      @params)
    %li= link_to "Upcoming only", courses_browse_path(:upcoming, @params)

- if community_site?
  %ul.searchFilter
    %li
      .sidebar-heading Browse By Category
      - TAGS.each do |tag|
        %li= link_to "#{tag}", courses_browse_path(:tags, :tag => tag)
