  %ul.searchFilter
    - if current_user && current_user.city != "Austin" && current_user.city != "San Francisco" 
      %li
        .sidebar-heading My Location
        %li= link_to "#{current_user.city}", cities_path(:city => current_user.city) unless current_user.city == "Austin" || current_user.city == "San Francisco"
  %ul.searchFilter
    %li
      .sidebar-heading Browse By City
    %li= link_to "All", cities_path(:city => "All")
    %li= link_to "Austin", cities_path(:city => "Austin")
    %li= link_to "San Francisco", cities_path(:city => "San Francisco")
  / %ul.searchFilter
  /   %li
  /     .sidebar-heading Browse By Time
  /   %li= link_to "Upcoming Classes", 'courses/browse/index'
  /   %li= link_to "Past Classes", "#"
  %ul.searchFilter
    %li
      .sidebar-heading Browse By Category
    - if @tags.present?
      - @tags.each do |tg|
        %li= link_to "#{tg.name}", tags_path("index"=>TAGS.index(tg.name))
    - else
      - TAGS.each do |tg|
        %li= link_to "#{tg}", tags_path("index"=>TAGS.index(tg))