<% if current_account == Account.find(9) %>
  <div class="well">
    <p class="bold left">Everyone is welcome to contribute and add their own class. Share what you know and join our community!</p>
    <%= link_to "Add a class", new_course_path, :class => "btn btn-primary right", :style => "color: white" %>
  </div>
<% end %>

<div class="grid_16" style="margin-bottom: 30px">
  <center><p class="lead section-header" style="margin-top: 20px">
    Upcoming Classes
  </p></center>
  <hr>

  <% @upcoming_courses.each do |course| %>
    <% target = course.account_id ? '_blank' : '' %>
    <div class="span3 classBlock" style="background-color: #f3f3f3; width: 190px; margin-left: 40px">
      <% if course.photo.present? %>
        <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course, :target => target %>
      <% else %>
        <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course, :target => target  %>
      <% end %>
      <div class="class-description" style="float: left; width: 170px">
        <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
          <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
        </div>
        <div class="heading16">
          <%= link_to course.title, course, :target => target %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="grid_16">
  <center><p class="lead section-header">
    Past Classes
  </p></center>
  <hr>

  <% @past_courses.each do |course| %>
    <% target = course.account_id ? '_blank' : '' %>
    <div class="span3 classBlock" style="background-color: #f3f3f3; width: 190px; margin-left: 40px">
      <% if course.photo.present? %>
        <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course, :target => target %>
      <% else %>
        <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course, :target => target  %>
      <% end %>
      <div class="class-description" style="float: left; width: 170px">
        <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
          <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
        </div>
        <div class="heading16">
          <%= link_to course.title, course, :target => target %>
        </div>
      </div>
    </div>
  <% end %>
</div>

