<% if current_account == Account.find(9) %>
  <div class="well">
    <p class="bold left">Everyone is welcome to contribute and add their own class. Share what you know and join our community!</p>
    <%= link_to "Add a class", new_course_path, :class => "btn right" %>
  </div>
<% end %>

<div class="grid_16" style="margin-bottom: 30px">
    <center><p class="lead section-header" style="margin-top: 20px">
      Upcoming Classes
    </p></center>
    <hr>

  <% @upcoming_courses.each do |course| %>
    <div class="classBlock" style="margin: 0 20px 30px 20px; background-color: #f0f0f0">
      <% if course.photo.present? %>
        <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
      <% else %>
        <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
      <% end %>

      <div class="class-description" style="float: left; width: 170px">
        <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
          <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
        </div>
        <div class="heading16">
          <%= link_to course.title, course %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="grid_16">
    <center><p class="lead section-header">
      Past Classes
    </p></center>
    <hr>

  <% @past_courses.each do |course| %>
    <div class="classBlock" style="margin: 0 20px 30px 20px; background-color: #f0f0f0">
      <% if course.photo.present? %>
        <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
      <% else %>
        <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
      <% end %>

        <div class="class-description" style="float: left; width: 170px">
          <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
            <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
          </div>
          <div class="heading16">
            <%= link_to course.title, course %>
          </div>
        </div>
    </div>
  <% end %>
</div>

