-if current_account == Account.where(:id => 4).first
  = render :partial => 'courses/womendesignbuild/index'

- else 

  .page
    .page-content

      %div{:style => "float: left; width: 150px; height: 150px; margin-right: 10px; background-color: grey"}
      %div{:style => "float: left; width: 150px; height: 150px; margin-right: 10px; background-color: grey"}
      %div{:style => "float: left; width: 150px; height: 150px; margin-right: 10px; background-color: grey"}

  .page
    .page-content

      = render :layout => 'shared/page/section', :locals => {:header => "Learn at #{community_site? ? 'HourSchool' : current_account.name}"} do

        - if !community_site? && current_account.courses.first.blank?
          .pagenote-box.clearfix
            .pagenote-header
              = "There are no classes at #{community_site? ? 'HourSchool' : current_account.name} yet"
            = "Your organization and community has so much to share. And we encourage you to"
            = link_to "schedule the first class!", new_course_path, :class => "pagenote-link"

        = render :partial => 'courses/course_grid', :locals => {:courses => @courses}
        .page-section-float-right
          %table.view-more
            %tr
              %td
                = will_paginate @courses, :previous_label => "Prev" 
