<% if current_account == Account.where(:id => 4).first %>
  <%= render :partial => 'courses/womendesignbuild/index' %>

<% elsif current_account == Account.where(:id => 2).first %>

  <div class="page">
    <div class="page-content">
      <%= render :partial => 'courses/course_grid', :locals => {:courses => @courses} %>
      <div class="page-section-float-right">
        <table class="view-more">
          <tr>
            <td>
              <%= will_paginate @courses, :previous_label => "Prev" %>
            </td>
          </tr>
        </table>
      </div>

  <% content_for :sidebar do %>
    <%= link_to "Admin Panel", admin_courses_path, :class => "section-heading", :style => "margin-left: -40px" %>
  <% end %>

    </div>
  </div>

<% else community_site? %>

  <!-- Section 1 -->
  <div style="float: left; width: 300px; margin-right: 25px; margin-left: 3px">

    <div style="background-color: #ff7733; height: 7px; margin-top: -7px"></div> 
    <div style="float: left; width: 300px; margin-bottom: 25px; background-color: white; text-align: center; padding-top: 15px; padding-bottom: 15px">
      
        <%= image_tag "v3/homepage/mission-star.png" %>
        <p class="prompt-text">What is one thing you want to accomplish by the end of the year?</p>

        <p>   
         <%= text_field_tag :prompt, "", :class => "form", :style => "width: 70%; margin-left: 40px" %>
        </p>

        <%= link_to_function "Let us know", "$('.preMissionSignupModal #signup').show(); $('.preMissionSignupModal #response').hide(); $('.preMissionSignupModal').show(); $('.preMissionSignupModal #pre_mission_signup_mission').val($('#prompt').val());", :class => "orange button long" %>
    </div>

    <div style="float: left; width: 300px; height: 170px; margin-bottom: 22px; background-image: url(<%= asset_path "v3/explore/bg-launchMission.png" %>); background-color: white; text-align: center;">
      <div class="heading14" style="margin-top: 30px">Already have a <br>mission in mind?</div>
      <br>
      <%= link_to "Go build one!", new_mission_path, :class => "orange button long" %>
    </div>

  </div><!-- End Section 1 -->

  <!-- Section 2 -->
  <div style="float: left; width: 630px;">

    <div style="float: left; width: 630px; height: 350px;">
      <%= link_to image_tag("v3/explore/mission-greenHouse.png"), Mission.find(1) %>
    </div>

    <div style="float: left; width: 605px; height: 57px; background-color: white; opacity: 0.85; margin-left: 5px; margin-top: 1px; padding-top: 15px; padding-left: 15px">
      
      <div class="title-text" id="explore">Make my home more sustainable</div>
      <div class="heading11" id="explore">Austin, TX</div>
    </div>

  </div><!-- End Section 2 -->

  <!-- Section 3 -->
  <div style="float: left; width: 960px; margin-top: 10px; margin-bottom: 30px">

    <div style="float: left; width: 960px; height: 180px;">
      <%= link_to image_tag('v3/explore/mission-soGoodNetwork.png'), new_pre_mission_signup_path(:mission => 'Launch the So Good Network'), :class => "preMissionSignup", 'data-mission' => 'Launch the So Good Network' %>
    </div>

    <div style="float: left; width: 937px; height: 57px; background-color: white; opacity: 0.85; margin-left: 4px; margin-top: 3px; padding-top: 10px; padding-left: 15px">

      <div class="title-text" id="explore">Launch the So Good Network, striving to be the heart of social innovation and change</div>
      <div class="heading11" id="explore">Austin, TX</div>

    </div>

  </div><!-- End Section 3 -->

  <!-- Section 4 -->
  <div style="float: left; width: 630px; height: 530px; margin-bottom: 50px; margin-right: 25px">

    <div style="float: left; width: 300px; height: 180px; margin-right: 25px;">
      <%= link_to image_tag('v3/explore/mission-interactionDesign.png'), new_pre_mission_signup_path(:mission => 'Design thinking and making'), :class => "preMissionSignup", 'data-mission' => 'Design thinking and making' %>
    </div>

    <div style="float: left; width: 300px; height: 180px;">
      <%= link_to image_tag('v3/explore/mission-foodTruck.png'), new_pre_mission_signup_path(:mission => 'Open a food truck'), :class => "preMissionSignup", 'data-mission' => 'Open a food truck' %>
    </div>

    <div style="float: left; width: 275px; height: 52px; background-color: white; margin-right: 25px; margin-bottom: 30px; opacity: 0.85; margin-left: 5px; margin-top: 5px; padding-top: 10px; padding-left: 15px">
      <div class="title-text" id="explore">Design thinking and making</div>
      <div class="heading11" id="explore">Austin, TX</div>
    </div>

    <div style="float: left; width: 275px; height: 52px; background-color: white; margin-bottom: 30px; opacity: 0.85; margin-top: 5px; margin-left: 10px; padding-top: 10px; padding-left: 15px">
      <div class="title-text" id="explore">Open a food truck</div>
      <div class="heading11" id="explore">Austin, TX</div>
    </div>

    <div style="float: left; width: 630px; height: 180px;">
      <%= link_to image_tag('v3/explore/mission-motorcycle.png'), new_pre_mission_signup_path(:mission => 'Practice the art and philosophy of vintage motorcycle maintenance'), :class => "preMissionSignup", 'data-mission' => 'Practice the art and philosophy of vintage motorcycle maintenance' %>
    </div>

    <div style="float: left; width: 605px; height: 55px; background-color: white; opacity: 0.85; margin-left: 5px; margin-top: 4px; padding-top: 10px; padding-left: 15px">
      <div class="title-text" id="explore">Practice the art and philosophy of vintage motorcycle maintenance</div>
      <div class="heading11" id="explore">Austin, TX</div>
    </div>

  </div><!-- End section 5 left -->

  <!-- Section 6 right -->
  <div style="float: left; width: 270px; height: 492px; background-color: white; overflow-y:scroll; overflow-x: hidden; padding-top: 15px; padding: 15px; margin-top: 5px">

    <div style="background-color: #ff7733; height: 7px; margin-left: -15px; margin-top: -15px; margin-right: -15px; margin-bottom: 20px">
    </div> 

    <div class="heading14">Upcoming events</div>

    <% @courses.each do |course| %>

    <div style="box-shadow: 1px 1px 1px #F0F0F0, 1px 1px 1px 1px #F0F0F0; padding: 20px; margin-top: 10px; margin-bottom: 10px" %>
      <div style="margin-bottom: 5px">
      <%= link_to course.title, course, :style => "font-family: Georgia; font-size: 14px; color: #ff6633" %>
      </div>
      
      <div style="margin-bottom: 5px">
        <%= image_tag "v2/icon_location.png", :style => "margin-top: -3px; margin-right: 8px; margin-left: 2px" %>
        <%= "#{course.city.name}, #{course.city.state}" %><br>
      </div>
      
      <%= image_tag "v2/icon_calendar.png", :style => "margin-top: -3px; margin-right: 5px" %>
      <%= course.starts_at.strftime("%a %b %d") %>, <%= "#{course.starts_at.in_time_zone(course.city.time_zone || course.teacher.time_zone).strftime("%l:%M%p")} - #{course.ends_at.in_time_zone(course.city.time_zone || course.teacher.time_zone).strftime("%l:%M%p")}" %><br>
    </div>
    
    <% end %>

  </div><!-- End section 6 right -->

<% end %>

<!-- Modal Layout for when a User tries to sign up for a course too far away -->
<%= render :layout => 'shared/page/modal', :locals => {:modal_class => 'preMissionSignupModal'} do %>
  <div id="signup">

    <%= form_for(@pre_mission_signup, :remote => true) do |f| %>
    <% if @pre_mission_signup.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pre_mission_signup.errors.count, "error") %> prohibited this pre_mission_signup from being saved:</h2>

        <ul>
        <% @pre_mission_signup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if current_user %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="sidebar-heading">Hi, <%= current_user.name.split(" ").first %>! It's awesome to see you back.</div><br>
    <% else %>
      <div class="sidebar-heading">Hello there! First time here?</div><br>
      <p>What's your email? (Already an HourSchoolmate? <%= link_to "Log in first", new_user_session_path %>)</p>
      <div class="field">
        <%= f.text_field :email %>
      </div>
    <% end %>

    <p>You're signing up to get notified when the following mission launches.</p>
    <%= f.text_field :mission, :class => "form-with-margin", :value => params[:mission] %>

    <p>Tell us a little more about why you are interested in this mission.</p>

    <div class="field">
      <%= f.text_area :description, :class => "form-med-with-margin" %>
    </div>

    <div class="actions">
      <%= f.submit "Notify me when mission is launched!", :class => "button", :style => "background-color: #ff7733; width: 300px; margin-bottom: -10px" %>
    </div>
  </div>
  <div id="response" style="display:none;">
    <p>
      Congratulations! You've successfully pre-registered. We will notify you when this mission is live.
    </p>
  </div>
<% end %>


<% end %>

<!-- Show the modal window when someone clicks on a mission -->
<script type="text/javascript">
  $(document).ready( function(){
    $('.preMissionSignup').bind('click', function(){
      $('.preMissionSignupModal #signup').show();
      $('.preMissionSignupModal #response').hide();
      $('.preMissionSignupModal #pre_mission_signup_mission').val($(this).attr('data-mission'));
      $('.preMissionSignupModal').show();
      return false;
    })
  });
</script>

