%head
  = include_yui_editor_if_used

.page
  .page-content
    - if @teaser_courses.present?
    
    
      = render :layout => 'shared/page/section', :locals => {:header => "Learn at Greendoors"} do
              
        = render :partial => 'courses/browse/course_grid', :locals => {:courses => @teaser_courses}
          
      .page-section-float-right
        %table.view-more
          %tr
            %td
              = will_paginate @courses, :previous_label => "Prev"

- content_for :sidebar do
  = render :partial => 'courses/browse/sidebar'