<% if current_account == Account.where(:id => 4).first %>
  <%= render :partial => 'courses/womendesignbuild/index' %>

<% elsif current_account == Account.where(:id => 1).first %>
  <div class="page">
    <div class="page-content">
      <%= render :partial => 'courses/course_grid', :locals => {:courses => @courses} %>
      <div class="page-section-float-right">
        <table class="view-more">
          <tr>
            <td>
              <%= will_paginate @courses, :previous_label => "Prev" %>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>

<% elsif current_account == Account.where(:id => 5).first %>

  <div style="float: left;">

    <!-- Section 1 -->
    <div style="float: left; width: 960px; margin-top: 10px; margin-bottom: 20px">

      <div class="full-page white">
        <%= image_tag(@account.photo.url(:banner)) if @account.photo.present? %>
        <div class="mission-description-box">
          <div class="heading28 brown" style="margin: 20px 0px 5px 0px">
            <%= @account.name %>
          </div>
          <p><%= @account.description if @account.description.present? %></p>
        </div>
      </div>

    </div><!-- End Section 1 -->

    <!-- Section 4 -->

    <div class="heading14" style="margin-bottom: 20px">Latest Mission:</div>

    <div style="float: left; width: 630px; height: 530px; margin-right: 25px">
      <% if @account.missions.present? %>
      <div style="float: left; width: 630px; height: 180px;">
        <%= link_to image_tag(@account.missions.last.photo.url(:thumb_630)), @account.missions.last %>
      </div>

      <div style="float: left; width: 615px; height: 55px; background-color: white; opacity: 0.85; padding-top: 10px; padding-left: 15px; margin-bottom: 20px">
        <div class="title-text" id="explore"><%= link_to full_mission_title(@account.missions.last), @account.missions.last %></div>
        <div class="heading11" id="explore" style="float: left; margin-right: 10px">Austin, TX</div><span class="label">Coming soon</span>
      </div>
      <% end %>
      <div class="heading14" style="margin-bottom: 20px">Latest Events:</div>
    
      <div style="float: left; width: 630px; height: 180px;">
        <%= image_tag 'v3/explore/mission-motorcycle.png' %>
      </div>

      <div style="float: left; width: 605px; height: 55px; background-color: white; opacity: 0.85; margin-left: 5px; margin-top: 5px; padding-top: 10px; padding-left: 15px">
        <div class="title-text" id="explore">Practice the art and philosophy of vintage motorcycle maintenance</div>
        <div class="heading11" id="explore" style="float: left; margin-right: 10px">Austin, TX</div><span class="label">Coming soon</span>
      </div>

    </div><!-- End section 5 left -->

    <!-- Section 6 right -->
    <div style="float: left; width: 270px; background-color: white; overflow-y:scroll; overflow-x: hidden; padding-top: 15px; padding: 15px; margin-bottom: 20px">

      <div style="background-color: #5382a4; height: 7px; margin-left: -15px; margin-top: -15px; margin-right: -15px; margin-bottom: 20px">
      </div> 

      <div class="heading14" style="text-align: center; margin-bottom: 20px">Members</div>
      <% if @account.users.any? %>
      <% @account.users.each do |user| %>
        <%= image_tag(user.photo.url(:thumb_small), :style => "margin-right: 5px; margin-bottom: 5px") %>
      <% end %>
      <% end %>

    </div><!-- End section 6 right -->

        <!-- Section 6 right -->
    <div style="float: left; width: 270px; background-color: white; overflow-y:scroll; overflow-x: hidden; padding-top: 15px; padding: 15px;">

      <div style="background-color: #5382a4; height: 7px; margin-left: -15px; margin-top: -15px; margin-right: -15px; margin-bottom: 20px">
      </div> 

      <div class="heading14" style="text-align: center; margin-bottom: 20px">Partner organizations</div>
      <div style="padding-left: 60px">
        <img src="http://www.center61.com/images/Partner%20Logos/PeopleFund_small.jpg" style="width: 60%; margin-bottom: 30px">
        <img src="http://www.center61.com/images/Partner%20Logos/TANO_logo_cropped_small%20copy.jpg" style="width: 60%; margin-bottom: 15px">
        <img src="http://www.center61.com/images/Partner%20Logos/ayc-logo.png" style="width: 60%; margin-bottom: 15px">
      </div>

    </div><!-- End section 6 right -->

  </div>

<% elsif current_account == Account.where(:id => 6).first %>

  <div style="float: left;">

    <!-- Section 1 -->
    <div style="float: left; width: 960px; margin-top: 10px; margin-bottom: 20px">

      <div class="full-page white">
        <%= image_tag(@account.photo.url(:banner)) if @account.photo.present? %>
        <div class="mission-description-box">
          <div class="heading28 brown" style="margin: 20px 0px 5px 0px">
            <%= @account.name %>
          </div>
          <p><%= @account.description if @account.description.present? %></p>
        </div>
      </div>

    </div><!-- End Section 1 -->

    <!-- Section 4 -->

    <div class="heading14" style="margin-bottom: 20px">Latest Mission:</div>

    <div style="float: left; width: 630px; height: 530px; margin-right: 25px">
      <% if @account.missions.any? %>

      <% @account.missions.last(3).each do |mission| %>
      <div class="mission-divider">
        <div style="float: left; width: 630px; height: 180px;">
          <%= link_to image_tag(mission.photo.url(:thumb_630)), mission %>
        </div>

        <div style="float: left; width: 615px; height: 55px; background-color: white; opacity: 0.85; padding-top: 10px; padding-left: 15px; margin-bottom: 20px">
          <div class="title-text" id="explore"><%= link_to full_mission_title(mission), mission %></div>
          <div class="heading11" id="explore" style="float: left; margin-right: 10px">Ann Arbor, MI</div><span class="label">Coming soon</span>
        </div>
      </div>
      <% end %>

      <% end %>

    </div><!-- End section 5 left -->

    <!-- Section 6 right -->
    <div style="float: left; width: 270px; background-color: white; overflow-y:scroll; overflow-x: hidden; padding-top: 15px; padding: 15px; margin-bottom: 20px">

      <div style="background-color: #5382a4; height: 7px; margin-left: -15px; margin-top: -15px; margin-right: -15px; margin-bottom: 20px">
      </div> 

      <div class="heading14" style="text-align: center; margin-bottom: 20px">Members</div>
      <% if @account.users.any? %>
      <% @account.users.each do |user| %>
        <%= image_tag(user.photo.url(:thumb_small), :style => "margin-right: 5px; margin-bottom: 5px") %>
      <% end %>
      <% end %>

    </div><!-- End section 6 right -->

            <!-- Section 6 right -->
    <div style="float: left; width: 270px; background-color: white; overflow-y:scroll; overflow-x: hidden; padding-top: 15px; padding: 15px;">

      <div style="background-color: #5382a4; height: 7px; margin-left: -15px; margin-top: -15px; margin-right: -15px; margin-bottom: 20px">
      </div> 

      <div class="heading14" style="text-align: center; margin-bottom: 20px">Partner organizations</div>   
        <img src="http://a2reskilling.files.wordpress.com/2012/05/reskill-banner-summer2012_770x200.jpg" style="margin-bottom: 15px">
        <img src="http://www.wearecityfarm.com/images/logo.png" style="margin-bottom: 15px">
        <img src="https://si0.twimg.com/profile_images/2160981543/MZF2012_logo-sq.jpg" style="width: 40%; margin-bottom: 15px; margin-right: 15px; margin-left: 20px">
        <img src="http://greenhillsschool.org/sites/greenhillsschool.org/files/greenhills_logo.png" style="width: 40%; margin-bottom: 15px">
        <img src="http://www.eatlikenoone.com/wp-content/uploads/2011/03/Downtown-Home-Garden-300x53.jpg" style="margin-bottom: 15px">
        <img src="http://thebrinery.com/wordpress/wp-content/themes/wood-is-good/images/logo.png" style="margin-bottom: 15px">

    </div><!-- End section 6 right -->

  </div>


<% end %>



