<div class="full-page">
  <% @courses.each do |course| %>
    <div class="classBlock" style="margin-right: 50px; background-color: #f3f3f3">
      <% if course.photo.present? %>
        <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
      <% else %>
        <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
      <% end %>

      <div class="class-description" style="float: left; width: 170px">
        <div class="heading13 brown">
          <%= link_to course.title.truncate(50), course %>
        </div>
        <div class="heading10" style="font-weight: 400">
          <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
        </div>
        <p><%= course.description.truncate(70) %></p>
      </div>
    </div>
  <% end %>
</div>
