<% if current_account == Account.find(9) %>
  <div class="well">
    <p class="bold left">Everyone is welcome to contribute and add their own class. Share what you know and join our community!</p>
    <%= link_to "Add a class", new_course_path, :class => "btn btn-primary right", :style => "color: white" %>
  </div>
<% end %>

<% if community_site? %>
  <center><p class="lead" style="margin-top: 20px">
    <a href="#" id="all-link">All Upcoming Classes</a> // <a href="#" id="austin-link">in Austin only</a> // <a href="#" id="annarbor-link">in Ann Arbor only</a>
  </p></center>
  <hr>

  <div class="grid_16" style="margin-bottom: 30px" id="all-classes">
    <% @upcoming_courses.each do |course| %>
      <%= render :partial => "/courses/course_grid", :locals => {:course => course}  %>
    <% end %>
  </div>

  <div class="grid_16" style="display:none" id="austin-classes">
    <% @austin_courses.each do |course| %>
      <%= render :partial => "/courses/course_grid", :locals => {:course => course}  %>
    <% end %>
  </div>

  <div class="grid_16" style="display:none" id="annarbor-classes">
    <% @annarbor_courses.each do |course| %>
      <%= render :partial => "/courses/course_grid", :locals => {:course => course}  %>
    <% end %>
  </div>

  <div class="grid_16">
    <center><p class="lead">
      Past Classes
    </p></center>
    <hr>
    <% @past_courses.each do |course| %>
      <%= render :partial => "/courses/course_grid", :locals => {:course => course}  %>
    <% end %>
  </div>

<% else %>

  <div class="grid_16" style="margin-bottom: 30px">
    <center><p class="lead">
      Upcoming Classes
    </p></center>
    <hr>
    <% @upcoming_courses.each do |course| %>
      <%= render :partial => "/courses/course_grid", :locals => {:course => course}  %>
    <% end %>
  </div>

  <div class="grid_16">
    <center><p class="lead">
      Past Classes
    </p></center>
    <hr>
    <% @past_courses.each do |course| %>
      <%= render :partial => "/courses/course_grid", :locals => {:course => course}  %>
    <% end %>
  </div>

<% end %>

<script type="text/javascript">
  $("#all-link").click(function(){
    $("#all-classes").show();
    $("#austin-classes").hide();
    $("#annarbor-classes").hide();
  });

  $("#austin-link").click(function(){
    $("#austin-classes").show();
    $("#all-classes").hide();
    $("#annarbor-classes").hide();
  });

  $("#annarbor-link").click(function(){
    $("#annarbor-classes").show();
    $("#all-classes").hide();
    $("#austin-classes").hide();
  });
</script>