%head
  = include_yui_editor_if_used

.page
  .page-content    
          
    = render :layout => 'shared/page/section', :locals => {:header => "Learn at HourSchool"} do
    
      - if @no_courses_in_user_city
        .pagenote-box.clearfix
          .pagenote-header 
            = "We haven't quite made it to #{@current_user.city} yet!"
          = "Want HourSchool in your city? "
          = link_to "Teach the first class", new_course_path, :class => "pagenote-link"
          = "or"
          = link_to "contact us", "http://help.hourschool.com/customer/portal/emails/new", :class => "pagenote-link"
          = "to find out other ways to be involved!"
      
      = render :partial => 'courses/course_grid', :locals => {:courses => @courses}
      .page-section-float-right
        %table.view-more
          %tr
            %td
              = will_paginate @courses, :previous_label => "Prev"

= content_for :head do
  :erb
    <meta property="og:description"
          content=" HourSchool is a social school from your community. Because it's not always the experts who make the best teachers, it's the people you know. Start learning with your network today, one hour at a time."/>
    
    <meta property="og:image"       
          content="/images/v2/LogoOrange.png"/>
          
- content_for :sidebar do
  = render :partial => 'courses/browse/sidebar'