

- count = 0
- pending.each do |c|
  - count = count + 1
  - if count%3 == 0
    - className = "classBlock_last"
  - else
    - className = "classBlock"
  %div{:class => "#{className}"}
    - if c.photo.exists?
      / Course.find(10).categories.first.name
      = link_to (image_tag(c.photo.url(:small), :size => "190x120")), proposal_path(:id => c.id)
      %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
    - else
      - if !c.categories.first.nil?
        = link_to image_tag("#{DEF_IMAGES[c.categories.first.name]}"), proposal_path(:id => c.id)
      - else
        = link_to image_tag("/images/v2-courses/DefaultClassPics_Generic.png"), proposal_path(:id => c.id)
      %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
    %br

      .class-description
        .heading13-class 
          = link_to "#{c.title}", proposal_path(:id => c.id)
        %p= c.about.truncate(50).html_safe
