- count = 0
- pending.each do |course|
  - count = count + 1
  - if count%3 == 0
    - className = "classBlock_last"
  - else
    - className = "classBlock"
  %div{:class => "#{className}"}
    - if course.photo.exists?
      = link_to (image_tag(course.photo.url(:small), :size => "190x120")), proposal_path(:id => course.id)
      = image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow'
    - else
      - if !course.categories.first.nil?
        = link_to image_tag("#{DEF_IMAGES[course.categories.first.name]}"), proposal_path(:id => course.id)
      - else
        = link_to image_tag("v2-courses/DefaultClassPics_Pending_Orange.png"), proposal_path(:id => course.id)
        = image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow'
    %br

      .class-description
        .heading13-class 
          = link_to "#{course.title}", proposal_path(:id => course.id)

