- count = 0
- classes_this_week.each do |c|
	- count = count + 1
	- if count%3 == 0
		- className = "classBlock_last"
	- else
		- className = "classBlock"
	%div{:class => "#{className}"}
		- if c.photo.exists?
			/ Course.find(10).categories.first.name
			= link_to (image_tag(c.photo.url(:small), :size => "190x120")), c
			%img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
		- else
			- if !c.categories.first.nil?
				= link_to image_tag("#{DEF_IMAGES[c.categories.first.name]}"), c
			- else
				= link_to image_tag("/images/v2-courses/default_image.jpg"), c
			%img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
		%br

			.class-description
				.heading13-class 
					= link_to "#{c.title}", c
				%p= c.description.truncate(50).html_safe
				.heading9-class 
					= "#{c.seats_left} seats left"
					= "#{(c.date - Date.today).numerator} days from today"