- if current_account == Account.where(:id => 4).first

  - @classes_teaching.each do |course|
    .entry{:style => "float: left; width: 550px; margin-bottom: -50px"}
      - if course.present?
        - if course.photo.present? 
          = link_to (image_tag(course.photo.url(:small), :size => "190x120", :style => "float: left; margin-right: 20px")), course
        - else
          = link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course

        #event_data-8.event_data.event-data-display.event-list-display.event-display-boxes

          %div
            %h2.event_title{:style => "font-size: 24px; line-height: 1em, padding-top: -5px; margin-bottom: 15px"}
              = link_to course.title, course, :class => "a_event_title"

          .event-meta
            %p.event_details
              %span.section-title Date:
              = "#{course.starts_at.strftime("%a %b %d, %Y")}"  ", #{course.starts_at.in_time_zone(course.city.time_zone || course.teacher.time_zone).strftime("%l:%M%p")} - #{course.ends_at.in_time_zone(course.city.time_zone || course.teacher.time_zone).strftime("%l:%M%p")}"
            %p.event_details{:style => "margin-bottom: 40px"}
              %span.section-title Location: 
              = course.place_name

- else 

  - count = 0
  - if @classes_teaching.blank?
    - if current_user == @user
      = "Aw..you haven't taught any classes yet."
      = link_to "Teach your first class!", new_course_path, :class => "pagenote-link"
    - else
      = "#{@user.name} has not taught any classes yet!"
    
  - @classes_teaching.order('starts_at desc').uniq_by {|c| c.name.downcase.strip }.each do |c|
    - count = count + 1
    - if count%3 == 0
      - className = "classBlock_last"
    - else
      - className = "classBlock"
    %div{:class => "#{className}"}
      - if c.photo.exists?
        = link_to (image_tag(c.photo.url(:small), :size => "190x120")), c
      - else
        - if !c.categories.first.nil?
          = link_to image_tag("#{DEF_IMAGES[c.categories.first.name]}"), c
        - else
          = link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), c

      %br
        .class-description
          .heading13-class 
            = link_to c.title, c
          = link_to "Edit class", edit_course_path(c)
        .class-note
          .heading9-class 
            = "Taught #{Course.where('title ilike ?', c.title).where(:status => 'live').count} times"



