- count = 0
- if classes_this_week.size == 0 
  %p= ""
- classes_this_week.each do |c|
  - count = count + 1
  - if count%3 == 0
    - className = "classBlock_last"
  - else
    - className = "classBlock"
  %div{:class => "#{className}"}
    - if c.photo.exists?
      = link_to (image_tag(c.photo.url(:small), :size => "190x120")), c
      = image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow'
    - else
      = link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), c
      = image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow'
    %br
      .class-description
        .heading13-class 
          = link_to c.title, c
