
.page
	.page-content
		.page-section-float-left
			%ul.sub-nav
				%li.sub-nav-active
					= link_to "Upcoming classes", my_classes_path, :val => "upcoming", :remote => true, :class => "sub-nav-active"
				%li.sub-nav-inactive
					= link_to "Past classes", my_classes_path, :val => "past", :remote => true, :class => "sub-nav-inactive"
				%li.sub-nav-inactive
					= link_to "Learning Queue", my_classes_path, :val => "queue", :remote => true, :class => "sub-nav-inactive"
		
		#main_profile_body
			.page-section-float-left
				.classes-taken
					- link_to classes_taken_path, :remote => true do
						.profile-big-number-active
							= "#{current_user.student_for}"
						.profile-big-words-active classes taken
				.classes-taught
					- link_to classes_taught_path, :remote => true do
						.profile-big-number-inactive
							= "#{current_user.teacher_for}"
						.profile-big-words-inactive classes taught
						

/ .page
/   .page-content
/   
/     .page-section-float-left
/       %ul.sub-nav
/         %li.sub-nav-active 
/           %a.sub-nav-active(href="/p/profile") Upcoming classes
/         %li.sub-nav-inactive 
/           %a.sub-nav-inactive(href="/p/profile2") Past classes
/         %li.sub-nav-inactive 
/           %a.sub-nav-inactive(href="/p/profile3") Learning Queue
/      
/     .page-section-float-left
/       .classes-taught
/         .profile-big-number-active 3 
/         .profile-big-words-active classes taken
/       .classes-taken
/         .profile-big-number-inactive 10 
/         .profile-big-words-inactive classes taught
/         
/     .page-section-float-left
/       
/       .heading25_ccc Classes you've taken
/    
/       .classRow
/ 
/         .classBlock
/           %a(href="/p/course")
/             %img{:src => '../../../images/v2-courses/112_BakingBread.jpg'}
/             %img.class-arrow{:src => '../../../images/v2/arrow_white_pointup.png'}
/           .class-description
/             .heading13-class Putting Tecniques
/             .heading9-class Oct 3, 6:00P
/             %table
/               %tr
/                 %td
/                   %img.view-more-arrow{:src => '../../../images/v2/arrow_orange_pointright.png'}
/                 %td  
/                   %a.profile-link(href="") Solicit Feedback
/               %tr
/                 %td
/                   %img.view-more-arrow{:src => '../../../images/v2/arrow_orange_pointright.png'}
/                 %td  
/                   %a.profile-link(href="") Teach this again
/   
/         .classBlock
/           %a(href="/p/course")
/             %img{:src => '../../../images/v2-courses/112_BakingBread.jpg'}
/             %img.class-arrow{:src => '../../../images/v2/arrow_white_pointup.png'}
/           .class-description
/             .heading13-class Putting Tecniques
/             .heading9-class Oct 3, 6:00P
/             %table
/               %tr
/                 %td
/                   %img.view-more-arrow{:src => '../../../images/v2/arrow_orange_pointright.png'}
/                 %td  
/                   %a.profile-link(href="") Solicit Feedback
/               %tr
/                 %td
/                   %img.view-more-arrow{:src => '../../../images/v2/arrow_orange_pointright.png'}
/                 %td  
/                   %a.profile-link(href="") Teach this again
/   
/         .classBlock_last
/           %a(href="/p/course")
/             %img{:src => '../../../images/v2-courses/112_BakingBread.jpg'}
/             %img.class-arrow{:src => '../../../images/v2/arrow_white_pointup.png'}
/           .class-description
/             .heading13-class Putting Tecniques
/             .heading9-class Oct 3, 6:00P
/             %table
/               %tr
/                 %td
/                   %img.view-more-arrow{:src => '../../../images/v2/arrow_orange_pointright.png'}
/                 %td  
/                   %a.profile-link(href="") Solicit Feedback
/               %tr
/                 %td
/                   %img.view-more-arrow{:src => '../../../images/v2/arrow_orange_pointright.png'}
/                 %td  
/                   %a.profile-link(href="") Teach this again
/ 
/     .page-section-float-right
/       %table.view-more
/         %tr
/           %td
/             %img.view-more-arrow{:src => '../../../images/v2/arrow_grey_pointright.png'}
/           %td
/             %a.view-more(href="") View all
/ 
/ .sidebar
/   .sidebar-content
/     .avatar-big
/     
/     .sidebar-block
/       %ul.noBullet
/         %li.noBullet
/           %p.profile-name-blurb Abby Goldsmith
/         %li.noBullet
/           %p.profile-location-blurb Austin, TX
/         %li.noBullet
/           %p.profile-bio Video game artist by day, science fiction writer by night.
/         %li.noBullet
/           %a.profile-link(href="")Website
/           %a.profile-link(href="")Twitter      
/           %a.profile-link(href="")Facebook