.sidebar
  .sidebar-content
    = avatar_for(@user, :photo_size => :thumb_large)

    .sidebar-block
      %ul.noBullet
        %li.noBullet
          %p.profile-name-blurb
            = @user.name
        %li.noBullet
          %p.profile-location-blurb
            = @user.location

      %table.user-stat
        %tr
          %td.user-stat-icon
            = image_tag "v2/StatusIcon_CheckMark.png", :class => "class-details-icon-heart"
          %td.user-stat-number
            .class-details-heart-number
              = @user.recent_classes_as_student.count + @user.past_classes_as_student.count
          %td.user-stat-icon
            = image_tag "v2/StatusIcon_Star.png", :class => "class-details-icon-heart"
          %td.user-stat-number
            .class-details-heart-number
              = @user.recent_classes_as_teacher.count + @user.past_classes_as_teacher.count


    .sidebar-block
      .sidebar-heading About
      %p.profile-bio
        = @user.bio
        - if @user.bio.blank?
          = "One of the HourSchoolmates!"
          =# link_to "here", edit_user_registration_path(@user)

      %ul.noBullet
        %li.noBullet
          - if !@user.web.blank?
            %a.profile-link
              = link_to "Website", url_with_protocol(@user.web), :class => "profile-link"
          %br
        %li.noBullet
          - if !@user.twitter_id.blank?
            %a.profile-link
              = link_to "Twitter", @user.twitter_url, :class => "profile-link"

    - if @user.fetch_following.present?
      .sidebar-block-last
        .sidebar-heading
          = link_to 'Classmates', '#', :class => 'showClassmateModal', :onclick => "$('.ClassmateModal').show()"

= render :layout => 'shared/page/modal', :locals => {:modal_class => 'ClassmateModal', :display => (params[:show_classmates].present? ? 'block': 'none'), :click_closes_overlay => true} do
  %div
    = content_tag(:h2, 'Classmates')
    = content_tag(:p, "Classmates are friends at Hourschool. They're automatically added after each class and can be add or removed at any time")
    - @user.fetch_following.each do |user|
      = render :partial => 'followings/user_following', :locals => {:user => user}

- content_for :admin_action do
  =link_to_function 'Approve Proposals', "$('.section').hide(); $('#pending').show()", :class => 'sub-nav-inactive'