<div class="full-page">
  <div class="page-content">

<% if current_user && current_user.admin? %> 
<div class="welcome-header">All Greendoors Users</div>

  <table>
    <tr>
  	<th class="adminHeader">ID</th>
  	<th class="adminHeader">Name</th>
  	<th class="adminHeader">Email</th>
    <th class="adminHeader">Created on</th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td class="admin"><%= user.id %>
      <td class="admin"><%= link_to user.name, user_path(user.id) %></td>     
      <td class="admin"><%= user.email %></td>
      <td class="admin"><%= user.created_at.strftime("%b %d, %Y") %></td>
      <td class="admin"><%= link_to 'Edit', edit_user_path(user) %></td>
      <td class="admin"><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>


<% else %>

  Sorry, you don't have admin access to this page. <br>
  Have a question? Please email us at hello at hourschool dot com.

<% end %>


</div>
</div>