<div class="grid_16" style="margin-top: 30px">
  <div class="heading14 left" style="margin-bottom: 30px">Membership:
    <% if community_site? %>
      <%= @users.count %>
    <% else %>
      <%= current_account.memberships.uniq.count %>
    <% end %>
  </div>
  <%= link_to '+ Invite a User', new_invite_users_path, :class => "btn right" if current_account %>
</div>

<div class="grid_16">
  <% @memberships.each do |membership| %>
    <div class="grid_7" style="margin-bottom: 20px">
      <div class="crewman-photo">
        <% if membership.user.photo.present? %>
          <%= link_to_avatar(membership.user, :thumb_large) %>
        <% else %>
          <%= image_tag 'v2/Avatars_01_V1.png', :size => "125x125" %>
        <% end %>
      </div>
      <div class="heading13"><%= link_to membership.user.name, user_path(membership.user) %></div>
      <%= membership.user.bio %>
      </p>
    </div>
  <% end %>
</div>

