<div class="page">
  <div class="page-content">

<% if current_user && admin_of_current_account? %> 
  <%= render :partial => 'layouts/application/admin_bar' %>
  <h1>Users</h1>

  <table>
    <tr>
      <% if community_site? %>
    	 <th>ID</th>
      <% end %>
    	<th>First Name</th>
    	<th>Last Name</th>
    	<th>Email</th>
    	<th>Zip</th>
    	<th>City</th>
      <% if community_site? %>
    	 <th>FB Token?</th>
       <th>Account</th>
      <% end %>
      <th>Created on</th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <% if community_site? %>
        <td><%= user.id %>
      <% end %>
      <td><%= link_to user.name.split(" ").first, user_path(user.id) %></td> 
      <td><%= link_to user.name.split(" ").last, user_path(user.id) %></td>   
      <td><%= user.email %></td>
      <td><%= user.zip %></td>
      <td><%= user.location %></td>
      <% if community_site? %>
        <td><%= user.fb_token.nil? %></td>
        <td><%= user.memberships.collect(&:account).collect(&:name).to_sentence %></td>
      <% end %>
      <td><%= user.created_at.strftime("%b %d, %Y") %></td>
      <td>
        <% if community_site? %>
          <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
        <% else %>
          <% if Membership.find_by_account_id_and_user_id_and_admin(current_account.id, user.id, true) %>
            Admin
          <% else %>
            <%= link_to 'Make Admin', make_admin_user_path(user), :method => :put %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>


<% else %>

  Sorry, you don't have admin access to this page. <br>
  Have a question? Please email us at hello at hourschool dot com.

<% end %>


