<% if current_user && current_user.admin? %> 
  <h1>Users</h1>
  <ul class="hmenu">
      <%= render 'devise/menu/user_registration_items' %>
      <%= render 'devise/menu/user_login_items' %>
  </ul>

  <table>
    <tr>
  	<th>ID</th>
  	<th>Name</th>
  	<th>Email</th>
  	<th>Zip</th>
  	<th>City</th>
  	<th>FB Token?</th>
    <th>Created on</th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %>
      <td><%= link_to user.name, user_path(user.id) %></td>     
      <td><%= user.email %></td>
      <td><%= user.zip %></td>
      <td><%= user.location %></td>
      <td><%= user.fb_token.nil? %></td>
      <td><%= user.created_at.strftime("%b %d, %Y") %></td>

      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>


<% else %>

  Sorry, you don't have admin access to this page. <br>
  Have a question? Please email us at hello at hourschool dot com.

<% end %>


