<div class="full-page white">
  <div class="page-content">

    <% if current_user && admin_of_current_account? %>
      <%= render :partial => 'layouts/application/admin_bar' %>

      <p><%= link_to '+ Invite a User', new_invite_users_path if current_account %></p>

      <div class="heading15 marcomm">Total users:

      <% if community_site? %>
        <%= User.count %>
      <% else %>
        <%= current_account.users.count %>
      <% end %>

      </div>

      <% @users.each do |user| %>
        <div style="width: 430px; margin-right: 20px; margin-bottom: 20px; float: left">
          <div class="crewman-photo">
            <% if user.photo.present? %>
              <%= link_to_avatar(user, :thumb_large) %>
            <% else %>
              <%= image_tag 'v2/Avatars_01_V1.png', :size => "125x125" %>
            <% end %>
          </div>
          <%= link_to user.name, user_path(user.id), :class => "profile-link" %><br>
          <%= user.email %><br>
          ID: <%= user.id %><br>
          City: <%= user.location %><br>
          Joined: <%= user.created_at.strftime("%b %d, %Y") %><br>

          </p>
        </div>
      <% end %>


    <% else %>

      Sorry, you don't have admin access to this page. <br>
      Have a question? Please email us at hello at hourschool dot com.

    <% end %>

  </div>
</div>
