<% if current_user && admin_of_current_account? %> 
  <h1>Users</h1>

  <table>
    <tr>
      <% if community_site? %>
    	 <th>ID</th>
      <% end %>
    	<th>First Name</th>
    	<th>Last Name</th>
    	<th>Email</th>
    	<th>Zip</th>
    	<th>City</th>
      <% if community_site? %>
    	 <th>FB Token?</th>
       <th>Account</th>
      <% end %>
      <th>Created on</th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %>
      <td><%= link_to user.name.split(" ").first, user_path(user.id) %></td> 
      <td><%= link_to user.name.split(" ").last, user_path(user.id) %></td>   
      <td><%= user.email %></td>
      <td><%= user.zip %></td>
      <td><%= user.location %></td>
      <% if community_site? %>
        <td><%= user.fb_token.nil? %></td>
        <td><%= user.memberships.collect(&:account).collect(&:name).to_sentence %></td>
      <% end %>
      <td><%= user.created_at.strftime("%b %d, %Y") %></td>

      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>


<% else %>

  Sorry, you don't have admin access to this page. <br>
  Have a question? Please email us at hello at hourschool dot com.

<% end %>


