<% if user_signed_in? && (current_user.admin? || Crewmanship.find_by_mission_id_and_user_id_and_role(@mission.id, current_user.id, "creator")) %>

  <div class="full-page white">
    <div class="mission-description-box">
      <div class="heading14" style="margin: 20px 0px 5px 0px;">
        The mission
      </div>

      <div class="heading28 brown" style="margin-bottom: 5px;">
        <%= link_to full_mission_title(@mission), mission_path(@mission) %>
      </div>
      <div class="heading9 bold" style="color: #999;">
        <%= "#{@mission.city.name}, #{@mission.city.state}" %>
      </div>
    </div>

    <div class="mission-status-box" style="margin-top: 25px">
      <div style="width: 240px; float: right;">
        <a class="btn right" data-toggle="modal" href="#tinyLetter" style="margin-left: 5px">Invite someone to join mission</a>
      </div>

      <!-- Modal BEGIN -->
      <div class="modal hide" id="tinyLetter">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Invite someone to this mission</h3>
        </div>
        <div class="modal-body">
          <%= render 'invites/form' %>
        </div>
      </div>
      <!-- Modal END -->

    </div>
  </div>


  <div class="full-page white">
    <div class="page-content">
      <p><%#= link_to '+ Invite a User', new_invite_users_path if current_account %></p>

      <div class="heading14" style="margin-bottom: 30px">Mission Crew:

      <% if community_site? %>
        <%= @users.count %>
      <% else %>
        <%= current_account.users.uniq.count %>
      <% end %>

      </div>

      <% @users.each do |user| %>
        <div style="width: 430px; margin-right: 20px; margin-bottom: 20px; float: left">
          <div class="crewman-photo">
            <% if user.photo.present? %>
              <%= link_to_avatar(user, :thumb_small) %>
            <% else %>
              <%= image_tag 'v2/Avatars_01_V1.png', :size => "50x50" %>
            <% end %>
          </div>
          <%= link_to user.name, user_path(user.id), :class => "profile-link" %><br>
          <%= link_to user.email, "mailto:#{user.email}" %><br>
          Joined: <%= user.created_at.strftime("%b %d, %Y") %><br>
          </p>
        </div>
      <% end %>

    </div>
  </div>

<% else %>

  Sorry you don't have access to this page

<% end %>