.page
  .page-content

    = render :partial => 'layouts/application/admin_bar'

    = form_for(@user, :url => send_invite_users_path) do |f|


      - @user.errors.full_messages.each do |message|
        .form-error
          = "*#{message}"

      %div{:class => "form-question"}
        = f.label :name
        %br/

        = f.text_field :name, :class => "form-short-with-margin"

      %div{:class => "form-question"}
        = f.label "Zipcode"
        %br/
        = f.text_field :zipcode, :class => "form-short-with-margin"
        / = f.text_field :location
        / = f.select :location, options_for_select([["Austin", "Austin, TX"], ["San Francisco", "San Francisco, CA"]]), :class => "form"

      %div{:class => "form-question"}
        = f.label :email
        %br/
        = f.email_field :email, :class => "form-short-with-margin"

      .page-section-float-left
        = f.submit "Invite", :class => "grey button", :id => 'user_submit'



