.page
  .page-content
    .h2 Create new teacher

    = form_for(@user, :url => send_invite_users_path) do |f|
      - @user.errors.full_messages.each do |message|
        .form-error
          = "*#{message}"

      %div{:class => "form-question"}
        = f.label :name
        %br/

        = f.text_field :name, :class => "form-short-with-margin"

      %div{:class => "form-question"}
        = f.label "City, State"
        %br/
        = render :partial => 'layouts/application/city_state_select', :locals => {:f => f, :parent => @user}

      %div{:class => "form-question"}
        = f.label :email
        %br/
        = f.email_field :email, :class => "form-short-with-margin"

      .page-section-float-left
        = f.submit "Invite", :class => "grey button", :id => 'user_submit'


