= render :partial => "home/header"	

.page
  .page-content
  
    .page-section-float-left
      %ul.sub-nav
        %li.sub-nav-active 
          %a.sub-nav-active(href="/profile") Upcoming
        %li.sub-nav-inactive 
          %a.sub-nav-inactive(href="/profile-past") Past
        %li.sub-nav-inactive 
          %a.sub-nav-inactive(href="/profile-suggest") Suggestions
        %li.sub-nav-inactive 
          %a.sub-nav-inactive(href="/profile-pending") Pending



    .page-section-float-left
      .big-box-active
        .profile-big-number-active
          = current_user.student_for
        .profile-big-words-active classes taken
      .big-box-inactive
        .profile-big-number-inactive 
          = current_user.teacher_for
        .profile-big-words-inactive classes taught
        
    .page-section-float-left
      
      .welcome-header Classes you're taking
      %img.greyheader_half{:src => '/images/v2/greyheader_half.png'}
      .classRow

        = render :partial => "classes_top_three", :locals => {:classes_this_week => current_user.top_three_recent_classes_as_student}

    .page-section-float-left
      .welcome-header Classes you're teaching
      %img.greyheader_half{:src => '/images/v2/greyheader_half.png'}
      .classRow
        = render :partial => "classes_top_three", :locals => {:classes_this_week => current_user.top_three_recent_classes_as_teacher}
  

    / .page-section-float-right
    /      %table.view-more
    /        %tr
    /          %td
    /            %img.view-more-arrow{:src => '/images/v2/arrow_grey_pointright.png'}
    /          %td
    /            %a.view-more(href="") View all

.sidebar
  .sidebar-content
    %img.avatar-big{:src => '/images/v2/Avatars_04_V1.png'}
    
    .sidebar-block
      %ul.noBullet
        %li.noBullet
          %p.profile-name-blurb
            = current_user.name
        %li.noBullet
          %p.profile-location-blurb 
            = current_user.location
        %li.noBullet
          %p.profile-bio
            = current_user.about
            - if current_user.about.blank?
              = "You have not added your bio. You can add it now "
              = link_to "here", edit_user_registration_path(current_user)
      .sidebar-block-last
        %ul.noBullet
          %li.noBullet
            %img.class-details-icon-heart{:src => '/images/v2/StatusIcon_heart.png'}
          %li.noBullet
            %p.class-details-heart-number
              = current_user.hearts
        / %li.noBullet
        /           %a.profile-link(href="")Website
        /           %a.profile-link(href="")Twitter      
        /           %a.profile-link(href="")Facebook
