:css
  .event_details{font-family: Georgia; font-size: 16px; color: black; }
  .left_sidebar{font-family: Georgia; font-size: 11px; padding-bottom: 10px; padding-right: 2px; }
  a#schedule_class_link{font-family: 'BebasNeue'; font-size: 24px; line-height: 49px; color: #333; padding-left: 20px; }
  a#schedule_class_link:hover{color: #B91D7B; }

- if current_account == Account.find(4)

  .middle#middle_events                       
    .page-section-float-left
      .welcome-header
        = "Your classes"
      .classRow
        = render :partial => "classes_taking", :locals => {:classes_taking => @user.recent_classes_as_student(current_account) + @user.past_classes_as_student(current_account)}
          
        = render :partial => "classes_teaching", :locals => {:classes_teaching => @user.recent_classes_as_teacher(current_account) + @user.past_classes_as_teacher(current_account)}
    
  = render :partial => 'sidebar'

- else

  .page
    .page-content
      .page-section-float-left  
        - if (@approved_courses.any? || @pending_courses.count != 0 || !@user.photo.exists? || @user.zip.blank? || @user.location.blank?) && current_user == @user
          .notification-center
            #notification-header Notifications 
            - if @approved_courses.any?
              = image_tag "v2/notification_bolt.png"
              = "Your class has been approved!" 
              =link_to_function 'Fill out your class profile', "$('.section').hide(); $('#approved').show()", :class => 'notification'
              = "to post it live!"
              %br
              %br
            - if @pending_courses.count != 0
              = image_tag "v2/notification_bolt.png"
              = "Your proposal has been submitted successfully. We'll get back to you very soon. In the meantime,"
              %a.notification(href="/pdf/TeachersHandbook-030812-rk.pdf") check out our teacher's handbook.
              %br
              %br
            - if !@user.photo.exists?
              = image_tag "v2/notification_bolt.png"
              = "You don't have a profile photo." 
              %a.notification(href="/users/edit") Upload one now!
              %br
              %br
            - if @user.zip.blank? || @user.location.blank?
              = image_tag "v2/notification_bolt.png"
              = "Want to get notified when new classes happen in your city?" 
              %a.notification(href="/users/edit") Tell us where you live!
        - else
          /do nothing

      #teaching.section
        .page-section-float-left
          .welcome-header 
            - if current_user == @user
              = "Classes I teach"
            - else
              = "Classes #{@user.name} teaches"
          .classRow
            = render :partial => "classes_teaching", :locals => {:classes_teaching => @user.recent_classes_as_teacher(current_account) + @user.past_classes_as_teacher(current_account)}
            - if current_user == @user
              = render :partial => "classes_approved", :locals => {:classes_approved => @user.approved_classes(current_account)}


      #attending.section
        .page-section-float-left
          .welcome-header
            - if current_user == @user
              = "Classes I take"
            - else
              = "Classes #{@user.name} takes"
          .classRow
            = render :partial => "classes_taking", :locals => {:classes_taking => @user.recent_classes_as_student(current_account) + @user.past_classes_as_student(current_account)}


      #suggestions.section
        .page-section-float-left
          .welcome-header 
            - if current_user == @user
              = "Classes I suggested"
            - else
              = "Classes #{@user.name} suggested"
          = render :partial => "suggestions", :locals => {:suggestions => @user.suggestions(current_account)}
 
    
      #approved.section{:style => 'display:none;'}
        .page-section-float-left
          .welcome-header Classes Approved
          = render :partial => "classes_approved", :locals => {:classes_approved => @user.approved_classes(current_account)}


      #pending.section{:style => ('display:none;' unless params[:show] == 'pending')}
        .page-section-float-left
          .welcome-header Classes pending approval
          = render :partial => "classes_pending", :locals => {:pending => @user.pending(current_account)}
        .page-section-float-left
          .welcome-header Classes Approved
          = render :partial => "classes_approved", :locals => {:pending => @user.approved_classes(current_account)}

  = render :partial => 'sidebar'