:css
  .event_details{font-family: Georgia; font-size: 16px; color: black; }
  .left_sidebar{font-family: Georgia; font-size: 11px; padding-bottom: 10px; padding-right: 2px; }
  a#schedule_class_link{font-family: 'BebasNeue'; font-size: 24px; line-height: 49px; color: #333; padding-left: 20px; }
  a#schedule_class_link:hover{color: #B91D7B; }

- if current_account == Account.where(:id => 4).first

  .middle#middle_events                       
    .page-section-float-left
      .welcome-header
        = "Your classes"
      .classRow
        - @classes_teaching = @user.courses_taught.in_account(current_account)
        = render :partial => "classes_teaching"
          
        - @classes_taking = @user.courses_attended.in_account(current_account)
        = render :partial => "classes_taking"
    
  = render :partial => 'sidebar'

- else

  .page{:style => "width: 700px"}
    .page-content
      - if current_user && current_user == @user
        %a{:href => "/users/edit", :class => "btn", :style => "float: right"}Edit my profile
      - else
        = link_to "Follow", user_followings_path(:user_id => current_user, :id => @user), :class => 'btn', :method => :post

      .page-section-float-left  
        - if (@approved_courses.any? || @pending_courses.count != 0 || !@user.photo.exists? || @user.zip.blank? || @user.location.blank?) && current_user == @user
          .notification-center
            #notification-header Notifications 
            - if @approved_courses.any?
              = image_tag "v2/notification_bolt.png"
              = "Your class has been approved!" 
              =link_to_function 'Fill out your class profile', "$('.section').hide(); $('#approved').show()", :class => 'notification'
              = "to post it live!"
              %br
              %br
            - if @pending_courses.count != 0
              = image_tag "v2/notification_bolt.png"
              = "Your proposal has been submitted successfully. We'll get back to you very soon. In the meantime,"
              %a.notification(href="/pdf/TeachersHandbook-030812-rk.pdf") check out our teacher's handbook.
              %br
              %br
            - if !@user.photo.exists?
              = image_tag "v2/notification_bolt.png"
              = "You don't have a profile photo." 
              %a.notification(href="/users/edit") Upload one now!

        - else
          /do nothing

      - if current_user == @user
        #proposals.section

        #approved.section
          .page-section-float-left
            .welcome-header 
              = "Approved, pending live"
            .classRow
              - @classes_teaching = @user.courses_approved.in_account(current_account)
              = render :partial => "classes_teaching"

      #teaching.section
        .page-section-float-left
          .welcome-header 
            - if current_user == @user
              = "Classes I teach"
            - else
              = "Classes #{@user.name} teaches"
          .classRow
            - @classes_teaching = @user.courses_taught.in_account(current_account)
            = render :partial => "classes_teaching"


      #attending.section
        .page-section-float-left
          .welcome-header
            - if current_user == @user
              = "Classes I take"
            - else
              = "Classes #{@user.name} takes"
          .classRow
            - @classes_taking = @user.courses_attended.in_account(current_account)
            = render :partial => "classes_taking"
 

  = render :partial => 'sidebar'


