/ .content
/ 	%h1= @user.name
/ 	%ul{:class => "hmenu"}
/ 		= render 'devise/menu/user_registration_items'
/ 		= render 'devise/menu/user_login_items' 
/ 	%p= @user.email
/ 	%p= "Student = #{@user.student_for}"
/ 	%p= "Teacher = #{@user.teacher_for}"
= render :partial => "home/header"	
.container_16.searchBar.clearfix
	= render :partial => 'home/search_form'

.page
	.page-content
		.page-section-float-left.clearfix
			.welcome-header 
				="Welcome back, #{@user.name}"
			%img.greyheader_half{:src => '../../../images/v2/greyheader_half.png'}
			%ul.sub-nav.clearfix
				%li.sub-nav-inactive 
					%a.sub-nav-nactive(href="") Everyone's activities
				%li.sub-nav-inactive 
					%a.sub-nav-inactive(href="") My activities
				%li.sub-nav-active 
					= link_to "My courses", "#", :class => "sub-nav-active", :id => "link_to_my_courses"
					
		
		.page-section-float-left
			#user_show_main_content
				= "Approved courses"
				%br/
				- @approved_courses.each do |ac|
					%p= ac.title
					%p= ac.about
					%p= link_to "Edit Details", edit_course_path(ac.id)
			
		
	

