<div class="page">
  <div class="page-content">

<% if current_user && admin_of_current_account? %> 
  <%= render :partial => 'layouts/application/admin_bar' %>

  <p><%= link_to '+ Invite a User', new_invite_users_path if current_account %></p>

  <table>
    <tr>
      <th>Email</th>
    	<th>First Name</th>
    	<th>Last Name</th>
    	<th>Zip</th>
    	<th>Created at</th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= link_to user.name.split(" ").first, user_path(user.id) %></td> 
      <td><%= link_to user.name.split(" ").last, user_path(user.id) %></td>   
      <td><%= user.zip %></td>
      <td><%= user.created_at.strftime("%b %d, %Y") %></td>
    </tr>
  <% end %>
  </table>


<% else %>

  Sorry, you don't have admin access to this page. <br>
  Have a question? Please email us at hello at hourschool dot com.

<% end %>
