
.page
  .page-content
    .heading25.light_grey Edit your account
    = form_tag bio_save_path, :method => 'post' do
      = label_tag :bio, "About you (Briefly)", :class => 'form-question'
      %br/
      = text_area_tag "bio","", :class => "form"
      = submit_tag "save (password not required)"
          
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages! 
      %div{:class => "form-question"}
        = f.label :name
      %br/
      = f.text_field :name, :class => "form-with-margin"
     
      %div{:class => "form-question"}
        = f.label :photo
      %br/
      = f.file_field :photo
      
      %br/
      %div{:class => "form-question"}
        = f.label :email
      %br/
      = f.email_field :email, :class => "form-with-margin"
      - if resource_name.to_s == "member"
        %div
          = f.label :organization
        %br/

        = f.text_field :organization
      - else
        %div{:class => "form-question"}
          = f.label "Zipcode"
        %br/
        = f.text_field :zipcode, :class => "form-with-margin"

      %div{:class => "form-question"}
      = f.label :password
      = " (leave blank if you don't want to change it)"
      %br/
      = f.password_field :password, :class => "form-with-margin"
      
      %div{:class => "form-question"}
        = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, :class => "form-with-margin"
      
      %div{:class => "form-question"}
        = f.label :current_password
        = " (we need your current password to confirm your changes)"
      = f.password_field :current_password, :class => "form-with-margin"
      
      
      %div
        = f.submit "Update"
  %h3= "Cancel my account"
  %p
  = "Unhappy? "
  = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete

  = link_to "Back", :back 

