<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <p>
   <%= f.label :name, 'Full Name', :class => "form-question" %><br />
   <%= f.text_field :name, :class => "form-short-edit-profile" %>
  </p>
  <br>

  <p>
   <%= f.label :email, 'Email', :class => "form-question" %><br />
   <%= f.text_field :email, :class => "form-short-edit-profile" %>
  </p>  
  <br>

  <p>
    <%= render :partial => 'layouts/application/city_state_select', :locals => {:f => f, :parent => resource} %>
  </p>
  <br>

  <p>
    <%= f.label :password, :class => "form-question" %><br>
    <%= f.password_field :password, :class => "form-short-edit-profile" %>
  </p>  
  <br>

  <p>
    <%= f.label :password_confirmation, :class => "form-question" %><br>
    <%= f.password_field :password_confirmation, :class => "form-short-edit-profile" %>
  </p>

  <div class="page-section-float-left">
    <%= f.submit "Sign up", :class => "btn", :id => 'user_submit'%>
  </div>


<% end %> 