<% form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f| %>

  <p>
   <%= f.label :photo, 'Photo' %><br />
   <%= f.file_field :photo %>
  </p>
  <br><br>
  <p>
   <%= f.label :referral, 'How did you hear about us?' %><br />
   <%= f.text_field :referral %>
  </p>
  <br><br>

  <p>
   <%= f.label :facebook, 'Facebook:' %><br />
   <%= f.text_field :facebook %>
  </p>
  <br><br>

  <p>
   <%= f.label :twitter, 'Twitter:' %><br />
   <%= f.text_field :twitter %>
  </p>
  <br><br>

  <p>
   <%= f.label :web, 'Web:' %><br />
   <%= f.text_field :web %>
  </p>
  <br><br>


<%= f.submit "Update" %>

<% end %>