<%= devise_error_messages! %>

<div class="full-page">
  <div class="page-content">
    <div class="heading25 light_grey">Edit your profile</div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f| %>

      <div class="clearfix">

        <div class="grid_8" style="margin-left: 0px">

        <p>
         <%= f.label :name, 'Full Name', :class => "form-question" %><br />
         <%= f.text_field :name, :class => "form-short-edit-profile" %>
        </p>
        <br><br>

        <p>
         <%= f.label :email, 'Email', :class => "form-question" %><br />
         <%= f.text_field :email, :class => "form-short-edit-profile" %>
        </p>
        <br><br>

        <p>
         <%= label_tag :location_lookup, 'City, State', :class => "form-question" %><br />

          <%= text_field_tag :citySearch, @user.city.try(:name), :placeholder => "City & State (ex. Austin, TX)", :class => "form-short-edit-profile", :autocomplete => "off", :class => "form-short-edit-profile"  %>
          <%= f.hidden_field :city_id %>
        </p>

        <script type="text/javascript">
        $("ul.typeahead.dropdown-menu").find('li.active').data('value')
        $('#citySearch').typeahead({
          source: function(typeahead, query) {
            var _this = this;
            return $.ajax({
              url: "<%= cities_path(:format => :json) %>?q=" + query,
              success: function(data) {
                return typeahead.process(data);
              }
            });
          },
          property: "name",
          onselect: function (obj) {
            $('#user_city_id').val(obj.id);
          }
        });
        </script>

        <br><br>


        <p>
         <%= f.label :web, 'Website', :class => "form-question"  %><br />
         <%= f.text_field :web, :class => "form-short-edit-profile"   %>
        </p>

        <p>
         <%= f.label :twitter_id, 'Twitter', :class => "form-question" %><br />
         <%= f.text_field :twitter_id, :class => "form-short-edit-profile"  %>
        </p>
        <br><br>

        <p>
          <% unless current_user.facebook? || current_account %>
            <%= render :partial => 'users/facebook/connect_button' %>
          <%- end -%>
        </p>

        <p>
         <%= f.label :bio, 'Short Bio', :class => "form-question" %><br />
         <%= f.text_area :bio, :class => "form-med-with-margin", :style => "width: 250px" %>
        </p>

      </div>

      <div class="grid_7">
        <p>
         <%= f.label :photo, 'Photo', :class => "form-question" %><br />
         <%= avatar_for(@user, :photo_size => :thumb_large, :class => "clearfix") if @user.photo.present? %>
         <%= f.file_field :photo %>
        </p>
        <br><br>
      </div>

    </div>


        <br>
        <%= f.submit "Update", :class => "loginButton", :style => "width: 84px" %>

        <% end %>

    

  </div>
</div>