<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" style="margin-bottom: 0px;">
    <li class="active"><a href="#tab1" data-toggle="tab" class="heading11">Profile</a></li>
    <li><a href="#tab2" data-toggle="tab" class="heading11">Missions</a></li>
    <li><a href="#tab3" data-toggle="tab" class="heading11">Notification Center</a></li>
    <li><a href="#tab4" data-toggle="tab" class="heading11">Billing</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="full-page white tab-border full">
        <div class="page-content">
          <%= devise_error_messages! %>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => true }) do |f| %>
            <div class="clearfix">
              <div class="grid_8" style="margin-left: 0px">
              <p>
               <%= f.label :name, 'Full Name', :class => "form-question" %><br />
               <%= f.text_field :name, :class => "form-short-edit-profile" %>
              </p>
              <br><br>
              <p>
               <%= f.label :email, 'Email', :class => "form-question" %><br />
               <%= f.text_field :email, :class => "form-short-edit-profile" %>
              </p>
              <br><br>
              <p>
                <%= label_tag :location_lookup, 'City, State', :class => "form-question" %><br />
                <%= text_field_tag :citySearch, @user.city.try(:name), :placeholder => "City & State (ex. Austin, TX)", :class => "form-short-edit-profile", :autocomplete => "off", :class => "form-short-edit-profile"  %>
                <%= f.hidden_field :city_id %>
              </p>

              <script type="text/javascript">
              $("ul.typeahead.dropdown-menu").find('li.active').data('value')
              $('#citySearch').typeahead({
                source: function(typeahead, query) {
                  var _this = this;
                  return $.ajax({
                    url: "<%= cities_path(:format => :json) %>?q=" + query,
                    success: function(data) {
                      return typeahead.process(data);
                    }
                  });
                },
                property: "name",
                onselect: function (obj) {
                  $('#user_city_id').val(obj.id);
                }
              });
              </script>

              <br><br>

              <p>
               <%= f.label :web, 'Website', :class => "form-question"  %><br />
               <%= f.text_field :web, :class => "form-short-edit-profile"   %>
              </p>

              <p>
               <%= f.label :twitter_id, 'Twitter', :class => "form-question" %><br />
               <%= f.text_field :twitter_id, :class => "form-short-edit-profile"  %>
              </p>
              <br><br>

              <p>
                <% unless current_user.facebook? || current_account %>
                  <%= render :partial => 'users/facebook/connect_button' %>
                <%- end -%>
              </p>

              <p>
               <%= f.label :bio, 'Short Bio', :class => "form-question" %><br />
               <%= f.text_area :bio, :class => "form-med-with-margin", :style => "width: 250px" %>
              </p>

            </div>

            <div class="grid_7">
              <p>
               <%= f.label :photo, 'Photo', :class => "form-question" %><br />
               <%= avatar_for(@user, :photo_size => :thumb_large, :class => "clearfix") if @user.photo.present? %>
               <%= f.file_field :photo %>
              </p>
              <br><br>
            </div>
          </div>
          <br>
          <%= f.submit "Update", :class => "btn" %>    
          <% end %>
        </div><!-- end page-content -->
      </div><!-- end full-page -->
    </div><!-- end tab1 -->
    <div class="tab-pane" id="tab2">
      <div class="full-page white tab-border full">
        <div class="page-content">
          <% if current_user.missions.blank? %>
            <div class="well">
              You have not joined any missions yet. <%= link_to "Go explore some!", wall_of_missions_path %>
            </div>
          <% else %>
            <% current_user.missions.each do |mission| %>
              <div class="mission-divider">
                Mission: <%= "#{mission.verb} #{mission.title}" %><br>
                <% if mission.account.present? %>
                  School: mission.account.name %>
                <% end %>
                <%= link_to "Manage crewmanship", mission_crewmanship_path(:mission_id => mission.id, :id => mission.crewmanships.where(:user_id => current_user.id).first), :class => "btn right" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div><!-- end tab2 -->
    <div class="tab-pane" id="tab3">
      <div class="full-page white tab-border full">
        <div class="page-content">
          Notification Center
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <ul style="list-style: none; margin-left: 0px">
              <li>
                <%= check_box_tag('user[preferences][mission_news]', 1, resource.wants?('mission_news') ) %> Mission News
              </li>
              <li>
                <%= check_box_tag('user[preferences][event_news]', 1, resource.wants?('event_news')) %> Event News
              </li>
              <hr />
              <%= hidden_field_tag('user[preferences][touched]', 1) %>
            </ul>
            <%= f.submit "Update", :class => "btn" %>    
          <% end %>

        </div>
      </div>
    </div><!-- end tab3 -->
    <div class="tab-pane" id="tab4">
      <div class="full-page white tab-border full">
        <div class="page-content">      
          <div id="billing_show">
            <% if current_user.stripe_customer %>
              <p>Credit card on file: <%= current_user.stripe_customer.active_card.type %> ending in <%= current_user.stripe_customer.active_card.last4 %></p>
            <% else %>
              <p>You have no credit card on file</p>
            <% end %>

            <% if current_user.subscription_charges.present? %>
              <p>Last invoice: <%= number_to_currency current_user.subscription_charges.last.amount %> paid on <%= current_user.last_months_billing_date %></p>
            <% end %>

            <% if current_user.this_months_billing_date %>
              <p>Next Billing Date: <%= current_user.this_months_billing_date %></p>
            <% end %>

            <a class="btn" data-toggle="modal" href="#updateCard">Update credit card</a>

            <!-- modal begins -->
            <div class="modal hide" id="updateCard">              
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Update credit card details</h3>
              </div>
              <div class="modal-body">              
                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                  <%= render :partial => 'subscription_charges/credit_card_fields' %>
                  <%= f.submit "Update", :class => "btn" %>    
                <% end %>
              </div>
            </div><!-- modal ends -->
               
          </div>
        </div>
      </div>
    </div><!-- end tab4 -->

  </div><!-- end tab-content -->
</div><!-- end tabbable -->


<!-- status(trial_active,trial_expired,trial_canceled,active,past_due,abandoned(past_due for a month),canceled,completed) -->
