.page
  .page-content
    .page-section-float-left
      %ul.sub-nav
        %li.sub-nav-active
          %a.sub-nav-active(href="/users/sign_up") Register
        %li.sub-nav-inactive
          %a.sub-nav-inactive(href="/users/sign_in") Sign in
    .class-alternatives
      We will not post anything without your permission.
      .page-section-float-left
        = link_to image_tag('fb_connect.jpg'), user_omniauth_authorize_path(:facebook)
      %hr
      %br
      %p Or sign up with email

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %div{:class => "form-question"}
        = f.label :name
        %br/

        = f.text_field :name, :class => "form-short-with-margin"
      - if resource_name.to_s == "member"
        %div{:class => "form-question"}
          = f.label :organization
          %br/

          = f.text_field :organization, :class => "form"
      - else
        %div{:class => "form-question"}
          = f.label "Zipcode"
          %br/
          = f.text_field :zipcode, :class => "form-short-with-margin"
          / = f.text_field :location
          / = f.select :location, options_for_select([["Austin", "Austin, TX"], ["San Francisco", "San Francisco, CA"]]), :class => "form"
      %div{:class => "form-question"}
        = f.label :email
        %br/
        = f.email_field :email, :class => "form-short-with-margin"
      %div{:class => "form-question"}
        = f.label :password
        %br/
        = f.password_field :password, :class => "form-short-with-margin"

      %div{:class => "form-question"}
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, :class => "form-short-with-margin"

      .page-section-float-left
        = f.submit "Sign up", :class => "loginButton", :id => 'user_submit'



