- if community_site?
  .page
    .page-content
      .page-section-float-left
        %ul.sub-nav
          %li.sub-nav-active
            %a.sub-nav-active(href="/users/sign_up") Register
          %li.sub-nav-inactive
            %a.sub-nav-inactive(href="/users/sign_in") Sign in

      .heading25.dark_grey Sign up
      - if community_site?
        .class-alternatives It's fast and easy. And we will not post anything without your permission.
        %br
        = link_to image_tag('fb_connect.jpg'), user_omniauth_authorize_path(:facebook)
        %br
        .heading15.marcomm Or sign up with email
        .pagenote-box.clearfix
          It's important to use your real email so you receive important information from your teachers such as location details or last minute changes! We won't spam you. 

      - if current_account && current_account.private?
        %p Please contact the school admin to invite you to sign up.
      - else
        = render 'form'
        
      %hr
      %br

      .page-section-float-left
        .heading15.marcomm Already have an account?
        .heading15.marcomm Sign in here:
        = render 'sessions/form'
        
- else 

  .container_16.middle#middle_events
    .page-section-float-left
      .heading25.dark_grey Sign up
      / = render 'sessions/facebook'
      / 
      /   .heading15.dark_grey Or sign up with email:
      = render 'form'
  
    %hr
    %br
  
    .page-section-float-left
      .heading15.sidebar Already have an account? Sign in here:
      = render 'sessions/form'