<style type="text/css">

  body {
    background-image: url(<%= asset_path "feastfordays/bg.png" %>) ;
  }

  #header_feastfordays{
    height: 38px;
    background-color: #412308;
    padding-top: 20px;
    margin-bottom: 30px;
  }

  #logo_feastfordays{
    float: left;
  }

  ul#feastfordays{
    float: left;
    list-style: none;
  }

  ul#feastfordays_profile{
    float: right;
    list-style: none;
  }

  li#feastfordays{
    float: left;
    color: #efe6e2;
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
  }

  a#feastfordays{color: #efe6e2;}
  a#feastfordays:visited{color: #efe6e2}

  li#feastfordays2{
    float: left;
    color: #8f9936;
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
  }

  a#feastfordays2{color: #8f9936;}
  a#feastfordays2:visited{color: #8f9936}

</style>

<body>
<div id="header_feastfordays">
  <div class="container_16">
    <%= link_to (image_tag 'feastfordays/logo.png', :id => "logo_feastfordays"), "http://www.feastfordays.com" %>
    <ul id="feastfordays">
      <li id="feastfordays"><%= link_to "Join a feast", explore_path, :id => "feastfordays" %></li>
      <li id="feastfordays"><%= link_to "Host a feast", host_path, :id => "feastfordays" %></li>
      <li id="feastfordays"><a href="http://www.feastfordays.com/recipes.html" id="feastfordays">How it works</a></li>
      <li id="feastfordays"><%= link_to "Food & Community", community_path, :id => "feastfordays" %></li>
      <li id="feastfordays"><a href="http://www.feastfordays.com/about.html" id="feastfordays">About us</a></li>
    </ul>

    <ul id="feastfordays_profile">
      <% if user_signed_in? %>
        <li id="feastfordays2"><%= link_to "My profile", profile_path, :id => "feastfordays2" %></li>
        <li id="feastfordays2"><%= link_to "Logout", destroy_user_session_path, :id => "feastfordays2" %></li>
      <% else %>
        <li id="feastfordays2"><%= link_to "Sign in", new_user_session_path, :id => "feastfordays2" %></li>
        <li id="feastfordays2"><%= link_to "Sign up", new_user_registration_path, :id => "feastfordays2" %></li>
      <% end %>
    </ul>
  </div>
</div>
</body>