<div class="well" style="text-align: left"> 

  <%= form_for([@mission, @crewmanship]) do |f| %>
    <% if @crewmanship.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@crewmanship.errors.count, "error") %> prohibited this crewmanship from being saved:</h2>

        <ul>
        <% @crewmanship.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <% if current_user %>
    <% else %>
      <%= render 'registrations/form' %>
    <% end %>

    <br>
 
    <% if current_user.crewmanships.empty? %>
      Join now and try for free for 30 days!
    <% elsif current_user.crewmanships.collect(&:status).include?('trial_active')  %>
      Looks like you already have a trial going. You can try this mission for free until your other trial expires. 
    <% elsif current_user.crewmanships.collect(&:status).include?('active') %>
      Looks like you already have a mission going. You can try this mission for free until your next billing date. 
    <% else %>
      <ul>
        <% current_user.crewmanships.each do |crewmanship| %>
          <li>
            <strong><%= number_to_currency crewmanship.price[:amount] %></strong>
            <%= crewmanship.mission.title %>: <%= crewmanship.status %>
            <%= "(#{crewmanship.price[:details]})" if crewmanship.price[:details].present? %>
          </li>
        <% end %>
        <li><strong><%= number_to_currency Crewmanship.default_price %></strong> <%= @crewmanship.mission.title %>: New</li>

        <li><strong><%= number_to_currency(current_user.balance + Crewmanship.default_price) %> Total to be paid now</strong></li>
      </ul>
      <% if current_user.stripe_customer %>
        on your card <%= current_user.stripe_customer.active_card.type %> ending in <%= current_user.stripe_customer.active_card.last4 %>
      <% else %>
        <h3>Enter your card details</h3>
        <%= render :partial => 'subscription_charges/credit_card_fields' %>
      <% end %>
    <% end %>

    <%= f.submit "Make it happen!", :class => "btn btn-primary" %>
  <% end %>

</div>