<div class="well" style="text-align: left"> 

  <%= form_for([@mission, @crewmanship]) do |f| %>
    <% if @crewmanship.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@crewmanship.errors.count, "error") %> prohibited this crewmanship from being saved:</h2>

        <ul>
        <% @crewmanship.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <% if current_user %>
    <% else %>
      <%= render 'registrations/form' %>
    <% end %>

    <br>
    <div class="actions">
      <%= f.submit "Make it happen!", :class => "btn btn-primary" %>
    </div>
  <% end %>

</div>