<%= form_for([@mission, @crewmanship]) do |f| %>
  <% if @crewmanship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crewmanship.errors.count, "error") %> prohibited this crewmanship from being saved:</h2>

      <ul>
      <% @crewmanship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <b>Status:</b>
  <%= f.select :status, ['Active', 'Canceled', 'Completed'] %>
</p>

  <%= f.submit "Save", :class => "btn btn-primary" %>
<% end %>
