<table>
  <tr>
    <th>Mission</th>
    <th>User</th>
    <th>Role</th>
    <th>Status</th>
    <th>Trial expires at</th>
    <th>Canceled at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crewmanships.each do |crewmanship| %>
  
  <tr>
    <td><%= crewmanship.mission.title %></td>
    <td><%= crewmanship.user.name %></td>
    <td><%= crewmanship.role %></td>
    <td><%= crewmanship.status %></td>
    <td><%= crewmanship.trial_expires_at %></td>
    <td><%= crewmanship.canceled_at %></td>
    <td><%= link_to 'Show', mission_crewmanship_path(@mission, crewmanship) %></td>
    <td><%= link_to 'Edit', edit_mission_crewmanship_path(@mission, crewmanship) %></td>
    <td><%= link_to 'Destroy', mission_crewmanship_path(@mission, crewmanship), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
