<div id="header">
  <div class="container_16">
    
    <!-- <a href="/p/dashboard" id="logo"> -->
	<%= link_to image_tag("/images/v2/Logo_Orange.png"), user_root_path, :id => "logo" %>
       
    
  
    <div id="login">
        <ul id="login">
          <li id="login">Peer learning in Austin</li>
          <li id="login">
			<% link_to profile_path do %>
				<div class="profile-avatar"></div>
			<% end %>
		  </li> 
          <li id="login">
			<% if user_signed_in? %>
			    <span id="nav-dropdown">
                <a href="/p/profile", id="menu">
				    <%= link_to current_user.name, profile_path, :id => "menu"%>
    			<img src="../../../images/v2/arrow_grey_profile.png" class="profile-arrow">
                </a></span>
                
                <span id="nav-dropdown-selected" style="display:none;">
                <a href="" id="menu">   
                    <%= link_to current_user.name, profile_path, :id => "menu"%>
                  <img src="../../../images/v2/arrow_grey_profile.png" class="profile-arrow">
                </a></span>
                
			<% else %>
				<%= link_to "sign in", new_user_session_path, :id => "menu"%>
			<% end %>			
		 </li>
		 
		 <div id="dropdown-box" style="display:none;">
             <table id="dropdown-text">
               <tr id="dropdown-text"><td id="dropdown-text">
                   <%= link_to "My Profile", profile_path, :id => "menu"%>
                </td></tr>
               <tr id="dropdown-text"><td id="dropdown-text"><a href="" id="menu">Settings</a></td></tr>
               <tr id="dropdown-text-last"><td id="dropdown-text"> 
                   <a href="" id="menu">Logout</a>
               </td></tr>
             </table>
           </div>
		 
        </ul>
    </div>
   
    <script type="text/javascript">
        $("#nav-dropdown").click(function() {
            $("#dropdown-box").show();
            $("#nav-dropdown").hide();
            $("#nav-dropdown-selected").show();
            return false;
         });
    	 $("#nav-dropdown-selected").click(function() {
             $("#dropdown-box").hide();
             $("#nav-dropdown").show();
             $("#nav-dropdown-selected").hide();
             return false;
        });
    </script>
    
        <table id="menu">
          <tr id="menu">
              <td id="community_menu_learn">
				<%= link_to learn_path, :id => "menu" do %>
                <!-- <a href="/p/learn" id="menu"> -->
                  <div id="menu18">Learn</div> 
                  <div id="menu9">something new</div>
                <!-- </a> -->
				<% end %>
              </td>
              <td id="community_menu_teach">
                <%= link_to teach_path, :id => "menu" do %>
                  <div id="menu9">Offer to</div>
                  <div id="menu18">teach</div>
                <% end %>
              </td>
            <td id="community_menu_suggest">
			<%= link_to new_csuggestion_path, :id => "menu" do %>
              
                <div id="menu18">Suggest</div>
                <div id="menu9">a class</div>
              <% end %>
            </td>
            <td id="community_menu_community">
              <%= link_to business_path, :id => "menu" do %>
                <div id="menu9">HourSchool for</div>
                <div id="menu18">Business</div>
              <% end %>
            </td>
            <td id="community_menu_faq">
              <%= link_to community_faq_path, :id => "menu" do %>
                <div id="menu_faq">F</div>
                <div id="menu_faq">A</div>
                <div id="menu_faq">Q</div>
              <% end %>
            </td>
          </tr>
        </table>


  </div><!-- /end .container_16 -->

</div><!-- /end #header -->
