- classes_this_week.each do |course|
  .classBlock
    - if course.photo.exists?
      / Course.find(10).categories.first.name
      = link_to (image_tag(course.photo.url(:small), :size => "190x120")), course
      %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
    - else
      - if !course.categories.first.nil?
        = link_to image_tag("#{DEF_IMAGES[course.categories.first.name]}"), course
      - else
        = link_to image_tag("/images/v2-courses/DefaultClassPics_Generic.png"), course
      %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
    %br

      .class-description
        .heading13-class
          = link_to "#{course.title}", course
        %p= course.teaser.truncate(70) unless course.teaser.blank?
        .heading9-class
          = "#{course.seats_left} seats | #{course.days_left} days | #{course.city.name}"

.page-section-float-right
  %table.view-more
    %tr
      %td
        = will_paginate classes_this_week, :previous_label => "Prev"
