- if classes_this_week.size < 3
  - if classes_this_week.size == 0
    .classBlock
      = link_to image_tag("/images/v2-courses/GhostClasses__01_v1.png"), teach_path
      .class-description
        .empty-prompt
          = "Be the first!"
    .classBlock
      = link_to image_tag("/images/v2-courses/GhostClasses__01_v1.png"), teach_path
      .class-description
        .empty-prompt
          = "Teach a class!"
    .classBlock_last
      = link_to image_tag("/images/v2-courses/GhostClasses__01_v1.png"), teach_path
      .class-description
        .empty-prompt
          = "Share your passion!"
  - elsif classes_this_week.size == 1

    - classes_this_week.each do |course|
      .classBlock
        - if course.photo.exists?
          / Course.find(10).categories.first.name
          = link_to (image_tag(course.photo.url(:small), :size => "190x120")), course
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
        - else
          - if !course.categories.first.nil?
            = link_to image_tag("#{DEF_IMAGES[course.categories.first.name]}"), course
          - else
            = link_to image_tag("/images/v2-courses/DefaultClassPics_Generic.png"), course
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
        %br

          .class-description
            .heading13-class
              = link_to "#{course.title}", course
            %p= course.teaser
            .heading9-class
              = "#{course.seats_left} seats left"
              = "#{course.days_left} days from today"
            %p= course.teaser
    .classBlock
      = link_to image_tag("/images/v2-courses/GhostClasses__01_v1.png"), teach_path
      .class-description
        .empty-prompt
          = "Teach a class!"
    .classBlock_last
      = link_to image_tag("/images/v2-courses/GhostClasses__01_v1.png"), teach_path
      .class-description
        .empty-prompt
          = "Share your passion!"
  - elsif classes_this_week.size == 2
    - classes_this_week.each do |course|
      .classBlock
        - if course.photo.exists?
          / Course.find(10).categories.first.name
          = link_to (image_tag(course.photo.url(:small), :size => "190x120")), course
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
        - else
          - if !course.categories.first.nil?
            = link_to image_tag("#{DEF_IMAGES[course.categories.first.name]}"), course
          - else
            = link_to image_tag("/images/v2-courses/DefaultClassPics_Generic.png"), course
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
        %br

          .class-description
            .heading13-class
              = link_to "#{course.title}", course
            %p= course.teaser
            .heading9-class
              = "#{course.seats_left} seats left"
              = "#{course.days_left} days from today"
    .classBlock_last
      = link_to image_tag("/images/v2-courses/GhostClasses__01_v1.png"), teach_path
      .class-description
        .empty-prompt
          = "Share your passion!"



- if classes_this_week.size < 3
  / - count = 0
  .why-teach-short.clearfix
    .heading15-pagenote There aren't any classes in your city yet. Be the first!
  = link_to new_course_path do
    .pagenote-button
      Create a class
  %hr#pagenote
- else

- classes_this_week.each do |course|
  .classBlock
    - if course.photo.exists?
      / Course.find(10).categories.first.name
      = link_to (image_tag(course.photo.url(:small), :size => "190x120")), course
      %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
    - else
      - if !course.categories.first.nil?
        = link_to image_tag("#{DEF_IMAGES[course.categories.first.name]}"), course
      - else
        = link_to image_tag("/images/v2-courses/DefaultClassPics_Generic.png"), course
      %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
    %br

      .class-description
        .heading13-class
          = link_to "#{course.title}", course
        %p= course.teaser
        .heading9-class
          = "#{course.seats_left} seats left"
          = "#{course.days_left} days from today"

.page-section-float-right
  %table.view-more
    %tr
      %td
        = will_paginate classes_this_week, :previous_label => "Prev"
