- count = 0
- courses.each do |course|
  - count = count + 1
  - if count%3 == 0
    - className = "classBlock_last"
  - else
    - className = "classBlock"
  %div{:class => "#{className}"}
    - if course.photo.exists?
      = image_tag(course.photo.url(:small), :size => "190x120")
      %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
    - else
      = image_tag("/images/v2-courses/DefaultClassPics_Generic.png")
      %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
    %br

      .class-description
        .heading13-class
          = link_to "#{course.title}", course
        %p= course.teaser.truncate(70) unless course.teaser.blank?
        .heading9-class
          = "#{course.seats_left} seats | #{course.days_left} days | #{course.city.name}"

.page-section-float-right
  %table.view-more
    %tr
      %td
        = will_paginate courses, :previous_label => "Prev"

