= render :partial => "header"
.container_16.searchBar.clearfix
	= form_tag root_path, :method => 'post' do
		%input.searchForm(type='text' placeholder='Find a class to attend')
		%img.mag-glass{:src => 'images/v2/search-magnifying-glass-orange.png'}
		= submit_tag "Search", :class => "searchButton"
	
.page
	.page-content
		.page-section-float-left
			.heading25_ccc Latest classes in your city
			.classRow
				= render :partial => 'learn_upcoming_content', :locals => {:classes_this_week => @classes_this_week}

		.page-section-float-left
			.heading25_ccc 
				= "Help make these classes happen"
			= render :partial => 'suggestions_for_classes'
= render :partial => 'learn_sidebar'