= render :partial => "header"
.container_16.searchBar.clearfix
	= render :partial => 'search_form'
	
.page
	.page-content
		.page-section-float-left
			.heading25_ccc Latest classes in your city
			.classRow
				= render :partial => 'learn_upcoming_content', :locals => {:classes_this_week => @classes}

		.page-section-float-left
			.heading25_ccc 
				= "Help make these classes happen"
			= render :partial => 'suggestions_for_classes', :locals => {:suggestions => @suggestions}
= render :partial => 'learn_sidebar'