.left-link
	%ul{:class => "hmenu"}
		
		%li= link_to "Learn", learn_path
		%li= link_to "Teach", teach_path
		%li= link_to "Local partner", "#"
		%li= link_to "Organization", organization_path
.right-link
	%ul{:class => "hmenu"}
		= render "devise/menu/member_login_items"
		= render "devise/menu/member_registration_items"
