<div class="full-page">
  <div class="page-content">

    <center>
      <div class="marcomm-header">
        <div class="heading25_666">Teaching at HourSchool is a lot of fun!</div>
        <%= image_tag "v2/greyheader_full.png", :class => "greyheader_full" %>
      </div>
    </center>
    
    <div class="clearfix" style="margin-top: 30px; margin-left: 10px">
      <div class="grid_11">
        <div class="heading15-marcomm">How does it work?</div>

        <div style="float: left">
          <%= image_tag "v2-teach/step1.jpg", :class => "teach_how_it_works" %>
          <div style="padding-right: 10px; font-size: 11px; width: 180px; text-align: center">
              Students register and pay for your class online.
          </div>
        </div>
        
        <div style="float: left">
          <%= image_tag "v2-teach/step2.jpg",  :class => "teach_how_it_works" %>
          <div style="padding-right: 10px; font-size: 11px; width: 200px; text-align: center">
            Class is held in person and everyone learns something new.
          </div>
        </div>
        
        <div style="float: left">
          <%= image_tag "v2-teach/step3.jpg", :class => "teach_how_it_works" %>  
          <div style="padding-right: 10px; font-size: 11px; width: 180px; text-align: center">
              Be a part of the peer learning network in your city. 
          </div>  
        </div>    
      
      </div>
      
      <div style="float: left">
        <div class="teach-start-block">
          <div class="class-section-heading">Ready to post a class?</div>
          <div id="new-create-class-button">
            <%= link_to image_tag("v2/White Star_create a class.png", :id => 'create-class-star'), new_course_path %>
            <div class="create-class-heading">Create a class</div>
          </div>                       
        </div>
      </div>
      

    </div>
    
    <%= image_tag "v2-campaign/divider-long.png" %>
  
    <div class="clearfix" style="margin-top: 30px; margin-left: 20px">
      <div>
        <div class="heading15-marcomm">What you can teach</div>
        <div style="float: left; margin-right: 15px">
          <%= image_tag "v2-teach/class-social.jpg", :style => "margin-bottom: 5px" %>
          <div class="heading13-class">
              The Social
          </div>
          <div class="happening-message-description">
              People hanging out, eating, drinking.
          </div>
        </div>
        <div style="float: left; margin-right: 15px">
          <%= image_tag "v2-teach/class-demo.jpg", :style => "margin-bottom: 5px"  %>
          <div class="heading13-class">
              The Demo
          </div>
          <div class="happening-message-description">
              Show someone how to do something.
          </div>
        </div>
        <div style="float: left">
          <%= image_tag "v2-teach/class-lesson.jpg", :style => "margin-bottom: 5px"  %>
          <div class="heading13-class">
              The Lesson
          </div>
          <div class="happening-message-description">
              Engaging a room full of students.
          </div>
        </div>
      </div>
    </div>
    
    <%= image_tag "v2-campaign/divider-long.png", :style => "margin-top: 30px" %>
  
    <div class="clearfix" style="margin-top: 30px; margin-left: 10px">
      <div>
        <div class="grid_7">
          <div class="heading15-marcomm">What other teachers say</div>
            <iframe src="http://player.vimeo.com/video/33087846?title=0&amp;byline=0&amp;portrait=0" width="400" height="258" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            <div style="float: left; padding-right: 10px; font-size: 11px; width: 380px">
                Listen to what other teachers have to say about their experience teaching at HourSchool!
            </div>
        </div>

        <div style="float: left">
          <div class="heading15-marcomm">We help you get started</div>
            <a href="../../../pdf/handbook.pdf">
            <%= image_tag "v2/screenshot_teacherHandbook.png" %></a>
          <div class="happening-message-description">
              Our teacher's handbook is a great guide to help you get started.
          </div>
        </div>
        <div style="float: left">
          <div class="teach-resource-block">
              <div class="heading13-class"><a href="/users/sign_up">Create an account</a></div>
              <p style="font-size: 12px">To post a class, you’ll need to register. Connect with Facebook to see if your friends are at HourSchool already!</p>
              <div class="heading13-class"><a href="http://help.hourschool.com/customer/portal/articles/254308-how-much-does-hourschool-charge-to-post-a-class-">How fees work</a></div>
              <p style="font-size: 12px">It's free to post. If you're charging, we take a 15% of your revenue for our services.</p>
              <div class="heading13-class"><a href="http://help.hourschool.com/">FAQ's</a></div> 
              <p style="font-size: 12px; margin-bottom: 8px">Top questions about teaching at HourSchool.</p>                           
          </div>
        </div>

      </div>
    </div>
        
       
  </div>
</div>

