- suggestions.each do |t|
  .vote-class.clearfix
    .vote-class-title
      .heading20-vote
        = "#{t.name}"
      .heading9-class
        = "Requested in: #{count_in_place_sentence(t.voters_who_voted.map(&:city))}"
      %table
        %tr
          %td
            %img.view-more-arrow{:src => '/images/v2/arrow_orange_pointright.png'}
          %td  
            = link_to "I want to teach this class", new_course_path("req" => t.id)
        %tr
          %td
            %img.view-more-arrow{:src => '/images/v2/arrow_orange_pointright.png'}
          %td  
            = link_to "I want to nominate someone to teach this class", nominate_path("id" => t.id)
    .vote-class-number
      .heading35-vote
        %span{:id => "vote_count_#{t.id}"}
          = "#{t.votes_for}"
      .heading10-vote 
        = "people"
      %span{:id => "vote_link_#{t.id}"}
        - if user_signed_in?
          - if !current_user.voted_on?(t)
            = link_to "Vote", csvote_path("csid" => t.id), :class => "vote-class-button"
          - else
            .voted-button
              = "Voted"
        - else
          = link_to_function "Vote", "alert('Please login to vote!')"
.page-section-float-right
  %table.view-more
    %tr
      %td
        = will_paginate suggestions, :previous_label => "Prev"
        
