<% if current_account == Account.where(:id => 4).first %>
  <%= render :partial => 'courses/womendesignbuild/index' %>
<% elsif current_account == Account.where(:id => 2).first %>
  <div class="page">
    <div class="page-content">
      <%= render :partial => 'courses/course_grid', :locals => {:courses => @courses} %>
      <div class="page-section-float-right">
        <table class="view-more">
          <tr>
            <td>
              <%= will_paginate @courses, :previous_label => "Prev" %>
            </td>
          </tr>
        </table>
      </div>
      <% content_for :sidebar do %>
        <%= link_to "Admin Panel", admin_courses_path, :class => "section-heading", :style => "margin-left: -40px" %>
      <% end %>
    </div>
  </div>
<% else community_site? %>

  <div style="background-image: url(<%= asset_path 'bg-blue.png' %>); background-repeat: repeat; height: 540px;">

    <div style="background-image: url(<%= asset_path 'homepage-banner-2.gif' %>); background-position: center; background-repeat: no-repeat; height: 430px; margin-bottom: 30px">
    </div>

    <div class="featured" style="background-color: black; margin-top: -385px; padding-top: 30px; padding-bottom: 5px; margin-bottom: 100px">
      <center>
        <div class="heading14" style="color: #f7b62a; margin-bottom: 10px">
          Welcome to the school of doing stuff
        </div>
        <div style="font-family: futura-pt-1, futura-pt-2; font-size: 75px; font-weight: 700; font-style: italic; color: #b4c9d9; line-height: 90px; letter-spacing: 0.02em; margin-bottom: 40px">
          So, what have you<br> always wanted to do?
        </div>
      </center>
    </div><!-- end .featured -->

    <div class="container_16">
      <div class="heading14" style="color: white; text-align: center;">
        Don’t just dream about it.<br>
        Get tools. Share knowledge. Meet people who can help.
      </div>
    </div>
  </div>


  <div style="background-image: url(<%= asset_path 'bg-white-pattern.png' %>); background-repeat: repeat; height: 760px;">
    <div class="container_16" style="padding-top: 30px; margin-top: -1px">
      <div class="heading14" style="text-align: center; margin-bottom: 20px; text-align: center; background-color: #505f6a; width: 920px; padding: 10px; color: white">
        Join a class today
      </div>

      <% @upcoming_courses.limit(8).each do |course| %>
        <div class="classBlock" style="margin-right: 50px; background-color: #f3f3f3">
          <% if course.photo.present? %>
            <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
          <% else %>
            <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
          <% end %>

            <div class="class-description" style="float: left; width: 170px">
              <div class="heading13 brown">
                <%= link_to course.title.truncate(50), course %>
              </div>
              <div class="heading10" style="font-weight: 400">
                <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
              </div>
              <p><%= course.description.truncate(70) %></p>
            </div>
        </div>
      <% end %>
    </div>
  </div>


  <div style="background-color: white; background-repeat: repeat; height: 760px;">
    <div class="container_16" style="padding-top: 30px; margin-top: -1px">
      <div class="heading14" style="text-align: center; margin-bottom: 20px; text-align: center; background-color: #505f6a; width: 920px; padding: 10px; color: white">
        Past classes
      </div>

      <% @past_courses.limit(8).each do |course| %>
        <div class="classBlock" style="margin-right: 50px; background-color: #f3f3f3">
          <% if course.photo.present? %>
            <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
          <% else %>
            <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
          <% end %>

            <div class="class-description" style="float: left; width: 170px">
              <div class="heading13 brown">
                <%= link_to course.title.truncate(50), course %>
              </div>
              <div class="heading10" style="font-weight: 400">
                <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
              </div>
              <p><%= course.description.truncate(70) %></p>
            </div>
        </div>
      <% end %>
    </div>
  </div>


  </div>

<% end %>


