<div id="homepage_headline_1">
  <div class="font48">School's</div>
  <div class="font24">out for</div>
  <div class="font48">summer</div>
</div>

<div style="margin-top: 20px">
  <a href="www.hourschool.com" id="homepageInfoModal" class="moreInfo">
    Times they are a changing!  Where’s the old site? 
  </a>
</div>

<div class="teaser"></div>

<div class="featured">
  <div class="sidebar-left">

    <div class="brand_bg"></div>
      <div class="prompt-box white">  
        <%= image_tag "v3/homepage/mission-star.png" %>
        <p class="prompt-text">What is one thing you want to accomplish by the end of the year?</p>

        <p>   
         <%= text_field_tag :prompt, "", :class => "form-short-edit-profile"  %>
        </p>

        <%= button_to "Let us know", "", :class => "orange button", :style => "margin-bottom: -10px" %>
    </div>

    <div class="featured-box">  
    </div>
  
  </div><!-- end .sidebar-left -->


  <div class="content-right white">
    <div class="title-text" id="homepage" style="font-weight: 700; margin-bottom: 0px">So, it’s time to start learning.</div>
    <div class="heading16" style="color: #333; line-height: 22px">
    Learning what?  Anything and everything, from building websites to fixing motorcycles to making your home more energy eficient.  We know that everyone has at least one thing they’ve always wanted to do, to make, or to learn.  Begin it now. <%= link_to "Begin here", explore_path, :style => "color: #ff7733" %>.
    </div>
    
  </div><!-- end .content-right -->

</div><!-- end .featured -->

<%= render :layout => 'shared/page/modal', :locals => {:modal_class => 'moreInfoModal'} do %>

  <div class="heading13-class">What happened to HourSchool?!</div>
  <p>Well, since school's out for summer, we're busy working on redesigning the HourSchool site based on your feedback! We're making it easier for you to learn what you want to learn, while meeting rad people and having fun. In-person classes are still at the core of what we do. Learn more about <%= link_to "what we're up to", about_path %>.</p> 


  <div class="heading13-class">What about the classes that were already posted?</div>
  <p>You can still sign up for them and you can find them on our new <%= link_to "Explore page", explore_path %>. All your past classes are available for viewing in your profile/</p>

  <div class="heading13-class">Where can I post my class? </div>
  <p>At the moment, you cannot post classes.  Once we relaunch in August, you'll be able to post classes again. It'll be a lot better - take our words for it.</p>

  <p>Love,<br>
  HourSchool</p>

<% end %>

<script type="text/javascript">
  $(document).ready( function(){
    $('.moreInfo').bind('click', function(){
      $('.moreInfoModal').show();
      return false;
    })
  });
</script>
