<% if current_account == Account.where(:id => 4).first %>
  <%= render :partial => 'courses/womendesignbuild/index' %>
<% elsif current_account == Account.where(:id => 2).first %>
  <div class="page">
    <div class="page-content">
      <%= render :partial => 'courses/course_grid', :locals => {:courses => @courses} %>
      <div class="page-section-float-right">
        <table class="view-more">
          <tr>
            <td>
              <%= will_paginate @courses, :previous_label => "Prev" %>
            </td>
          </tr>
        </table>
      </div>
      <% content_for :sidebar do %>
        <%= link_to "Admin Panel", admin_courses_path, :class => "section-heading", :style => "margin-left: -40px" %>
      <% end %>
    </div>
  </div>
<% else community_site? %>

  <div style="background-image: url(<%= asset_path 'bg-blue.png' %>); background-repeat: repeat; height: 730px;">

  <div class="container_16" style="padding-top: 10px;">
    <iframe src="http://player.vimeo.com/video/24695810?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="960px" height="540px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <div class="heading28 whiteText" style="margin-top: 30px; margin-bottom: 30px">
      What is HourSchool?
    </div>
    <p style="font-size: 14px; color: white">We think life is better when you’re learning. We think it’s deceptively easy to slip into the routine and to stick with what you know. We think sometimes the best way to keep growing is to get together with other people and learn. We believe that everyone can and should teach. You are the expert of your own stories, share them!</p>
  </div>

  </div>


  <div style="background-image: url(<%= asset_path 'bg-white-pattern.png' %>); background-repeat: repeat; height: 700px;">
    <div class="container_16" style="padding-top: 30px;">
      <div class="heading28 brown" style="margin-bottom: 30px">
        Join a class today
      </div>

      <% @upcoming_courses.limit(8).each do |course| %>
        <div class="classBlock" style="margin-right: 50px; background-color: #f3f3f3">
          <% if course.photo.present? %>
            <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
          <% else %>
            <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
          <% end %>

          <div class="class-description" style="float: left; width: 170px">
            <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
              <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
            </div>
            <div class="heading16">
              <%= link_to course.title, course %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>


  <div style="background-color: white; background-repeat: repeat; height: 700px;">
    <div class="container_16" style="padding-top: 30px;">
      <div class="heading28 brown" style="margin-bottom: 30px">
        Past classes
      </div>

      <% @past_courses.limit(8).each do |course| %>
        <div class="classBlock" style="margin-right: 50px; background-color: #f3f3f3">
          <% if course.photo.present? %>
            <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
          <% else %>
            <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
          <% end %>

          <div class="class-description" style="float: left; width: 170px">
            <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
              <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
            </div>
            <div class="heading16">
              <%= link_to course.title, course %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>


  </div>

<% end %>


