<style type="text/css">
  .section-header{
    font-size: 40px;
  }
</style>

<% if current_account == Account.where(:id => 4).first %>
  <%= render :partial => 'courses/womendesignbuild/index' %>
<% elsif current_account == Account.where(:id => 2).first %>
  <div class="page">
    <div class="page-content">
      <%= render :partial => 'courses/course_grid', :locals => {:courses => @courses} %>
      <div class="page-section-float-right">
        <table class="view-more">
          <tr>
            <td>
              <%= will_paginate @courses, :previous_label => "Prev" %>
            </td>
          </tr>
        </table>
      </div>
      <% content_for :sidebar do %>
        <%= link_to "Admin Panel", admin_courses_path, :class => "section-heading", :style => "margin-left: -40px" %>
      <% end %>
    </div>
  </div>
<% else community_site? %>

  <div style="background-image: none; background-repeat: repeat; height: 520px;">

  <div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
    <center>
    <p class="lead section-header">
      Never Stop Learning
    </p>
    </center>
  </div>

  <div class="container_16" style="width: 700px; margin-bottom: 20px">
    <iframe src="http://player.vimeo.com/video/24695810?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="394" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

  </div>

  <div style="background-color: white; background-repeat: repeat; height: 790px;">
    <div class="container_16" style="padding-top: 40px; width: 530px">
      <center>
        <p class="lead section-header">
          What is HourSchool?
        </p>
        <p style="font-size: 15px; line-height: 1.5em; text-align: center">HourSchool is a social school built from your community. We offer peer-led, bite-sized classes, taught by people in your community.</p>
      </center>
    </div>

    <div class="container_16" style="padding-top: 30px;">
      <% @upcoming_courses.limit(8).each do |course| %>
        <% target = course.account_id ? '_blank' : '' %>
        <div class="span3 classBlock" style="background-color: #f3f3f3; width: 190px; margin-left: 40px">
          <% if course.photo.present? %>
            <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course, :target => target %>
          <% else %>
            <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course, :target => target  %>
          <% end %>
          <div class="class-description" style="float: left; width: 170px">
            <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
              <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
            </div>
            <div class="heading16">
              <%= link_to course.title, course, :target => target %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="container_16" style="padding-top: 30px;">
      <center>
        <p style="margin-bottom: 50px">
          <%= link_to "See more classes", courses_browse_index_path, :style => "text-decoration: underline" %>
        </p>
      </center>
    </div>

  </div>



<% end %>


