<div class="page-main" style="border: 0px; width: 770px; margin-left: 70px">
  <div class="heading28">Upcoming workshops:</div><br>

<% @upcoming_courses = Course.where(:account_id => 2).where("starts_at > ?", Time.zone.now) %>

<% if @upcoming_courses.present? %>
  <% @upcoming_courses.each do |course| %>

      <div class="classBlock">
        <% if course.photo.present? %>
          <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
        <% else %>
          <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
        <% end %>
        <br>
        <div class="class-description" style="float: left; width: 170px">
          <div class="heading13 brown">
            <%= link_to course.title.truncate(50), course %>
          </div>
          <p><%= course.description.truncate(70) %>
        </div>
        <div class="class-note">
          <div class="heading9-class">
            <% if course.teacher == User.find(1898) %>
              Need a host
            <% else %>
              Host:
              <%= course.teacher.name %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
<% else %>
  No upcoming workshops yet.
<% end %>
</div>



<div class="page-main" style="border: 0px; width: 770px; margin-left: 70px">
  <div class="heading28">Past workshops:</div><br>

<% @past_courses = Course.where(:account_id => 2).where("starts_at < ?", Time.zone.now) %>
<% @past_courses.each do |course| %>

    <div class="classBlock">
      <% if course.photo.present? %>
        <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
      <% else %>
        <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
      <% end %>
      <br>
      <div class="class-description" style="float: left; width: 170px">
        <div class="heading13 brown">
          <%= link_to course.title.truncate(50), course %>
        </div>
        <p><%= course.description.truncate(70) %>
      </div>
      <div class="class-note">
        <div class="heading9-class">
          <% if course.teacher == User.find(1898) %>
            Need a host
          <% else %>
            Host:
            <%= course.teacher.name %>
          <% end %>
        </div>
      </div>
    </div>

<% end %>

</div>