<div class="container_16" style="background-color: #f0f0f0; width: 960px">
  <% if @account.photo.present? %>
    <%= image_tag(@account.photo(:banner) )%>
  <% else %>
    <div style="background-color: #333; width: 960px; height: 250px;">
      <div class="heading11" style="text-align: center; padding-top: 60px">
        <a data-toggle="modal" href="#addBasicInfo" style="color: white">Upload a cover photo</a>
      </div>
    </div>
  <% end %>
</div>

<div class="container_16" style="width: 960px">
  <div class="heading14" style="text-align: center; margin-bottom: 20px; text-align: center; width: 920px; padding: 10px; color: black">
    Upcoming classes
  </div>

  <% if @upcoming_courses.present? %>
    <div class="row-fluid" style="padding-left: 10px">
      <% @upcoming_courses.limit(12).each do |course| %>
        <div class="span3 classBlock" style="background-color: white; width: 190px; height: 250px; margin-left: 35px">
          <% if course.photo.present? %>
            <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
          <% else %>
            <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
          <% end %>
          <%= image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow' %>
          <div class="class-description" style="float: left; width: 170px">
            <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
              <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
            </div>
            <div class="heading16">
              <%= link_to course.title, course %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <center><p>No upcoming class at the moment.</p></center>
    <% if current_user && current_account && Membership.find_by_account_id_and_user_id_and_admin(current_account.id, current_user.id, true) %>
      <div class="row-fluid" style="margin-left: 0; margin-bottom: 30px">
        <div class="span3" style="background-color: #ccc; height: 250px">
          <%= link_to "Add a class", new_course_path, :class => "btn", :style => "margin-top: 105px; margin-left: 65px" %>
        </div>
        <div class="span3" style="background-color: #ccc; height: 250px">
          <%= link_to "Add a class", new_course_path, :class => "btn", :style => "margin-top: 105px; margin-left: 65px"  %>
        </div>
        <div class="span3" style="background-color: #ccc; height: 250px">
          <%= link_to "Add a class", new_course_path, :class => "btn", :style => "margin-top: 105px; margin-left: 65px"  %>
        </div>
        <div class="span3" style="background-color: #ccc; height: 250px">
          <%= link_to "Add a class", new_course_path, :class => "btn", :style => "margin-top: 105px; margin-left: 65px"  %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="container_16" style="padding-top: 30px;">
    <center>
      <p style="margin-bottom: 50px">
        <%= link_to "See more classes", courses_browse_index_path, :style => "text-decoration: underline; font-size: 24px" %>
      </p>
    </center>
  </div>

</div>

<div class="container_16" style="width: 960px">
  <% if @past_courses.present? %>
    <div class="heading14" style="text-align: center; margin-bottom: 20px; text-align: center; width: 920px; padding: 10px; color: black">
      Past classes
    </div>
    <% @past_courses.limit(4).each do |course| %>
      <div class="span3 classBlock" style="background-color: white; width: 190px; height: 250px; margin-left: 35px">
        <% if course.photo.present? %>
          <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
        <% else %>
          <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
        <% end %>
        <%= image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow' %>
        <div class="class-description" style="float: left; width: 170px">
          <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
            <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
          </div>
          <div class="heading16">
            <%= link_to course.title, course %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>




