<h2>Recurring Class</h2>
Name: <%= @series.last_course.name %>

<%= form_for(@series, :url => courses_series_path(@series), :method => :put) do |f| %>
  <%= render :partial => "courses/series/time_series_form" %>
  <div class="actions">
    <%= f.submit 'Schedule Recurring Classes' %>
  </div>
<% end %>

<p>
  Next course is scheduled for <%= @series.schedule.occurrences(1.month.from_now).first.strftime('%A, %B %e') %>
</p>


Recurring courses are based on the last scheduled class, to change the name, description or any other details:
<%= link_to "edit last course's information", edit_course_path(@series.last_course) %>
