%div
  .heading15#marcomm Month over month
  - @users_by_month.each do |month, count|
    = "#{Date::MONTHNAMES[month.last.to_i]}:"
    = "#{ @users_by_month[month] || 0 } U & #{@courses_by_month[month] ||0} C & #{number_to_currency @transaction_by_month[month] || 0, :precision => 0 }"
    %br
  
%br    
.heading15#marcomm Total To Date
%table
  %tr
    %td= "Total Users:" 
    %td= "#{@total_users} (#{number_to_percentage(@total_fb_users/@total_users.to_f * 100, :precision => 0)} FB)"
  %tr
    %td= "Active Users:"
    %td= "#{@total_active_users} (#{number_to_percentage(@total_active_users/@total_users.to_f * 100, :precision => 0)})"
  %tr
    %td= "Active Students:"
    %td= "#{@total_active_students} (#{number_to_percentage(@total_active_students/@total_users.to_f * 100, :precision => 0)})"
  %tr
    %td= "Active Teachers:"
    %td= "#{@total_active_teachers} (#{number_to_percentage(@total_active_teachers/@total_users.to_f * 100, :precision => 0)})"
  %tr
    %td= "Repeat Users:"
    %td= "#{@total_repeat_users} (#{number_to_percentage(@total_repeat_users/@total_active_users.to_f * 100, :precision => 0)})"
  %tr
    %td= "Repeat Students:"
    %td= "#{@total_repeat_students} (#{number_to_percentage(@total_repeat_students/@total_active_students.to_f * 100, :precision => 0)})"
  %tr.metrics_underline
    %td= "Repeat Teachers:"
    %td= "#{@total_repeat_teachers} (#{number_to_percentage(@total_repeat_teachers/@total_active_teachers.to_f * 100, :precision => 0)})"
  %tr
    %td= "Total Courses:" 
    %td= "#{@total_courses}"
  %tr
    %td= "Paying Courses:" 
    %td= "#{@paying_courses} (#{number_to_percentage(@paying_courses/@total_courses.to_f * 100, :precision => 0)})"    
  %tr
    %td= "Free Courses:" 
    %td= "#{@free_courses} (#{number_to_percentage(@free_courses/@total_courses.to_f * 100, :precision => 0)})"
  %tr.metrics_underline
    %td= "Happened Courses:" 
    %td= "#{@happened_courses} (#{number_to_percentage(@happened_courses/@total_courses.to_f * 100, :precision => 0)})"
  %tr
    %td= "Total Transactions:" 
    %td= "#{ number_to_currency @total_transaction}"
  %tr
    %td= "Revenue:" 
    %td= "#{ number_to_currency @total_transaction - @amazon_fees - @teachers_share}"
    

