.page
  .page-content
    %div
      %h3 Month over month
      - @users_by_month.each do |month, count|
        %p
          = "#{Date::MONTHNAMES[month.to_i]}: #{count} new users & #{@courses_by_month[month]||0} new courses & #{@students_by_month[month] ||0} new students"


= content_for :sidebar do
  %div
    %p
      = "Total Courses: #{@total_courses}"

  %hr
  %div
    %p
      = "Total Users: #{@total_users}"
    %p
      = "Total Students: #{@total_students}"
    %p
      = "Total Teachers: #{@total_teachers}"

