.page
  .page-content

    -if current_user && admin_of_current_account?
      = render :partial => 'layouts/application/admin_bar'

      - if @courses_yesterday.present?
        .notification-center
          %br
          .class-section-heading Teachers we need to pay
          %table
            - @courses_yesterday.each do |course|  
              - next if course.price == 0
              %tr
                %td= course.id
                %td= course.title
                %td= course.teacher.email
                %td= "$ #{course.price * course.students.size}"

      %div
        .heading15#marcomm Goals for April 2012
        %br
        .bigNum 75 Classes
        = "#{@courses_this_month} to date"
  
      / %br
      / %div
      /   .heading15#marcomm Last 7 days
      /   - @users.first(7).each do |date, count|
      /     = "#{date}: #{count} new users & #{@courses[date]||0} new courses & #{@students[date] ||0} new students"
      /     %br

      %br
      %div
        .heading15#marcomm Next 7 days
        %table.metrics
          %tr
            %th= "Title"
            %th= "Date"
            %th= "Min #"
            %th= "Current #"
          - @courses_next7days.each do |course|
            %tr
              %td.metrics-course-title= link_to course.title, course
              %td.metrics= course.date
              %td.metrics-seats= course.min_seats
              %td.metrics-seats= course.students.size

        / %hr
        / %div
        /   %h2 Teachers' emails
        /   - @teachers.each do |teacher|
        /     %p
        /       = "#{teacher.name} - #{teacher.email}"


    - content_for :sidebar do
      = render :partial => 'admin/charts/sidebar'
