.page
  .page-content
    %div
      .heading15-marcomm Last 7 days
      - @users.first(7).each do |date, count|
        = "#{date}: #{count} new users & #{@courses[date]||0} new courses & #{@students[date] ||0} new students"
        %br
    
    %br
    %div
      .heading15-marcomm Month over month
      - @users_by_month.each do |month, count|
        = "#{Date::MONTHNAMES[month.to_i]}: #{@teachers_by_month[month] ||0} teachers & #{number_to_currency @transaction_by_month [month] || 0 }"
        %br

    / %hr
    / %div
    /   %h2 Teachers' emails
    /   - @teachers.each do |teacher|
    /     %p
    /       = "#{teacher.name} - #{teacher.email}"


= content_for :sidebar do
  %div
    .heading15-marcomm Total To Date
    %p
      = "Total Courses: #{@total_courses}"
    %p
      = "Paying Courses: #{@paying_courses}"
    %p
      = "Free Courses: #{@free_courses}"

  %hr
  %div
    %p
      = "Total Users: #{@total_users}"
    %p
      = "Facebook %: #{number_to_percentage(@total_fb_users/@total_users.to_f * 100)}"
    %p
      = "Total Students: #{@total_students}"
    %p
      = "Total Teachers: #{@total_teachers}"


  %hr
  %div
    %p
      = "Transaction To Date: #{ number_to_currency @total_transaction}"
    %p
      = "# of trans. thru Amazon: #{@total_transaction_count}"
    %p
      = "Revenue minus Amazon: #{ number_to_currency @total_transaction - @amazon_fees - @teachers_share}"

