.page-section-float-left.clearfix
	.welcome-header Admin Panel
	= image_tag "v2/greyheader_half.png", :class => "greyheader_half"

	%ul.sub-nav.clearfix
		- if current_account
			%li{:class => "sub-nav-#{'in' unless controller_name == 'accounts' && action_name == 'edit'}active"}
				= link_to 'Account', edit_account_path(:admin)
			/ %li.sub-nav-inactive
			/ 	= link_to 'Payment'
		%li{:class => "sub-nav-#{'in' unless controller_name == 'users'}active"}
			= link_to 'Users', users_path
		%li{:class => "sub-nav-#{'in' unless controller_name == 'courses'}active"}
			= link_to 'Courses', courses_path
		%li{:class => "sub-nav-#{'in' unless controller_name == 'suggestions'}active"}
			= link_to 'Suggestions', suggestions_path