<style type="text/css">

  a:hover.dropdown-toggle.main-nav{
    background-color: transparent;
    color: black;
    border-top: 3px solid black;
    border-radius: 0px;
  }

  a:hover.dropdown-toggle.main-nav.exception{
    background-color: transparent;
    color: black;
    border-top: 3px solid white;
    border-radius: 0px;
  }

  #homepage a.main-nav:hover{
    color: black;
    border-top: 3px solid black;
  }


  #homepage a.main-nav:hover.exception{
    color: black;
    border-top: 3px solid white;
  }

  a.nav-heading{
    color: white;
  }

  .nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover {
    background-color: white;
    color: black;
  }

  .nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover #homepage{
      background-color: transparent;
      color: black;
    }

  li.dropdown-menu-wrapper{
    background-color: black;
    padding: 10px;
    opacity: 0.8;
    margin-bottom: 5px;
    height: 60px;
    width: 200px;
  }

  .dropdown-menu-item{
    padding: 0px 0px 21px 10px;
    position: relative;
    z-index: 1000;
    margin-top: -75px;
  }

  .dropdown-menu.main-nav{
    background-color: transparent;
  }

  p.nav-description{
    font-size: 11px;
    margin-bottom: 0px;
    color: white;
    text-transform: none;
    font-weight: 400;
  }

</style>

<% if community_site? %>

  <div id="header">
    <div class="container_16">
      <%= link_to "", root_path, :id => "logo" %>

      <ul class="nav nav-pills main-nav">
        <li class="dropdown" id="menu5">
          <%= link_to "Learn", courses_browse_index_path, :class => "main-nav dropdown-toggle" %>
        </li>
        <li class="dropdown" id="menu5">
          <%= link_to "Teach", teach_path, :class => "main-nav dropdown-toggle" %>
        </li>
        <li class="dropdown" id="menu5">
          <%= link_to "HourSchool Pro", pro_path, :class => "main-nav dropdown-toggle" %>
        </li>
        <li class="dropdown" id="menu5">
          <%= link_to "Resources", resources_path, :class => "main-nav dropdown-toggle" %>
        </li>
        <li class="dropdown" id="menu5">
          <%= link_to "About", about_path, :class => "main-nav dropdown-toggle" %>
        </li>

        <% if current_user %>
          <li class="dropdown exception" id="menu1">
            <a class="dropdown-toggle main-nav exception" data-toggle="dropdown" href="#menu1">
              <% if current_user.photo.present? %>
                <%= image_tag(current_user.photo.url(:thumb_25), :style => "margin: -5px 5px 0px 0px; float: left") %>
              <% else %>
                <%= image_tag 'v2/Avatars_01_V1.png', :size => "25x25", :style => "margin: -5px 5px 0px 0px; float: left" %>
              <% end %>
              <%= image_tag "v2/arrow_grey_profile.png", :style => "margin: 3px 0px 0px 3px" %>
            </a>
            <ul class="dropdown-menu pull-right" style="background-color: transparent; border: 0px; border-radius: 0px; box-shadow: 0 0px; width: 200px">
              <li class="dropdown-menu-wrapper"></li>
              <div class="dropdown-menu-item">
                <%= link_to "My Profile", '/dashboards/me', :class => "nav-heading", :style => "padding: 0px; font-weight: 700" %>
                <p class="nav-description">Keep track of what your steps and milestones.</p>
              </div>
              <li class="dropdown-menu-wrapper"></li>
              <div class="dropdown-menu-item">
                <%= link_to "Settings", edit_user_registration_path, :class => "nav-heading", :style => "padding: 0px; font-weight: 700" %>
                <p class="nav-description">Update profile? Less emails? Not a problem!</p>
              </div>
              <li class="dropdown-menu-wrapper"></li>
              <div class="dropdown-menu-item">
                <%= link_to "Sign out", destroy_user_session_path, :class => "nav-heading", :style => "padding: 0px; font-weight: 700" %>
                <p class="nav-description">Come back and visit soon!</p>
              </div>
            </ul>
          </li>
        <% else %>
          <li class="dropdown" id="menu5">
            <%= link_to "Login", new_user_session_path, :class => "main-nav dropdown-toggle" %>
          </li>
          <li class="dropdown" id="menu6">
            <%= link_to "Sign up", new_user_registration_path, :class => "main-nav dropdown-toggle", :style => "background-color: #ccc" %>
          </li>
        <% end %>
      </ul>

    </div><!-- /end .container_16 -->
  </div><!-- /end #header -->

<% else %>

  <div id="header" style="height: 91px">
    <div class="container_16">

      <% if current_account.logo.present? %>
        <%= link_to image_tag(current_account.logo.url(:small)), root_path %>
        <ul class="nav nav-pills main-nav">
      <% else %>
        <div style="margin-top: 15px; margin-bottom: 25px">
          <p><%= link_to current_account.name, root_path, :class => "heading28", :style => "color: black" %></p>
          <p><%= current_account.description %></p>
        </div>
      <% end %>

      <ul class="nav nav-pills main-nav" style="margin-top: -100px">
        <% if !current_user %>
          <li class="dropdown" id="menu5">
            <%= link_to "Login", new_user_session_path, :class => "main-nav dropdown-toggle", :style => "font-weight: 400" %>
          </li>
          <li class="dropdown" id="menu6">
            <%= link_to "Become a member", new_user_registration_path, :class => "main-nav dropdown-toggle", :style => "background-color: #ccc; font-weight: 400" %>
          </li>
        <% end %>
      </ul>

      <ul class="nav nav-pills main-nav" style="margin-top: -52px">
        <li class="dropdown">
          <%= link_to "Classes", "/classes", :class => "main-nav dropdown-toggle" %>
        </li>
        <li class="dropdown">
          <%= link_to "Members", "/members", :class => "main-nav dropdown-toggle" %>
        </li>
        <li class="dropdown">
          <%= link_to "Conversations", "/conversations", :class => "main-nav dropdown-toggle" %>
        </li>
        <li class="dropdown">
          <%= link_to "About", "/about", :class => "main-nav dropdown-toggle" %>
        </li>
        <% if current_user %>
          <li class="dropdown exception" id="menu1">
            <a class="dropdown-toggle main-nav exception" data-toggle="dropdown" href="#menu1">
              <% if current_user.photo.present? %>
                <%= image_tag(current_user.photo.url(:thumb_25), :style => "margin: -5px 5px 0px 0px; float: left") %>
              <% else %>
                <%= image_tag 'v2/Avatars_01_V1.png', :size => "25x25", :style => "margin: -5px 5px 0px 0px; float: left" %>
              <% end %>
              <%= image_tag "v2/arrow_grey_profile.png", :style => "margin: 3px 0px 0px 3px" %>
            </a>
            <ul class="dropdown-menu pull-right" style="background-color: transparent; border: 0px; border-radius: 0px; box-shadow: 0 0px; width: 200px;">
              <li class="dropdown-menu-wrapper"></li>
                <div class="dropdown-menu-item">
                  <%= link_to "My Profile", user_path(current_user), :class => "nav-heading", :style => "padding: 0px; font-weight: 700" %>
                  <p class="nav-description">All the classes you have attended and taught!</p>
                </div>
              <li class="dropdown-menu-wrapper"></li>
                <div class="dropdown-menu-item">
                  <%= link_to "Settings", edit_user_registration_path, :class => "nav-heading", :style => "padding: 0px; font-weight: 700" %>
                  <p class="nav-description">Update profile? Less emails? Not a problem!</p>
                </div>
              <li class="dropdown-menu-wrapper"></li>
                <div class="dropdown-menu-item">
                  <%= link_to "Sign out", destroy_user_session_path, :class => "nav-heading", :style => "padding: 0px; font-weight: 700" %>
                  <p class="nav-description">Come back and visit soon!</p>
                </div>
            </ul>
          </li>
        <% end %>
      </ul>

    </div><!-- /end .container_16 -->
  </div><!-- /end #header -->


<% end %>

<script type="text/javascript">
  $('.dropdown-toggle').dropdown()
</script>


