<div id="header">
  <div class="container_16">

    <%= link_to "", root_path, :id => "logo" %>          
      <ul class="nav nav-pills main-nav">    
        <% if current_user %>
          <li class="dropdown" id="menu1">
            <a class="dropdown-toggle main-nav" data-toggle="dropdown" href="#menu1">
              Me
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Journey", profile_path %></li>
              <li><%= link_to "My HourSchoolmates", profile_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path %></li>
            </ul>
          </li>
        <% end %>
        <li class="dropdown" id="menu2">
          <a class="dropdown-toggle main-nav" data-toggle="dropdown" href="#menu2">
            Explore
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Wall of Missions", wall_of_missions_path %></li>
            <li><%= link_to "Wall of Awesome", wall_of_awesome_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Partner Schools", partner_schools_path %></li>
            <li><a href="http://blog.hourschool.com">HourSchool Blog</a></li>
            <li><a href="#">HourSchool Lab</a></li>
          </ul>
        </li>
        <li class="dropdown" id="menu3">
          <a class="dropdown-toggle  main-nav" data-toggle="dropdown" href="#menu3">
            Tools
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Invite a friend", new_invite_path %></li>
            <li><%= link_to "Organize an event", teach_path %></li>
            <li><%= link_to "Build a Mission", build_mission_path %></li>
            <li><%= link_to "Build a School", build_school_path %></li>
          </ul>
        </li>
        <li class="dropdown" id="menu4">
          <a class="dropdown-toggle main-nav" data-toggle="dropdown" href="#menu4">
            Help
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "About HourSchool", about_path %></li>
            <li><a href="http://hourschool.com/pdf/TeachersHandbook-030812-rk.pdf">Mission Handbook</a></li>
            <li><a href="#">Guidelines</a></li>
            <li><a href="http://help.hourschool.com">FAQs</a></li>
          </ul>
        </li>
        <% if !current_user %>
          <li><%= link_to "Login", new_user_session_path, :class => "main-nav" %></li>
          <li><%= link_to "Sign up", new_user_registration_path, :class => "main-nav"%></li>
        <% end %>
      </ul> 

  </div><!-- /end .container_16 -->
</div><!-- /end #header -->


<script type="text/javascript">
  $('.dropdown-toggle').dropdown()
</script>


