<div id="header">
  <div class="container_16">
    <%= link_to "", root_path, :id => "logo" %>

          
          <ul class="nav">
            <li class="nav"><%= link_to "Explore", learn_path, :class => "nav" %></li>
            <li class="nav"><%= link_to "Blog", "http://blog.hourschool.com", :class => "nav" %></li>
            <li class="nav"><%= link_to "About", about_path, :class => "nav" %></li>
            <% if user_signed_in? %>
              <li class="nav"><%= link_to "My profile", profile_path, :class => "nav" %></li>
              <li class="nav"><%= link_to "Logout", destroy_user_session_path, :class => "nav" %></li>
            <% else %>
              <li class="nav"><%= link_to "Login", new_user_session_path, :class => "nav" %></li>
              <li class="nav"><%= link_to "Sign up", new_user_registration_path, :class => "nav" %></li>
            <% end %>
          </ul>

 
  </div><!-- /end .container_16 -->

</div><!-- /end #header -->


