<style type="text/css">
a {
  text-decoration: none;
  color: #4f4e4e;
  &:visited {
    color: #4f4e4e; }
  &:active, &:hover {
    color: #ff7733;
    text-decoration: none; } }
</style>

<div id="header">
  <div class="container_16">

    <%= link_to "", root_path, :id => "logo" %>          
      <ul class="main-nav">
        
        <li class="main-nav"><%= link_to "Explore", explore_path, :class => "main-nav" %></li>
        <li class="main-nav"><%= link_to "Blog", "http://blog.hourschool.com", :class => "main-nav" %></li>
        <li class="main-nav"><%= link_to "About", about_path, :class => "main-nav" %></li>
        
        <% if user_signed_in? %>
          <li class="main-nav"><%= link_to "My Profile", profile_path, :class => "main-nav" %></li>
          <li class="main-nav"><%= link_to "Sign out", destroy_user_session_path, :class => "main-nav" %></li>
        <% else %>
          <li class="main-nav"><%= link_to "Login", new_user_session_path, :class => "main-nav" %></li>
          <li class="main-nav"><%= link_to "Sign up", new_user_registration_path, :class => "main-nav" %></li>
        <% end %>
      </ul> 

  </div><!-- /end .container_16 -->
</div><!-- /end #header -->


