<div id="header">
  <div class="container_16">

    <% if community_site? %>
      <%= link_to "", root_path, :id => "logo" %>
    <% else %>
      <div id="enterprise_peer_learning">Peer learning at <%= current_account.name %></li>
    <% end %>


    <div id="login">
      <ul id="login">
          <% if user_signed_in? %>
            <% if current_user.zip.present? && community_site? %>
              <li id="login_peerlearning">Peer learning in <%= current_user.city %></li>
            <% end %>
           
            <li id="login">

              <span id="nav-dropdown">
                  <%= link_to current_user.name, profile_path, :id => "username"%>
                  <!-- <%= image_tag(current_user.photo.url(:small), :size => "25x25#", :class => "profile-avatar") %> -->
                  <%= image_tag 'v2/arrow_grey_profile.png', :class => 'profile-arrow' %>
              </span>

              <span id="nav-dropdown-selected" style="display:none;">
                  <%= link_to current_user.name, profile_path, :id => "username"%>
                  <!-- <%= image_tag(current_user.photo.url(:small), :size => "25x25#", :class => "profile-avatar") %> -->
                  <%= image_tag 'v2/arrow_grey_profile.png', :class => 'profile-arrow' %>
              </span>

          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => "menu", :id => "not_logged_in" %>
            <span id="not_logged_in">|</span>
            <%= link_to "sign in", new_user_session_path, :class => "menu", :id => "not_logged_in" %>
          <% end %>

          </li>

          <% if user_signed_in? %>
              <div id="dropdown-box" style="display:none;">
                <table id="dropdown-text">
                  <tr id="dropdown-text"><td id="dropdown-text"><%= link_to "My Classes", profile_path, :class => "dropdown-text" %></td></tr>
                  <tr id="dropdown-text"><td id="dropdown-text"><%= link_to "Settings", edit_user_registration_path, :class => "dropdown-text" %></td></tr>
                  <% if current_account && admin_of_current_account? %>
                    <tr id="dropdown-text">
                      <td id="dropdown-text">
                        <%= link_to "Admin", edit_account_path(:admin), :class => "dropdown-text" %>
                      </td>
                    </tr>
                  <% end %>
                  
                  <% if community_site? && current_user && current_user.admin? %>
                    <tr id="dropdown-text">
                      <td id="dropdown-text">
                        <%= link_to "Admin", admin_charts_path(:admin), :class => "dropdown-text" %>
                      </td>
                    </tr>
                  <% end %>
                  <tr id="dropdown-text-last"><td id="dropdown-text"> <%= link_to "Logout", destroy_user_session_path, :class => "dropdown-text" %></td></tr>
                </table>
              </div>
          <% end %>

      </ul>
    </div>

    <script type="text/javascript">
        $("#nav-dropdown").click(function() {
            $("#dropdown-box").show();
            $("#nav-dropdown").hide();
            $("#nav-dropdown-selected").show();
            return false;
         });
       $("#nav-dropdown-selected").click(function() {
             $("#dropdown-box").hide();
             $("#nav-dropdown").show();
             $("#nav-dropdown-selected").hide();
        });
    </script>

    <script type="text/javascript">
        $("#nav-dropdown").click(function() {
            $("#dropdown-box").show();
            $("#nav-dropdown").hide();
            $("#nav-dropdown-selected").show();
            return false;
         });
       $("#nav-dropdown-selected").click(function() {
             $("#dropdown-box").hide();
             $("#nav-dropdown").show();
             $("#nav-dropdown-selected").hide();
             return false;
        });
    </script>

      <% if community_site? %>

        <table id="menu">
          <tr id="menu">
            <td id="community_menu_learn">
                <%= link_to learn_path, :id => "menu-#{'in' unless controller_name == 'browse' || controller_name == 'search' || controller_name == 'courses' && action_name == 'show'}active" do %>
                  <div id="menu18">Learn</div> 
                  <div id="menu9">something new</div>
                <% end %>
              </td>
              <td id="community_menu_teach">
                <%= link_to teach_path, :id => "menu-#{'in' unless controller_name == 'home' || controller_name == 'courses' && action_name == 'new' || controller_name == 'courses' && action_name == 'edit'}active" do %>
                  <div id="menu9">Offer to</div>
                  <div id="menu18">teach</div>
                <% end %>
              </td>
            <td id="community_menu_suggest">
              <%= link_to suggest_path, :id => "menu-#{'in' unless controller_name == 'suggestions'}active" do %>
                <div id="menu18">Suggest</div>
                <div id="menu9">a class</div>
              <% end %>
            </td>
            <td id="community_menu_community">
              <%= link_to about_path, :id => "menu-#{'in' unless controller_name == 'pages'}active" do %>
                <div id="menu9">Read our</div>
                <div id="menu18">Mission</div>
              <% end %>
            </td>
            <td id="community_menu_faq">
              <a href="http://help.hourschool.com/" id="menu">
                <div id="menu_faq">F</div>
                <div id="menu_faq">A</div>
                <div id="menu_faq">Q</div>
            </td>
          </tr>
        </table>
        
      <% end %>


  </div><!-- /end .container_16 -->

</div><!-- /end #header -->