<div id="header">
  <div class="container_16">
  

<div id="enterprise_peer_learning">Peer learning at Greendoors</li>

<div id="login">
  
        <ul id="login">              

           <% if user_signed_in? %>
               <li id="login">
            
              <span id="nav-dropdown">
                  <%= link_to current_user.name, profile_path, :id => "username"%>
                  <!-- <%= image_tag(current_user.photo.url(:small), :size => "25x25#", :class => "profile-avatar") %> -->
                  <img src="/images/v2/arrow_grey_profile.png" class="profile-arrow">
              </span>

              <span id="nav-dropdown-selected" style="display:none;">
                  <%= link_to current_user.name, profile_path, :id => "username"%>
                  <!-- <%= image_tag(current_user.photo.url(:small), :size => "25x25#", :class => "profile-avatar") %> -->
                  <img src="/images/v2/arrow_grey_profile.png" class="profile-arrow">
              </span>
                    
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => "menu", :id => "signup" %>
          <%= link_to "sign in", new_user_session_path, :class => "menu"%>
          <% end %>
          
        </li>
  
      <% if user_signed_in? %>
          <div id="dropdown-box" style="display:none;">
            <table id="dropdown-text">
              <tr id="dropdown-text"><td id="dropdown-text"><%= link_to "Profile", profile_path %></td></tr>
              <tr id="dropdown-text"><td id="dropdown-text"><%= link_to "Settings", edit_user_registration_path %></td></tr>
              <tr id="dropdown-text-last"><td id="dropdown-text"> <%= link_to "Logout", destroy_user_session_path %></td></tr>
            </table>
          </div>
      <% end %>
        </ul>
    </div>

    <script type="text/javascript">
        $("#nav-dropdown").click(function() {
            $("#dropdown-box").show();
            $("#nav-dropdown").hide();
            $("#nav-dropdown-selected").show();
            return false;
         });
       $("#nav-dropdown-selected").click(function() {
             $("#dropdown-box").hide();
             $("#nav-dropdown").show();
             $("#nav-dropdown-selected").hide();
        });
    </script> 
    
  
    
   
    <script type="text/javascript">
        $("#nav-dropdown").click(function() {
            $("#dropdown-box").show();
            $("#nav-dropdown").hide();
            $("#nav-dropdown-selected").show();
            return false;
         });
       $("#nav-dropdown-selected").click(function() {
             $("#dropdown-box").hide();
             $("#nav-dropdown").show();
             $("#nav-dropdown-selected").hide();
             return false;
        });
    </script>
    
    <table id="enterprise_menu">
      <tr id="menu">
        <td id="enterprise_menu_dashboard">
          <a href="/learn" id="menu">
            <div id="menu9">My</div>
            <div id="menu18">Dashboard</div>
          </a>
        </td>
        <td id="enterprise_menu_learn">
          <a href="/learn" id="menu">
            <div id="menu18">Learn</div> 
            <div id="menu9">something new</div>
          </a>
        </td>
        <td id="enterprise_menu_teach">
          <a href="/teach" id="menu">
            <div id="menu9">Offer to</div>
            <div id="menu18">teach</div>
          </a>
        </td>
        <td id="enterprise_menu_suggest">
          <a href="/suggest" id="menu">
            <div id="menu18">Suggest</div>
            <div id="menu9">a class</div>
          </a>
        </td>
        <td id="enterprise_menu_community">
          <a href="/community" id="menu">
            <div id="menu9">Help build your</div>
            <div id="menu18">Community</div>
          </a>
        </td>
        <td id="menu_faq">
          <a href="/faq" id="menu">
            <div id="menu_faq">F</div>
            <div id="menu_faq">A</div>
            <div id="menu_faq">Q</div>
          </a>
        </td>
      </tr>
    </table>


  </div><!-- /end .container_16 -->

</div><!-- /end #header -->
