<div class="full-page">
  <div class="page-content">
    <% if current_user && admin_of_current_account? %> 
      <%= render :partial => 'layouts/application/admin_bar' %>
        
      <div class="heading15 marcomm">Total classes pending live: 

      <% if community_site? %>
        <%= Course.where(:status => "approved").count %>
      <% else %>
        <%= current_account.courses.where(:status => "approved").count %>
      <% end %>

      </div>

      <% @courses.each do |course| %> 
        <div class="classBlock">                   
          <div class="class-description">
            <div class="heading13-class"><%= link_to course.title, course %></div>
            <p><%= link_to course.teacher.name, user_path(course.teacher.id) %></p>
            <p>Approval on:<br>
            <%= course.updated_at.strftime("%b %d, %Y") %></p>
            <p><%= image_tag "v2/arrow_orange_pointright.png", :class => "view-more-arrow" %> <%= link_to 'Finish profile', edit_course_path(course) %><br>
            <%= image_tag "v2/arrow_orange_pointright.png", :class => "view-more-arrow" %> <%= link_to 'Email teacher', "mailto: #{course.teacher.email}" %></p>
          </div>
        </div>
      <% end %>
      
      
    <% else %>
      Sorry, you don't have admin access to this page. <br>
      Have a question? Please email us at hello at hourschool dot com.
    <% end %>

  </div>
</div>
