<div class="full-page">
  <div class="page-content">
    <% if current_user && admin_of_current_account? %> 
      <%= render :partial => 'layouts/application/admin_bar' %>
      
      <div class="heading15 marcomm">Total proposals: 
        
        <% if community_site? %>
          <%= Course.where(:status => "nil").count %>
        <% else %>
          <%= current_account.courses.where(:status => "nil").count %>
        <% end %>
      
      </div>

      <% @courses.each do |course| %> 
      
      <div class="classBlock">
        <%= link_to image_tag("v2-courses/DefaultClassPics_Pending_Orange.png"), proposal_path(:id => course.id) %>              
        <div class="class-description">
          <div class="heading13-class"><%= link_to course.title, proposal_path(:id => course.id) %></div>
          <p><%= link_to course.teacher.name, user_path(course.teacher.id) %></p>
          <p>Submitted on:<br>
          <%= course.created_at.strftime("%b %d, %Y") %></p>
        </div>
      </div>
      <% end %>
      
      
    <% else %>
      Sorry, you don't have admin access to this page. <br>
      Have a question? Please email us at hello at hourschool dot com.
    <% end %>

  </div>
</div>
