<div class="page">
  <div class="page-content">

    <div class="page-section-float-left">

       <div class="form-question">Proposal's Topic:</div>
       <div class="form-question-tip"><%= @current_course.title %></div>
       
       <div class="form-question">Proposal's Description:</div>
       <div class="form-question-tip"><%= @current_course.description %></div>
     
       <div class="form-question">Teacher/host's name:</div>
       <div class="form-question-tip"><%= @current_course.teacher.name %></div> 
        
       <div class="form-question">Teacher/host's city:</div>
       <div class="form-question-tip"><%= @current_course.teacher.city %></div> 
       
       <div class="form-question">About the teacher/host</div>
       <div class="form-question-tip"><%= @current_course.experience %></div>
       
       <div class="form-question">Capacity</div>
       <div class="form-question-tip">A minimum of <%= @current_course.min_seats %></div>
       <div class="form-question-tip">A maximum of <%= @current_course.max_seats %></div>

       <div class="form-question">Date & Time</div>
       <div class="form-question-tip"><%= @current_course.date %></div>
       <div class="form-question-tip"><%= @current_course.time_range %></div>
       
       <div class="form-question">Location</div>
       <div class="form-question-tip">Pubic location? <%= @current_course.public %></div>
       <div class="form-question-tip"><%= @current_course.place_name %></div>
       <div class="form-question-tip"><%= @current_course.address %></div>
  
       <div class="form-question">Price</div>
       <div class="form-question-tip">$ <%= @current_course.price %></div>

      <%= button_to "Approve this course", approve_path(:id => @current_course.id), :class => "submit-proposal-button", :method => :put %>
      
    </div>

  </div>
</div>
