<div class="row">
  <%= render :partial => 'admin/sidebar' %>

  <div class="span9">
    <div class="white">
      <div class="page-content">
        <%= form_for @account do |f| %>
          <% if @account.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

              <ul>
              <% @account.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <p>
            <%= f.label :name, "Organization Name", :class => "form-question" %><br />
            <%= f.text_field :name, :class => "form-short-with-margin" %><br><br>
          </p>

          <p>
            Your custom url is <%= @account.subdomain %>.hourschool.com<br />
            contact <%= mail_to 'hello@hourschool.com' %> if you'd like to change it.
          </p>

          <p>
            <%= f.label :description, "Description", :class => "form-question" %><br />
            <%= f.text_field :description, :class => "form-with-margin" %><br><br>
          </p>

          <p>
           <%= f.label :logo, 'Logo', :class => "form-question" %><br />
           <%= f.file_field :logo %>
          </p>

          <p>
           <%= f.label :photo, 'Banner Photo', :class => "form-question" %><br />
           <%= f.file_field :photo %>
          </p>

  <!--             <hr>
          <div class="control-group" style="margin-bottom:20px">
            <div class="controls">
              <label class="radio">
                <%= f.radio_button :private, false %>
                Promote my classes on the main hourschool.com site where anyone can view and attend.
              </label>
              <label class="radio">
                <%= f.radio_button :private, true %>
                Please keep my classes private, only the people I invite can view or attend classes.
              </label>
            </div>
          </div>

          <div class="control-group" style="margin-bottom:20px">
            <div class="controls">
              <label class="radio">
                <%= f.radio_button :charge, true %>
                Charge a member fee
              </label>
              <label class="radio">
                <%= f.radio_button :charge, false %>
                Membership is free
              </label>
            </div>
          </div>

          <div>
            <%= f.text_field :charge_amount, :class => "form-short-with-margin", :placeholder => "Membership per month" %>
          </div><br><br>

          <div class="control-group" style="margin-bottom:20px">
            <div class="controls">
              <label class="radio">
                <%= f.radio_button :charge, true %>
                Only members can register for event
              </label>
              <label class="radio">
                <%= f.radio_button :charge, false %>
                Everyone can register for event
              </label>
            </div>
          </div>

          <%= f.text_field :discount, :class => "form-short-with-margin", :placeholder => "Discount for member" %> -->

          <br><br><br>

          <div class="actions">
            <%= f.submit 'Save', :class => "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
