<div class="mission-divider"> 
  <% if compact_feed_item.is_a?(Crewmanship) %>
    <% if compact_feed_item.mission.present? %>
      <%= image_tag 'v3/profile/journey-glyph-mission.png', :class => "left" %>
      <hr style="width: 22px; float: left">
      <% if compact_feed_item.role == "creator" %>
        <div style="float: left; margin: 10px 5px 0px 5px">I created the mission </div>
      <% elsif compact_feed_item.role == "explorer" %>
        <div style="float: left; margin: 10px 5px 0px 5px">I joined the mission </div>
      <% end %>
      <div style="font-weight: 700; margin-top: 10px"><%= link_to "#{compact_feed_item.mission.verb} #{compact_feed_item.mission.title}", compact_feed_item.mission if compact_feed_item.mission.present? %></div><br />
      <div style="font-size: 10px; margin-left: 57px; margin-top: -15px; margin-bottom: 15px"><%= "#{time_ago_in_words compact_feed_item.created_at} ago" %></div>
      <div style="margin-left: 57px">
      <%= image_tag(compact_feed_item.mission.photo.url(:preview)) if compact_feed_item.mission.present? && compact_feed_item.mission.photo.present?%></div>
    <% end %>

  <% elsif compact_feed_item.is_a?(Comment) %>
    <%= image_tag 'v3/profile/journey-glyph-comment.png', :class => "left"  %>
    <hr style="width: 22px; float: left">
    <div style="width: 100%">
      <div style="float: left; margin: 0px 5px 0px 5px">I commented on the mission </div>
      <div style="font-weight: 700; margin-top: 10px"><%= link_to compact_feed_item.mission.title, compact_feed_item.mission if compact_feed_item.mission.present? %></div>
    </div><br />
    <div style="margin-left: 57px; color: #6a4a3b">"<%= compact_feed_item.body %>" </div><br />
    <div style="font-size: 10px; margin-left: 57px"><%= "#{time_ago_in_words compact_feed_item.created_at} ago" %></div>

  <% elsif compact_feed_item.is_a?(Course) %>
    <%= image_tag 'v3/profile/journey-glyph-event.png', :class => "left"  %>
    <hr style="width: 22px; float: left">
    <div style="width: 100%">
      <% if current_user == compact_feed_item.teacher %>
        <div style="margin: 10px 5px 0px 5px">I organized an event: <%= link_to compact_feed_item.title, compact_feed_item %></div>
      <% elsif compact_feed_item.starts_at > Date.today %>
        <div style="margin: 10px 5px 0px 5px">I registered for an event: <%= link_to compact_feed_item.title, compact_feed_item %></div>
      <% elsif compact_feed_item.starts_at < Date.today %>
        <div style="margin: 10px 5px 0px 5px">I attended an event: <%= link_to compact_feed_item.title, compact_feed_item %></div>
      <% end %>
      <div style="font-size: 10px; margin-left: 57px">
        <%= "#{time_ago_in_words compact_feed_item.created_at} ago" %>
      </div>
      <div style="font-size: 11px; margin-left: 57px; margin-top: 10px">
        <%= compact_feed_item.students.count %> people 
        <% if compact_feed_item.mission.present? %>
        from the <%= link_to compact_feed_item.full_mission_title(mission), compact_feed_item.mission %> 
        <% end %>
        <% if compact_feed_item.starts_at > Date.today %>
          registered
        <% else compact_feed_item.starts_at < Date.today %>
          attended
        <% end %>
      </div>
      <div style="font-size: 11px; margin-left: 57px; margin-top: 10px">
        <% compact_feed_item.students.select {|student| student != current_user}.each do |student| %>          
          <% if student.photo.present? %>
            <%= link_to (image_tag student.photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
          <% else %>
            <%= link_to (image_tag 'v2/Avatars_01_V1.png', :size => "50x50", :style => "margin: 0px 5px 5px 0px"), student %>
          <% end %>
        <% end %>
      </div>
    </div><br />
    
  
  <% elsif compact_feed_item.is_a?(Topic) %>
    <%= image_tag 'v3/profile/journey-glyph-topic.png', :class => "left"  %>
    <hr style="width: 22px; float: left">
    <div style="width: 100%">
      <div style="float: left; margin: 0px 5px 0px 5px">I added a topic to the mission</div>
      <div style="font-weight: 700; margin-top: 10px"><%= link_to compact_feed_item.mission.title, compact_feed_item.mission if compact_feed_item.mission.present? %></div>
    </div><br />
    <div style="margin-left: 57px; color: #6a4a3b"><%= compact_feed_item.title %></div> <br /> 
    <div style="font-size: 10px; margin-left: 57px"><%= "#{time_ago_in_words compact_feed_item.created_at} ago" %></div>
  
  <% else %>
    <%= compact_feed_item.class %> happened at 
    <%= compact_feed_item.created_at %><br />
  <% end %>
</div>