<div class="mission-divider">
  <% if feed_item.is_a? Course %>
    <%= render :partial => 'dashboards/all/course', :locals => {:course => feed_item} %>
  <% elsif feed_item.is_a? Topic %>
    <%= render :partial => 'dashboards/all/topic', :locals => {:topic => feed_item} %>
  <% elsif feed_item.is_a? Crewmanship %>
    <%= render :partial => 'dashboards/all/crewmanship', :locals => {:crewmanship => feed_item} %>
  <% elsif feed_item.is_a? Comment %>
    <%= render :partial => 'dashboards/all/comment', :locals => {:comment => feed_item} %>
  <% else %>
    <%= feed_item.class %> happened at 
    <%= feed_item.created_at %><br />
  <% end %>
</div>