<div class="heading32 green">
  Welcome back, <%= current_user.name.split(" ").first %>!
</div>

<div class="page-main white">
  <div style="padding: 18px">

  <div class="mission-divider"> 
    <div class="heading11">News Feed</div>
  </div>
  <% @feed.each do |feed_item| %>
    <div class="mission-divider"> 

      <% if feed_item.is_a? Course %>
        <%= render :partial => 'dashboards/all/course', :locals => {:course => feed_item} %>
      <% elsif feed_item.is_a? Topic %>
        <%= render :partial => 'dashboards/all/topic', :locals => {:topic => feed_item} %>
      <% elsif feed_item.is_a? Crewmanship %>
        <%= render :partial => 'dashboards/all/crewmanship', :locals => {:crewmanship => feed_item} %>
      <% elsif feed_item.is_a? Comment %>
        <%= render :partial => 'dashboards/all/comment', :locals => {:comment => feed_item} %>
      <% else %>
        <%= feed_item.class %> happened at 
        <%= feed_item.created_at %><br />
      <% end %>
    </div>
  <% end %>

  <%= render :partial => 'dashboards/paginate' %>
  
  </div>
</div>

<div class="white right page-sidebar">
  <div class="sidebar-content-white">
    <div class="sidebar-heading">People you should follow</div>
    <p style="float: left">
      <% @user.courses_attended.map {|course| course.students }.flatten.uniq.reject {|student| student == @user }.reject {|u| @user.followed_ids.include? u.id }.first(4).each do |student| %>
        <%= link_to_avatar student, :size => '50x50', :class => "" , :photo_size => :thumb_small, :style => "margin-bottom: 5px" %>    
      <% end %>
      <% @user.courses_taught.map {|course| course.students }.flatten.uniq.reject {|student| student == @user }.reject {|u| @user.followed_ids.include? u.id }.first(4).each do |student| %>
        <%= link_to_avatar student, :size => '50x50', :class => "" , :photo_size => :thumb_small, :style => "margin-bottom: 5px"  %>
      <% end %>
    </p>
  </div>
</div>

<div class="white right page-sidebar">
  <div class="sidebar-content-white">
    <div class="sidebar-heading">Wondering what else you can do next?</div>
      <%= render :partial => 'dashboards/all/notification_center' %>
  </div>
</div>

<div class="white right page-sidebar">
  <div class="sidebar-content-white">
    <div class="sidebar-heading">Latest from the HourSchool community</div>
      <div class="well">
      <% begin %>
      <% if defined?(TUMUSER) && !get_tumblr_first_regular_post.nil? %>
          <% tum = get_tumblr_first_regular_post %>
          <div class="footer-blog-title"><%= link_to  tum["regular_title"], tum["url"], :class => "sub-nav-inactive" %></div><br>

          <p class="footer-message-description"><%= strip_tags(truncate(tum["regular_body"], :length => 600, :omission => "..."))%></p><br>

      <%- else -%>
          <div class="footer-heading">Our mission</div>
          <div class="footer-blog-title">HourSchool started because...</div><br>
      <% end %>
    <% rescue => ex %>
      <% Rails.logger.error "Tumblr Failed: #{ex}" %>
      <div class="footer-heading">What is HourSchool?</div>
      <p class="footer-message-description">HourSchool is a social school built from your community. Our mission is to empower more people to become teachers, and to enjoy the emotional and financial rewards that teaching provides. <a href="http://www.hourschool.com/about">Learn more...</a></p><br>
    <% end %>
  </div>
  </div>
</div>