<style type="text/css">
  a{color:#6a4a3b ;}
</style>

<div class="heading28 brown" style="margin-bottom: 20px">
  Welcome back, <%= current_user.name.split(" ").first %>!
</div>
<%= render 'dashboards/all/news' %>

<div class="page-main white" style="min-height: 800px">
  <div style="padding: 18px">

  <div class="mission-divider"> 
    <div class="heading11">News Feed</div>
  </div>
  <% @feed.each do |feed_item| %>
    <div class="mission-divider">
      <% if feed_item.is_a? Course %>
        <%= render :partial => 'dashboards/all/course', :locals => {:course => feed_item} %>
      <% elsif feed_item.is_a? Topic %>
        <%= render :partial => 'dashboards/all/topic', :locals => {:topic => feed_item} %>
      <% elsif feed_item.is_a? Crewmanship %>
        <%= render :partial => 'dashboards/all/crewmanship', :locals => {:crewmanship => feed_item} %>
      <% elsif feed_item.is_a? Comment %>
        <%= render :partial => 'dashboards/all/comment', :locals => {:comment => feed_item} %>
      <% else %>
        <%= feed_item.class %> happened at 
        <%= feed_item.created_at %><br />
      <% end %>
    </div>
  <% end %>

  <%= render :partial => 'dashboards/paginate' %>
  
  </div>
</div>

<% if current_user.crewmanships.blank? %>
  <div class="white right page-sidebar">
    <div class="sidebar-content-white">
      <div class="heading11" style="margin-bottom: 20px">Get started here</div>
      <div class="mission-divider">
        <div class="heading16 adelle"><%= link_to "Wall of Missions", wall_of_missions_path, :style => "font-weight: 400" %></div>
        <p>Discover the new passion you never knew you had.</p>
      </div>
      <div class="mission-divider">
        <div class="heading16 adelle"><%= link_to "Wall of Awesome", wall_of_awesome_path,:style => "font-weight: 400" %></div>
        <p>Congratulate those who had a mission accomplished.</p>
      </div>
      <div class="mission-divider">      
        <div class="heading16 adelle"><%= link_to "Partner Schools", partner_schools_path, :style => "font-weight: 400" %></div>
        <p>We collaborate with great peopele doing great things.</p>      
      </div>
      <div class="mission-divider">      
        <div class="heading16 adelle"><%= link_to "HourSchool Philosophy", about_path, :style => "font-weight: 400" %></div>
        <p>We believe in giving people a place to give and to grow.</p>      
      </div>  
    </div>
  </div>
<% end %>

<% if current_user.courses_taught.where("starts_at > (?)", Date.today).present? %>
  <div class="white right page-sidebar">
    <div class="sidebar-content-white">
      <div class="heading11" style="margin-bottom: 20px">Events I am organizing:</div>
      <% current_user.courses_taught.where("starts_at > (?)", Date.today).each do |course| %>
        <div class="mission-divider">
          <div class="heading16 adelle"><%= link_to course.title, course, :style => "font-weight: 400"  %></div><br>
        </div>
      <% end %>
    <% end %>

    <% if current_user.courses_attended.where("starts_at > (?)", Date.today).present? %>
      <div class="heading11" style="margin-bottom: 20px">Events I am attending:</div>
      <% current_user.courses_attended.where("starts_at > (?)", Date.today).each do |course| %>
        <div class="mission-divider">
          <div class="heading16 adelle"><%= link_to course.title, course, :style => "font-weight: 400"  %></div><br>
        </div>
      <% end %>  
    </div>
  </div>
<% end %>

<% if current_user.missions.where(:status => "live").present? %>
  <div class="white right page-sidebar">
    <div class="sidebar-content-white">
      <div class="heading11" style="margin-bottom: 20px">My launched missions:</div>
      <% current_user.missions.where(:status => "live").each do |mission| %>
        <div class="mission-divider">
          <div class="heading16 adelle"><%= link_to full_mission_title(mission), mission, :style => "font-weight: 400"  %></div><br>
        </div>
      <% end %>
    <% end %>

    <% if current_user.missions.where(:status => "draft").present? %>
      <div class="heading11" style="margin-bottom: 20px">My draft missions:</div>
      <% current_user.missions.where(:status => "draft").each do |mission| %>
        <div class="mission-divider">
          <div class="heading16 adelle"><%= link_to full_mission_title(mission), mission, :style => "font-weight: 400"  %></div><br>
        </div>
      <% end %>  
    </div>
  </div>
<% end %>



