<style type="text/css">
  a{color:#6a4a3b ;}
</style>

<div class="heading28 brown" style="margin-bottom: 25px">
  Welcome back, <%= current_user.name.split(" ").first %>!
</div>
<%= render 'dashboards/all/news' %>

<div class="page-main white">
  <div style="padding: 18px">

  <div class="mission-divider"> 
    <div class="heading11">News Feed</div>
  </div>
  <% @feed.each do |feed_item| %>
    <div class="mission-divider">
      <% if feed_item.is_a? Course %>
        <%= render :partial => 'dashboards/all/course', :locals => {:course => feed_item} %>
      <% elsif feed_item.is_a? Topic %>
        <%= render :partial => 'dashboards/all/topic', :locals => {:topic => feed_item} %>
      <% elsif feed_item.is_a? Crewmanship %>
        <%= render :partial => 'dashboards/all/crewmanship', :locals => {:crewmanship => feed_item} %>
      <% elsif feed_item.is_a? Comment %>
        <%= render :partial => 'dashboards/all/comment', :locals => {:comment => feed_item} %>
      <% else %>
        <%= feed_item.class %> happened at 
        <%= feed_item.created_at %><br />
      <% end %>
    </div>
  <% end %>

  <%= render :partial => 'dashboards/paginate' %>
  
  </div>
</div>

<div class="white right page-sidebar">
  <div class="sidebar-content-white">
    <div class="heading11" style="margin-bottom: 20px">Get started here</div>
    <div class="mission-divider">
      <div class="heading16 adelle">Wall of Missions</div>
      <p>Discover the new passion you never knew you had.</p>
    </div>
    <div class="mission-divider">
      <div class="heading16 adelle">Wall of Awesome</div>
      <p>Congratulate those who had a mission accomlished.</p>
    </div>
    <div class="mission-divider">      
      <div class="heading16 adelle">Partner Schools</div>
      <p>We collaborate with great peopele doing great things.</p>      
    </div>
    <div class="mission-divider">      
      <div class="heading16 adelle">HourSchool Philosophy</div>
      <p>We believe in giving people a place to give and to grow.</p>      
    </div>  
  </div>
</div>