<div class="heading32 green">
  Welcome back, <%= current_user.name.split(" ").first %>!
</div>

<div class="page-main">
    <div style="padding: 18px">
  
    <div class="mission-divider"> 
      <div class="heading11">News Feed</div>
    </div>
  <% @feed.each do |feed_item| %>
    <div class="mission-divider"> 

      <% if feed_item.is_a? Course %>
        <%= render :partial => 'dashboards/course', :locals => {:course => feed_item} %>
      <% elsif feed_item.is_a? Topic %>
        <%= render :partial => 'dashboards/topic', :locals => {:topic => feed_item} %>
      <% elsif feed_item.is_a? Crewmanship %>
        <%= render :partial => 'dashboards/crewmanship', :locals => {:crewmanship => feed_item} %>
      <% elsif feed_item.is_a? Comment %>
        <%= render :partial => 'dashboards/comment', :locals => {:comment => feed_item} %>
      <% else %>
        <%= feed_item.class %> happened at 
        <%= feed_item.created_at %><br />
      <% end %>
    </div>
  <% end %>

  <%= render :partial => 'dashboards/paginate' %>
  
  </div>
</div>

<div class="page-right-sidebar" style="margin-bottom: 30px">
  <div class="sidebar-content-white">m
    <div class="sidebar-heading">My Missions</div>
    <% current_user.missions.each do |mission| %>
      <%= link_to mission.title, mission %><br>
      <%= image_tag(mission.photo, :size => "250x") %>
    <% end %>
  </div>
</div>

<div class="page-right-sidebar">
  <div class="sidebar-content-white">
    <div class="sidebar-heading">To-do's</div>

  </div>
</div>