<div class="page-main">
  <div class="page-content">
  <% @feed.each do |feed_item| %>
    <div class="mission-divider"> 
      <% if feed_item.is_a?(Course) %>
        <%= current_user.name %> joined <%= feed_item.title %> <br /> 
        <div style="font-size: 10px"><%= "#{time_ago_in_words feed_item.created_at} ago" %></div>
      <% elsif feed_item.is_a?(Topic) %>
        <%= current_user.name %> added <%= feed_item.title %> <br /> 
        <div style="font-size: 10px"><%= "#{time_ago_in_words feed_item.created_at} ago" %></div>
      <% else %>
        <%= feed_item.class %> happened at 
        <%= feed_item.created_at %><br />
      <% end %>
    </div>
  <% end %>

  <%= render :partial => 'dashboards/paginate' %>
  
  </div>
</div>