<style type="text/css">
  .mission-stats-16{
    position: relative; 
    z-index: 100; 
    margin-top: 8px; 
    margin-left: 55px; 
    font-weight: 700;
  }

  a{color: #6a4a3b;}
  a:visited{color: #6a4a3b;}
  a:hover{color: #6a4a3b;}
  a:active{color: #6a4a3b;}
</style>

<div class="page-sidebar left" style="width: 243px; margin-right: 27px; border: 0px">
  <%= avatar_for(@user, :photo_size => :thumb_large, :class => "clearfix") %>

  <div style="float: left; border-top: 3px solid #5382a4; border-bottom: 3px solid #5382a4; padding: 10px; padding-bottom: 30px; margin-top: 20px; width: 230px">
    <%= image_tag 'v3/pages/icon-quote.png', :style => "margin: 10px 90px 10px 110px;" %>
    <div class="heading11" style="text-align: center; color: #5382a4">“Develop an interest in life as you see it; the people, things, literature, music—-the world is so rich, simply throbbing with rich treasures, beautiful souls and interesting people. Forget yourself.”</div>
    <div class="heading9" style="font-weight: 700; text-transform: uppercase; text-align: center; color: #5382a4; margin-top: 20px; letter-spacing: 0.2em">Henry Miller</div>
  </div>

  <div class="heading11" style="float: left; margin-top: 30px">Bio</div><br>
  <p style="float: left">
    <% if @user.bio.blank? %>
      No bio yet.
      <%= link_to "Tell us more about you.", edit_user_registration_path(@user) if current_user == @user %>
    <% else %>
      <%= @user.bio %><br>
    <% end %>
  </p>
</div>

<div class="heading28 brown" style="float: left; margin-bottom: 20px">
  <%= current_user.name %>
</div>

<% if current_user == @user %>
  <a href="/users/edit" class="btn" style="float: right">Edit my profile</a>
<% else %>
  <a class="btn" style="float: right">Follow</a>
<% end %>

<div class="page-main" style="width: 690px">
  <%#= render :partial => "users/show/comments" %>

  <div class="tabbable"> 
    <ul class="nav nav-tabs" style="margin-bottom: 0px;">
      <li class="active"><a href="#tab1" data-toggle="tab" class="heading11">Journey</a></li>
      <li><a href="#tab2" data-toggle="tab" class="heading11">Missions</a></li>
      <li><a href="#tab3" data-toggle="tab" class="heading11">Followers (<%= @user.followers.count %>)</a></li>
      <li><a href="#tab4" data-toggle="tab" class="heading11">Followings (<%= @user.following.count %>)</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="page-main white tab-border main" style="width: 690px">
          <div class="page-content"> 
            <% @feed.each do |feed_item| %>
              <div class="mission-divider"> 
                <% if feed_item.is_a?(Crewmanship) %>
                  <%= image_tag 'v3/profile/journey-glyph-mission.png', :class => "left" %>
                  <hr style="width: 22px; float: left">
                  <% if feed_item.role == "creator" %>
                    <div style="float: left; margin: 10px 5px 20px 5px">I created the mission </div>
                  <% elsif feed_item.role == "explorer" %>
                    <div style="float: left; margin: 10px 5px 20px 5px">I joined the mission </div>
                  <% end %>
                  <div style="font-weight: 700; margin-top: 10px"><%= link_to "#{feed_item.mission.verb} #{feed_item.mission.title}", feed_item.mission if feed_item.mission.present? %></div><br />
                  <div style="margin-left: 57px"><%= image_tag(feed_item.mission.photo.url(:preview)) if feed_item.mission.photo.present? %></div>
                  <div style="font-size: 10px; margin-left: 57px"><%= "#{time_ago_in_words feed_item.created_at} ago" %></div>

                <% elsif feed_item.is_a?(Comment) %>
                  <%= image_tag 'v3/profile/journey-glyph-comment.png', :class => "left"  %>
                  <hr style="width: 22px; float: left">
                  <div style="width: 100%">
                    <div style="float: left; margin: 0px 5px 0px 5px">I commented on the mission </div>
                    <div style="font-weight: 700; margin-top: 10px"><%= link_to feed_item.mission.title, feed_item.mission if feed_item.mission.present? %></div>
                  </div><br />
                  <div style="margin-left: 57px; color: #6a4a3b">"<%= feed_item.body %>" </div><br />
                  <div style="font-size: 10px; margin-left: 57px"><%= "#{time_ago_in_words feed_item.created_at} ago" %></div>

                <% elsif feed_item.is_a?(Course) %>
                  <%= image_tag 'v3/profile/journey-glyph-event.png', :class => "left"  %>
                  <hr style="width: 22px; float: left">
                  <div style="width: 100%">
                    <div style="float: left; margin: 0px 5px 0px 5px">I registered for the event from the mission</div>
                    <div style="font-weight: 700; margin-top: 10px"><%= link_to feed_item.mission.title, feed_item.mission if feed_item.mission.present? %></div>
                  </div><br />
                  <div style="font-weight: 700; margin-left: 57px; color: #6a4a3b"><%= link_to feed_item.title, feed_item %></div> <br />
                  <div style="font-size: 10px; margin-left: 57px"><%= "#{time_ago_in_words feed_item.created_at} ago" %></div>
                
                <% elsif feed_item.is_a?(Topic) %>
                  <%= image_tag 'v3/profile/journey-glyph-topic.png', :class => "left"  %>
                  <hr style="width: 22px; float: left">
                  <div style="width: 100%">
                    <div style="float: left; margin: 0px 5px 0px 5px">I added a topic to the mission</div>
                    <div style="font-weight: 700; margin-top: 10px"><%= link_to feed_item.mission.title, feed_item.mission if feed_item.mission.present? %></div>
                  </div><br />
                  <div style="margin-left: 57px; color: #6a4a3b"><%= feed_item.title %></div> <br /> 
                  <div style="font-size: 10px; margin-left: 57px"><%= "#{time_ago_in_words feed_item.created_at} ago" %></div>
                
                <% else %>
                  <%= feed_item.class %> happened at 
                  <%= feed_item.created_at %><br />
                <% end %>
              </div>
            <% end %>
            <%= render :partial => 'dashboards/paginate' %>
          </div>
        </div>
      </div><!-- end tab1 -->  
      <div class="tab-pane" id="tab2">
        <div class="page-main white tab-border main" style="width: 690px">
          <div style="padding: 20px"> 
            <% if @user.missions.blank? %>
              <div class="well">
                You have not joined any missions yet. <%= link_to "Go explore some!", wall_of_missions_path %>
              </div>
            <% else %>
              <% @user.missions.each do |mission| %>
                <% @crewmanship = mission.crewmanships.where(:user_id => @user.id).first %>
                <div class="mission-divider">                                
                  <%= image_tag(mission.photo.url(:stats)) if mission.photo.present? %>

                  <div style="float: left; width: 648px; background-color: #ececed; height: 42px; border: 1px solid rgba(154, 149, 145, 0.5);">
                      <div class="heading16 adelle" style="padding: 12px 0px 12px 12px"><%= link_to "#{mission.verb} #{mission.title}", mission %></div>
                  </div>

                  <div style="float: left; width: 648px; background-color: white; border: 1px solid rgba(154, 149, 145, 0.5); height: 156px; border-top: 0px solid black">
                    <div style="padding: 20px">

                      <div style="float: left; margin-right: 20px">
                        <% if @crewmanship.role == 'explorer' %>
                          <%= image_tag 'v3/badge-explorer.png' %>
                        <% elsif @crewmanship.role == 'guide' %>
                          <%= image_tag 'v3/badge-guide.png' %>
                        <% elsif @crewmanship.role == 'creator' %>
                          <%= image_tag 'v3/badge-creator.png' %>
                        <% elsif @crewmanship.role == 'alumni' %>
                          <%= image_tag 'v3/badge-alumni.png' %>
                        <% end %>
                      </div>

                      <div style="float: left; width: 472px;">

                        <div style="float: left; margin: 0px 20px 20px 0px">
                          
                          <div class="heading16 futura mission-stats-16">
                            <%= @crewmanship.created_at.strftime("%m. %d. %y") %>
                          </div>
                          <div class="heading9 bold" style="margin-left: 55px; color: #ccc">joined on</div>
                          <%= image_tag 'v3/stats-joined-mission.png', :style => "margin-top: -44px" %>
                        </div>

                        <div style="float: left; margin: 0px 20px 20px 0px">
                          <div class="heading16 futura mission-stats-16">
                            <%= (Time.now - @crewmanship.created_at).to_int / 60 / 60 /24 %>
                          </div>
                          <div class="heading9 bold" style="margin-left: 55px; color: #ccc">days on mission</div>
                          <%= image_tag 'v3/stats-mission-days.png', :style => "margin-top: -44px" %>
                        </div>
                        
                        <div style="float: left;">
                          <div class="heading16 futura mission-stats-16">
                            <%= mission.comments.where(:user_id => @user).count %>
                          </div>  
                          <div class="heading9 bold" style="margin-left: 55px; color: #ccc">comments made</div>
                          <%= image_tag 'v3/stats-comments-made.png', :style => "margin-top: -44px" %>
                        </div>
                        
                        <div style="float: left; margin: 0px 20px 20px 0px">  
                          <div class="heading16 futura mission-stats-16">
                            <%= @crewmanship.user.courses_taught.where(:mission_id => mission).count %>
                          </div>
                          <div class="heading9 bold" style="margin-left: 55px; color: #ccc">events hosted</div>
                          <%= image_tag 'v3/stats-events-organized.png', :style => "margin-top: -44px" %>
                        </div>

                        <div style="float: left; margin: 0px 20px 20px 0px">                    
                          <div class="heading16 futura mission-stats-16">
                            <%= @crewmanship.user.courses_attended.where(:mission_id => mission).count %>
                          </div>
                          <div class="heading9 bold" style="margin-left: 53px; color: #ccc">events attended</div>
                          <%= image_tag 'v3/stats-events-attended.png', :style => "margin-top: -44px" %>
                        </div>
                        
                        <div style="float: left;">
                          <div class="heading16 futura mission-stats-16">
                            <%= mission.topics.count %>
                          </div>
                          <div class="heading9 bold" style="margin-left: 55px; color: #ccc">topics created</div>
                          <%= image_tag 'v3/stats-topics-created.png', :style => "margin-top: -44px" %> 
                        </div>
                      </div>

                    </div>
                  </div>
                               
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div><!-- end tab2 --> 
      <div class="tab-pane" id="tab3">
        <div class="page-main white tab-border main" style="width: 690px">
          <div class="page-content">
            <% @user.followers.each do |user| %>
              <div class="mission-divider">            
                <div class="crewman-photo">
                  <% if user.photo.present? %>
                    <%= image_tag(user.photo.url(:thumb_large)) %>
                  <% else %>
                    <%= image_tag 'v2/Avatars_01_V1.png', :size => '125x125' %>
                  <% end %>
                  <br><br>
                  <%= link_to "unfollow", user_following_path(:user_id => current_user, :id => user), :method => :delete %>
                </div>
                <div class="crewman-description">
                  <div style="font-weight: 700; float: left; margin-right: 10px"><%= user.name %></div>
                  <p><%= user.bio %></p>
                </div>          
              </div>
            <% end %>
          </div>
        </div>
      </div><!-- end tab3 -->
      <div class="tab-pane" id="tab4">
        <div class="page-main white tab-border main" style="width: 690px">
          <div class="page-content">
            <% @user.following.each do |user| %>
              <div class="mission-divider">            
                <div class="crewman-photo">
                  <% if user.photo.present? %>
                    <%= image_tag(user.photo.url(:thumb_large)) %>
                  <% else %>
                    <%= image_tag 'v2/Avatars_01_V1.png', :size => '125x125' %>
                  <% end %>
                </div>
                <div class="crewman-description">
                  <div style="font-weight: 700; float: left; margin-right: 10px"><%= user.name %></div>
                  <p><%= user.bio %></p>
                </div>          
              </div>
            <% end %>
          </div>
        </div>
      </div><!-- end tab4 --> 


    </div><!-- end tab-content -->
  </div><!-- end tabbable -->

</div>

