<div class="full-page">
  <% if @mission.photo.present? %>
    <div style="background-color: #333; width: 960px; height: 349px;">
      <%= image_tag(@mission.photo.url(:banner)) %>
    </div>
  <% else %>
    <div style="background-color: #333; width: 960px; height: 349px;">
      <div style="text-align: center; padding-top: 60px;">
        <a data-toggle="modal" href="#addBasicInfo" class="heading11" style="color: white">Upload a photo that represent your mission</a>
      </div>
    </div>
  <% end %> 

  <div class="mission-description-box">
    <div class="heading32 orange">
      <%= "#{@mission.verb} #{@mission.title}" %>
    </div>

    <div class="heading10">
      <%= "#{@mission.city.name}, #{@mission.city.state}" %>
    </div>

    <p>
      <%= @mission.description %>
    </p>
  </div>

  <div class="mission-status-box">
    <% @crewmanship = @mission.crewmanships.where(:user_id => current_user.id).first %>
    <div class="heading11" style="margin-bottom: 20px">
      Mission Crew Badge: <br>
      <%= @crewmanship.role %>
    </div>

    <% if @crewmanship.status.blank? %>
      <%= link_to 'Become a member', new_mission_crewmanship_path(:mission_id => @mission.id,  :id => @crewmanship), :class => "orange button short" %>
    <% else %>
      <%= link_to 'Manage my crewmanship', mission_crewmanship_path(:mission_id => @mission.id, :id => @crewmanship), :class => "btn" %>
    <% end %>
  </div>

</div><!-- end full page -->