%div.comment_form
- if current_user.blank?
  %div.comment
    = "Please first"
    = link_to "sign up", new_user_registration_path
    = "or"
    = link_to "log in", new_user_session_path
    = "to leave a comment"
    
- else
  %div.comment{:class => 'clearfix'}
    / %div.avatar
    /   = avatar_for(current_user, :photo_size => :thumb_small, :class => 'notBig', :size => '50x50')
    %div.content
      = form_for mission.comments.new do |f|
        %div
          = f.hidden_field :mission_id, :value => mission.id
          = f.text_area    :body,      :placeholder => "Have questions or feedback? Leave a comment!", :class => "form-tall"
        %div
          = f.submit 'Leave Comment'

%div.comments
  - mission.comments.where(:parent_id => nil).each do |comment|
    %div.comment{:class => 'clearfix'}
      %div.avatar
        = avatar_for(comment.user, :photo_size => :thumb_small, :class => 'notBig', :size => '50x50')
      %div.content
        %div.name
          = link_to comment.user.name, user_path(comment.user), :class => "profile-link"
        %div.location
          = comment.user.location
        %div.body
          = simple_format Rinku.auto_link(comment.body)
        %div.created_at
          .class-alternatives
            = "#{time_ago_in_words comment.created_at} ago"
            = link_to_function 'reply', "$('#comment_form-#{comment.id}').toggle()"

    - if comment.child_comments.present?        
      .child_comments{:class => 'clearfix', :style => 'margin-left:60px; background-color: #f4f4f4; padding-left: 10px; padding-top: 5px; padding-bottom: 10px; padding-right: 15px; margin-bottom: 10px'}
        - comment.child_comments.each do |child_comment|
          %div.child_comment
            %div.avatar
              = avatar_for(child_comment.user, :photo_size => :thumb_small, :class => 'notBig', :size => '50x50')
            %div.content{:style => 'margin-left: 60px; margin-top: -30px; margin-bottom: 10px'}
              %div.name{:style => "float: left; margin-right: 5px"}
                = link_to child_comment.user.name, user_path(child_comment.user), :class => "profile-link"
              %div.location{:style => "font-weight: 400; font-size: 9px; color: #999; margin-top: 2px"}
                = child_comment.user.location
              %div.body
                = simple_format Rinku.auto_link(child_comment.body)
              %div.created_at
                .class-alternatives
                  = "#{time_ago_in_words child_comment.created_at} ago"
        
        - if current_user.blank?
          %div.comment{:id => "comment_form-#{comment.id}", :style => "float: left; background-color: #f4f4f4; padding-left: 10px; padding-top: 5px; padding-bottom: 10px; margin-bottom: 10px"}
            %hr{:style => "border: 1px dashed #ccc; margin-bottom: 10px"}
            = "Please first"
            = link_to "sign up", new_user_registration_path
            = "or"
            = link_to "log in", new_user_session_path
            = "to leave a comment"
        - else
          = form_for mission.comments.new do |f|
            %div.clearfix
              = f.hidden_field :parent_id, :value => comment.id
              = f.hidden_field :mission_id, :value => mission.id
              = f.text_area    :body,      :placeholder => "Have questions or feedback? Leave a comment!", :class => "form"
            %div.clearfix
              = f.submit 'Leave Comment'
    - else                 
      .comment_form
        - if current_user.blank?
          %div.comment{:id => "comment_form-#{comment.id}", :style => "display:none; margin-left:60px; background-color: #f4f4f4; padding-left: 10px; padding-top: 5px; padding-bottom: 10px; margin-bottom: 10px"}
            = "Please first"
            = link_to "sign up", new_user_registration_path
            = "or"
            = link_to "log in", new_user_session_path
            = "to leave a comment"
        - else
          .comment{:class => 'clearfix'}             
            .content{:id => "comment_form-#{comment.id}", :style => "display:none; margin-left:60px; background-color: #f4f4f4; padding-left: 10px; padding-top: 5px; padding-bottom: 10px; margin-bottom: 10px"}
              = form_for mission.comments.new do |f|
                %div
                  = f.hidden_field :parent_id, :value => comment.id
                  = f.hidden_field :mission_id, :value => mission.id
                  = f.text_area    :body,      :placeholder => "Have questions or feedback? Leave a comment!", :class => "form"
                %div
                  = f.submit 'Leave Comment'
  
