<style type="text/css">
  select {
    width: 140px;
    border: 1px solid #bbb;
    float: left;
    margin-right: 5px;
    text-transform: uppercase;
    font-family: futura-pt-1, futura-pt-2;
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.2em;
    line-height: 20px;
  }
</style>


<% if current_user && (@mission.creator == current_user || current_user.admin == true) %>
  <div class="alert" style="background-color: white; color: black; border: 1px solid white; padding-bottom: 18px; height: 100px">
    <div style="float: left; width: 600px">
    <% if @mission.status == 'draft' %>
      <h4 class="alert-heading" style="color: black; text-decoration: uppercase">OK! We've created your mission; it's in draft mode.</h4>
      <div>A successful mission starts with a compelling photo, an inspiring description of why you started the mission, and a kick-off event. Once you're done, your mission would be ready for launch.</div>
    <% else %>
      <h4 class="alert-heading" style="color: black; text-decoration: uppercase">Your mission is live!</h4>
      <div>Congrats on taking that first step. Now invite people your kick-off event where you all can share your experiences and plan the next adventure together!</div>
    <% end %>
    <br>
    <p>
      <% if @mission.status == 'draft' %>
        <a class="btn" data-toggle="modal" href="#addBasicInfo"><i class="icon-info-sign"></i> Add photo and description</a>
        <a class="btn" data-toggle="modal" href="#addAnEvent"><i class="icon-calendar"></i> Add kick-off event</a>
      <% else %>
        <a class="btn" data-toggle="modal" href="#invite"><i class="icon-bullhorn"></i> Invite someone to this mission</a>
        <a class="btn" data-toggle="modal" href="#addBasicInfo"><i class="icon-info-sign"></i> Edit basic info</a>
      <% end %>
    </p>
    </div>
    <% if @mission.status == 'draft' %>
      <div class="well" style="float: right; margin-top: 7px" %>
        <div style="margin-bottom: 10px">
          <h4 class="alert-heading" style="color: black; float: left; margin-right: 10px;">Mission status: </h4>
          <span class="label label-inverse" style="margin-bottom: 20px"><%= @mission.status %></span>
        </div>
        <%= link_to "Save draft", mission_path(@mission.id, :mission => {:status => 'draft'}), :class => "btn right", :method => :put %>

        <% if @mission.photo.blank? || @mission.description.blank? || @mission.courses.blank? %>
          <div class="btn btn-inverse disabled right" style="color: white; margin-right: 10px">Launch Mission</div>
        <% else %>
          <%= link_to 'Launch Mission', mission_path(@mission, :mission => {:status => 'live'}), :class => "btn btn-inverse right", :style => "color: white; margin-right: 10px", :method => :put %>
        <% end %>

      </div>
    <% end %>
  </div>

<% end %>

<div class="modal hide" id="addBasicInfo">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Basic info</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@mission) do |f| %>
      <% if @mission.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@mission.errors.count, "error") %> prohibited this mission from being saved:</h2>

          <ul>
          <% @mission.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <%= f.label :title, 'Title of the mission' %>
      <%= f.select :verb, ['Build', 'Make', 'Create', 'Learn', 'Fix', 'Write', 'Design', 'Go', 'Find', 'Encourage', 'Challenge', 'Kick-start', 'Explore', 'Start', 'Travel'], :class => "span2" %>

      <div class="field clearfix">
        <%= f.text_field :title, :class => "form heading14", :style => "width: 375px; margin-top: 0px; margin-bottom: 20px" %>
      </div>

      <div class="field">
        <%= f.label :title, 'Description of the mission' %>
        <%= f.text_area :description, :class => "form-med-with-margin", :placeholder => "What inspired you to begin this mission? What does it matter and why is it important to do it now? Why do you want other people to join you?" %>
      </div>

      <div class="field">
        <%= f.label :photo, 'Upload a photo that represent your mission' %>
        <div class="heading9">Optimal dimensions are 959px x 349px</div>
        <%= image_tag(@mission.photo.url(:thumb_258), :style => "margin-right: 10px") if @mission.photo.present? %>
        <%= f.file_field :photo %>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" style="text-decoration: none">Close</a>
      <%= f.submit "Save changes", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="modal hide" id="newTopic">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add a new topic</h3>
  </div>
  <div class="modal-body">
    <%= render 'topics/form' %>
  </div>
</div>

<div class="modal hide" id="askAQuestion">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add a comment/question</h3>
  </div>
  <div class="modal-body">
    <%= form_for @mission.comments.new do |f| %>
      <%= f.hidden_field :mission_id, :value => @mission.id %>
      <%= f.hidden_field :comment_type, :value => "question" %>
      <%= f.text_area    :body, :placeholder => "I have a question about...", :class => "form-with-margin", 'data-comment_type' => 'question' %><br>
      <%= f.submit 'Post', :class => "btn" %>
    <% end %>
  </div>
</div>

<div class="modal hide" id="addAnEvent">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add an event</h3>
  </div>
  <div class="modal-body">
    <p>An event is a chance to get together with your crew to work, learn, and play. Which type of event best suit what you want to do?</p>
    <%= link_to "A working session", new_course_path(:mission_id => @mission.id), :class => "btn btn-large", :style => "text-decoration: none" %>
    <%= link_to "A class or workshop", new_course_path(:mission_id => @mission.id), :class => "btn btn-large", :style => "text-decoration: none" %>
    <%= link_to "A happy hour social", new_course_path(:mission_id => @mission.id), :class => "btn btn-large", :style => "text-decoration: none" %>
  </div>
</div>

<div class="modal hide" id="invite">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Invite someone to this mission</h3>
  </div>
  <div class="modal-body">
    <%= render 'invites/form' %>
  </div>
</div>

