.page-section-float-left
  %img.steps{:src => '../../../images/v2/step2.png'}
  .welcome-header= "Hi, #{current_user.name}! Let's get your class up and running"
  %p We pre-populated some of the fields already from your proposal. Don't forget to check out the HourSchool tips!

.page
  .page-content
    .heading25_ccc 
      = "1. Overview"
    - @course.errors.full_messages.each do |message|
      .error
        %p= "#{message}"
        
    = form_for @course, :html => { :multipart => true } do |f|
      - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
        = f.hidden_field attribute, :id => attribute 
      = hidden_field_tag 'req', "#{@reqid}"
      = f.hidden_field :status, :value => "live"
      .form-question
        = f.label "Give your class a title"
      %p.tip
        = 'Limit 50 characters.'
      %br
        - if @reqid.nil?
          = f.text_field :title, :class => "form-with-margin"
        - else
          = f.text_field :title, :value => "#{@reqtitle}", :class => "form-with-margin"
      .form-question
        = f.label "A tagline for your course"
      %br/
      .form-question-tip
        = f.text_field :coursetag, :class => "form-with-margin"
      
      .form-question
        = f.label :description
      .form-question-tip
        = 'Try to be a little more specific. For example, "typography" is better than "design". "Weeknight quick dinner" is better than "cooking".'
        %br
          - if @reqid.nil?
            
            = f.text_area :description, :class => "form-with-margin"
          - else
            
            = f.text_area :description, :value => "#{@reqdescription}", :class => "rich_text_editor", :rows => "15", :style => "width : 90%"
      .form-question
        = f.label :categories
      %p.tip
        = 'Choose the best category this class falls into '
        / = f.text_field :categories, :value => ' ', :class => "form-with-margin"
        = f.select :categories, options_for_select([['Art', 'Art'],['Design', 'Design'], ['Health and Wellness','Health and Wellness'],['Language','Language'],['Maintenance','Maintenance'],['Technology','Technology'], ['Photography', 'Photography'],['Cooking','Cooking']]) 

      %hr#class
      %br
      .heading25_ccc 2. Game Plan

      .form-question
        = f.label :price
      .form-question-tip
        = 'How much are you charging for this class per student. Examples - 15.00, 25.99. A 0.00 is perfectly fine too :)'
        = f.text_field :price, :class => "form-with-margin"
      .form-question
        = f.label :seats
      .form-question-tip
        = 'What is the maximum number of student you are willing to accomodate in your class?'
        = f.text_field :seats, :class => "form-with-margin"
      .form-question
        = f.label :date
      .form-question-tip
        = 'When do you want to teach the class?'
        = f.date_select :date, :class => "form-with-margin"
      .form-question
        = f.label :place
      .form-question-tip
        = "Where will this class happen? Be specific."
        = f.text_field :place, :class => "form-with-margin", :value => 'TBD'
      .form-question
        = f.label "Time"
      .form-question-tip
        = 'OK, what time? Eg. 6pm - 7pm, 8.30 - 9.30 am'
        = f.text_field :time_range, :class => "form-with-margin"
      %br/
      .form-question
        = f.label :minimum
      .form-question-tip
        = 'What is the minimum number of students to make this class happen? In other words, if this many students do not show up, you cannot teach the class.'
        = f.text_field :minimum, :class => "form-with-margin"
      .form-question
        = f.label :photo
      .form-question-tip
        = 'Upload a picture/image for your class that shows up in the listings and class page'
      = f.file_field :photo
      %br/
      .form-question
        = f.label "Done?"
      %br/
      = f.submit
      