%p= "create a course in #{current_user.location}"
= form_for @course, :html => { :multipart => true } do |f|
  / = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label "Categories (Seperate by comma)"
    %br
    = f.text_field :categories
  %p
    = f.label :price
    %br
    = f.text_field :price
  %p
    = f.label :seats
    %br
    = f.text_field :seats
  %p
    = f.label :date
    %br
    = f.date_select :date
  %p
    = f.label :time
    %br
    = f.time_select :time
  %p
    = f.label "Address"
    %br
    = f.text_field :place
  
  %p
    = f.label "Minimum students needed for the class to happen"
    %br
    = f.text_field :minimum
  %p
    = f.label :photo
    %br
    = f.file_field :photo
  %p
    = f.submit
