.classBlock
  = link_to image_tag("http://www.vagobond.com/wp-content/uploads/2010/11/travel-around-the-world.jpg", :size => "190x120"), "http://www.rei.com/event/34597/session/43311", :onClick => "recordOutboundLink(this, 'Outbound Links to REI', 'rei.com');return false;"
  = image_tag "v2/arrow_white_pointup.png", :class => 'class-arrow'
  %br
  .class-description
    .heading13-class
      = link_to "World Travel 101", "http://www.rei.com/event/34597/session/43311", :onClick => "recordOutboundLink(this, 'Outbound Links to REI', 'rei.com');return false;"
    %p= "Depart from the familiar and begin your adventure with World Travel 101!"
    
  .class-note
    = image_tag "v2-courses/rei-logo.jpg"


.classBlock
  = link_to image_tag("http://t3.gstatic.com/images?q=tbn:ANd9GcS7Vfp4bzt3UoLcPKC2sKmh_oooaZqtY4ZlcPRDEamTlpqw620I", :size => "190x120"), "http://www.rei.com/event/34570/session/43376", :onClick => "recordOutboundLink(this, 'Outbound Links to REI', 'rei.com');return false;"
  = image_tag "v2/arrow_white_pointup.png", :class => 'class-arrow'
  %br
  .class-description
    .heading13-class
      = link_to "Spring Adventures with Georgetown Parks and Rec", "http://www.rei.com/event/34570/session/43376", :onClick => "recordOutboundLink(this, 'Outbound Links to REI', 'rei.com');return false;"
    %p= "A Spring Break trip or just a weekend adventure."

  .class-note
    = image_tag "v2-courses/rei-logo.jpg"



.classBlock
  = link_to image_tag("http://t1.gstatic.com/images?q=tbn:ANd9GcTaGlzf1j3tRO2sxjEwL-0DNoLlWqqN2TvuuPQzLoag9uL1KJHiJA", :size => "190x120"), "http://www.rei.com/event/34699/session/43426", :onClick => "recordOutboundLink(this, 'Outbound Links to REI', 'rei.com');return false;"
  = image_tag "v2/arrow_white_pointup.png", :class => 'class-arrow'
  %br
  .class-description
    .heading13-class
      = link_to "Guide to the Seasons in an Urban Wildland", "http://www.rei.com/event/34699/session/43426", :onClick => "recordOutboundLink(this, 'Outbound Links to REI', 'rei.com');return false;"
    %p= "Experience the natural cycles, no matter how urban the setting."

  .class-note
    .heading9-class
      = image_tag "v2-courses/rei-logo.jpg"