.sidebar-white
	.sidebar-content-white
		.class-section-heading
			= course.title
		.class-details
			= "Class min. of #{course.minimum}, max. of #{course.seats}"
		- if course.seats_left > course.seats/2
			= image_tag "/images/v2/ClassMin_Bar.png"
			
			- if !course.is_a_student?(current_user) && !course.is_a_teacher?(current_user)
				- if course.price == 0.0
					= link_to "Register for this class", register_path(:id => course.id)
				- else
					.class-alterntives
						= "Purchase from Amazon"
					
					
					/ = link_to image_tag("/images/amzn-payments.gif"), register_with_amazon_path(:id => course.id)
			- else
				- if course.is_a_student?(current_user)
					- if (course.date - Date.today).numerator >= 1
						= link_to "You are registered. Unregister", drop_path(:id => course.id)
					- else
						= "You are registered"
				- else
					= "Teaching"
		- elsif course.seats_left < course.seats/2
			= image_tag "/images/v2/ClassMin_Bar_orange_halfFull.png"
			
			- if !course.is_a_student?(current_user) && !course.is_a_teacher?(current_user)
				= link_to "Register for this class", register_path(:id => course.id)
			- else
				- if course.is_a_student?
					- if (course.date - Date.today).numerator >= 1
						= "Unregister"
					- else
						= "Register"
				- else
					= "Teaching"
				
		- else
			= image_tag "/images/v2/ClassMin_Bar_orange_FULL.png"
			
			= link_to "Class full. Request a new one!", new_csuggestion_path
		.sidebar-block
			%ul.noBullet
				%li.noBullet
					= image_tag "/images/v2/icon_pricetag.png", :class => "class-details-icon-cost"
				%li.noBullet
					.class-details
						= "#{course.price}"
					.class-alterntives
						%br/
			%ul.noBullet
				%li.noBullet
					= image_tag "/images/v2/icon_calendar.png", :class => "class-details-icon-when"
				%li.noBullet
					.class-details
						= course.date.strftime("%B %d, %Y")
					.class-details
						= "#{course.time_range}"
					.class-alterntives
						%br/
						
			%ul.noBullet
				%li.noBullet
					= image_tag "/images/v2/icon_location.png", :class => "class-details-icon-where"
				%li.noBullet
					.class-details
						= "#{course.place}"
						= "#{course.city.name}"
		.sidebar-block
			.sidebar-heading Teacher
			.avatar-medium
			%ul.noBullet
				%li.noBullet
					= "#{course.teacher.name}"
				
				- if course.teacher != current_user
					%li.noBullet
						= link_to "Contact Teacher", '#'
						
		.sidebar-block-last
			.sidebar-heading
				= "Students (#{course.students.size})"
			- if course.teacher == current_user
				%ul.noBullet
					%li.noBullet
						= link_to "Send a message to all students", '#'
					%li.noBullet
						= link_to "Update course", edit_course_path(course.id)
		
						
	