.sidebar-white
  .sidebar-content-white
    = "Class min. of #{@current_course.min_seats}"
    - if !@current_course.max_seats.blank?
      = ", max. of #{@current_course.max_seats}"
    %br
    %br
    - if !@current_course.active?
      - if @current_course.teacher == current_user
        %p= "This class has passed."
        = button_to "Teach this again!", new_course_path, :method => :get, :class => "register-class-button"
      - else
        %p= "This class has passed."
        = button_to "Request a new one", new_suggestion_path, :method => :get, :class => "register-class-button"
    - elsif !@current_course.max_seats.blank? && @current_course.students.size >= course.max_seats
      - if @current_course.teacher == current_user
        = "Yay! Your class is sold out!"
        = button_to "Edit class profile", edit_course_path(:id => @current_course), :method => :get, :class => "edit-class-button"
      - elsif @current_course.is_a_student?(current_user)
        .edit-class-button= "You're already registered"
      - else
        = "Class is full already!"
        = button_to "Request a new one", new_suggestion_path, :method => :get, :class => "register-class-button"
    - else
      - if @current_course.teacher == current_user
        = button_to "Edit class profile", edit_course_path(:id => @current_course), :method => :get, :class => "edit-class-button"
      - elsif @current_course.is_a_student?(current_user)
        .edit-class-button= "You're already registered"
      - else
        - if current_user.nil? || @current_course.city.name == current_user.city
          = button_to "Register for this class", payment_preview_path(:id => @current_course.id), :method => :put, :class => "register-class-button"     
          - if @current_course.donate?
            = image_tag "v2-campaign/button-register.png", payment_preview_path(:id => @current_course.id), :method => :put
          - else
            = button_to "Register for this class", payment_preview_path(:id => @current_course.id), :method => :put, :class => "register-class-button"     
        - else
          - if @current_course.donate?
            = image_tag "v2-campaign/button-register.png", payment_preview_path(:id => @current_course.id), :method => :put, :confirm => "You specified your location as #{current_user.city}. This class is in #{@current_course.city.name}! Are you sure you want to register for it?"
          - else
            = button_to "Register for this class", payment_preview_path(:id => @current_course.id), :method => :put, :class => "register-class-button", :confirm => "You specified your location as #{current_user.city}. This class is in #{@current_course.city.name}! Are you sure you want to register for it?"


    .sidebar-block

      %table
        %tr
          %td.icon
            = image_tag "v2/icon_pricetag.png", :class => "class-details-icon-cost"
          %td
            .class-details
              = "$" "#{course.price}"
              %br/
              - if course.is_a_student?(current_user)
              - else
                - if @current_course.donate?
                  .greendoors-alternatives All proceeds will be used to support the peer teaching fund!
                - else
                  %a.class-alternatives(href="http://bit.ly/rAtf6o") Too much? Suggest a new price!
              %br
        %tr
          %td.icon
            = image_tag "v2/icon_calendar.png", :class => "class-details-icon-when"
          %td
            .class-details
              = course.date.strftime("%a %b %d, %Y")
            .class-sidebar-details
              = "#{course.time_range}"
              %br
            - if course.is_a_student?(current_user)
              / :erb
              /   <a href="https://www.google.com/calendar/b/0/render?action=TEMPLATE&text=<%= @course.title %>&trp=false&sprop&sprop=name:&gsessionid=OK&sf=true&output=xml" target="_blank" class="class-alternatives">Add to Google Calendar</a>
              / %br
            - else
              %a.class-alternatives(href="http://bit.ly/rAtf6o") Can't make it? Request a new time!
              %br/
        %tr
          %td.icon
            = image_tag "v2/icon_location.png", :class => "class-details-icon-where"
          %td
            .class-details
              = course.place_name
            - if course.public?
              .class-sidebar-details
                = course.address
            - else
              = "Private Address"
            - if course.is_a_student?(current_user)
              / - if course.public?
              /   %a.class-alternatives(href="http://bit.ly/rAtf6o") View on Google Map
              /   %br
            - else
              %a.class-alternatives(href="http://bit.ly/rAtf6o") Don't live in this city? Request in yours!
              %br

    - if @current_course.donate?
      .sidebar-block
        = image_tag "v2-campaign/frame.png", :class => "greendoors-frame"
        = link_to image_tag "v2-campaign/button-learnmore.png", :class => "button-learnmore"
        .greendoors-frame-heading Greendoors supporter
        .greendoors-frame-copy
          .greendoors-frame-copy-text Greendoors provides housing and training for the homelessess. Learn how HourSchool is helping end homelessness by peer-education
                    

    .sidebar-block-last
      .sidebar-heading Teacher
      .class-attendance-block
        - if @current_course.teacher.photo.present?
          = image_tag(@current_course.teacher.photo.url(:thumb_small))
        - else
          = image_tag "v2/Avatars_04_V1.png", :class => "avatar-medium"
        .class-details
          %a.profile-link
          = link_to "#{course.teacher.name}", course.teacher, :class => "profile-link"
        %p.class-details
          - if course.experience.blank?
            = "#{course.teacher.bio}"
          - else
            = course.experience

      - if course.teacher != current_user
        = image_tag "v2/icon_email.png", :class => "class-details-icon-email"
        = link_to "Contact teacher", contact_teacher_path(:id => course), :class => "contact-link"


    - if course.students.any?
      .sidebar-block-last
        - if @current_course.nosignup.blank?
          .sidebar-heading Students
        - else @current_course.nosignup?
          .sidebar-heading People interested
        .class-attendance-block
          - course.students.each do |student|
            %table
              %tr
                %td
                  = avatar_for(student, :photo_size => :thumb_small, :class => 'notBig', :size => '50x50')
                %td
                  = link_to student.name, student, :class => "profile-link"
            %br

        - if course.teacher == current_user
          = image_tag "v2/icon_email.png", :class => "class-details-icon-email"
          = link_to "Contact students", contact_all_students_path(:id => course), :class => "contact-link"
    
      
    - if current_user && current_user.admin?
      .sidebar-block-last
        = link_to "Feedback form", feedback_path(:id => course)
      

