.tipbox
  = image_tag "v2/Tape_White.png", :class => 'tape'
  .heading10 Need help with venue? 
  %p We have partnerships with a number of co-working spaces, and lots of good suggestions from past teachers. 
  %a(href="http://help.hourschool.com/")
    .btn Check out spaces

.tipbox
  = image_tag "v2/Tape_White.png", :class => 'tape'
  .heading10 Stuck on writing the event description? 
  %p A good event description is important! You don't have to lay out everything, but people generally like to know what to expect. If you need inspiration, we've compiled a list of good examples!
  %a(href="http://help.hourschool.com/")
    .btn Look at examples



.tipbox
  = image_tag "v2/Tape_White.png", :class => 'tape'
  .heading10 First time teaching? Check out our FAQ.
  %a(href="http://help.hourschool.com/")
    .btn Check out FAQ

.tipbox
  = image_tag 'v2/Tape_White.png', :class => 'tape'
  %center
    .heading10 Have more questions?
    %br
    = image_tag 'v2/icon_email.png'
    %br
    %a(href="mailto:hello@hourschool.com") hello@hourschool.com
    %br
    %br
    = image_tag 'v2/icon_phone.png'
    %br
    (877) 246-4689
