<div class="page-section-float-left">
    <% if @course.status != "live" %>
    <div class="welcome-header">Hi, <%= current_user.name.split(" ").first %>! Let's get your feast up and running!</div>
    <% else %>
    <div class="welcome-header">Edit your feast</div>
    <% end %>
</div>

<div class="page">
    <div class="page-content">

    <div class="page-section-float-left">
      <% @course.errors.full_messages.each do |message| %>
        <div class="error-block"><div class="form-error">*<%= message %></div></div>
      <% end %>
    </div>

    <%= form_for @course, :html => { :multipart => true } do |f| %>

    <%= hidden_field_tag 'req', "#{@reqid}" %>

    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %><% end %>

    <div class="page-section-float-left">

       <p>
       <%= f.label :title, 'Feast title:', :class => "form-question" %>
       <%= f.text_area :title, :class => "form-with-margin", :value => params[:title] %>
       </p>
       <br><br>

       <div class="page-section-float-left">
       <p>
       <%= f.label :photo, 'Upload a photo', :class => "form-question" %>
       <%= image_tag(@course.photo,  :size => "190x120") if @course.photo.present? %>
       <%= f.file_field :photo %>
       </p>
       </div>

       <p>
       <%= f.label :description, 'Feast description:', :class => "form-question" %>
       <%= f.text_area :description, :class => "form-tall", :value => params[:description]  %>
       </p>

       <div class="form-question">About the host</div>
       <br><br>
       <%= f.text_area :experience, :class => "form-med-with-margin" %>
     </div>


    <hr id="class"><br>

    <div class="page-section-float-left">
       <div class="class-form-question">Feast Capacity</div><br>
       <%= f.text_field :min_seats, :class => "form-short", :placeholder => "Min. # for me to host this event" %>
       <%= f.text_field :max_seats, :class => "form-short", :placeholder => "Max. # I can have for this event" %>
       <br><br>
    </div>

    <div class="page-section-float-left">
       <div class="class-form-question">When</div><br>
         <%= f.datetime_select :starts_at, {:ampm => true, :start_year => Time.zone.now.year, :end_year => Time.zone.now.year+1, :minute_step => 30, :default => 2.weeks.from_now}, :style => "width: 100px" %><br>
         <%= f.datetime_select :ends_at, {:ampm => true, :start_year => Time.zone.now.year, :end_year => Time.zone.now.year+1, :minute_step => 30, :default => 2.weeks.from_now}, :style => "width: 100px" %>
    </div>


<div class="page-section-float-left">

    <div class="class-form-question">Where</div><br>
        <p>
        <%= f.radio_button :public, true, :checked => true, :style => "float: left; margin-right: 10px" %>
        <%= f.label :public, 'Public location (ex. cafes, offices, etc)' %>
        <%= f.radio_button :public, false, :style => "float: left; margin-right: 10px;"  %>
        <%= f.label :public, 'Residential location (only students who have signed up will see the address)' %>
        </p>

        <p>
          <%= f.text_field :place_name, :class => "form", :placeholder => "Name of location (ex. Jo's coffee)", :autocomplete => "off" %>
          <%= f.text_field :address, :class => "form", :placeholder => "Street address (ex. 1201 Hackberry St.)", :autocomplete => "off" %>

          <%= render :partial => 'layouts/application/city_state_select', :locals => {:f => f, :parent => @course} %>

          <%= f.text_field :zip, :class => "form-short", :placeholder => "Zip / Postal Code" %>
        </p>
</div>

    <div class="page-section-float-left">
      <div class="class-form-question">Price</div><br>
      <p class="tip">Please note that Feast for Days receives 15% of the Feast price per person. It is important to account for this in determining your Feast price.</p>
        <div style="float: left; margin-top: 5px; margin-right: 5px">$</div> <%= f.text_field :price, :class => "form-short", :stype => "float: left", :placeholder => "15" %>
        <div style="float: left; margin-top: 5px">per person</div>
    </div>

    <div class="page-section-float-left">
      <div class="form-question">Phone number (optional)</div><br>

      <%= f.text_field :phone_number, :class => "form-short", :placeholder => "ex. 321-111-1234" %>
    </div>

    <br><br><br>

  <% if @course.status == 'live' %>
    <%= f.submit "Submit", :class => "btn", :id => 'course_submit', :value => "Save" %><br>
  <% else %>
    <%= f.submit "Submit", :class => "btn", :id => 'course_submit', :value => "Preview" %><br>
  <% end %>
    <p style="font-size: 9px; margin-top: 10px">You'll be able to preview before submitting on the next page!</p>

   <% end %>

   </div>
</div><!-- /end .page -->


