.page
	.page-content
		.heading25_ccc 
			= "Your Proposal"
		- if @reqid.nil?
			%p So you want to teach a class! That's awesome. Please tell us a little more about what you're thinking of teaching. We review these really quickly and will get back to you within a day or so. 
		- else
			%p Thanks for claiming a class! All the people who requested it would be thrilled. Please tell us a little more about what you're thinking of teaching. We review these really quickly and will get back to you within a day or so. 
		%br
		- @course.errors.full_messages.each do |message|
			.error
				%p= "#{message}"

		= form_for @course, :html => { :multipart => true } do |f|

			= hidden_field_tag 'req', "#{@reqid}"
			= f.hidden_field :status, :value => "proposal"
			.form-question
				= f.label "What are you teaching?"
			.form-question-tip
				= 'Try to be a little more specific. For example, "typography" is better than "design". "Weeknight quick dinner" is better than "cooking".'
			%br
				- if @reqid.nil?
					= f.text_area :title, :class => "form-with-margin"
				- else
					= f.text_area :title, :value => "#{@reqtitle}", :class => "form-with-margin"
			.form-question
				= f.label "What will your class cover?"
			.form-question-tip
				= 'We just want a general idea. 1 sentence is plenty.'
				%br
					- if @reqid.nil?
						/ = f.text_area :about, :class => "rich_text_editor",:rows => "15", :style => "width : 90%"
						= f.text_area :about, :class => "form-with-margin"
					- else
						/ = f.text_area :about, :value => "#{@reqdescription}", :class => "rich_text_editor",:rows => "15", :style => "width : 90%"
						= f.text_area :about, :value => "#{@reqdescription}", :class => "form-with-margin"
						
			.form-question
				= f.label "What is your experience?"
			.form-question-tip
				= 'No need to be an expert. Just tell us about your passion for the subject.'
				%br
				= f.text_area :experience,  :class => "form-with-margin"
				
			.form-question Please read our policy.
			%p.note This is our pricing policy. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
			.page-section-float-left   
				= f.check_box :terms_of_service
				= "I understand and I agree!"
			.form-question
				= f.label "Done?"
				%p.note Note: This isn't your actual class. Your answers will only be seen by HourSchool staff. We'll respond as soon as we can. Thanks again!
			%br/
			= f.submit "Submit your proposal", :class => "submit-proposal-button"
			