.page
  .page-content
    .heading25.light_grey
      = "Your Proposal"
    - if @reqid.nil?
      %p So you want to teach a class! That's awesome. Tell us a little more about what you're thinking of teaching. We review these really quickly and will get back to you within a day or so.
    - else
      %p Thank you for your interest in teaching this class! All the people who requested it would be thrilled. Please tell us a little more about what you're thinking of teaching. We review these really quickly and will get back to you within a day or so.
    %br
      - @course.errors.full_messages.each do |message|
        .form-error
          = "*#{message}"

    = form_for @course, :html => { :multipart => true } do |f|
      = hidden_field_tag 'req', "#{@reqid}"
      = f.hidden_field :status, :value => "proposal"
      .form-question
        = f.label "What are you teaching?"
      .form-question-tip
        = 'Try to be a little more specific. For example, "typography" is better than "design". "Weeknight quick dinner" is better than "cooking".'
      %br
        - if @reqid.nil?
          = f.text_area :title, :class => "form-with-margin"
        - else
          = f.text_area :title, :value => "#{@reqtitle}", :class => "form-with-margin"
      .form-question
        = f.label "What will your class cover?"
      .form-question-tip
        = 'We just want a general idea. 1 sentence is plenty.'
        %br
          - if @reqid.nil?
            = f.text_area :teaser, :class => "form-with-margin"
          - else
            = f.text_area :teaser, :value => "#{@reqdescription}", :class => "form-with-margin"

      .form-question
        = f.label "What is your experience?"
      .form-question-tip
        = 'No need to be an expert. Just tell us about your passion for the subject.'
        %br
        = f.text_area :experience,  :class => "form-with-margin"
      /
      / .page-section-float-left
      /   = f.check_box :terms_of_service
      /   = "I understand and I agree!"

      = f.submit "Submit your proposal", :class => "submit-proposal-button"
