<div class="page-section-float-left">
    <img src="../../../images/v2/step2.png" class="steps">
    <div class="welcome-header">Hi, <%= current_user.name %>! Let's get your class up and running!</div>
    <p> We pre-populated some of the fields already from your proposal. Don't forget to check out the HourSchool tips!</p>
</div>

<div class="page">
    <div class="page-content">

    <div class="page-section-float-left">
      <% @course.errors.full_messages.each do |message| %>
        <div class="error-block"><div class="form-error">*<%= message %></div></div>
      <% end %>
    </div>

    <% form_for @course, :html => { :multipart => true } do |f| %>

    <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %><% end %>

    <div class="heading25_ccc">1. Overview</div>
    <div class="page-section-float-left">

    <p>
     <%= f.label :title, 'Give your class a title:', :class => "form-question" %><br />
     <p class="tip">Limit 50 characters</p>
     <%= f.text_area :title, :class => "form-with-margin", :value => @reqtitle %>
     </p>
     <br><br>

    <p>
     <%= f.label :about, 'Offer a short description', :class => "form-question" %><br />
     <p class="tip">Limit 70 characters</p>
     <%= f.text_area :about, :class => "form-with-margin", :value => @reqdescription %>
     </p>
     <br><br>

    <p>
     <%= f.label :categories, 'Categories', :class => "form-question" %><br />
     <p class="tip">Choose the best category this class falls into.</p>
     <%= f.select :categories, options_for_select([['Art', 'Art'],['Design', 'Design'], ['Health and Wellness','Health and Wellness'],['Language','Language'],['Maintenance','Maintenance'],['Technology','Technology'], ['Photography', 'Photography'],['Cooking','Cooking']]) %>
     </p>
     <br><br>

     <p>
     <%= f.label :photo, 'Upload a photo', :class => "form-question" %><br />
     <p class="tip">If you don't have time to find a photo, we will auto-populate a default one based on the category. Of course you can always come back and change it.</p>
     <%= f.file_field :photo %>
     </p>


     </div>

     <hr id="class"><br>

     <div class="heading25_ccc">2. Game Plan</div>
     <div class="page-section-float-left">

    <p>
     <%= f.label :description, 'Describe your class in more details', :class => "form-question" %><br />
     <p class="tip">No character limit</p>
     <%= f.text_area :description, :class => "form-tall", :placeholder => "ex. Who should attend this class? What are the 3 things they will get out of the class? What kind of material or equipment do they need ahead of time?" %>
     </p>
     </div>

    <hr id="class"><br>

    <div class="heading25_ccc">3. Nuts & Bolts</div>

    <div class="page-section-float-left">
        <div class="class-form-question">Class Size (optional)</div><br>
            <a href="#" class="tip"><span id="showtip4">HourSchool tip
                <img src="../../../images/v2/arrow_grey_profile.png"></span>
            </a>
                <div class="form-question-tip4" style="display:none;">
                    <p class="tip">We recommend a minimum of 3 students. A 3 to 1 student teacher ratio is a great number to get a good discussion going. If you’re doing a cooking demo in your own kitchen, you probably can’t have 50 people! If you have lot of demand, you can always have a second class.</p><br><br>
                    <a href="" class="tip"><span id="hidetip4" style="width: 200px">Okay, got it.</span></a><br>
                </div><br><br>

             <%= f.text_field :minimum, :class => "form-short", :placeholder => "Min. # for me to have the class" %>
             <%= f.text_field :seats, :class => "form-short", :placeholder => "Max. # I want to have" %>
    </div>

    <div class="page-section-float-left">
        <div class="class-form-question">When</div><br>
           <a href="#" class="tip"><span id="showtip1">HourSchool tip
               <img src="../../../images/v2/arrow_grey_profile.png"></span>
           </a>
                <div class="form-question-tip1" style="display:none;">
                    <p class="tip">We recommend scheduling your class at least 2 weeks in advanced to give enough time for people to sign up!</p><br>
                    <a href="" class="tip"><span id="hidetip1" style="width: 200px">Okay, got it.</span></a>
                </div><br><br>

        <%= f.date_select :date, :start_year => 2011, :end_year => 2012, :minute_step => 30 %><br><br>
        <%= f.text_field :time_range, :class => "form-short", :placeholder => "Time (ex. 6-7pm)" %>

    </div>

    <div class="page-section-float-left">
        <div class="class-form-question">Where</div><br>
            <a href="#" class="tip"><span id="showtip2">HourSchool tip
                <img src="../../../images/v2/arrow_grey_profile.png"></span>
            </a>
                <div class="form-question-tip2" style="display:none;">
                  <p class="tip">For public space, take into consideration of your class size. If it's outdoor, have a back up plan in case of bad weather. For private space, please take the proper precautions when inviting strangers into your home. We don't recommend having 1 on 1 classes at your own house.</p><br><br>
                  <a href="" class="tip"><span id="hidetip2" style="width: 200px" >Okay, got it.</span></a><br>
                </div><br><br>

            <p>
            <%= f.radio_button :public, true %>
            <%= f.label :public, 'Public location (ie. cafes, offices, etc)' %>
            <br>
            <%= f.radio_button :public, false %>
            <%= f.label :public, 'Private (ie. your house)' %>
            </p>
            <br>
            <%= f.text_field :place, :class => "form", :placeholder => "Name of location (ex. Jo's coffee)" %>
            <%= f.text_field :address, :class => "form-with-margin", :placeholder => "Full address of location (Please enter #, Street, Suite and City)" %>
    </div>

    <div class="page-section-float-left">
        <div class="class-form-question">Cover Charge</div><br>
            <a href="#" class="tip"><span id="showtip3">HourSchool tip
                <img src="../../../images/v2/arrow_grey_profile.png"></span>
            </a>
            <div class="form-question-tip3" style="display:none;">
                <p class="tip">We recommend charging even if it’s just for $5. We find that charging a little ensures people actually show up if they sign up! Don't forget the amount of supplies, venue rental fee, and other resources you’ll need. Finally, don't sell yourself short - your knowledge is valuable! Note that HourSchool charges 15% of the total price of the class. See terms and conditions below.</p><br><br>
                <a href="" class="tip"><span id="hidetip3" style="width: 200px">Okay, got it.</span></a><br><br>
            </div><br><br>

            <%= f.text_field :price, :class => "form-short", :placeholder => "ex. 10 (no $ sign needed!)" %>

    </div>

    <hr id="class"><br>

    <div class="heading25_ccc">4. Teacher</div>
    <div class="page-section-float-left">

        <div class="form-question">Experience</div><br>
            <p class="tip">Share your experience about this specific topic. If you just want to use your profile bio, leave this blank!</p>
            <br>
        <%= f.text_area :experience, :class => "form-med-with-margin", :placeholder => "Why are you passionate about this subject? Why do you want to teach?" %>

    </div>

    <div class="page-section-float-left">
        <div class="form-question">Phone number (optional)</div><br>

        <p class="tip">This is for if your students can't find you at the class! Don't worry, your digits won't be shown publicly. This gets emailed to students separately. </p>
        <br><br>
        <%= f.text_field :phonenum, :class => "form-short", :placeholder => "ex. 321-111-1234" %>
    </div>

    <br><br>


   <%= f.submit "Submit", :class => "submit-proposal-button", :value => "Preview my class profile" %>

   <% end %>

   </div>
</div><!-- /end .page -->


<script type="text/javascript">

    $(document).ready(function() {
    $('#course_date').datepicker({
            inline: true,
            dateFormat: "yy-mm-dd"
        });
    })

   $("#showtip1").click(function() {
        $(".form-question-tip1").show();
        $("#showtip1").hide();
        return false;
     });

   $("#hidetip1").click(function() {
        $(".form-question-tip1").hide();
        $("#showtip1").show();
        return false;
    });

   $("#showtip2").click(function() {
         $(".form-question-tip2").show();
         $("#showtip2").hide();
         return false;
      });

    $("#hidetip2").click(function() {
         $(".form-question-tip2").hide();
         $("#showtip2").show();
         return false;
     });

   $("#showtip3").click(function() {
         $(".form-question-tip3").show();
         $("#showtip3").hide();
         return false;
      });

    $("#hidetip3").click(function() {
         $(".form-question-tip3").hide();
         $("#showtip3").show();
         return false;
     });

   $("#showtip4").click(function() {
         $(".form-question-tip4").show();
         $("#showtip4").hide();
         return false;
      });

    $("#hidetip4").click(function() {
         $(".form-question-tip4").hide();
         $("#showtip4").show();
         return false;
     });

</script>