<div class="page-section-float-left">
    <% if @course.status != "live" %>
    <div class="welcome-header">Hi, <%= current_user.name.split(" ").first %>! Let's get your event up and running!</div>
    <% else %>
    <div class="welcome-header">Edit your event</div>
    <% end %>
</div>

<div class="page-section-float-left">
  <% @course.errors.full_messages.each do |message| %>
    <div class="error-block"><div class="form-error">*<%= message %></div></div>
  <% end %>
</div>

<%= form_for @course, :html => { :multipart => true } do |f| %>


<div class="page-section-float-left">

  <%= f.hidden_field :mission_id, :value => (@course.mission_id || params[:mission_id]) %>
  <%= hidden_field_tag :topic_id, params[:topic_id] %>

  <%#= "Create an event in #{@course.mission.title}" if @course.mission_id.present? %>

   <p>
   <%= f.label :title, 'Event title:', :class => "form-question" %>
   <%= f.text_area :title, :class => "form-with-margin", :value => @reqtitle %>
   </p>
   <br><br>

  <% if @course.mission %>
  Does your event cover any of the following topics? 
    <% for topic in @course.mission.topics.find(:all) %>
      <div>
        <%= check_box_tag "course[topic_ids][]", topic.id %>
        <%= topic.title %>
      </div>
    <% end %>
  <% end %>

  <br><br>

   <div class="page-section-float-left">
   <p>
   <%= f.label :photo, 'Upload a photo', :class => "form-question" %>
   <%= image_tag(@course.photo,  :size => "190x120") if @course.photo.present? %>
   <%= f.file_field :photo %>
   </p>
   </div>

   <p>
   <%= f.label :description, 'Event description:', :class => "form-question" %>
  <p class="tip">A good event description is important! You don't have to lay out everything, but people generally like to know what to expect. If you need inspiration, we've compiled a list of good examples!</p>
   <%= f.text_area :description, :class => "form-tall", :placeholder => "Who should attend this event? What are the 3 things they will get out of the event? What kind of material or equipment do they need ahead of time?" %>
   </p>
 
   <div class="form-question">About the event organizer</div>
   <br><br>
    <%= f.text_area :experience, :class => "form-med-with-margin", :placeholder => "Why are you passionate about this subject? Why do you want to share?" %>
 </div>
 
 
<hr id="class"><br>

<div class="page-section-float-left">
   <div class="class-form-question">Event Capacity</div><br>
   <%= f.text_field :min_seats, :class => "form-short", :placeholder => "Min. # for me to host this event" %>
   <%= f.text_field :max_seats, :class => "form-short", :placeholder => "Max. # I can have for this event" %>
   <br><br>
</div>

<div class="page-section-float-left">
   <div class="class-form-question">When</div><br>   
  <p class="tip">We highly recommend scheduling your event at least 3 weeks from today to give enough time for more people to sign up!</p><br>       
   <%= f.datetime_select :starts_at, {:ampm => true, :start_year => Time.now.year, :end_year => Time.now.year+1, :minute_step => 30, :default => 2.weeks.from_now}, :style => "width: 100px" %><br>
   <%= f.datetime_select :ends_at, {:ampm => true, :start_year => Time.now.year, :end_year => Time.now.year+1, :minute_step => 30, :default => 2.weeks.from_now}, :style => "width: 100px" %>
   <br><br>
   <div id="date-warning" style="display:none;color:red;">
     Your event is less than 2 weeks away!
     <%= link_to_function 'ignore', "$('#date-warning').hide(); SHOW_DATE_WARNING=false;" %>
    </div>
</div>

<% if f.object.new_record? %>
  <script type="text/javascript">
    var SHOW_DATE_WARNING = true;
    $('#course_starts_at_1i, #course_starts_at_2i, #course_starts_at_3i').change(function() {
      var now = new Date();
      var twoWeeksFromNow = new Date(now.getTime() + (14 * 24 * 60 * 60 * 1000));
      var selectedDate = new Date($('#course_starts_at_1i').val(), ($('#course_starts_at_2i').val() - 1), $('#course_starts_at_3i').val());
    
      if (selectedDate < twoWeeksFromNow && SHOW_DATE_WARNING) {
        $('#date-warning').show();
      } else {
        $('#date-warning').hide();
      }
    })
  </script>
<% end %>


<div class="page-section-float-left">

    <div class="class-form-question">Where</div><br>
      <p class="tip">For public space, take into consideration of your event size. If it's outdoor, have a back up plan in case of bad weather. For private space, please take the proper precautions when inviting strangers into your home. We don't recommend having 1 on 1 event at your own house.</p>
      <p class="tip">We have partnerships with a number of co-working spaces, and lots of good suggestions from past event organizers. If you're looking for ideas, just email us at hello@hourschool.com for help!</p>
        <p>
        <%= f.radio_button :public, true, :checked => true, :style => "float: left; margin-right: 10px" %>
        <%= f.label :public, 'Public location (ex. cafes, offices, etc)' %>
        <%= f.radio_button :public, false, :style => "float: left; margin-right: 10px;"  %>
        <%= f.label :public, 'Residential location (only students who have signed up will see the address)' %>
        </p>
        
        <p>
          <%= f.text_field :place_name, :class => "form", :placeholder => "Name of location (ex. Jo's coffee)", :autocomplete => "off" %>
          <%= f.text_field :address, :class => "form", :placeholder => "Street address (ex. 1201 Hackberry St.)", :autocomplete => "off" %>

          <%= render :partial => 'layouts/application/city_state_select', :locals => {:f => f, :parent => @course} %>

          <%= f.text_field :zip, :class => "form-short", :placeholder => "Zip / Postal Code" %>
        </p>
</div>

<div class="page-section-float-left">
  <div class="class-form-question">Price</div><br>
  <p class="tip">If you need to cover supplies, venue rental fee, snacks and other resources, you can have a cover charge for your event.</p>
  <br>
    <div style="float: left; margin-top: 5px; margin-right: 5px">$</div> <%= f.text_field :price, :class => "form-short", :stype => "float: left", :placeholder => "10" %>
    <div style="float: left; margin-top: 5px">per person</div> 
</div>


<br><br><br>

  <% if current_account == Account.find(4) %>
    <%= f.submit "Submit", :style => "border: none;
    background: #00B6FF;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
      font-family: BebasNeue;
      font-size: 18px;
      height: 28px;
      padding: 6px;
      margin-bottom: 6px;
      color: white;
      background-color: #BA5F8F;
      -moz-box-shadow: 0 2px 4px #999;
      -webkit-box-shadow: 0 2px 4px #999;
      box-shadow: 0 2px 4px #999;
      cursor: pointer;", :id => 'course_submit', :value => "Preview my class" %>
  <% else %>
   <%= f.submit "Submit", :class => "btn", :id => 'course_submit', :value => "Submit" %>
  <% end %>


<% end %>



