.page
  .page-content
    .confirm-second-message Your class is now live!
    %hr#confirm

    .confirm-classblock
      - link_to @course do
        - if @course.photo.exists?
          = image_tag(@course.photo.url(:small), :size => "190x120")
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
        - else
          - if !@course.categories.first.nil?
            = image_tag("#{DEF_IMAGES[@course.categories.first.name]}",:size => "190x120")
          - else
            = image_tag("/images/v2-courses/DefaultClassPics_Generic.png",:size => "190x120")
        = image_tag '/images/v2/arrow_white_pointup.png', :class => 'class-arrow'
        .confirm-class-description
          .heading13-class
            = @course.title

      %table
        %tr
          %td
            = image_tag "/images/v2/icon_pricetag.png", :class => "class-details-icon-cost"
          %td
            .class-details
              = "$ #{@course.price}"
        %tr
          %td
            = image_tag "/images/v2/icon_calendar.png", :class => "class-details-icon-when"
          %td
            .class-details
              = @course.date.strftime("%B %d, %Y")
            .class-address-details
              = "#{@course.time_range}"

        %tr
          %td
            = image_tag "/images/v2/icon_location.png", :class => "class-details-icon-where"
          %td
            .class-details
              = "#{@course.place_name}"
            .class-address-details
              = "#{@course.address}"


    .confirm-description-block
      .confirm-bring-friend Invite people to take your class
      %p We will help promote your class in any way we can. If you already know people that are interested, get a head start and let them know about your class!

    .confirm-description-block
      = render :partial => "social_share_teach"
        
    .confirm-description-block
      %p What would you like to do now? 
      %br     
      %span.list-number 1
      = link_to "Check out the teacher's handbook", "/pdf/handbook-111311.pdf", :class => "orange-checklist"
      %br
      %span.list-number 2
      = link_to "Go to the class page", @course, :class => "orange-checklist"
      %br
      %span.list-number 3
      = link_to "View your profile", "/profile", :class => "orange-checklist"

.sidebar
  .tipbox
    %img.tape{:src => '../../../images/v2/Tape_White.png'}
    .heading10 Have questions?
    %a(href="http://hourschool.assistly.com/customer/portal/emails/new")
      #tipboxButton Contact us!
