<% if current_account == Account.where(:id => 4).first %>
  <%= render :partial => 'courses/womendesignbuild/confirm' %>
  
<% else %>

  <div class="full-page">
    <div class="page-content">
      <div class="confirm-second-message">Woohoo it's live!</div>
      <hr id="confirm">

      <div class="confirm-classblock">
        <% if @course.photo.present? %>
          <%= link_to (image_tag(@course.photo.url(:small), :size => "190x120")), @course %>
        <% else %>
          <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), @course %>
        <% end %>

        <div class="confirm-class-description">
          <div class="heading13-class"><%= link_to @course.title, @course %></div>

          <table>
            <tr>
              <td class="icon">
                <%= image_tag "v2/icon_pricetag.png", :class => "class-details-icon-cost" %>
              </td>
              <td>
                <div class="class-details"><%= "$ #{@course.price}" %></div>
              </td>
            </tr>
            <tr>
              <td class="icon">
                <%= image_tag "v2/icon_calendar.png", :class => "class-details-icon-when" %>
              </td>
              <td>
                <div class="class-details"><%= "#{@course.starts_at.in_time_zone(@course.city.time_zone || @course.teacher.time_zone).strftime("%l:%M%p")} - #{@course.ends_at.in_time_zone(@course.city.time_zone || @course.teacher.time_zone).strftime("%l:%M%p")}" %></div>
              </td>
            </tr>
            <tr>
              <td class="icon">
                <%= image_tag "v2/icon_location.png", :class => "class-details-icon-where" %>
              </td>
              <td>
                <div class="class-details"><%= "#{@course.place_name}" %></div>
                <% if @course.public? %>
                  <%= "#{@course.address}" %>
                <% else %>
                  <p>Private Address</p>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="confirm-messageBlock">
        <div class="confirm-bring-friend">Invite people to come</div>
        <p class="confirm">We will help you promote in any way we can. If you already know people that are interested, get a head start and let them know!</p>
      </div>

      <div class="confirm-description-block">
        <% if current_user.facebook? %>
          <p class="confirm">Here's a handy way to invite people from Facebook</p>
          <%= render :partial => "users/facebook/autocomplete/share", :locals => { :link => course_url(@course), :name => "#{@course.title}",  :message => "I'm teaching a class on Hourschool, you should sign up!"} %>
          <%= render :partial => "users/facebook/grid/share", :locals => {:message => "I'm teaching a class on Hourschool, you should sign up!", :link    => course_url(@course), :name    => "#{@course.title}", :same_city => true , :limit => 5 } %>
        <% else %>
          <p class="confirm">Classes are more fun with friends! Connect Facebook to your account today!</p>
          <%= render :partial => 'users/facebook/connect_button' %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
