.full-page
  .page-content
    .confirm-second-message Your class is now live!
    = image_tag("/images/v2/grasshopper-hop.png", :class => "confirm-grasshopper")
    %hr#confirm

    .confirm-classblock
      - link_to @course do
        - if @course.photo.exists?
          = image_tag(@course.photo.url(:small), :size => "190x120")
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
        - else
          - if !@course.categories.first.nil?
            = image_tag("#{DEF_IMAGES[@course.categories.first.name]}",:size => "190x120")
          - else
            = image_tag("/images/v2-courses/DefaultClassPics_Generic.png",:size => "190x120")
        = image_tag '/images/v2/arrow_white_pointup.png', :class => 'class-arrow'
        .confirm-class-description
          .heading13-class
            = @course.title
          %p= @course.teaser.truncate(60) unless @course.teaser.blank?


    .confirm-messageBlock
      .confirm-bring-friend Invite people to take your class
      %p.confirm We will help promote your class in any way we can. If you already know people that are interested, get a head start and let them know about your class!
      = render :partial => "social_share", :locals => {:url => course_url(@course),  :text  => 'Check out this course I just signed up for ', :description => @course.description}
    .confirm-description-block
      %p.confirm Have someone in mind you want to invite? Leave a message on their Facebook wall!

      = render :partial => "users/facebook/autocomplete/share", :locals => { :link => course_url(@course), :name => "#{@course.title}",  :message => "I'm teaching a class on Hourschool, you should sign up!"}
