.modal
  .welcome-header Contact teacher

  = form_tag contact_teacher_send_path, :method => 'post' do
    = hidden_field_tag 'id', @course.id
    .form-question= "Message or question for the teacher of the #{@course.title} class:"
    = text_area_tag 'message', '', :class => 'form-tall'
    .page-section-float-left
      = submit_tag "Send message", :class => "send-message-button"
      
      
