.page
  .page-content
    .confirm-second-message You have successfully signed up!
    %hr#confirm

    .confirm-classblock
      - link_to @course do
        - if @course.photo.exists?
          = image_tag(@course.photo.url(:small), :size => "190x120")
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
        - else
          - if !@course.categories.first.nil?
            = image_tag("#{DEF_IMAGES[@course.categories.first.name]}",:size => "190x120")
          - else
            = image_tag("/images/v2-courses/DefaultClassPics_Generic.png",:size => "190x120")
        = image_tag '/images/v2/arrow_white_pointup.png', :class => 'class-arrow'
        .confirm-class-description
          .heading13-class
            = @course.title

      %table
        %tr
          %td.icon
            = image_tag "/images/v2/icon_pricetag.png", :class => "class-details-icon-cost"
          %td
            .class-details
              = "$ #{@course.price}"
        %tr
          %td.icon
            = image_tag "/images/v2/icon_calendar.png", :class => "class-details-icon-when"
          %td
            .class-details
              = @course.date.strftime("%B %d, %Y")
            .class-address-details
              = "#{@course.time_range}"

        %tr
          %td.icon
            = image_tag "/images/v2/icon_location.png", :class => "class-details-icon-where"
          %td
            .class-details
              = "#{@course.place_name}"
            - if @course.public?
              .class-sidebar-details
                = "#{@course.address}"
            - else
              %p Private Address


    .confirm-description-block
      .confirm-bring-friend Bring a friend or two
      %p It's always more fun to learn with friends. Share this with people you think might be interested.

    .confirm-description-block
      = render :partial => "social_share", :locals => {:url => course_url(@course)}
      %p.confirm Have someone in mind you want to invite? Leave a message on their Facebook wall!

      = render :partial => "users/facebook/autocomplete/share", :locals => { :link => course_url(@course), :name => "#{@course.title}",  :message => "I'm taking this class on Hourschool, you should sign up!"}

    .confirm-description-block
      %p What would you like to do now?
      %br
      %span.list-number 1
      = link_to "Go to the class page", @course, :class => "orange-checklist"
      %br
      %span.list-number 2
      = link_to "View your profile", "/profile", :class => "orange-checklist"
      %br
      %span.list-number 3
      = link_to "Browse for more classes", "/learn", :class => "orange-checklist"

- content_for :sidebar do
  .tipbox
    %img.tape{:src => '../../../images/v2/Tape_White.png'}
    .heading10 Have questions?
    %a(href="http://hourschool.assistly.com/customer/portal/emails/new")
      #tipboxButton Contact us!
