    <% if @mission.id == 4 %>
      <div class="alert alert-info" style="height: 150px">
        <center><p style="font-size: 24px; margin-top: 60px">The page has been moved. Please visit <a href="http://frenchinannarbor.hourschool.com">http://frenchinannarbor.hourschool.com</a></p></center>
      </div>
    <% end %>

<div class="full-page white">
  <div class="mission-description-box">
    <div class="heading14" style="margin: 20px 0px 5px 0px;">
      The mission
    </div>

    <div class="heading28 brown" style="margin-bottom: 5px;">
      <%= link_to full_mission_title(@mission), mission_path(@mission) %>
    </div>
    <div class="heading9 bold" style="color: #999;">
      <%= "#{@mission.city.name}, #{@mission.city.state}" %>
    </div>
  </div>

  <div class="mission-status-box" style="margin-top: 25px">
    <div style="width: 240px; float: right;">
      <a class="btn right" data-toggle="modal" href="#tinyLetter" style="margin-left: 5px">Invite</a>
      <% if !current_user || (current_user && current_user.crewmanships.where(:mission_id => @mission).blank?) %>
        <%= link_to "Follow Mission", mission_crewmanships_path(@mission), :method => :post, :class => "btn btn-warning right", :style => "color: white" %>
      <% elsif current_user && current_user.crewmanships.where(:mission_id => @mission).present? %>
        <div class="btn btn-warning right disabled" style="color: white">Following Mission</div>
      <% end %>
    </div>

    <!-- Modal BEGIN -->
    <div class="modal hide" id="tinyLetter">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Invite someone to this mission</h3>
      </div>
      <div class="modal-body">
        <%= render 'invites/form' %>
      </div>
    </div>
    <!-- Modal END -->

    <div class="heading11" style="margin-top: 10px; float: right">
      <a data-toggle="modal" href="#wholeCrew"><%= "The mission crew (#{@users.count})" %></a>
    </div>

    <div style="width: 240px; float: right">
      <% @users.sample(4).each do |user| %>
      <div style="float: left; margin-top: 10px; margin-bottom: 5px; float: right">
        <div style="float: left; margin-right: 5px; float: right">
          <% if user.photo.present? %>
            <%= link_to image_tag(user.photo.url(:thumb_small)), user %>
          <% else %>
            <%= link_to (image_tag 'avatar.jpg', :size => "50x50"), user %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <!-- modal begins -->
    <div class="modal hide" id="wholeCrew">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>The crew in the mission <%= full_mission_title(@mission) %></h3>
      </div>
      <div class="modal-body">
        <% @users.each do |user| %>
          <div class="mission-divider">
            <div class="crewman-photo">
              <% if user.photo.present? %>
                <%= link_to_avatar(user, :thumb_small) %>
              <% else %>
                <%= link_to (image_tag 'avatar.jpg', :size => "50x50"), user %>
              <% end %>
            </div>
            <div class="crewman-description">
              <%= link_to user.name, user, :style => "text-decoration: none; font-weight: 700; float: left; margin-right: 10px " %>

              <%if user.crewmanships.where(:role => "creator", :mission_id => @mission).last %>
                <span class="label">Mission Creator</span>
              <% elsif user.crewmanships.where(:role => "explorer", :mission_id => @mission).last %>
                <span class="label">Explorer</span>
              <% elsif user.crewmanships.where(:role => "guide", :mission_id => @mission).last  %>
                <span class="label">Guide</span>
              <% elsif user.crewmanships.where(:role => "alumni", :mission_id => @mission).last  %>
                <span class="label">Alumni</span>
              <% end %>
              <p><%= user.bio %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- modal ends -->
  </div>
</div>

<div class="full-page white">
  <div class="page-content">
    <div class="heading14" style="margin-bottom: 20px">Upcoming Events (<%= @upcoming_courses.count %>)</div>
    <% if @upcoming_courses.present? %>
      <% @upcoming_courses.each do |course| %>
        <div class="classBlock" style="margin-right: 30px;">
          <% if course.photo.present? %>
            <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
          <% else %>
            <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
          <% end %>

            <div class="class-description" style="float: left; width: 170px">
              <div class="heading13 brown">
                <%= link_to course.title.truncate(50), course %>
              </div>
              <div class="heading10" style="font-weight: 700">
                <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
              </div>
              <p><%= course.description.truncate(60) %></p>
            </div>
        </div>
      <% end %>
    <% else %>
      There are no upcoming events at the moment. <%= link_to "You can create one!", new_course_path(:mission_id => @mission), :class => "btn" %>
    <% end %>
  </div>
</div>

<div class="full-page white">
  <div class="page-content">
    <div class="heading14" style="margin-bottom: 20px">Past Events (<%= @past_courses.count %>)</div>
    <% @past_courses.each do |course| %>
      <div class="classBlock" style="margin-right: 30px;">
        <% if course.photo.present? %>
          <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
        <% else %>
          <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
        <% end %>

          <div class="class-description" style="float: left; width: 170px">
            <div class="heading13 brown">
              <%= link_to course.title.truncate(50), course %>
            </div>
            <div class="heading10" style="font-weight: 400">
              <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
            </div>
            <p><%= course.description.truncate(60) %></p>
          </div>
      </div>
    <% end %>
  </div>
</div>