= render :partial => "home/header"  
/ .container_16.searchBar.clearfix
/   = render :partial => 'home/search_form'

.page
  .page-content
    .page-section-float-left.clearfix
      .welcome-header 
        ="Admin Page"
      
      %img.greyheader_half{:src => '../../../images/v2/greyheader_half.png'}
      %ul.sub-nav.clearfix
        %li.sub-nav-active 
          = link_to "Proposals", "#", :class => "sub-nav-inactive"
          

    .page-section-float-left
      - @courses.each do |course|
        %p= "#{course.title}"
        %p= "#{course.about}"
        %p= "#{course.experience}"
        %p= link_to "Approve", approve_path(:id => course.id), :method => "POST"
  
