- if current_account == Account.where(:id => 4).first
  = render :partial => 'courses/womendesignbuild/preview'

- else

  .page-section-float-left
    #preview-box
      .preview-header Preview before this goes live!
      = button_to "Publish now!", course_attendee_registration_path(@course), :class => "preview-button", :style => "width: 120px", :method => :put
      = button_to "Make changes", edit_course_path(@course.id), :class => "edit-form-button", :style => "width: 120px", :method => :get

    - if community_site?
      #preview-box-tall
        .classBlock
          - if @course.photo.present?
            = link_to (image_tag(@course.photo.url(:small), :size => "190x120")), @course
          - else
            = link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), @course
          - if @course.donate?
            = image_tag "v2-campaign/widget-ribbon.png", :class => "widget-ribbon" 
          = image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow'
    
          .class-description
            .heading13-class
              = "#{@course.title.truncate(45)}"
            - if @course.teaser.blank?
              = "#{@course.description.truncate(60)}"
            - else
              = "#{@course.teaser.truncate(60)}"
            = "#{@course.topics.collect(&:title).to_sentence}"

          .class-note
            .heading9-class
              - if @course.active?  
                - if @course.max_seats.blank?
                  = link_to "Unlimited seats |", @course
                - elsif @course.seats_left == 0 
                  = link_to "Full! Request again |", @course
                - elsif
                  = link_to "#{@course.seats_left} seats left |", @course
              = "#{@course.city.try(:name)}, #{@course.city.try(:state)}"
        #preview-checklist-box
          .welcome-header Preview CheckList
          %ul
            %li.preview-checklist 1. Check the widget to your left
            %p Does the photo look good? Do the words fit well? This is what people will see when they browse classes so first impressions count!
            %br
            %li.preview-checklist 2. Check the class profile page below
            %p Make sure to check out class specifics on the right hand column and your description.
            %br
            %li.preview-checklist 3. Don't worry, you can always come back!
            %p You can always come back and edit your class widget and profile page at any time.

  .page
    .page-content
      .page-section-float-left
        .class-logistic-block
          - if @course.photo.exists?
            = image_tag(@course.photo.url(:small), :size => "190x120")
            = image_tag "v2/arrow_white_pointup.png", :class => "class-arrow"
          - else
            - if !@course.categories.first.nil? && DEF_IMAGES.has_key?(@course.categories.first.name)
              = image_tag("#{DEF_IMAGES[@course.categories.first.name]}",:size => "190x120")
            - else
              = image_tag("v2-courses/DefaultClassPics_Generic.png", :size => "190x120")
              = image_tag "v2/arrow_white_pointup.png", :class => "class-arrow"
        .class-description-block
          .class-title-big
            = @course.title
          .happening-message-header
            = "#{@course.city.try(:name)}, #{@course.city.try(:state)}"
          .heading10-class
            = render :partial => "courses/show/add_this_small"
      .page-section-float-left
        .class-section-heading Description
        .class-detail
          %p= simple_format Rinku.auto_link(@course.description)

  = content_for :sidebar do
    .sidebar-white
      .sidebar-content-white

        //todo move this out of tables and move the glyphs (pricetag, icon_calendar, etc.) to css
        .sidebar-block
          .class-section-heading Details
          %table
            %tr
              %td.icon
                = image_tag "v2/icon_pricetag.png", :class => "class-details-icon-cost"
              %td
                .class-details
                  = "$" "#{@course.price}"
                  %br/
                  - if @course.has_student?(current_user)
                  - else
                    - if @course.donate?
                      .greendoors-alternatives All proceeds will be used to support the Peer Teaching Fund!

            %tr
              %td.icon
                = image_tag "v2/icon_calendar.png", :class => "class-details-icon-when"
              %td
                .class-details
                  = @course.starts_at.strftime("%a %b %d, %Y")
                .class-sidebar-details
                  = "#{@course.starts_at.in_time_zone(@course.city.time_zone || @course.teacher.time_zone).strftime("%l:%M%p")} - #{@course.ends_at.in_time_zone(@course.city.time_zone || @course.teacher.time_zone).strftime("%l:%M%p")}"

            %tr
              %td.icon
                = image_tag "v2/icon_location.png", :class => "class-details-icon-where"
              %td
                .class-details
                  = @course.place_name
                - if @course.public?
                  .class-sidebar-details
                    = @course.address
                    = "#{@course.city.name}, #{@course.city.state}"
                - else
                  %p= "Private Address"


          - if @course.donate?
            .sidebar-block-last
              = link_to image_tag("v2-campaign/frame_filled.png", :class => "greendoors-frame"), campaign_path

        .sidebar-block-last
          - if current_account == Account.where(:id => 1).first
            .sidebar-heading Host
          - else 
            .sidebar-heading Teacher
          - if @course.teacher != current_user
            = image_tag "v2/icon_email.png", :class => "class-details-icon-email"
            = link_to "Email teacher", new_course_organizer_contact_path(@course), :class => "contact-link"
          .class-attendance-block
            %table
              %tr
                %td
                  = avatar_for(@course.teacher, :photo_size => :thumb_small, :class => 'notBig', :size => '50x50')
                %td
                  = link_to @course.teacher.name, @course.teacher, :class => "profile-link"
            %p.class-details
              - if @course.experience.blank?
                = "#{@course.teacher.bio}"
              - else
                = @course.experience

        - if @course.students.any?
          .sidebar-block-last
            - if current_account == Account.where(:id => 1).first
              - if @course.max_seats.present? 
                .sidebar-heading Guests (#{@course.students.count}/#{@course.max_seats})
              - else 
                .sidebar-heading Guests (#{@course.students.count})
            - else 
              - if @course.max_seats.present? 
                .sidebar-heading Students (#{@course.students.count}/#{@course.max_seats})
              - else 
                .sidebar-heading Students (#{@course.students.count})
            - if @course.has_teacher?(current_user)
              = image_tag "v2/icon_email.png", :class => "class-details-icon-email"
              = link_to "Email students", new_course_attendee_contact_path(@course), :class => "contact-link"
            .class-attendance-block
              - @course.students.each do |student|
                %table
                  %tr
                    %td
                      = avatar_for(student, :photo_size => :thumb_small, :class => 'notBig', :size => '50x50')
                    %td
                      = link_to student.name, student, :class => "profile-link"
                %br

