= render :partial => "home/header"	

.page-section-float-left
	= image_tag("/images/v2/step3.png")
	.welcome-header Preview your class profile page
	%p= "This is what potential students will see when they check out your class. Make sure everything is shipshape, then go ahead and publish!"

.page
	.page-content
		.page-section-float-left
			#preview_teacher_class_tab
				%ul.sub-nav
					%li.sub-nav-active
						= link_to "The class", :class => "sub-nav-active"
					%li.sub-nav-inactive
						= link_to "The teacher", :class => "sub-nav-inactive"
		.page-section-float-left
			.class-logistic-block
				- if @course.photo.exists?
					= image_tag(@course.photo.url(:small), :size => "190x120")
					%img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
				- else
					- if !@course.categories.first.nil? && DEF_IMAGES.has_key?(@course.categories.first.name)
						= image_tag("#{DEF_IMAGES[@course.categories.first.name]}",:size => "190x120")
					- else
						= image_tag("/images/v2-courses/default_image.jpg", :size => "190x120")
				
				= image_tag "/images/v2/arrow_white_pointup.png", :class => "class-arrow"
			.class-description-block
				.class-title-big
					= @course.title
				.heading10-class
					= "Classes are always more fun with a group of friends. Share this class!"
				%table
					%tr
						%td
							.twshare.left
							%a.twitter-share-button.left{"data-count" => "horizontal", "data-via" => "fuonrails", :href => "http://twitter.com/share"} Tweet
							%script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
						%td
							.fshare.left{:style => 'padding-left: 0px; margin-left: 0px;'}
							%script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
							%fb:like{:layout => "button_count", :show_faces => "false", :width => "450"}
		.page-section-float-left
			.class-section-heading This class will cover
			%p.class-detail
				= "#{@course.about}"

= render :partial => "sidebar", :locals => {:course => @course}
%br
.page-section-float-left.clearfix
	%ul
		%li
			%p Like the way things look?
			= button_to "I'm happy. Publish my class", @course, :class => "submit-proposal-button", :method => :get
			%br
			%br
			%br
		%li
			%p Need to make some changes?
			= button_to "Make changes", edit_course_path(@course.id), :class => "edit-form-button", :method => :get

