.page
  .page-content
    .confirm-classblock
      = link_to @course do
        - if @course.photo.present?
          = link_to (image_tag(@course.photo.url(:small), :size => "190x120")), @course
        - else
          = link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), @course
        - if @course.donate?
          = image_tag "v2-campaign/widget-ribbon.png", :class => "widget-ribbon" 
        = image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow'
        
        .confirm-class-description
          .heading13-class
            = @course.title
            
          %table
            %tr
              %td.icon
                = image_tag "v2/icon_pricetag.png", :class => "class-details-icon-cost"
              %td
                .class-details
                  = "$ #{@course.price}"
            %tr
              %td.icon
                = image_tag "v2/icon_calendar.png", :class => "class-details-icon-when"
              %td
                .class-details
                  = @course.starts_at.strftime("%a %b %d, %Y")
                .class-sidebar-details
                  = "#{@course.starts_at.in_time_zone(@course.city.time_zone || @course.teacher.time_zone).strftime("%l:%M%p")} - #{@course.ends_at.in_time_zone(@course.city.time_zone || @course.teacher.time_zone).strftime("%l:%M%p")}"

            %tr
              %td.icon
                = image_tag "v2/icon_location.png", :class => "class-details-icon-where"
              %td
                .class-details
                  = "#{@course.place_name}"
                - if @course.public?
                  .class-sidebar-details
                    = "#{@course.address}"
                - else
                  %p Private Address


    .class-description-block
      .confirm-bring-friend You're a couple short steps from signing up for this class!
      %br
      - if @course.price == 0
        = button_to "Yes I'm in!", register_path(:id => @course), :class => "register-class button"
      - else
        = link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), payments_paypal_requests_path(:course_id => @course.id), :method => :POST


.sidebar
  .tipbox
    = image_tag 'v2/Tape_White.png', :class => 'tape'
    .heading10 Have questions?
    %a(href="http://hourschool.assistly.com/customer/portal/emails/new")
      #tipboxButton Contact us!
