.page
  .page-content
    .confirm-classblock
      - link_to @course do
        - if @course.photo.exists?
          = image_tag(@course.photo.url(:small), :size => "190x120")
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
        - else
          - if !@course.categories.first.nil?
            = image_tag("#{DEF_IMAGES[@course.categories.first.name]}",:size => "190x120")
          - else
            = image_tag("/images/v2-courses/DefaultClassPics_Generic.png",:size => "190x120")
        = image_tag '/images/v2/arrow_white_pointup.png', :class => 'class-arrow'
        .confirm-class-description
          .heading13-class
            = @course.title
          %p
            - if @course.coursetag.blank?
            - else
              = @course.coursetag

      %table
        %tr
          %td.icon
            = image_tag "/images/v2/icon_pricetag.png", :class => "class-details-icon-cost"
          %td
            .class-details
              = "$ #{@course.price}"
        %tr
          %td.icon
            = image_tag "/images/v2/icon_calendar.png", :class => "class-details-icon-when"
          %td
            .class-details
              = @course.date.strftime("%B %d, %Y")
            .class-address-details
              = "#{@course.time_range}"

        %tr
          %td.icon
            = image_tag "/images/v2/icon_location.png", :class => "class-details-icon-where"
          %td
            .class-details
              = "#{@course.place_name}"
            - if @course.public?
              .class-sidebar-details
                = "#{@course.address}"
            - else
              %p Private Address


    .class-description-block
      .confirm-bring-friend You're a couple short steps from signing up for this class!
      %br
      %br
      %p.confirm If the class doesn't happen because there aren't enough students, you will get a refund.
      %br
      %p We use Amazon to handle all class payments. Amazon is the only party that sees and stores your credit card info.
      %br  
      %br
      - if @course.price == 0
        = button_to "Yes I'm in!", register_path(:id => @course), :class => "register-class-button"
      - else 
        = render "amazon_form"


.sidebar
  .tipbox
    %img.tape{:src => '../../../images/v2/Tape_White.png'}
    .heading10 Have questions?
    %a(href="http://hourschool.assistly.com/customer/portal/emails/new")
      #tipboxButton Contact us!
