%head
  = include_yui_editor_if_used.html_safe

- p "request is #{request.url}"

.page
  .page-content
    .page-section-float-left
      .class-logistic-block
        - if @current_course.photo.exists?
          = image_tag(@current_course.photo.url(:small), :size => "190x120")
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
        - else
          - if !@current_course.categories.first.nil?
            = image_tag("#{DEF_IMAGES[@current_course.categories.first.name]}",:size => "190x120")
          - else
            = image_tag("/images/v2-courses/DefaultClassPics_Generic.png",:size => "190x120")
          %img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
      .class-description-block
        .class-title-big
          = "#{@current_course.title}"

              
    .page-section-float-left
      .class-section-heading
        = "This class will cover"
      %p= sanitize @current_course.description.gsub(/\n/,'<br/>')
    
    .comment-section
      .class-section-heading
        = "Join the conversation"
      = render :partial => "disqus"


= render :partial => "sidebar", :locals => {:course => @course}

