<%= content_for(:document_title, "#{@course.name} in #{@course.city.try(:name)} | taught by #{@course.teacher.name} on Hourschool" ) %>

<%= content_for :head do %>
  <meta property="og:description" content="<%= @course.description %>"        />
  <meta property="og:image"       content="<%= @course.photo.url(:small) %>"  />
  <meta property="og:title"       content="<%= @course.title %>"              />
  <meta property="og:url"         content="<%= course_url(@course) %>"        />
<% end %>

<!-- preview box -->
<% if @course.status == 'draft' && (@course.teacher == current_user || current_user.admin?) %>
  <div class="alert alert-info full-page" style="width: 904px">
    <div style="float: left; margin-top: 5px; padding-bottom: 5px"><strong>Preview before this goes live!</strong></div>
    <%= link_to 'Publish now', course_path(@course.id, :course => {:status => 'live'}), :class => "btn btn-inverse right", :style => "color: white; margin-left: 10px;", :method => :put %>
    <%= link_to "Make changes", edit_course_path(@course.id), :class => "btn right", :style => "margin-left: 10px", :method => :get %>
    <%= link_to "Save draft", course_path(@course.id, :course => {:status => 'draft'}), :class => "btn right",  :method => :put %>
  </div>
<% end %>
<!-- end preview box -->

<div class="left" style="width: 626px"><!-- page-main container -->

<%= render 'missions/show/invitee_landing_page' %>

  <div class="page-main white">
    <div class="page-content">
      <div class="heading28 brown" style="margin-bottom: 5px"><%= "#{@course.title}" %></div>
      <div class="heading9" style="text-transform: uppercase; font-weight: 700; color: #999; letter-spacing: 0.2em">
      </div>

      <div style="width: 97%; margin-top: 10px">
        <%= image_tag(@course.photo.url(:large), :style => "float: none") if @course.photo.present? %>
        <div class="class-section-heading" style="margin-top: 10px">Description</div>
        <p><%= simple_format Rinku.auto_link(@course.description), :style => "margin-bottom: 30px" %></p>

      <div class="mission-divider">
        <div class="class-section-heading">Organizer</div>
        <div class="crewman-photo">
          <% if @course.teacher.photo.present? %>
            <%= link_to_avatar(@course.teacher, :thumb_small) %>
          <% else %>
            <%= image_tag 'avatar.jpg', :size => "50x50" %>
          <% end %>
        </div>
        <div class="crewman-description">
          <div style="font-weight: 700; float: left; margin-right: 10px"><%= link_to @course.teacher.name, @course.teacher %></div>
          <p>
            <% if @course.experience.blank? %>
             <%= @course.teacher.bio %>
            <% else %>
              <%= @course.experience %>
            <% end %>
          </p>
        </div>
      </div>

      </div>
    </div>
  </div>

  <% if @course.students.any? %>
    <div class="page-main white">
      <div class="page-content">
        <% if @course.max_seats.present? %>
          <div class="sidebar-heading">Attendees (<%= "#{@course.students.count}/#{@course.max_seats}" %>)</div>
        <% else %>
          <div class="sidebar-heading">Attendees (<%= "#{@course.students.count}" %>)</div>
        <% end %>
        <% @course.students.each do |student| %>
          <div class="mission-divider">
            <div class="crewman-photo">
            <% if student.photo.present? %>
              <%= link_to_avatar(student, :thumb_small) %>
            <% else %>
              <%= image_tag 'avatar.jpg', :size => "50x50" %>
            <% end %>
            </div>
            <div class="crewman-description">
              <div style="font-weight: 700; float: left; margin-right: 10px">
              <% if student.name.present? %>
                <%= link_to student.name, student %>
              <% else %>
                <% @role = student.roles.first %>
                <% @inviter = User.where(:id => @role.invite_user_id).first %>
                <%= @inviter.name.split(" ").first %>'s guest
              <% end %>
              </div>
              <p><%= student.bio %></p><br>
              <% if student == current_user %>
                <%= link_to "edit your bio", edit_user_registration_path, :class => "btn" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="page-main white">
    <div class="page-content">
      <div style="width: 97%">
        <div class="class-section-heading">Comments</div>
        <%= render :partial => "courses/show/comments", :locals => {:course => @course} %>
      </div>
    </div>
  </div>

</div>

<div class="left" style="width: 290px"><!-- sidebar container -->

  <div class="white right page-sidebar">
    <div class="sidebar-content-white">
      <%= render :partial  => "courses/show/sidebar", :locals => {:course => @course} %>
    </div>
  </div>

  <div class="white right page-sidebar">
    <div class="sidebar-content-white">
      <div class="heading11" style="border-bottom: 1px dashed #EFEFEF; padding-bottom: 7px; margin-bottom: 10px">
        Some handy tools
      </div>

      <% if current_user %>
      <div class="mission-divider">
        <% if @course.teacher == current_user %>
          <%= link_to "Edit event", edit_course_path %><br>
          <a data-toggle="modal" href="#emailAttendees">Email Attendees</a><br>
          <% if @course.starts_at > Time.zone.now %>
            <%= link_to "Cancel this event", course_organizer_path(@course, :cancel), :method => :get %><br>
            <%#= link_to "Schedule this event one more time", course_duplicate_path(:course_id => @course), :method => :post %><br>
            <%#= link_to "Make this a recurring event", new_course_duplicate_path(:course_id => @course) %>
          <% else %>
            <%#= link_to "Schedule this event one more time", course_duplicate_path(:course_id => @course), :method => :post %><br>
            <%#= link_to "Make this a recurring event", new_course_duplicate_path(:course_id => @course) %>
          <% end %>
        <% else %><!-- if current_user is not this course's teacher -->
          <a data-toggle="modal" href="#emailOrganizer">Email organizer</a><br>
          <% if current_user && @course.starts_at > Time.zone.now %>
            <a href="mailto:hello@hourschool.com" target="_blank">Cancel registration</a>
          <% end %>
        <% end %>
      </div>
      <% end %>

      <div style="float: left; margin-bottom: 30px">
        <% if @course.status == 'live' %>
          <% if current_user %>
            <a data-toggle="modal" href="#rally" class="btn btn-mini left" href="" style="color: black; font-weight: 700; margin-right: 10px"><i class="icon-bullhorn"></i> Rally</a>
          <% end %>
          <div style="float: left; margin-right: 10px">
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          </div>
          <div style="float: left; margin-top: 0px; width: 100px">
            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="hourschool">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>

          <% if current_user %>
            <!-- modal begins -->
            <div class="modal hide" id="rally">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Rally your troops</h3>
              </div>
              <div class="modal-body">
                <%= render 'invites/accordian' %>
              </div>
            </div>
            <!-- modal ends -->
          <% end %>

        <% end %>
      </div>
    </div>
  </div>

  <%= render 'courses/attendee/contacts/new' %>
  <%= render 'courses/organizer/contacts/new' %>


</div><!-- end sidebar container -->

