:css
  a{color: #ff7733;}
  
= content_for(:document_title, "#{@course.name} in #{@course.city.try(:name_state)} | taught by #{@course.teacher.name} on Hourschool" )

= content_for :head do
  :erb
    <meta property="og:description" content="<%= @course.description %>"        />
    <meta property="og:image"       content="<%= @course.photo.url(:small) %>"  />
    <meta property="og:title"       content="<%= @course.title %>"              />
    <meta property="og:url"         content="<%= course_url(@course) %>"        />



- if current_account == Account.where(:id => 4).first
  = render :partial => 'courses/womendesignbuild/show'
  
- else 
  = render :partial => 'courses/search'
  .page
    .page-content
      .page-section-float-left
        .class-logistic-block
          - if @course.photo.present?
            = image_tag(@course.photo.url(:small), :size => "190x120")
          - else
            = image_tag("v2-courses/DefaultClassPics_Generic.png",:size => "190x120")
          = image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow'
        .class-description-block
          .class-title-big
            = "#{@course.title}"
          - if community_site?
            .happening-message-header
              = "#{@course.city.try(:name)}, #{@course.city.try(:state)}"
          %br
          = render :partial => "courses/show/add_this_small"

      .page-section-float-left
        .class-section-heading
          = "Description"
        %p= simple_format Rinku.auto_link(@course.description), :style => "margin-bottom: 15px"

      .comment-section
        .class-section-heading
          = "Join the conversation"
        = render :partial => "courses/show/comments", :locals => {:course => @course}


  = content_for :head do
    :erb
      <meta property="og:description" content="<%= @course.description %>"        />
      <meta property="og:image"       content="<%= @course.photo.url(:small) %>"  />
      <meta property="og:title"       content="<%= @course.title %>"              />
      <meta property="og:url"         content="<%= course_url(@course) %>"        />


  = content_for :sidebar do
    = render :partial => "courses/show/sidebar", :locals => {:course => @course}

