<%= content_for(:document_title, "#{@course.name} in #{@course.city.try(:name_state)} | taught by #{@course.teacher.name} on Hourschool" ) %>

<%= content_for :head do %>
  <meta property="og:description" content="<%= @course.description %>"        />
  <meta property="og:image"       content="<%= @course.photo.url(:small) %>"  />
  <meta property="og:title"       content="<%= @course.title %>"              />
  <meta property="og:url"         content="<%= course_url(@course) %>"        />
<% end %>


<% if current_account == Account.where(:id => 4).first %>
  <%= render :partial => 'courses/womendesignbuild/show' %>
  
<% else %>
  <% if @course.status == 'draft' && @course.teacher == current_user %> 
    <div class="full-page">
      <div class="page-content">
        <div class="preview-header">Preview before this goes live!</div>
        <%= button_to 'Publish now', course_path(@course.id, :course => {:status => 'live'}), :class => "btn right",  :method => :put %>
        <%= link_to "Make changes", edit_course_path(@course.id), :method => :get %>
        <%= link_to "Save draft", course_path(@course.id, :course => {:status => 'draft'}),  :method => :put %>
      </div>
    </div>
  <% end %>

  <div class="class-title-big"><%= "#{@course.title}" %></div>
  <div class="happening-message-header"><%= "#{@course.city.try(:name)}, #{@course.city.try(:state)}" if community_site? %></div>
  <%#= render :partial => "courses/show/add_this_small" %>
  <br>

  <div class="page-main">
    <div class="tabbable"> 
      <ul class="nav nav-tabs" style="margin-bottom: 0px;">
        <li class="active"><a href="#tab1" data-toggle="tab" class="heading11">Description</a></li>
        <li><a href="#tab2" data-toggle="tab" class="heading11">Participants</a></li>
        <li><a href="#tab3" data-toggle="tab" class="heading11">Related</a></li>
      </ul>

      <div class="tab-content">
        
        <div class="tab-pane active" id="tab1">
          <div class="page-main white tab-border main">
            <div class="page-content"> 
              <div style="width: 97%">
                <%= image_tag(@course.photo.url(:large)) if @course.photo.present? %>
                <div class="class-section-heading" style="margin-top: 10px">Description</div>
                <p><%= simple_format Rinku.auto_link(@course.description), :style => "margin-bottom: 15px" %></p>
              </div>
            </div>
          </div>
          <div class="page-main white tab-border main">
            <div class="page-content"> 
              <div style="width: 97%">
                <div class="class-section-heading" style="margin-top: 10px">Comments</div>
                <%= render :partial => "courses/show/comments", :locals => {:course => @course} %>
              </div>
            </div>
          </div>

        </div><!-- end tab1 -->   
        
        <div class="tab-pane" id="tab2">
          <div class="page-main white tab-border main">
            <div class="page-content"> 
              <div class="mission-divider">
                <div class="sidebar-heading">Organizer</div>
                <div class="crewman-photo">
                  <%= image_tag(@course.teacher.photo.url(:thumb_large)) %>
                </div>
                <div class="crewman-description">
                  <div style="font-weight: 700; float: left; margin-right: 10px"><%= link_to @course.teacher.name, @course.teacher %></div>
                  <p>                
                    <% if @course.experience.blank? %>
                     <%= @course.teacher.bio %>
                    <% else %>
                      <%= @course.experience %>
                    <% end %>
                  </p>
                </div> 
              </div>    

              <% if @course.students.any? %>                  
                <% if @course.max_seats.present? %>
                  <div class="sidebar-heading">Attendees (<%= "#{@course.students.count}/#{@course.max_seats}" %>)</div>
                <% else %>
                  <div class="sidebar-heading">Attendees (<%= "#{@course.students.count}" %>)</div>
                <% end %>
                <% @course.students.each do |student| %>
                  <div class="mission-divider">             
                    <div class="crewman-photo">
                      <%= image_tag(student.photo.url(:thumb_large)) %>
                    </div>
                    <div class="crewman-description">
                      <div style="font-weight: 700; float: left; margin-right: 10px"><%= link_to student.name, student %></div>
                      <p><%= student.bio %></p>
                      <% if student == current_user %>
                        <%= link_to "edit your bio", edit_user_registration_path, :class => "btn" %>
                      <% end %>
                    </div>           
                  </div>
                <% end %>
              <% end %>
            
            </div>
          </div>
        </div><!-- end tab2 -->

        <div class="tab-pane" id="tab3">
          <div class="page-main white tab-border main">
            <div class="page-content"> 
              <div class="class-section-heading">Related Topics</div><br>
              <% if @course.topics.present? %>
                <% @course.topics.each do |topic| %>
                  <%= link_to topic.title, mission_topic_path(@course.mission, topic) %><br>
                <% end %>
              <% else %>
                <div class="well">
                  There are no related topics to this mission.
                </div>
              <% end %>
              <div class="class-section-heading">Part of Mission</div><br>
              <% if @course.mission.present? %>
                <%= link_to @course.mission.title, @course.mission if @course.mission.present? %>
              <% else %>
                <div class="well">
                  This event is not associated with a mission.
                </div>
              <% end %>  
            </div>
          </div>
        </div><!-- end tab 4 -->

      </div><!-- end tab-content -->
    </div><!-- end tabbable -->
  </div><!-- end page-main -->

  <div class="left" style="width: 290px"><!-- sidebar container -->
    <div class="white right page-sidebar" style="border: 1px solid #DDD; width: 290px">
      <div class="sidebar-content-white">
        <%= render :partial => "courses/show/sidebar", :locals => {:course => @course} %>
      </div>
    </div>

    <div class="white right page-sidebar" style="border: 1px solid #DDD; width: 290px">
      <div class="sidebar-content-white">
        <%= render 'courses/show/toolbox' %>
      </div>
    </div>

    <div class="white right page-sidebar" style="border: 1px solid #DDD; width: 290px">
      <div class="sidebar-content-white">
        <div class="heading11">Invite and rally</div>
        <p class="confirm">Learning is more fun with friends. If you already know people that are interested, get a head start and let them know!</p>
        <div class="heading11">Invite friends from Facebook</div>
        <% if current_user.facebook? %>
          <%= render :partial => "users/facebook/autocomplete/share", :locals => { :link => course_url(@course), :name => "#{@course.title}",  :message => "I'm teaching a class on Hourschool, you should sign up!"} %>
          <%= render :partial => "users/facebook/grid/share", :locals => {:message => "I'm teaching a class on Hourschool, you should sign up!", :link    => course_url(@course), :name    => "#{@course.title}", :same_city => true , :limit => 5 } %>
        <% else %>
          <p class="confirm">Classes are more fun with friends! Connect Facebook to your account today!</p>
          <%= render :partial => 'users/facebook/connect_button' %>
        <% end %>
        <div class="heading11">Invite friends by email</div>
        <div class="heading11">Promote in my community</div>
        <a class="btn">Print a flyer</a>
      </div>
    </div>
  </div><!-- end sidebar container -->

<% end %>
