= render :partial => "home/header"	

.page
	.page-content
		.page-section-float-left
			%ul.sub-nav
				%li.sub-nav-active
					= link_to "This class", @current_course, :class => "sub-nav-active"
		.page-section-float-left
			.class-logistic-block
				- if @current_course.photo.exists?
					= image_tag(@current_course.photo.url(:small), :size => "190x120")
					%img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
				- else
					= image_tag("/images/v2-courses/default_image.jpg")
					%img.class-arrow{:src => '/images/v2/arrow_white_pointup.png'}
			.class-description-block
				.class-title-big
					= "#{@current_course.title}"
				.heading10-class Classes are always more fun with a group of friends. Share this class!
				%table
					%tr
						%td
							.twshare.left
							%a.twitter-share-button.left{"data-count" => "horizontal", "data-via" => "fuonrails", :href => "http://twitter.com/share"} Tweet
							%script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
						%td
							.fshare.left{:style => 'padding-left: 0px; margin-left: 0px;'}
							%script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
							%fb:like{:layout => "button_count", :show_faces => "false", :width => "450"}
		.page-section-float-left
			.class-section-heading 
				= "This class will cover"
			%p= @current_course.description
			%br/
			- if @current_course.price > 0.0
				/ = image_tag("/images/amzn-payments.gif")
				/ = render :partial => "amazon_form", :locals => {:course => @current_course}
				= render "amazon_form"
				/ = amazon_simple_pay_form_tag do
				/ 					= hidden_field_tag 'referenceId', 'Class registration'
				/ 					= hidden_field_tag 'description', @current_course.title
				/ 					= submit_tag("Purchase the class through Amazon")
		%hr#class
			.class-section-heading Join the conversation
			= render :partial => "disqus"


= render :partial => "sidebar", :locals => {:course => @course}
    
