<%= content_for(:document_title, "#{@course.name} in #{@course.city.try(:name)} | taught by #{@course.teacher.name} on Hourschool" ) %>

<%= content_for :head do %>
  <meta property="og:description" content="<%= @course.description %>"        />
  <meta property="og:image"       content="<%= @course.photo.url(:small) %>"  />
  <meta property="og:title"       content="<%= @course.title %>"              />
  <meta property="og:url"         content="<%= course_url(@course) %>"        />
<% end %>


<% if current_account == Account.where(:id => 4).first %>
  <%= render :partial => 'courses/womendesignbuild/show' %>
  
<% else %>
  <!-- preview box -->
  <div class="full-page">
    <% if @course.status == 'draft' && @course.teacher == current_user %> 
      <div class="full-page white">
        <div class="page-content">
          <div class="preview-header">Preview before this goes live!</div>
          <%= button_to 'Publish now', course_path(@course.id, :course => {:status => 'live'}), :class => "btn right",  :method => :put %>
          <%= link_to "Make changes", edit_course_path(@course.id), :method => :get %>
          <%= link_to "Save draft", course_path(@course.id, :course => {:status => 'draft'}),  :method => :put %>
        </div>
      </div>
    <% end %>
    <div class="page-main">
      <div class="heading28 brown" style="width: 600px; margin-bottom: 5px"><%= "#{@course.title}" %></div>
      <div class="heading9" style="text-transform: uppercase; font-weight: 700; color: #999; letter-spacing: 0.2em"><%= "#{@course.city.try(:name)}, #{@course.city.try(:state)}" %></div>
    </div>
    <div style="float: right">
      <div class="btn-group" style="float: right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <%= image_tag 'v3/icon-tools.png' %>
        </a>
        <ul class="dropdown-menu pull-right">
          <% if @course.teacher == current_user %>
            <%= link_to "Edit event", edit_course_path %>
            <%= link_to "Email attendees", new_course_attendee_contact_path(@course) %>
            <% if @course.starts_at < Date.today %></li>
              <li><%= link_to "Cancel this event", "" %></li>
              <li><%= link_to "Reschedule this event", "" %>
            <% else %>
              <li><a>Schedule another class</a></li>
              <li><a>Schedule a series of classes</a></li>
            <% end %>
          <% else %><!-- if current_user is not this course's teacher -->
            <%= link_to "Email organizer", new_course_organizer_contact_path(@course) %>
            <!-- <a>Cancel registration</a> -->
          <% end %>
        </ul>
      </div>
    </div>



  <div class="page-main">
    <div class="tabbable"> 
      <ul class="nav nav-tabs" style="margin-bottom: 0px;">
        <li class="active"><a href="#tab1" data-toggle="tab" class="heading11">Description</a></li>
        <li><a href="#tab2" data-toggle="tab" class="heading11">Participants</a></li>
        <li><a href="#tab3" data-toggle="tab" class="heading11">Related</a></li>
      </ul>

      <div class="tab-content">
        
        <div class="tab-pane active" id="tab1">
          <div class="page-main white tab-border main">
            <div class="page-content"> 
              <div style="width: 97%">
                <%= image_tag(@course.photo.url(:large), :style => "float: none") if @course.photo.present? %>
                <div class="class-section-heading" style="margin-top: 10px">Description</div>
                <p><%= simple_format Rinku.auto_link(@course.description), :style => "margin-bottom: 15px" %></p>
              </div>
            </div>
          </div>
          <div class="page-main white tab-border main">
            <div class="page-content"> 
              <div style="width: 97%">
                <div class="class-section-heading" style="margin-top: 10px">Comments</div>
                <%= render :partial => "courses/show/comments", :locals => {:course => @course} %>
              </div>
            </div>
          </div>

        </div><!-- end tab1 -->   
        
        <div class="tab-pane" id="tab2">
          <div class="page-main white tab-border main">
            <div class="page-content"> 
              <div class="mission-divider">
                <div class="sidebar-heading">Organizer</div>
                <div class="crewman-photo">
                  <%= image_tag(@course.teacher.photo.url(:thumb_large)) %>
                </div>
                <div class="crewman-description">
                  <div style="font-weight: 700; float: left; margin-right: 10px"><%= link_to @course.teacher.name, @course.teacher %></div>
                  <p>                
                    <% if @course.experience.blank? %>
                     <%= @course.teacher.bio %>
                    <% else %>
                      <%= @course.experience %>
                    <% end %>
                  </p>
                </div> 
              </div>    

              <% if @course.students.any? %>                  
                <% if @course.max_seats.present? %>
                  <div class="sidebar-heading">Attendees (<%= "#{@course.students.count}/#{@course.max_seats}" %>)</div>
                <% else %>
                  <div class="sidebar-heading">Attendees (<%= "#{@course.students.count}" %>)</div>
                <% end %>
                <% @course.students.each do |student| %>
                  <div class="mission-divider">             
                    <div class="crewman-photo">
                      <%= image_tag(student.photo.url(:thumb_large)) %>
                    </div>
                    <div class="crewman-description">
                      <div style="font-weight: 700; float: left; margin-right: 10px"><%= link_to student.name, student %></div>
                      <p>
                        <% if Role.where(:user_id => student).first.note.present? %>
                          <%= Role.where(:user_id => student).first.note %>
                        <% else %>
                          <%= student.bio %>
                        <% end %>
                      </p>
                      <% if student == current_user %>
                        <%= link_to "edit your bio", edit_user_registration_path, :class => "btn" %>
                      <% end %>
                    </div>           
                  </div>
                <% end %>
              <% end %>
            
            </div>
          </div>
        </div><!-- end tab2 -->

        <div class="tab-pane" id="tab3">
          <div class="page-main white tab-border main">
            <div class="page-content"> 
              <div class="class-section-heading">Related Topics</div><br>
              <% if @course.topics.present? %>
                <% @course.topics.each do |topic| %>
                  <%= link_to topic.title, mission_topic_path(@course.mission, topic) %><br>
                <% end %>
              <% else %>
                <div class="well">
                  There are no related topics to this mission.
                </div>
              <% end %>
              <div class="class-section-heading">Part of Mission</div><br>
              <% if @course.mission.present? %>
                <%= link_to "#{@course.mission.verb} #{@course.mission.title}", @course.mission if @course.mission.present? %>
              <% else %>
                <div class="well">
                  This event is not associated with a mission.
                </div>
              <% end %>  
            </div>
          </div>
        </div><!-- end tab 4 -->

      </div><!-- end tab-content -->
    </div><!-- end tabbable -->
  </div><!-- end page-main -->

  <div class="left" style="width: 290px"><!-- sidebar container -->
    <div class="white right page-sidebar" style="border: 1px solid #DDD; width: 300px">
      <div class="sidebar-content-white">
        <%= render :partial => "courses/show/sidebar", :locals => {:course => @course} %>
      </div>
    </div>

    <div class="white right page-sidebar" style="border: 1px solid #DDD; width: 300px; padding-bottom: 30px">
      <div class="sidebar-content-white">
       <p class="confirm">Learning is more fun with friends. If you know people that would be interested in his event, invite them!</p>
      
        <div class="accordion" id="accordion2">
          
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <div class="heading11">Invite an HourSchool user</div>
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <%= form_for(@invite) do |f| %>
                  <div class="field">
                    <%= text_field_tag :userSearch, "", :placeholder => "Start typing a name", :class => "span3", :autocomplete => "off" %>
                    <%= f.hidden_field :invitee_id %>
                    <script type="text/javascript">
                    $('#userSearch').typeahead({
                      source: function(typeahead, query) {
                        var _this = this;
                        return $.ajax({
                          url: "<%= search_users_path(:format => :json) %>?q=" + query,
                          success: function(data) {
                            return typeahead.process(data);
                          }
                        });
                      },
                      property: "name",
                      onselect: function (obj) {
                        if (obj.id == 0) {
                          $('#invite_invitee_email').focus()
                        } else {
                          $('#invite_invitee_id').val(obj.id);
                        }
                      }
                    });
                    </script>
                  </div>
                  <div class="actions">
                    <%= f.hidden_field :inviter_id, :value => "#{current_user.id}" %>
                    <%= f.hidden_field :invitable_type, :value => "event" %>
                    <%= f.submit "Send invite", :class => "btn" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <div class="heading11">Invite by email</div>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= form_for(@invite) do |f| %>
                  <div class="field" id="invite_by_email">
                    <%= f.text_field :invitee_email, :placeholder => "example@example.com", :class => "span3" %>
                    <div class="actions">
                      <%= f.hidden_field :inviter_id, :value => "#{current_user.id}" %>
                      <%= f.hidden_field :invitable_type, :value => "event" %>
                      <%= f.submit "Send invite", :class => "btn" %>
                    </div>
                  </div> 
                <% end %>
              </div>
            </div>
          </div>
          
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <div class="heading11">Invite by Facebook</div>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <div class="heading11">Invite friends from Facebook</div>
                  <% if current_user && current_user.facebook? %>
                    <%= render :partial => "users/facebook/autocomplete/share", :locals => { :link => course_url(@course), :name => "#{@course.title}",  :message => "I'm teaching a class on Hourschool, you should sign up!"} %>
                    <%= render :partial => "users/facebook/grid/share", :locals => {:message => "I'm teaching a class on Hourschool, you should sign up!", :link    => course_url(@course), :name    => "#{@course.title}", :same_city => true , :limit => 5 } %>
                  <% else %>
                    <p class="confirm">Classes are more fun with friends! Connect Facebook to your account today!</p>
                    <%= render :partial => 'users/facebook/connect_button' %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div><!-- end sidebar container -->

<% end %>
