%head
  = include_yui_editor_if_used.html_safe

.page
  .page-content

    .page-section-float-left
    
    .form-question
      = "Proposal's Topic:"
    .form-question-tip
      = "#{@current_course.title}"

    .form-question
      = "Proposal's Teaser:"
    .form-question-tip     
      = "#{@current_course.teaser}"

    .form-question
      = "Teacher's name:"
    .form-question-tip
      = "#{@current_course.teacher.name}"
      
    .form-question
      = "Teacher's city:"
    .form-question-tip
      = "#{@current_course.teacher.location}"
    
    .form-question
      = "Teacher's experience:"
    .form-question-tip
      = "#{@current_course.experience}"

      = button_to "Approve this course", approve_path(:id => @current_course.id), :class => "submit-proposal-button", :method => :put



