/ - if current_user
/   - if @goal.mentor? current_user
/     = "You're a mentor!"
/   - if @goal.teammate? current_user
/     = "You're a teammate!"
/   - if @goal.teamlead? current_user
/     = "You're the teamlead!!"


= image_tag(@goal.photo.url, :size => "960x349")

.goal-banner-box
  .goal-description-box
    .goal-title-big
      = "#{@goal.name}"
    .heading10-sidebar
      = "Organized by #{@goal.teamleader.name}"
    .goal-description
      = "#{@goal.description}"

  .goal-join-box
    = link_to 'Join Mission', new_goal_teammate_path(@goal), :class => "join-goal-button"
    
  .goal-join-box  
    .goal-teammates
      =image_tag(@goal.teamleader.photo.url(:thumb_small))
      - @goal.teammates.each do |teammate|
        = avatar_for(teammate, :photo_size => :thumb_small, :class => 'team-pic', :size => '50x50')


.page
  .page-section-float-left
    = render :partial => "courses/comments", :locals => {:course => @goal}


= content_for :sidebar do
  = render :partial => "sidebar"