<%= render 'missions/show/tutorial' %>
<%= render 'missions/show/invitee_landing_page' %>

<%= render 'missions/show/banner' %>

<div class="page-main">
  <div class="tabbable"> 
    <ul class="nav nav-tabs" style="margin-bottom: 0px;">
      <li class="active"><a href="#tab1" data-toggle="tab" class="heading11">Conversation</a></li>
      <li><a href="#tab2" data-toggle="tab" class="heading11">Events</a></li>
      <li><a href="#tab3" data-toggle="tab" class="heading11">Crew</a></li>
      <li><a href="#tab4" data-toggle="tab" class="heading11">Rally</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div class="page-main white tab-border main">
          <div class="page-content">
            <div class="mission-tab-intro">
              <div class="heading14" style="margin-bottom: 20px">Chat with your crew about this mission</div>
            </div> 
            <div style="width: 97%; float: left">
              <%= render :partial => "missions/show/comments", :locals => {:mission => @mission} %>
            </div>
          </div>
        </div>
      </div><!-- end tab1 -->   
      <div class="tab-pane" id="tab2">
        <div class="page-main white tab-border main">
          <div class="page-content"> 
            <div class="mission-tab-intro" style="float: left; width: 565px">
              <div class="heading14" style="width: 400px; float: left">Schedule classes, working sessions, and happy hours to explore this topic with your crew in-person.</div>
              <a class="btn right" data-toggle="modal" href="#addAnEvent">Add an event</a>
            </div><hr>
            <div style="float: left; margin-top: 30px; width: 565px">
              <% if @courses.present? %>
                <% @courses.each do |course| %>
                  <div class="mission-divider">
                    <%= link_to course.title, course, :class => "heading16 adelle" %><br>
                    <% if course.teacher.present? %>
                      <div style="color: #999; font-weight: 700; font-size: 9px; text-transform: uppercase">
                        Organized by <%= link_to course.teacher.name, course.teacher %>
                      </div><br>
                    <% end %>
                    <p style="margin: 10px 0px 20px 0px"><%= course.description %></p>
                    <div style="margin-bottom: 5px; margin-right: 25px; float: left">
                      <%= image_tag "v2/icon_location.png", :style => "margin-right: 8px; margin-left: 2px" %>
                      <%= "#{course.city.name}, #{course.city.state}" %><br>
                    </div>
                        
                    <%= image_tag "v2/icon_calendar.png", :style => "margin-right: 5px" %>
                    <%= course.starts_at.strftime("%a %b %d") %>, <%= "#{course.starts_at.in_time_zone(course.city.time_zone || course.teacher.time_zone).strftime("%l:%M%p")} - #{course.ends_at.in_time_zone(course.city.time_zone || course.teacher.time_zone).strftime("%l:%M%p")}" %>
                    <br>
                  </div>
                <% end %>
              <% else %>
                <div class="well">
                  <p>When your mission has more than 10 people, HourSchool will try to help make a “Getting Started” workshop happen. But feel free to start your own event today like a happy hour get together!</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div><!-- end tab2 -->
      <div class="tab-pane" id="tab3">
        <div class="page-main white tab-border main">
          <div class="page-content"> 
            <div class="mission-tab-intro">
              <div class="heading14" style="width: 550px">These people have joined you in pursuing this mission.</div>
            </div><hr> 
            <% @users.each do |user| %>
              <div class="mission-divider">             
                <div class="crewman-photo">
                  <%= image_tag(user.photo.url(:thumb_large)) %>
                </div>
                <div class="crewman-description">
                  <div style="font-weight: 700; float: left; margin-right: 10px"><%= link_to user.name, user %></div>
                  <%if user.crewmanships.where(:role => "creator", :mission_id => @mission).last %>
                    <span class="label">Mission Creator</span>
                  <% elsif user.crewmanships.where(:role => "explorer", :mission_id => @mission).last %>
                    <span class="label">Explorer</span>
                  <% elsif user.crewmanships.where(:role => "guide", :mission_id => @mission).last  %>
                    <span class="label">Guide</span>
                  <% elsif user.crewmanships.where(:role => "alumni", :mission_id => @mission).last  %>
                    <span class="label">Alumni</span>
                  <% end %>
                  <p><%= user.bio %></p>
                </div>           
              </div>
            <% end %>
          </div>
        </div>
      </div><!-- end tab3 -->
      <div class="tab-pane" id="tab4">
        <div class="page-main white tab-border main">
          <div class="page-content"> 
            <div class="mission-tab-intro">
              <div class="heading14">Grow your support network by inviting more people to this mission; Rally your Crew!</div><hr>
            </div>
            <div class="mission-divider">
              <div style="font-size: 13px; font-weight: 700">The low hanging fruit:</div>
              <p>Use the social megaphone to get the word out. It's worth spending a couple seconds to think about a clever post that will get your lots of likes and shares.</p>
              <a class="btn" data-toggle="modal" href="#inviteFB">Invite from Facebook</a>
            </div>
            <!-- Modal BEGIN -->
            <div class="modal hide" id="tinyLetter">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Invite from Facebook</h3>
              </div>
              <div class="modal-body">              
                <% if current_user && current_user.facebook? %>
                  <%= render :partial => "users/facebook/autocomplete/share", :locals => { :link => mission_url(@mission), :name => "#{@mission.verb} #{@mission.title.downcase}",  :message => "Join me on this mission!"} %>
                  <%= render :partial => "users/facebook/grid/share", :locals => {:message => "Join me on this mission!", :link    => mission_url(@mission), :name    => "#{@mission.verb} #{@mission.title.downcase}", :same_city => true , :limit => 5 } %>
                <% else %>
                  <%= link_to (image_tag 'fb-signup-small.png', :style => "margin-bottom: 20px"), user_omniauth_authorize_path(:facebook) %>
                <% end %>
              </div>
            </div>
            <!-- Modal END -->

            <div class="mission-divider">
              <div style="font-size: 13px; font-weight: 700">Get personal:</div>
              <p>Nothing beats a personal invitation. Know a buddy who would really enjoy this? Have always wanted to learn from this one girl? Drop them a note!</p>
              <a class="btn" data-toggle="modal" href="#tinyLetter">Write a tiny letter</a>
            </div>
            <!-- Modal BEGIN -->
            <div class="modal hide" id="tinyLetter">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Write a tiny letter</h3>
              </div>
              <div class="modal-body">              
                <%= render 'invites/form' %>
              </div>
            </div>
            <!-- Modal END -->
            <div class="mission-divider">
              <div style="font-size: 13px; font-weight: 700">Wisdom from the crowd:</div>
              <p>Share the promotional and educational tools you've used in the past (like flyers and handouts) to get your crew excited. </p>
              <a class="btn" data-toggle="modal" href="#addRallyTool" style="margin-bottom: 10px">Share yours now</a>
              <% if @mission.comments.where(:comment_type => 'rally').present? %>
                <% @mission.comments.where(:parent_id => nil, :comment_type => 'rally').each do |comment| %>
                  <div class="well">
                    <%= simple_format Rinku.auto_link(comment.body) %>
                    <div style="font-size: 10px; margin-top: -9px; margin-bottom: 10px">Posted by <%= comment.user.name %></div>
                    <i class="icon-bullhorn"></i> <%= link_to comment.photo_file_name, comment.photo.url %>  
                  </div>
                <% end %>
              <% else %>
                <div class="well">
                  <p>No one has uploaded any promotional tools yet.</p>
                </div>
              <% end %>
              <!-- Modal BEGIN -->
              <div class="modal hide" id="addRallyTool">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h3>Upload the tools you've used in the past, like flyers or promotional handouts, so your crew can leverage them. We recommend .pdf files. </h3>
                </div>
                <div class="modal-body">                
                  <% if current_user %>
                    <%= form_for @mission.comments.new do |f| %>
                      <%= f.hidden_field :mission_id, :value => @mission.id %>
                      <%= f.hidden_field :comment_type, :value => "rally" %>
                      <%= f.file_field   :photo %>
                      <%= f.text_area    :body, :placeholder => "Description", :class => "form-with-margin", 'data-comment_type' => 'rally' %><br>
                      <%= f.submit 'Post', :class => "btn" %>
                    <% end %>
                  <% else %>
                    <p>Please first sign up or log in</p>
                  <% end %>
                </div>
              </div>
              <!-- Modal END -->
            </div>
          </div>
        </div>
      </div><!-- end tab4 -->
    </div><!-- end tab-content -->
  
  </div><!-- end tabable -->
</div>

<div class="white right page-sidebar" style="max-height: 550px; overflow: auto">
  <div class="sidebar-content-white">
    <div class="heading11" style="float: left; margin-bottom: 20px">Topic Library:</div>
    <a class="btn" data-toggle="modal" href="#newTopic" style="float: right; margin-top: -5px" rel="tooltip" id="topicLibraryTip" title="The topics library is built by everyone in this mission. Start by adding a few topics that you want to learn, teach, or find relevant.">Add</a>
    <% if @mission.topics.blank? %>
      <div class="well" style="margin: 35px 0px 20px 0px">
        <p>The topics library is built by everyone in this mission. Start by adding a few topics that you want to learn, teach, or find relevant. For example, if your mission is "Learn how to fix my own car", a topic might be "change oil".</p>
      </div>
    <% end %>
    <% @mission.topics.each do |topic| %>
      <div class="mission-divider">
        <%= link_to topic.title, mission_topic_path(@mission, topic), :href => "#viewTopic#{topic.id}", 'data-toggle' => 'modal', :class => "heading13 brown" %>
        <div style="color: #999; font-weight: 700; font-size: 9px; text-transform: uppercase">
          Added by <%= link_to topic.user.name, topic.user, :style => "color: #999" %>
        </div>
        <% if topic.courses.count <= 1 %>
          <%= link_to "#{topic.courses.count} event", mission_topic_path(@mission, topic), :href => "#viewTopic#{topic.id}", 'data-toggle' => 'modal', :style => "float: left; font-size: 10px; color: #333; margin-right: 20px" %>
        <% else %>
          <%= link_to "#{topic.courses.count} events", mission_topic_path(@mission, topic), :href => "#viewTopic#{topic.id}", 'data-toggle' => 'modal', :style => "float: left; font-size: 10px; color: #333; margin-right: 20px"  %>
        <% end %>
        <a data-toggle="modal" href="#addAnEventWithTopic" style="float: left; font-size: 10px; color: #333">Organize something for this topic</a>
      </div> 

      <div class="modal hide" id="addAnEventWithTopic"><!-- Modal BEGIN -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Add an event</h3>
        </div>
        <div class="modal-body">
          <p>An event is a chance to get together with your crew to work, learn, and play. Which type of event best suit what you want to do?</p>
          <%= link_to "A working session", new_course_path(:mission_id => @mission.id, :topic_id => topic), :class => "btn btn-large", :style => "text-decoration: none" %>
          <%= link_to "A class or workshop", new_course_path(:mission_id => @mission.id, :topic_id => topic), :class => "btn btn-large", :style => "text-decoration: none" %>
          <%= link_to "A happy hour social", new_course_path(:mission_id => @mission.id, :topic_id => topic), :class => "btn btn-large", :style => "text-decoration: none" %>
        </div>
      </div>  <!-- Modal END -->
      <div class="modal hide" id="viewTopic<%= topic.id %>"><!-- Modal BEGIN -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Topic Details</h3>
        </div>
        <div class="modal-body">              
          <div class="heading13 brown"><%= topic.title %></div>
          <div style="color: #999; font-weight: 700; font-size: 9px; text-transform: uppercase">
            Added by <%= link_to topic.user.name, topic.user, :style => "color: #999; text-decoration: none" %></div>
          <br>
          <div class="heading11">Related Events:</div><br>
          <% if topic.courses.present? %>
            <% topic.courses.each do |course| %>
              <%= link_to course.title, course %>
              <br>
            <% end %>
          <% else %>
            No related event yet.
          <% end %>
        </div>
      </div>
    <% end %><!-- end mission.topic each block -->
    <div class="modal hide" id="newTopic"><!-- modal begins -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Add a new topic</h3>
      </div>
      <div class="modal-body">       
        <%= render 'topics/form' %>
      </div>
    </div><!-- modal ends -->
  </div>
</div><!-- end sidebar-white -->


<script type="text/javascript">
  $('#topicLibraryTip').tooltip({})
</script>

