<%= render 'missions/show/tutorial' %>
<%= render 'missions/show/invitee_landing_page' %>

<div class="full-page white">
  <% if @mission.photo.present? %>
    <div style="background-color: #333; width: 960px; height: 349px;">
      <%= image_tag(@mission.photo.url(:banner)) %>
    </div>
  <% else %>
    <div style="background-color: #333; width: 960px; height: 349px;">
      <div style="text-align: center; padding-top: 60px;">
        <a data-toggle="modal" href="#addBasicInfo" class="heading11" style="color: white">Upload a photo that represent your mission</a>
      </div>
    </div>
  <% end %>

  <div class="mission-description-box">
    <div class="heading14" style="margin: 20px 0px 5px 0px">
      The mission:
    </div>

    <div class="heading28 brown" style="margin-bottom: 5px;">
      <%= full_mission_title(@mission) %>
    </div>
    <div class="heading9 bold" style="color: #999;">
      <%= "#{@mission.city.name}, #{@mission.city.state}" %>
    </div>

    <p>
      "<%= @mission.description %>"
    </p>

    <div class="heading9 bold" style="color: #999;">
      - <%= link_to @mission.creator.name, @mission.creator %>, mission creator
    </div>
  </div>

  <div class="mission-status-box">
    <div style="width: 240px; float: right">
      <a class="btn right" data-toggle="modal" href="#tinyLetter" style="margin-left: 5px">Invite</a>
      <% if !current_user || (current_user && current_user.crewmanships.where(:mission_id => @mission).blank?) %>
        <%= link_to "Join Mission", mission_crewmanships_path(@mission), :method => :post, :class => "btn btn-warning right", :style => "color: white" %>
      <% elsif current_user && current_user.crewmanships.where(:mission_id => @mission).present? %>
        <div class="btn btn-warning right disabled" style="color: white">Joined Mission</div>
      <% end %>
    </div>

    <!-- Modal BEGIN -->
    <div class="modal hide" id="tinyLetter">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Invite someone to this mission</h3>
      </div>
      <div class="modal-body">
        <%= render 'invites/form' %>
      </div>
    </div>
    <!-- Modal END -->

    <div class="heading11" style="margin-top: 10px; float: right">
      <a data-toggle="modal" href="#wholeCrew"><%= "The mission crew (#{@users.count})" %></a>
    </div>

    <div style="width: 240px; float: right">
      <% @users.sample(4).each do |user| %>
      <div style="float: left; margin-top: 10px; margin-bottom: 5px; float: right">
        <div style="float: left; margin-right: 5px; float: right">
          <% if user.photo.present? %>
            <%= link_to image_tag(user.photo.url(:thumb_small)), user %>
          <% else %>
            <%= link_to (image_tag 'v2/Avatars_01_V1.png', :size => "50x50"), user %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <!-- modal begins -->
    <div class="modal hide" id="wholeCrew">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>The crew in the mission <%= full_mission_title(@mission) %></h3>
      </div>
      <div class="modal-body">
        <% @users.each do |user| %>
          <div class="mission-divider">
            <div class="crewman-photo">
              <% if user.photo.present? %>
                <%= link_to_avatar(user, :thumb_large) %>
              <% else %>
                <%= link_to (image_tag 'v2/Avatars_01_V1.png', :size => "125x125"), user %>
              <% end %>
            </div>
            <div class="crewman-description">
              <%= link_to user.name, user, :style => "text-decoration: none; font-weight: 700; float: left; margin-right: 10px " %>

              <%if user.crewmanships.where(:role => "creator", :mission_id => @mission).last %>
                <span class="label">Mission Creator</span>
              <% elsif user.crewmanships.where(:role => "explorer", :mission_id => @mission).last %>
                <span class="label">Explorer</span>
              <% elsif user.crewmanships.where(:role => "guide", :mission_id => @mission).last  %>
                <span class="label">Guide</span>
              <% elsif user.crewmanships.where(:role => "alumni", :mission_id => @mission).last  %>
                <span class="label">Alumni</span>
              <% end %>
              <p><%= user.bio %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- modal ends -->
  </div>
</div><!-- end full page -->

<div class="white full-page">
  <div class="mission-section-header">
    <div class="heading11" style="color: white">Begin this mission by going to a class, working session, or happy hour!</div>
  </div>

  <div class="page-main" style="border-right: 1px dashed #eeebeb">
    <div class="page-content">
      <% if @courses.where("starts_at > (?)", Time.now).present? %>
        <div class="heading11" style="float: left; margin-bottom: 20px">Upcoming events (<%= @courses.where("starts_at > (?)", Time.now).count %>)</div>
        <% @courses.where("starts_at > (?)", Time.now).order('starts_at asc').first(3).each do |course| %>
          <div class="mission-divider">
            <div style="float: left; margin-right: 20px">
              <%= link_to (image_tag(course.photo.url(:small), :size => "220x150", :style => "margin: 0px 15px 15px 0px,")),course if course.photo.present? %>
            </div>
            <div style="float: left; width: 290px">
              <%= link_to course.title, course, :class => "heading16 adelle" %><br>
              <% if course.teacher.present? %>
                <div style="color: #999; font-weight: 700; font-size: 9px; text-transform: uppercase">
                  Organized by <%= link_to course.teacher.name, course.teacher %>
                </div><br>
              <% end %>
              <div style="width: 258px; margin-bottom: 5px; margin-right: 25px;">
                <%= image_tag "v2/icon_location.png", :style => "margin-right: 8px; margin-left: 2px" %>
                <%= course.place_name %><br>
                <%= image_tag "v2/icon_calendar.png", :style => "margin-right: 5px" %>
                <%= course.starts_at.strftime("%a %b %d") %>, <%= "#{course.starts_at.strftime("%l:%M%p")}"%>
              </div>

              <%= link_to "Sign me up!", course, :class => "btn btn-warning btn-large", :style => "color: white; margin-top: 15px" %>
            </div>
          </div>
        <% end %>
        <a data-toggle="modal" href="#viewAllEvents" style="float: left; text-decoration: underline">View all events</a>
      <% else %>
        <div class="well" style="float: left">
          <p>Host the first event to kick-start this mission! It can be a class, a working session, or even a happy hour. Use this opportunity to get to know others who are also interested in the same mission.</p>
        </div>
      <% end %>

      <div class="modal hide" id="viewAllEvents"><!-- modal begins -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>All events in the mission <%= full_mission_title(@mission) %></h3>
        </div>
        <div class="modal-body">
          <div class="heading11" style="float: left; margin-bottom: 20px">Upcoming events (<%= @courses.where("starts_at > (?)", Time.now).count %>)</div>
          <% @courses.where(:status => "live").where("starts_at > (?)", Time.now).order('starts_at asc').each do |course| %>
            <div class="mission-divider">
              <div style="float: left; margin-right: 20px">
                <%= link_to (image_tag(course.photo.url(:small), :size => "220x150", :style => "margin: 0px 15px 15px 0px,")),course if course.photo.present? %>
              </div>
              <div style="float: left; width: 290px">
                <%= link_to course.title, course, :class => "heading16 adelle", :style => "text-decoration: none" %><br>
                <% if course.teacher.present? %>
                  <div style="color: #999; font-weight: 700; font-size: 9px; text-transform: uppercase">
                    Organized by <%= link_to course.teacher.name, course.teacher, :style => "text-decoration: none" %>
                  </div><br>
                <% end %>
                <div style="width: 258px; margin-bottom: 5px; margin-right: 25px;">
                  <%= image_tag "v2/icon_location.png", :style => "margin-right: 8px; margin-left: 2px" %>
                  <%= course.place_name %><br>
                  <%= image_tag "v2/icon_calendar.png", :style => "margin-right: 5px" %>
                  <%= course.starts_at.strftime("%a %b %d") %>, <%= "#{course.starts_at.strftime("%l:%M%p")}"%>
                </div>

                <%= link_to "Sign me up!", course, :class => "yellow short button", :style => "color: white; margin-top: 15px; text-decoration: none" %>
              </div>
            </div>
          <% end %>

          <div class="heading11" style="float: left; margin-bottom: 20px">Past events (<%= @courses.where("starts_at < (?)", Time.now).count %>)</div>
          <% @courses.where(:status => "live").where("starts_at < (?)", Time.now).order('starts_at asc').each do |course| %>
            <div class="mission-divider">
              <div style="float: left; margin-right: 20px">
                <%= link_to (image_tag(course.photo.url(:small), :size => "220x150", :style => "margin: 0px 15px 15px 0px,")),course if course.photo.present? %>
              </div>
              <div style="float: left; width: 290px">
                <%= link_to course.title, course, :class => "heading16 adelle", :style => "text-decoration: none" %><br>
                <% if course.teacher.present? %>
                  <div style="color: #999; font-weight: 700; font-size: 9px; text-transform: uppercase; text-decoration: none">
                    Organized by <%= link_to course.teacher.name, course.teacher, :style => "text-decoration: none" %>
                  </div><br>
                <% end %>
                <div style="width: 258px; margin-bottom: 5px; margin-right: 25px;">
                  <%= image_tag "v2/icon_location.png", :style => "margin-right: 8px; margin-left: 2px" %>
                  <%= course.place_name %><br>
                  <%= image_tag "v2/icon_calendar.png", :style => "margin-right: 5px" %>
                  <%= course.starts_at.strftime("%a %b %d") %>, <%= "#{course.starts_at.strftime("%l:%M%p")}"%>
                </div>

                <%= link_to "Pre-register for next one", course, :class => "yellow long button", :style => "color: white; margin-top: 15px; text-decoration: none" %>
              </div>
            </div>
          <% end %>
        </div>
      </div><!-- modal ends -->

    </div>
  </div>

  <div style="float: left; width: 329px">
    <div class="page-content">
      <% if @courses.where("starts_at < (?)", Time.now).present? %>
        <div class="heading11" style="margin-bottom: 20px">Past events (<%= @courses.where("starts_at < (?)", Time.now).count %>)</div>
        <% @courses.where("starts_at < (?)", Time.now).order('starts_at asc').first(4).each do |course| %>
          <div class="mission-divider">
            <div style="float: left">
              <%= link_to course.title, course, :class => "heading16 adelle" %><br>
              <% if course.teacher.present? %>
                <div style="color: #999; font-weight: 700; font-size: 9px; text-transform: uppercase">
                  Organized by <%= link_to course.teacher.name, course.teacher %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="well" style="float: left">
        <div class="heading11" style="margin-bottom: 20px">Everyone in the mission is encouraged to organize events. Add yours today!</div>
        <a class="btn" data-toggle="modal" href="#addAnEvent">Add an event</a>
      </div>
    </div>
  </div>
</div><!-- end full-page -->


<div class="white full-page">
  <div class="mission-section-header">
    <div class="heading11" style="color: white">These are the resources. Participate and get involved.</div>
  </div>

  <div class="page-main" style="border-right: 1px dashed #eeebeb">
    <div class="page-content">

        <div class="heading11" style="margin-bottom: 20px">Ask a question, share a tip, keep the conversation going.</div>

      <div style="float: left; width: 100%">
        <%= render :partial => "missions/show/comments", :locals => {:mission => @mission} %>
      </div>
    </div>
  </div>

  <div style="float: left; width: 329px">
    <div class="page-content">
      <div class="heading11" style="margin-bottom: 20px">Request a topic you want to learn or suggest one you can teach.</div>
      <a class="btn" data-toggle="modal" href="#newTopic">Add a topic</a>
      <div style="float: left; margin-top: 30px;">
        <% @mission.topics.each do |topic| %>
          <div class="mission-divider">
            <%= link_to topic.title, mission_topic_path(@mission, topic), :href => "#viewTopic#{topic.id}", 'data-toggle' => 'modal', :class => "heading13 brown" %>
            <div style="color: #999; font-weight: 700; font-size: 9px; text-transform: uppercase">
              Added by <%= link_to topic.user.name, topic.user, :style => "color: #999" %>
            </div>
            <% if topic.courses.count <= 1 %>
              <%= link_to "#{topic.courses.count} event", mission_topic_path(@mission, topic), :href => "#viewTopic#{topic.id}", 'data-toggle' => 'modal', :style => "float: left; font-size: 10px; color: #333; margin-right: 20px" %>
            <% else %>
              <%= link_to "#{topic.courses.count} events", mission_topic_path(@mission, topic), :href => "#viewTopic#{topic.id}", 'data-toggle' => 'modal', :style => "float: left; font-size: 10px; color: #333; margin-right: 20px"  %>
            <% end %>
            <a data-toggle="modal" href="#addAnEventWithTopic" style="float: left; font-size: 10px; color: #333">Organize something for this topic</a>
          </div>

          <div class="modal hide" id="addAnEventWithTopic"><!-- Modal BEGIN -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h3>Add an event</h3>
            </div>
            <div class="modal-body">
              <p>An event is a chance to get together with your crew to work, learn, and play. Which type of event best suit what you want to do?</p>
              <%= link_to "A working session", new_course_path(:mission_id => @mission.id, :topic_id => topic), :class => "btn btn-large", :style => "text-decoration: none" %>
              <%= link_to "A class or workshop", new_course_path(:mission_id => @mission.id, :topic_id => topic), :class => "btn btn-large", :style => "text-decoration: none" %>
              <%= link_to "A happy hour social", new_course_path(:mission_id => @mission.id, :topic_id => topic), :class => "btn btn-large", :style => "text-decoration: none" %>
            </div>
          </div><!-- Modal END -->

          <!-- Modal BEGIN -->
          <div class="modal hide" id="viewTopic<%= topic.id %>">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h3>Topic Details</h3>
            </div>
            <div class="modal-body">
              <div class="heading13 brown"><%= topic.title %></div>
              <div style="color: #999; font-weight: 700; font-size: 9px; text-transform: uppercase">
                Added by <%= link_to topic.user.name, topic.user, :style => "color: #999; text-decoration: none" %></div>
              <br>
              <div class="heading11">Related Events:</div>
              <% if topic.courses.present? %>
                <% topic.courses.each do |course| %>
                  <%= link_to course.title, course %>
                  <br>
                <% end %>
              <% else %>
                No related event yet.
              <% end %>
            </div>
          </div>
          <!-- Modal END -->
        <% end %>
        <!-- end mission.topic each block -->

        <div class="modal hide" id="newTopic"><!-- modal begins -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Add a new topic</h3>
          </div>
          <div class="modal-body">
            <%= render 'topics/form' %>
          </div>
        </div><!-- modal ends -->

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#topicLibraryTip').tooltip({})
</script>

