<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@mission.photo, :size => "960x360") if @mission.photo.present? %>
</p>

<p>
  <%= @mission.title %>
</p>

<p>
  <%= @mission.description %>
</p>

<p>
  <b>City:</b>
  <%= @mission.city.name %>
</p>

