%p= "create a course in #{current_member.organization}"
= form_for @course, :html => { :multipart => true } do |f|
  / = f.error_messages
  = hidden_field_tag 'req', "#{@reqid}"
  %p
    = f.label :title
    %br
    - if @reqid.nil?
      = f.text_field :title
    - else
      = f.text_field :title, :value => "#{@reqtitle}"
  %p
    = f.label :description
    %br
    - if @reqid.nil?
      = f.text_area :description
    - else
      = f.text_area :description, :value => "#{@reqdescription}"
  %p
    = f.label "Categories (Seperate by comma)"
    %br
    = f.text_field :categories
  
  %p
    = f.label :max_seats
    %br
    = f.text_field :max_seats
  %p
    = f.label :date
    %br
    = f.date_select :date
  %p
    = f.label :time
    %br
    = f.time_select :time
  %p
    = f.label "Address"
    %br
    = f.text_field :place_name
  
  %p
    = f.label "Minimum students needed for the class to happen"
    %br
    = f.text_field :min_seats
  %p
    = f.label :photo
    %br
    = f.file_field :photo
  %p
    = f.submit "Create class"
