.content
  %table
    %tr
      %th Title
      %th Description
      %th Price
      %th Seats
      %th Date
      %th Time
      %th Place
      
      %th Minimum
    - p @courses
    - for course in @courses
      %tr
        %td= course.title
        %td= course.description
        %td= course.price
        %td= course.seats
        %td= course.date
        %td= course.time
        %td= course.place
        
        %td= course.min_seats
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_ecourse_path(course)
        %td= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete

    %p= link_to "New Course", new_ecourse_path
