.content
  = image_tag @course.photo.url
  %p
    %strong Title:
    = @course.title
  %p
    %strong Description:
    = @course.description
  
  %p
    %strong Seats:
    = @course.seats
  %p
    %strong Date:
    = @course.date
  %p
    %strong Time:
    = @course.time
  %p
    %strong Place:
    = @course.place
  
  %p
    %strong Minimum:
    = @course.min_seats

  
  %br/
  %p= "Number of students attending #{@course.students.size}"
  - if member_signed_in?
    - if current_member.is_teacher_for?(@course)
      = link_to "Edit", edit_ecourse_path(@course)
      |
      = link_to "Destroy", @course, :confirm => 'Are you sure?', :method => :delete
    
    - else  
      - if @course.is_a_student?(current_member)
        %p= "You have registered for this course"
      - else 
        #register-course-link
          = link_to "Register", eregister_path("id" => @course.id), :remote => true
      
  %br/
  = link_to_function "Back", "history.back()"
  / = link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), '#'
