.page
  .page-content
    / - if @suggestions.size > 0
    .page-section-float-left
      .welcome-header Interested in a class? Vote for it!
      = image_tag 'v2/greyheader_half.png', :class => 'greyheader_half'

      .pagenote-box.clearfix
        .pagenote-header Didn't see a class you like?
        = "If there's something you have always wanted to learn but don't see it on HourSchool, "
        = link_to "request one!", new_suggestion_path, :class => "pagenote-link"
        = "It's very likely that someone near you can teach it."

      = render :partial => 'suggestions_for_classes', :locals => {:suggestions => @suggestions}

.sidebar
  .tipbox
    = image_tag 'v2/Tape_White.png', :class => 'tape'
    .heading10 Have questions?
    %a(href="http://hourschool.assistly.com/customer/portal/emails/new")
      #tipboxButton Contact us!

= render :partial => 'suggest_sidebar'