%head
  = include_yui_editor_if_used

.page
  .page-content
    / - if @suggestions.size > 0
    .page-section-float-left
      .welcome-header Request some help
      %img.greyheader_half{:src => '../../../images/v2/greyheader_half.png'}

      .pagenote-box.clearfix
        .pagenote-header Didn't see a topic you like?
        = "If there's something you have always wanted to learn but don't see it here, "
        = link_to "request one!", new_suggestion_path, :class => "pagenote-link"
        = "It's very likely that someone near you can teach it."

      = render :partial => 'suggestions_for_classes', :locals => {:suggestions => @suggestions}

.sidebar
  .tipbox
    %img.tape{:src => '../../../images/v2/Tape_White.png'}
    .heading10 Have questions?
    %a(href="http://hourschool.assistly.com/customer/portal/emails/new")
      #tipboxButton Contact us!

= render :partial => 'suggest_sidebar'