<% if current_account == Account.where(:id => 1).first %>

  <div style="margin-left: 40px; margin-top: 20px">

    <div style="width: 225px; float: left">
      <div style="height: 155px;">
        <%= image_tag 'feastfordays/jonathan.jpg' %>
      </div>

      <div style="width: 225px; height: 70px; background-color: black; opacity: 0.75;"></div>
      <div style="float: left; position: relative; z-index: 100; margin-top: -60px; margin-left: 10px; color: white">
        <div style="font-weight: 700">Jonathan "White Cheddar" Lewis</div>
        <div>Exercise more, and eat less hot dogs.</div>
      </div>
    </div>

    <div style="width: 225px; float: left">
      <div style="height: 155px;">
        <%= image_tag 'feastfordays/diana.jpg' %>
      </div>

      <div style="width: 225px; height: 70px; background-color: black; opacity: 0.75;"></div>
      <div style="float: left; position: relative; z-index: 100; margin-top: -60px; margin-left: 10px; color: white">
        <div style="font-weight: 700">Diana "D-Money" Griffin</div>
        <div>I like fonts and bike riding.</div>
      </div>
    </div>

    <div style="width: 225px; float: left">
      <div style="height: 155px;">
        <%= image_tag 'feastfordays/food2.jpg' %>
      </div>

      <div style="width: 225px; height: 70px; background-color: black; opacity: 0.75;"></div>
      <div style="float: left; position: relative; z-index: 100; margin-top: -60px; margin-left: 10px; color: white">
        <div style="font-weight: 700">Papa's stuffed cabbage</div>
        <div>Tastes way better than it looks, I promise.</div>
      </div>
    </div>

    <div style="width: 225px; float: left">
      <div style="height: 155px;">
        <%= image_tag 'feastfordays/chris.jpg' %>
      </div>

      <div style="width: 225px; height: 70px; background-color: black; opacity: 0.75;"></div>
      <div style="float: left; position: relative; z-index: 100; margin-top: -60px; margin-left: 10px; color: white">
        <div style="font-weight: 700">Chris "The Enforcer" Devidal</div>
        <div>Was the fastest kid in 5th grade.</div>
      </div>
    </div>

    <div style="width: 225px; float: left">
      <div style="height: 155px;">
        <%= image_tag 'feastfordays/richard.jpg' %>
      </div>

      <div style="width: 225px; height: 70px; background-color: black; opacity: 0.75;"></div>
      <div style="float: left; position: relative; z-index: 100; margin-top: -60px; margin-left: 10px; color: white">
        <div style="font-weight: 700">Richard "Timmy" Schneeman</div>
        <div>Even I don't know how to pronounce my last name</div>
      </div>
    </div>

    <div style="width: 225px; float: left">
      <div style="height: 155px;">
        <%= image_tag 'feastfordays/cheyenne.jpg' %>
      </div>

      <div style="width: 225px; height: 70px; background-color: black; opacity: 0.75;"></div>
      <div style="float: left; position: relative; z-index: 100; margin-top: -60px; margin-left: 10px; color: white">
        <div style="font-weight: 700">Cheyenne "Killer" Weaver</div>
        <div>If you see me in the street, you DON'T know me.</div>
      </div>
    </div>

    <div style="width: 225px; float: left">
      <div style="height: 155px;">
        <%= image_tag 'feastfordays/food1.jpg' %>
      </div>

      <div style="width: 225px; height: 70px; background-color: black; opacity: 0.75;"></div>
      <div style="float: left; position: relative; z-index: 100; margin-top: -60px; margin-left: 10px; color: white">
        <div style="font-weight: 700">Meatloaf</div>
        <div>The food, not the singer.</div>
      </div>
    </div>

    <div style="width: 225px; float: left">
      <div style="height: 155px;">
        <%= image_tag 'feastfordays/jen.jpg' %>
      </div>

      <div style="width: 225px; height: 70px; background-color: black; opacity: 0.75;"></div>
      <div style="float: left; position: relative; z-index: 100; margin-top: -60px; margin-left: 10px; color: white">
        <div style="font-weight: 700">Jen "Running Horse" Lewis</div>
        <div>I'm a master at chopping vegetables.</div>
      </div>
    </div>

  </div>

<% end %>