<div class="container_16 white" style="box-shadow: 2px 2px 2px #ccc; width: 960px">
  <div class="page-content">
    <div class="page-title">Host a Feast</div>
    <div class="banner-title">So here's how it works...</div>
      <%= image_tag 'feastfordays/ribbon.png', :style => "position: relative; margin-top: -30px; margin-left: 10px; margin-bottom: 20px" %>

    <div class="row">
      <div class="box" style="margin-left: 68px;">
        <div class="steps-title">Post</div>
        <div class="steps-paragraph">So you’ve got an empty fridge, and it’s looking like it’s going to be a long week.  Post a Feast to stock that fridge, and save some time.  Don’t worry, you don’t have to know what you’re doing, you just have to be hungry.</div>
      </div>

      <div class="box" style="margin-left: 50px;">
        <div class="steps-title">Prep</div>
        <div class="steps-paragraph">You’re not in this alone, invite your friends to share the work and save some cash.  Two bowls of food are always better than one.</div>
      </div>

      <div class="box" style="margin-left: 48px;">
        <div class="steps-title">Share</div>
        <div class="steps-paragraph">When people cook together, good things happen.  Yeah, that means a fridge full of leftovers, and a bunch of satisfied cooks.  Everyone cooks, everyone takes home food.</div>
      </div>
    </div>

    <%= image_tag 'feastfordays/box.png', :style => "margin-left: 30px; margin-top: -305px; margin-bottom: 30px" %>

  </div>
</div>

<div class="container_16 white" style="box-shadow: 2px 2px 2px #ccc; width: 960px">
  <div class="page-content">
    <div style="color: #797978; font-style: italic; font-size: 18px; text-align: center; margin-bottom: 30px">Is this your first rodeo?</div>
    <div class="section-title">Choose one of our favorite Feasts</div>

    <%= link_to image_tag('feastfordays/feast1.png', :style => "margin-left: 15px; margin-bottom: 30px"), new_course_path(:title => "Superman Lasagna",
      :description => "The man of steel’s go to meal after a night of fighting bad guys. This recipe is definitely a crowd pleaser and super fun to prepare in a group. We recommend also preparing a salad to eat while the lasagna is cooking (and to have veggies to take home to eat during the week).

Total servings: 8 (but can be scaled)

Ingredients:
Spaghetti sauce, vegetable oil, Pork sausage, Zucchini, Ricotta cheese, Egg whites,
mozzarella, parmesan, Noodles.

Recommended cost: $16

Full Recipe at: http://allrecipes.com/recipe/sausage-and-zucchini-lasagna/detail.aspx"
)
 %>

    <%= link_to image_tag('feastfordays/feast2.png', :style => "margin-left: 10px; margin-bottom: 30px"), new_course_path(:title => "Vegetable Moussaka",
      :description => "Moussaka is greek for good enough to slap yo mamma. This Feast is great also cooked with rice.

Total servings:  8 (but can be scaled)

Ingredients:
Eggplant, olive oil, carrots, celery, garlic, mushrooms, oregano, cinnamon, tomatoes, parsley, parmesan, eggs, milk, flour, butter, rice

Recommended cost: $15

Full recipe at: http://www.epicurious.com/recipes/food/views/Vegetable-Moussaka-102153"
) %>

    <%= link_to image_tag('feastfordays/feast3.png', :style => "margin-left: 10px; margin-bottom: 30px"), new_course_path(:title => "A feast from the east",
      :description => "Taken straight from the recipe books of Thai Fresh in Austin, this Feast featuring spring rolls and tom kha kai is AMAZING.

Total servings: 4 (but can be scaled).

Ingredients (for everything):

Rice, vermicelli noodles, bell peppers, carrots, arugula, vegetable oil, panang curry paste, coconut milk. coarsely ground peanuts, sugar, lime juice, salt, chicken stock, lemongrass, cut, shallots, thai chill, chicken, artichoke hearts, fish sauce, lime, cilantro

Recommended cost: $17

Full Recipes: http://www.thaicookingwithjam.blogspot.com/2008/12/where-have-i-been.html
 http://www.thaicookingwithjam.blogspot.com/2011/04/spring-wrap-to-wrap-up-spring.html"
) %>

  <div class="section-title"><%= link_to "Or build your own!", new_course_path, :style => "  color: #402b15; text-decoration: underline" %></div>

  </div>
</div>


