<%= render :partial => '/pages/show/subnav/about-subnav' %>

<div class="heading28 brown" style="margin-bottom: 20px">Our Philosophy</div>

<div style="float: left; width: 630px">
  <div class="page-main white">
    <div class="page-content">
      <div class="heading11 marcomm" id ="who-we-are">Who we are</div>
      <p>We are a group of students, teachers, writers, designers, filmmakers, chefs, mechanics, engineers, thinkers and explorers who meet in person to share knowledge, skills, and resources to continually push each other to keep learning and doing new things.</p>

      <%= image_tag(User.find(7).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(3).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(4).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(13).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(237).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(208).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(335).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(86).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(51).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(38).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>

      <%= image_tag(User.find(1435).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(1069).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(298).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(12).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(30).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(72).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(235).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(320).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(333).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(343).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>

    </div>
  </div>

  <div class="page-main white">
    <div class="page-content">
      <div class="heading11 marcomm" id="what-we-do">What we do</div>
      <p>Simply put, we run missions.  We pick things we want to accomplish, and we connect each other with the necessary people, tools, frameworks, and support to get it done.  Oh, and we make sure we’re all having a grand ‘ol time along the way.</p>
      <div class="big-quote">“Information is not knowledge. The only source of knowledge is experience.”</div>
      <p style="text-align: right; margin-bottom: 20px">-Albert Einstein</p>
      <p>If the basic building block of traditional learning is lessons, and the basic building block for solo endeavors is mistakes and hard knocks, our kind of learning is all about missions. Missions can be self-created, or co-created, but you always share them with other people – experts and peers alike.</p>
      <p>Missions are goal-driven, not content-driven. You complete them when you feel like you’re able to do what you set out to do, whether it’s fix your own car, or create a healthy meal from scratch, from growing your own vegetables to making your own marinara sauce.</p>
      <p>And the mission model is circular, not linear. Milestones are constantly changing as you learn more about the topic, discover new stuff you’d still like to try, and branch out in new directions. If you want to stay engaged, and start teaching others what you yourself have learned, the mission can go on and on. As long as it keeps your interest, we think you should keep  experimenting and stay engaged.  Learn more by <%= link_to "exploring our missions", wall_of_missions_path, :style => "color: #ff7733" %>.</p>
    </div>
  </div>

  <div class="page-main white">
    <div class="page-content">
      <div class="heading11 marcomm" id="what-we-believe">What we believe</div>
      <%= image_tag "v3/mission-statement.JPG", :style => "margin-bottom: 20px" %>
      <p>It’s simple. We think life is better when you’re learning. We think it’s deceptively easy to slip into the routine and to stick with what you know.  We think sometimes the best way to keep growing is to get together with other people and learn. We believe that everyone can and should teach.  You are the expert of your own stories, share them!</p>
      <div class="big-quote">We think school doesn’t have to be about classrooms and curriculums.  It can be about garages and get-togethers. </div>
      <iframe src="http://player.vimeo.com/video/42154383?byline=0&amp;color=ff9933" width="570" height="321" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
</div>

<div class="white right page-sidebar">
  <div class="page-content">
    <div class="heading11 marcomm">About</div>

    <div class="heading16 adelle"><a href="#who-we-are">Who we are</a></div>
    <p style="font-size: 11px; margin-bottom: 15px">
      A community of awesome people who believe in life-wide learning
    </p>

    <div class="heading16 adelle"><a href="#what-we-do">What we do</a></div>
    <p style="font-size: 11px; margin-bottom: 15px">
      We pick things we want to accomplish and we start doing
    </p>

    <div class="heading16 adelle"><a href="#what-we-believe">What we believe</a></div>
    <p style="font-size: 11px; margin-bottom: 15px">
      Everyone should teach because life is better when you participate
    </p>
  </div>
</div>

<div style="float: left; border-top: 3px solid #5382a4; border-bottom: 3px solid #5382a4; padding: 10px; padding-bottom: 30px; margin-top: 20px; margin-left: 55px; width: 230px">
  <%= image_tag 'v3/pages/icon-quote.png', :style => "margin: 10px 90px 10px 110px" %>
  <div class="heading11" style="text-align: center; color: #5382a4">“Whatever you can do, or dream you can do, begin it. Boldness has genius, power, and magic in it. Begin in now.”</div>
  <div class="heading9" style="font-weight: 700; text-transform: uppercase; text-align: center; color: #5382a4; margin-top: 20px; letter-spacing: 0.2em">William Hutchinson Murray</div>
</div>


