<div class="full-page">
  <div class="page-content">

    <!-- <div class="page-section-float-left">
      <ul class="sub-nav">
        <li class="sub-nav-active">
          <a href="/about" class="sub-nav-active">About</a>
        </li>
        <li class="sub-nav-inactive">
          <a href="/story" class="sub-nav-inactive">Story</a>
        </li>       
        <li class="sub-nav-inactive">
            <a href="/team" class="sub-nav-inactive">Team</a>
        </li>   
        <li class="sub-nav-inactive">
            <a href="/campaign" class="sub-nav-inactive">Peer Teaching Fund</a>
        </li>
      </ul>
    </div> -->

    <center>
      <div class="marcomm-header">
        <div class="heading25 dark_grey">Knowledge Sharing, Story Telling, Community Building</div>
        <%= image_tag "v2/greyheader_full.png", :class => "greyheader full" %>
      </div>
    </center>
    
    <div class="clearfix" style="margin-top: 30px; padding-left: 20px">
        <div class="heading15 marcomm">What is HourSchool?</div>
          <p>HourSchool is a social school built from your community. We believe everybody has something they can teach. Check out this interview with the the founders to learn about what HourSchool is, why we work on it, and what it means to us.</p><br> 
          <br>
        <iframe src="http://player.vimeo.com/video/42154383?byline=0&amp;color=ff9933" width="850" height="478" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        
      
    </div>
    
    <%= image_tag "v2-campaign/divider-long.png" %>
  
    <div class="clearfix" style="margin-top: 30px; padding-left: 20px">
      <div>
        <div class="heading15 marcomm">The HourSchool Model</div>
        <p class="about">Learning should be relevant, engaging, and social. Take an active role in your continued education; get a taste of something new in small, bite-sized classes; and meet some new people in your city.</p>
        <div>
          <%= image_tag "v2-about/Slide05.jpg", :style => "width: 427px; float: left" %>
        </div>
        <div>
          <%= image_tag "v2-about/Slide06.jpg", :style => "width: 427px" %>
        </div>
        <div style="margin-top: 5px">
          <%= image_tag 'v2/arrow_orange_pointright.png' %>
          Check out all the classes <a href="/learn" style="font-weight: 700; font-size: 12px; color: #ff7733">you can take</a> in your city.
        </div>
      </div>
    </div>
    
    <%= image_tag "v2-campaign/divider-long.png" %>
    
    <div class="clearfix" style="margin-top: 30px; padding-left: 20px">
      <div class="grid_11">
        <div class="heading15 marcomm" id="marcomm">How does it work?</div>

        <div style="float: left">
          <%= image_tag "v2-teach/step1.jpg", :class => "teach_how_it_works" %>
          <div style="padding-right: 10px; font-size: 11px; width: 180px; text-align: center">
              Students register and pay for your class online.
          </div>
        </div>
      
        <div style="float: left">
          <%= image_tag "v2-teach/step2.jpg",  :class => "teach_how_it_works" %>
          <div style="padding-right: 10px; font-size: 11px; width: 200px; text-align: center">
            Class is held in person and everyone learns something new.
          </div>
        </div>
      
        <div style="float: left">
          <%= image_tag "v2-teach/step3.jpg", :class => "teach_how_it_works" %>  
          <div style="padding-right: 10px; font-size: 11px; width: 180px; text-align: center">
              Be a part of the peer learning network in your city. 
          </div>  
        </div>    
    
      </div>
    
      <div style="float: left">
        <div class="teach-start-block">
          <div class="class-section-heading">Want to post a class?</div>
          <div id="new-create-class-button">
            <%= link_to image_tag("v2/White Star_create a class.png", :id => 'create-class-star'), new_course_path, :id => 'createCourse'%>
            <div class="create-class-heading">Create a class</div>
          </div>                       
        </div>
      </div>
    

    </div>
    
       
  </div>
</div>

