<div class="full-page">
  <div class="page-content">

    <div class="page-section-float-left">
      <ul class="sub-nav">
        <li class="sub-nav-active">
          <a href="/about" class="sub-nav-active">About</a>
        </li>
        <li class="sub-nav-inactive">
          <a href="/story" class="sub-nav-inactive">Story</a>
        </li>       
        <li class="sub-nav-inactive">
            <a href="/team" class="sub-nav-inactive">Team</a>
        </li>   
        <li class="sub-nav-inactive">
            <a href="/campaign" class="sub-nav-inactive">For non-profits</a>
        </li>
        <li class="sub-nav-inactive">
            <a href="/business" class="sub-nav-inactive">For businesses</a>
        </li>
      </ul>
    </div>

    <center>
      <div class="marcomm-header">
        <div class="heading25_666">We believe everyone can teach and everyone should teach</div>
        <%= image_tag "v2/greyheader_full.png", :class => "greyheader_full" %>
      </div>
    </center>
    
    <div class="page-section-float-left">
      <div class="about-hourschool-box">
        <div class="grid_5">
        <div class="heading15-marcomm">What is HourSchool?</div>
          <p>HourSchool is a school from your community. </p>
          <p>We believe everybody has something they can teach and people learn the most and are most willing to learn when they know and trust their teachers. Our mission is to empower anyone to become teachers and provide them with the tools to do so.</p>
        </div>
        <div class="grid_6">
          <iframe src="http://player.vimeo.com/video/24695810?title=0&amp;byline=0&amp;portrait=0" width="545" height="309" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
    
    <div class="page-section-float-left">
      <div class="about-hourschool-box">
        <div class="heading15-marcomm">Learning should be relevant, engaging, and social.</div>
        <p class="about">Take an active role in your continued education; get a taste of something new in small, bite-sized classes; and meet some new people your city.</p>
        <div>
          <%= image_tag "v2-about/Slide05.jpg", :style => "width: 427px; float: left" %>
        </div>
        <div>
          <%= image_tag "v2-about/Slide06.jpg", :style => "width: 427px" %>
        </div>
        <div style="margin-top: 5px">
          <%= image_tag 'v2/arrow_orange_pointright.png', :class => 'view-more-arrow-orange' %>
          Check out all the classes <a href="/learn" style="color: #ff7733">you can take</a> in your city.
        </div>
      </div>
    </div>
    
    <div class="page-section-float-left">
      <div class="about-hourschool-box">
        <div class="heading15-marcomm">Teaching is about learning, sharing, and building communities.</div>
        <p class="about">Having a sense of purpose and being a part of something is a core part of who we are. Get others excited about what you love; engage in the community, and learn from those you're teaching.</p>
        <div>
          <%= image_tag "v2-about/Slide02.jpg", :style => "width: 427px; float: left" %>
        </div>
        <div>
          <%= image_tag "v2-about/Slide04.jpg", :style => "width: 427px" %>
        </div>
        <div style="margin-top: 5px">
          <%= image_tag 'v2/arrow_orange_pointright.png', :class => 'view-more-arrow-orange' %>
          Learn more about<a href="/learn" style="color: #ff7733">what you can teach</a> at HourSchool.
        </div>
      </div>
    </div>
    
    <div class="page-section-float-left">
      <div class="about-hourschool-box">
        <div class="heading15-marcomm">Build an HourSchool everywhere</div>
          <p class="about">We want HourSchool to be all of ours. We see relevancy of this model in all parts of our lives. </p>
        <%= image_tag "", :alt => "HourSchool in your city", :style => "background-color: #999; width: 277px; height: 277px" %>
        <%= image_tag "", :alt => "HourSchool in your organization", :style => "background-color: #999; width: 277px; height: 277px" %>
        <%= image_tag "", :alt => "HourSchool on the bus", :style => "background-color: #999; width: 277px; height: 277px" %>
      </div>
    </div>
        
       
  </div>
</div>

