<div class="container_16" style="width: 960px">

  <% if community_site? %>
    <%= render :partial => '/pages/show/subnav/about-subnav' %>

    <div class="span9 pull-right" style="margin-top: 40px; margin-bottom: 20px;">
      <p class="lead section-header">
        About
      </p>
      <hr>
    </div>

    <div class="span9 pull-right" style="margin-bottom: 20px;">
      <iframe src="http://player.vimeo.com/video/42154383?byline=0&amp;portrait=0&amp;color=ff7733" width="700" height="394" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>

    <div class="span9 pull-right">
      <div class="heading14" style="margin-top: 40px; margin-bottom: 20px">Our Manifesto</div>
      <p style="font-size: 15px; line-height: 2em">We believe in taking responsibility for how interesting our lives are. We believe the best old stories were once new experiences. We believe the beer tastes better on the way home from a good adventure. We believe trying new things isn’t something we have to justify to anybody. We believe in being beginners, because we know passions are found through experimentation and involvement. We believe if we can't fix it, we don't truly own it. We believe if learning isn’t a little bit scary, we’re doing it wrong.  We believe there’s an enormous amount of knowledge in the people around us — we just need to pay more attention to the quiet heroes. We believe as soon as we take the first step, people will come out of the woodwork to help us. We believe we are the experts of our own stories and sharing them makes our communities stronger. We believe success shouldn’t be defined by what we have, but what we have to share. We believe learning isn't consumption, it's participation, and it's time to participate in our own lives.</p>
    </div>

    <div class="span9 pull-right" style="margin-bottom: 20px; width: 490px">
      <div class="big-quote">We believe in starting now.</div>
      <p style="text-align: right; margin-bottom: 20px">Love, HourSchool</p>
    </div>

  <% elsif current_account == Account.where(:id => 9).first %>

    <div class="heading14" style="margin-top: 40px; margin-bottom: 10px">Welcome</div>
    <p>Welcome to <span class="italic">“French in Ann Arbor”</span>, a new and exciting learning platform dedicated to the French language and culture of France and of the French-speaking world in Ann Arbor. French in Ann Arbor is a gathering place for learning and teaching. It is inclusive and democratic in its concept.</p>
    <p><span class="italic">“French in Ann Arbor”</span> is inclusive, because we consider that our members can be native speakers of French, as well as teachers of French, enthusiastic people who know French at many different levels, and the English speakers who are lovers of the French culture. While most of our classes are in French, it makes sense to offer some of them in English (for example: cooking, wine tasting, tourism).</p>
    <p><span class="italic">“French in Ann Arbor”</span> is democratic because it is based on the belief that among the numerous people passionate about French, many can share their interest in a specific subject with the rest of us and become teachers. Anyone who would like to add a class to the school can do so by clicking the <%= link_to "Add a class", new_course_path, :style => "color: #ff7733" %> button on the classes page. Doing so will walk you through the simple process of adding a class to French in Ann Arbor.</p>
    <p><%= link_to "HourSchool", "http://www.hourschool.com", :style => "color: #ff7733" %> provides us with a system that allows us this kind of flexibility. We are very thankful to them for their vision and giving us the tools that allow us to create our new community, <span class="italic">“French in Ann Arbor”</span>. We could not agree more with the statement of its co-founders, Alex Pappas and Ruby Ku Schneeman:</p>

    <div class="big-quote" style="margin-left: 30px; font-size: 18px; font-style: italic; line-height: 30px">“We believe there’s an enormous amount of knowledge in the people around us -- we just need to pay more attention to the quiet heroes. HourSchool was built as a launch pad for everyone seeking to give, share, teach and learn  -- one hour at a time.”</div>

    <div class="heading14" style="margin-top: 40px; margin-bottom: 10px">What are our classes like?</div>
    <p>All of our classes center on a specific topic taught by one of us. We learn in a relaxed, social setting, inspired and eager to continue to explore the topic. We laugh, we get to know each other, and we have a glass of wine now and then. <span class="italic">“French in Ann Arbor”</span> puts the accent on mutual enrichment. Our form of teaching and learning is in general not teacher-centered. Rather, participants’ input is welcome. The exchange of ideas and our side conversations about the topic of the evening are what distinguishes us from a more traditional teaching format. Here is what one of our teachers, Brigitte Romero, owner of France Cuisine, said: </p>
    <div class="big-quote" style="margin-left: 30px; font-size: 18px; font-style: italic; line-height: 30px"> “I find that the class where a subject is the starting point of discussion and exchanges gets us out of our routine of conversations that are often about the same thing. In these meetings we are charmingly forced to talk about other things in the company of people who naturally have similar interests. I find that very heartwarming."</div>

    <div class="heading14" style="margin-top: 40px; margin-bottom: 10px">What do we post?</div>
    <p>Our hectic lives do not always allow us to check out all that is happening on the French scene in Ann Arbor. This is why we try to post the Ann Arbor events tied with French and the French-speaking world so that you can find everything in one place. The Michigan Theater, The University Musical Society, The University of Michigan Center for European Studies are but a few organizations about whose related activities we try to keep you informed.  Any of you can let us know about a French-related event in town.</p>

    <hr style="margin-top: 40px">

    <div class="heading14" style="margin-top: 40px; margin-bottom: 10px">Special thanks to our enthusiastic teachers</div>
    <p>Yann Beaumin, Stuart Dombey, Bonnie Ion, Marcel Muller, Suzanne Murray, Cat Novak, Syl Novak, Brigitte Romero, and the many more in the future!<p>

    <div class="heading14" style="margin-top: 40px; margin-bottom: 10px">About the Director</div>
    <p>My name is Mijo Pappas. I am the founder and director of <span class="italic">“French in Ann Arbor”</span>. I am a native speaker of French and have master degrees in French and in German from the Université of Paris-sorbonne and from the Phillips Universät in Marburg an der Lahn, Germany. I have been a teacher of French language and literature all my life. I am now retired from thirty years of teaching at Greenhills School in Ann Arbor. My dream has always been to build a gathering place of information and a learning community for lovers of the French language and culture in Ann Arbor. Thanks to HourSchool, I am now able to realize this dream. We started with just a handful of French enthusiasts and are now a larger community that is still growing.  Many thanks to everyone who participates and contributes so generously. This project has been a dream come true for me and has been awe-inspiring. I am looking forward to our continued “work and play” together.</p>

    <p>Always get in touch with me if you have questions, or have suggestions about events or class topics you'd like to see in this community. You will be absolutely welcomed. You can reach me at <%= link_to "mijo@hourschool.com", "mailto:mijo@hourschool.com", :style => "color: #ff7733" %>.</p>


    <div class="heading14" style="margin-top: 40px;">Collaboration and Partnerships</div>
    <div class="row">
      <div class="span4">
        <%= image_tag "http://photos3.meetupstatic.com/photos/event/4/e/a/f/global_10340143.jpeg", :style => "margin: 40px 75px 39px 75px" %>
        <p>Julia Kessler-Hollar, organizer of the <%= link_to "Ann Arbor French Conversation Group at Meetup", "http://www.meetup.com/french-581/", :style => "color: #ff7733" %></p>
      </div>
      <div class="span4">
        <%= image_tag "http://labaguettea2.com/img/labaguette_logo.gif", :style => "margin: 22px 40px; width: 65%" %>
        <p>Suzanne Murray, co-owner of <%= link_to "La Baguette", "http://labaguettea2.com/", :style => "color: #ff7733" %>, selling her goodies at the Chelsea Farmers Market every Saturday from 8:00 am to noon.</p>
      </div>
      <div class="span4">
        <%= image_tag "v4/hs-pro/brigitte_logo.png", :style => "width: 60%; margin: 26px 50px" %>
        <p>Brigitte Romero, France Cuisine, A Unique French Dining and Cultural Experience in the Heart of your Home. Contact her at <%= link_to "brigitte.romero@sbcglobal.net", "mailto:brigitte.romero@sbcglobal.net", :style => "color: #ff7733"  %></div>
    </div>

  <% elsif current_account == Account.find(5) %>

    <div class="heading14" style="margin-top: 40px; margin-bottom: 10px">History:</div>
    <p>Many of the initial conversations during the 2 plus years of Center61 ideation were between Maggie Miller, Will Gudeman, and Founder, Steve Wanta, who was initially inspired by Maggie’s bootstrapping non-profit, DiscoverHope. Often the struggle for Maggie was finding space to convene her board and volunteers. Their brainstorming sessions explored everything from the layout, the purpose of the space, and even the eventual bean bag court to be played on the roof top garden, and acted as seeds for the launch of Center61. Their dream finally came to fruition when visiting the new PeopleFund building in June 2011, which made for a perfect partnership.</p>

    <p>Center61 officially opened on August 12th, 2011 and we celebrated our Grand Opening on November 10th,2011. Steve Wanta is the founder, but fully acknowledges that the manifestation of Center61 encompasses an entire community.</p>

    <div class="heading14" style="margin-top: 40px; margin-bottom: 10px">Purpose:</div>
    <p>In one word, the purpose of Center61 is service. We aspire to bring together a community of like-minded organizations and individuals with the hope that we are able to accomplish more together. We believe that there are opportunities to increase fundraising, sales, and ideas through collaboration and healthy, supportive competition. We also recognized the need that many startup organizations and entrepreneurs have—a place that they could call home away from home or the coffee shops, that embodies their dreams, and can be a catalyst to help them achieve their goals, even if they aren’t quite there yet. Center61 exists to be an early stage supporter of small-scale organizations and individuals that are dedicated to changing the world.</p>

    <div class="heading14" style="margin-top: 40px; margin-bottom: 10px">Company:</div>
    <p>Many people feel compelled to give back to their communities through volunteer work or charity. Steve, working in the field of microfinance for Whole Planet Foundation, felt the best way to give back to Austin would be to create a social business that served small non-profits and social entrepreneurs. To us, profit simple means that our Members value our service and we run a responsible organization. The use of future profits is explicitly intended to be invested back into the Austin community, and the success of Center61 will be measured not by its financial return but rather by the social capital created.</p>

    <div class="heading14" style="margin-top: 40px; margin-bottom: 10px">The Name:</div>
    <p>The name is not typical and then again we hope Center61 is not either. For the founding members, the number represented struggle, brotherhood, dedication, perseverance and much more. When discussing potential names, we felt that future members would embody these same qualities and thus the name stuck. It is our hope the name takes on a meaning of its own for everyone that becomes a part of the space.</p>

  <% elsif current_account == Account.find(1) %>

    <div class="full-page white" style="box-shadow: 2px 2px 2px #ccc; margin-bottom: 30px">
      <div class="page-content">

        <h1 class="feastfordays">About</h1>
        <%= image_tag 'feastfordays/how-it-works.png', :style => "padding-bottom: 30px;" %>

      </div>
    </div>

    <div style="float: left; margin-right: 30px">
      <div class="column_heading">History of Feast for Days</div>
      <div class="three_column">
        <%= image_tag 'feastfordays/cutting-veggies.jpg', :style => "margin-bottom: 20px" %>
        <p>Feast for days is the brainchild of Benjamin Franck and Jonathan Lewis. While students at the Austin Center for Design they extensively researched food access issues in the Austin area.</p>
        <p class="quote" id="feastfordays">They spent countless hours at food pantries, farmer’s markets, and grocery stores watching people shop, prepare, and consume food.</p><p> They boiled (no pun intended) all of their conversations and findings into three key insights.</p>
        <strong>
        <p>1. People use food to connect with others.</p>

        <p>2. Changing eating habits is hard.</p>

        <p>3. Cooking skills are best learned by doing.</p>
        </strong>
        <p>Then came the idea for Feast for Days. People cook and share food in a fun environment, while saving time and money. Care to join us?</p>
      </div>
    </div>
    <div style="float: left; margin-right: 30px">
      <div class="column_heading">Thoughts from Ben</div>
      <div class="three_column">
        <%= image_tag 'feastfordays/ben.jpg', :style => "margin-bottom: 20px" %>
        <p>
        I come from a proud heritage of bakers. My grandma makes an amazing marble cake. My mom creates homemade donuts to die for. As for me, I enjoy preparing desserts that are a little less conventional. I love trying recipes that include healthy ingredients such as black beans as excuse to consume more sugar.</p>

        <p class="quote" id="feastfordays">Quick tip: if you bake spinach cookies, freeze the spinach first. I once forgot to. The results were gross.</p>

        <p>As I became a more experienced baker I quickly discovered the value of community. It is highly motivating to watch your friends and family enjoy a dish you have carefully prepared.</p>

        <p>However, sometimes it isn't easy to build that positive network surrounding food. This is the main reason I'm so excited about Feast for Days: it gives people an opportunity to build a healthy community through food. I can't wait to be a part of it.</p>
      </div>
    </div>
    <div style="float: left;">
      <div class="column_heading">Thoughts from Jonathan</div>
      <div class="three_column">
        <%= image_tag 'feastfordays/jon.jpg', :style => "margin-bottom: 20px" %>
        <p>Sometimes I feel like I created this business for myself. Before researching issues surrounding food access, cooking used to be last on my priority list, right behind finishing my novel where I’ve only written the opening line,</p>

        <p class="quote" id="feastfordays">“I could tell by the orange cheeto dust on her fingers that she had been making dinner.”</p>

        <p>Usually I would go out to eat or go “grocery shopping” where I would buy food that was already prepared and feel slightly better about myself because I did not technically go to a restaurant.</p>

        <p>As I talked with people at grocery stores, farmer’s markets, and kitchen tables I realized that it’s important for everyone to have a palette that can tolerate different tastes and know how to prepare different kinds of food.  My dietary decisions were not only hurting my pocket book and causing me to sweat when I brushed my teeth but they also caused me to miss out on meaningful social experiences.</p>

        <p>All that being said, Ben and I believe there is something powerful about people coming together to prepare food and share with one another.</p>

        <p>Bon Appetit!</p>
      </div>
    </div>



  <% else %>
    <%= current_account.about %>
  <% end %>

</div>


