<div class="full-page white">
  <div class="page-content">
    <center>
      <div class="heading28" style="margin-bottom: 15px">Want to build your own mission? Bravo!</div>
    </center>
    <div style="margin: 20px 0px">
      <div style="float: left"%>
        <%= image_tag 'v3/build_mission/explore.png', :style => "width: 288px; margin-right: 12px" %>
        <div style="background-color: white; width: 280px;">
          <div class="title-text" id="explore" style="float: left; width: 280px; padding-top: 10px; padding-bottom: 10px">Explore your world</div>
          <p>Whether you’re looking to begin a new adventure or embark on a path to uncover new perspectives, set forth from here.</p>
        </div>
      </div>
      <div style="float: left">
        <%= image_tag 'v3/build_mission/create.png', :style => "width: 288px; margin-right: 12px" %>
        <div style="background-color: white; width: 280px;">
          <div class="title-text" id="explore" style="float: left; width: 280px; padding-top: 10px; padding-bottom: 10px">Create things</div>
          <p>From starting a business to writing a book, create something out of nothing, make your ideas real, and share with the world.</p>
        </div>
      </div>
      <div style="float: left; margin-bottom: 10px"%>
        <%= image_tag 'v3/build_mission/self-sufficiency.png', :style => "width: 288px; margin-right: 12px" %>
        <div style="background-color: white; width: 280px;">
          <div class="title-text" id="explore" style="float: left; width: 280px; padding-top: 10px; padding-bottom: 10px">Become more self-sufficient</div>
          <p>From taking care of your home to replacing the timing belt on your car, regain lost skills and live closer to things around us.</p>
        </div>
      </div>
    </div>
    <center>
      <div class="intro-text">Create a mission around your goal for others who share the same passion.</div>
      <% if current_user %>
        <a class="yellow button long" data-toggle="modal" href="#newMission">Build my own mission</a>
      <% else %>
        <%= link_to "Build my own mission", new_mission_path, :class => "yellow long button" %>
      <% end %>
    </center>
  </div>
</div>

    <!--  modal -->
    <div class="modal hide" id="newMission">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Build A New Mission</h3>
    </div>
    <div class="modal-body">    
      <p style="margin-bottom: 10px">OK! Start your mission by explaining your big, long-term goal. </p>     
      <%= render 'missions/form' %>
    </div>
    </div>
    <!-- modal end --> 



