<div class="full-page white">
  <div class="page-content">

  <%= render :partial => '/pages/show/subnav/about-subnav' %>

  <div class="page-main white">
    <div class="page-content">
      <div class="heading11 marcomm" id ="who-we-are">Who we are</div>
      <p>We are a group of students, teachers, writers, designers, filmmakers, chefs, mechanics, engineers, thinkers and explorers who meet in person to share knowledge, skills, and resources to continually push each other to keep learning and doing new things.</p>

      <%= image_tag(User.find(7).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(3).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(4).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(13).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(237).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(208).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(335).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(86).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(51).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>
      <%= image_tag(User.find(38).photo.url(:thumb_small), :style => "margin: 0px 5px 5px 0px") %>

      <%= image_tag(User.find(1435).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(1069).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(298).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(12).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(30).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(72).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(235).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(320).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(333).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>
      <%= image_tag(User.find(343).photo.url(:thumb_small), :style => "margin: 0px 5px 20px 0px") %>

    </div>
  </div>

  <iframe src="http://player.vimeo.com/video/40254660" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/40254660">Local Spotlight #01 Urban Roots</a> from <a href="http://vimeo.com/hourschool">HourSchool</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

  </div>
</div>