<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Join the street team
    </p>
  </center>
  <div class="row-fluid" style="width: 960px; margin-top: 30px">
    <%= image_tag 'v3/explore/mission-soGoodNetwork.png' %>
  </div>
  <div class="row-fluid" style="margin-top: 20px">
    <p>Are you a fan of HourSchool wondering how you can get involved? Whether you're in Austin, or Oslo, we're expanding our street team and looking for people to give us feedback on new features, find the quiet teachers and mentors in our communities, and to help us eat all the pizza at our parties.</p>
  </div>
  <a href="http://eepurl.com/kx8Kv" target="_blank" class="button orange long">Join the street team</a>
  <hr>
</div>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Participate in Peer Education Fund
    </p>
  </center>
  <div class="row-fluid" style="width: 960px; margin-top: 30px">
    <p style="text-align: left">HourSchool collaborates and co-designs with organizations to help their own peer teaching programs. You can learn more about our theory of change from our <%= link_to "founding story", story_path, :style => "color: #ff7733" %>.</p>
    <p style="text-align: left">Teachers at HourSchool can choose to donate their class proceeds towards our peer teaching fund. The fund will be used to plan events, cover cost of materials, and compensate time for trainers in these programs. You can’t donate directly without teaching, so start teaching today and empower someone else to do the same. </p>
    <p style="text-align: left; margin: 20px 0 20px 0">Organizations that have benefitted from the Peer Education Fund:</p>
  </div>
  <div class="row-fluid">
    <div class="span8">
      <%= link_to (image_tag 'v4/services/greendoors.jpg', :style => "margin-bottom: 10px"), clients_greendoors_path %>
    </div>
    <div class="span4">
      <div class="heading14" style="margin-bottom: 5px">Green Doors</div>
      <p>We designed and implemented a peer teaching program at Green Doors, a permanent supportive housing community, to provide residents a platform to share their knowledge with their community as a means to boost agency and engagement. <br>
      <%= link_to "Read case study", clients_greendoors_path, :style => "text-decoration: underline; color: #ff7733;" %></p>
      <a href="mailto:hello@hourschool.com" class="button orange long" style="margin-top: 20px">Apply to participate</a>
    </div>
  </div>
  <hr>
</div>

<div class="container_16" style="margin-top: 40px; margin-bottom: 100px; width: 960px">
  <center>
    <p class="lead section-header">
      Be a space partner
    </p>
  </center>
  <div class="row-fluid" style="margin-top: 30px">
    <div class="span4">
      <%= image_tag 'v4/space-partners/conjunctured2.jpg' %>
    </div>
    <div class="span4">
      <%= image_tag 'v4/space-partners/conjunctured.jpg' %>
    </div>
    <div class="span4">
      <%= image_tag 'v4/space-partners/conjunctured3.jpg' %>
    </div>
  </div>
  <div class="row-fluid" style="width: 960px; margin-top: 20px">
    <p>Do you own an awesome space that would be perfect for holding classes, events, community lunches, or happy hours? We are always looking for venues to hold our community-oriented events, or give our teachers more options for where to host their classes. Please reach out!</p>
    <a href="mailto:hello@hourschool.com" class="button orange long">Be a space partner</a>
  </div>
</div>
