<div class="full-page white">
  <div class="page-content">
    <center>
      <div class="heading28" style="margin-bottom: 15px">Partner Schools</div>
      <div class="intro-text">Our partner schools are organizations that embody the same spirit as we do around education, empowerment, and community building. Interested in collaborating? <a href="mailto:hello@hourschool.com" style="font-weight: 700">Email us!</a></div>
    </center>
  </div>
</div>

<div style="float: left; width: 960px">
  <%= link_to (image_tag 'v3/partner_schools/hubla.jpg'), "http://thehubla.com" %>
  <div style="background-color: white; padding: 15px; margin-bottom: 30px">
    <div class="title-text" id="explore" style="margin-top: 10px; float: left; width: 960px">
      <%= link_to "Hub LA", "http://thehubla.com" %>
    </div>
    <div class="heading11" id="explore">Los Angeles, CA</div>
    <p>Hub LA is about the power of people taking action for a better world. They are a new kind of membership club dedicated to the individuals and teams building the local, sustainable economy in Los Angeles and beyond. Anchored by a physical place in the heart of the Arts District in Downtown LA, the Hub offers members access to 4,000 square feet of creative industrial space to work, meet, learn, collaborate, and play; a curated community of values-aligned individuals and companies; and custom programming and events focused on personal and professional development.</p>
  </div>

  <%= link_to (image_tag 'v3/partner_schools/center61.jpg'), "http://www.center61.com" %>
  <div style="background-color: white; padding: 15px; margin-bottom: 30px">
    <div class="title-text" id="explore" style="margin-top: 10px; float: left; width: 960px">
      <%= link_to "Center61", "http://www.center61.com" %>
    </div>
    <div class="heading11" id="explore">Austin, TX</div>
    <p>In one word, the purpose of Center61 is service. They aspire to bring together a community of like-minded organizations and individuals with the hope that they are able to accomplish more together. They believe that there are opportunities to increase fundraising, sales, and ideas through collaboration and healthy, supportive competition. They also recognized the need that many startup organizations and entrepreneurs have—a place that they could call home away from home or the coffee shops, that embodies their dreams, and can be a catalyst to help them achieve their goals, even if they aren’t quite there yet. Center61 exists to be an early stage supporter of small-scale organizations and individuals that are dedicated to changing the world.</p>
  </div>

  <%= link_to (image_tag 'v3/partner_schools/feastfordays.png'), "http://www.feastfordays.com" %>
  <div style="background-color: white; padding: 15px; margin-bottom: 30px">
    <div class="title-text" id="explore" style="margin-top: 10px; float: left; width: 960px">
      <%= link_to "Feast for Days", "http://www.feastfordays.com" %>
    </div>
    <div class="heading11" id="explore">Austin, TX</div>
    <p>Feast for Days makes it easy for people to cook and share food. It incorporates cooking’s experiential qualities to facilitate personal connection through the many benefits of collaborative cooking that include: it’s fun, it builds cooking literacy and has the power to change the way people interact with food.</p>
  </div>

</div>

