<style type="text/css">
  .nav{
    text-transform: uppercase; font-weight: 600; font-size: 12px; letter-spacing: 1px;
    a{color: #999;}
    a:hover{color: #232323;}
  }

  .navbar-inner{
    height: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .white{
    background-color: white;
  }

  .section{
    width: 820px;
  }

  .section-header{
    font-size: 40px;
  }

  .quote-box{
    border: 1px solid #e6e6e6;
    padding: 30px 30px 0 30px;
    margin-bottom: 30px;
    border-radius: 2px;
  }

  .hero-unit{
    background: url(<%= asset_path 'v4-homepage/Banner_01.png' %>);
    background-position: 50% 0%;
    padding-top: 150px;
    margin-bottom: 80px;
    height: 324px;
    border-radius: 0px
  }

  .white-text{
    color: #fff !important;
    text-shadow: 0 1px 1px #000;
  }
</style>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <center><p class="lead section-header">
    Introducing HourSchool Pro
  </p></center>
</div>

<div class="container_16" style="width: 820px">
  <p style="font-size: 15px; line-height: 2em; text-align: center">You have been teaching at HourSchool for awhile, and you have outgrown the capability of one-off classes. HourSchool Pro helps you build your own school, giving you more visibility and control over your educational offerings.</p>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 40px; width: 960px">
  <center>
    <%= link_to "Try HourSchool Pro free for 30 days", new_account_path, :class => "btn btn-large btn-primary", :style => "color: white" %>
    <p style="margin-top: 10px">$50/month after trial</p>
  </center>
</div>
<hr>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Built with HourSchool Pro
    </p>
    <p style="width: 550px">
      A few of our happy customers
    </p>
    <div class="row-fluid" style="width: 960px; margin-top: 30px">
      <div class="span4">
        <p><%= link_to image_tag('v4/hs-pro/womendesignbuild.png', :style => "width: 100%"), "http://www.womendesignbuild.org", :target => "_blank" %></p>
        <p style="text-align: left; padding: 20px">
          Women.Design.Build fosters a community where the women and girls of Austin can build skills, friendships, and confidence through design & construction activities.
        </p>
      </div>
      <div class="span4">
        <p><%= link_to image_tag('v4/hs-pro/feastfordays.png', :style => "width: 100%"), "http://www.feastfordays.com", :target => "_blank" %></p>
        <p style="text-align: left; padding: 20px">
          Feast for Days is a collaborative cooking platform that makes it easy for people to cook and share food.
        </p>
      </div>
      <div class="span4">
        <p><%= link_to image_tag('v4/hs-pro/frenchinannarbor.png', :style => "width: 100%"), "http://frenchinannarbor.hourschool.com", :target => "blank" %></p>
        <p style="text-align: left; padding: 20px">
          French in Ann Arbor brings together a passionate group of people to learn about the French language, literature, cuisine and more.
        </p>
      </div>
    </div>
  </center>
</div>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 700px">
  <div class="quote-box">
    <p class="lead" style="text-align: left">"HourSchool helped give our workshops more personality by increasing visibility into our community which led to increased member attendance and involvement.”</p>
  </div>
  <%= image_tag 'v4-homepage/mirando.png', :size => "75x75", :style => "float: left; margin-right: 20px" %>
  <p class="lead" style="text-align: left; color: #56abe9; margin-bottom: 10px">
    Christina Mirando
  </p>
  <p style="text-align: left;">
    Executive Director and Founder, <a href="http://womendesignbuild.org" target="_blank" style="font-weight: 700; color: black">Women.Design.Build</a>
  </p>
</div>

<hr>

<div class="container_16" style="margin-top: 60px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Why upgrade to HourSchool Pro?
    </p>
    <p style="width: 550px">
      Every feature is optimized to build community. Every product detail is designed to supports your goal: to ensure your members have a great experience.
    </p>

    <div class="row-fluid" style="width: 960px; margin-top: 30px">
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #56abe9; text-align: left">
          Events Curation
        </p>
        <p style="text-align: left">
          Get a bird's eye view across events, track attendance, customize fees structure, spend less time emailing and more time on the people.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #56abe9; text-align: left">
          Your Data, delievered.
        </p>
        <p style="text-align: left">
          Identify and reward your super users. Learn what works and double down. Weekly reports deliver to your inbox so you can showcase your success.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #56abe9; text-align: left">
          Bigger Reach
        </p>
        <p style="text-align: left">
          Your events get cross-posted to our marketplace so you can reach new people and grow your community with every new event.
        </p>
      </div>
    </div>

    <div class="row-fluid" style="width: 960px; margin-top: 30px">
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #56abe9; text-align: left">
          Share Ownership
        </p>
        <p style="text-align: left">
          Let your most enthusiastic members share the responsibility of organizing and teaching, with built-in approval process so you won't lose control.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #56abe9; text-align: left">
          Offer Membership <span class="label">Coming soon</span>
        </p>
        <p style="text-align: left">
          Perfect for collecting a monthly recurring payment for your organization, with options to make your classes open or members-only.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #56abe9; text-align: left">
          Student Driven <span class="label">Coming soon</span>
        </p>
        <p style="text-align: left">
          Let your community decides what they are most interested in learning and teaching by voting on topics and nominating teachers.
        </p>
      </div>
    </div>
  </center>
</div>

<hr>

<div class="container_16" style="margin-top: 60px; margin-bottom: 20px; width: 700px">
  <center>
    <p class="lead section-header">How much does it cost?</p>
    <p style="width: 700px">Try for free, then pick a plan that best fits your needs.</p>
    <%= image_tag 'v4-homepage/pricing.png', :style => "width: 700px; margin-top: 30px;" %>
  </center>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header" style="margin-top: 30px">
      Talk to a human
    </p>
    <p style="width: 700px">
      Still have questions? Call us.
    </p>
    <p class="lead" style="color: #56abe9;">
      1.877.246.4689
    </p>

    <%= link_to "Try HourSchool Pro free for 30 days", new_account_path, :class => "btn btn-large btn-primary", :style => "color: white" %>
    <p style="margin-top: 10px">$50/month after trial</p>

    </center>
</div>
</div>

