<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Resources
    </p>
  </center>
</div>
<hr>

<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 600px">
  <center><div class="heading14" style="margin-top: 10px; margin-bottom: 20px">Tools for teachers:</div></center>
  <div class="span3" style="margin-left: 80px; margin-right: 30px">
    <%= link_to (image_tag "v2/screenshot_teacherHandbook.png"), "../../../pdf/TeachersHandbook-030812-rk.pdf", :style => "margin-bottom: 15px; float: left" %>
    <%= link_to image_tag("v2-teach/icon-pdf.png", :size => "25x25"), "../../../pdf/TeachersHandbook-030812-rk.pdf" %>
    Tips & tricks on how to teach your first class.
  </div>
  <div class="span3" style="margin-left:0">
    <%= link_to (image_tag "v4/teach/teacher_postcard.png", :style => "width: 80%"), "/assets/v4/teach/teacher_postcard.png", :style => "margin-bottom: 15px; float: left;" %>
    <%= link_to image_tag("v2-teach/icon-pdf.png", :size => "25x25"), "../../../pdf/TeachersHandbook-030812-rk.pdf" %>
    <div style="width: 180px">A checklist for teacher to get ready before class!</div>
  </div>
</div>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 800px">
  <center><div class="heading14" style="margin-top: 10px; margin-bottom: 20px">Tools for community managers:</div></center>
  <div class="span3" style="margin-left: 90px; margin-right: 30px">
    <%= link_to (image_tag "v4/community/handbook.png", :style => "border: 1px solid black"), "../../../pdf/HourSchool_CommunityBuildingPrinciples-Feb2013.pdf", :style => "margin-bottom: 15px; float: left" %>
    <%= link_to image_tag("v2-teach/icon-pdf.png", :size => "25x25"), "../../../pdf/HourSchool_CommunityBuildingPrinciples-Feb2013.pdf" %>
    HourSchool's guiding principles in building communities
  </div>
  <div class="span6" style="margin-left:0">
    <%= link_to (image_tag "v4/community/hs-in-a-box.png", :style => "width: 87%"), "../../../pdf/hs-in-a-box.zip", :style => "margin-bottom: 15px; float: left; padding-right: 30px" %>
    <%= link_to image_tag("v2-teach/icon-pdf.png", :size => "25x25"), "../../../pdf/TeachersHandbook-030812-rk.pdf" %>
    <div style="width: 400px">HourSchool in a Box - everything you need to build an HourSchool within your organization offline</div>
  </div>
</div>


<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <div class="well">
    <p style="font-size: 15px; line-height: 2em">Are you interested in working with us to implement a peer teaching program in your community or organization? Drop us a note at <%= link_to "hello@hourschool.com", "mailto:hello@hourschool.com" %>!</p>
  </div>
</div>