<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Start a school
    </p>
    <p style="width: 550px">
      with our easy to use school builder
    </p>
  </center>
</div>

<div class="container_16" style="width: 700px">
  <p style="font-size: 15px; line-height: 2em; text-align: center">You teach or organize classes, with a goal to educate, share your passion, and build community. HourSchool gives you a platform to host your classes, grow a tribe, and amplify your reach.</p>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 40px; width: 960px">
  <center>
    <%= link_to "Try HourSchool Pro free for 30 days", new_account_path, :class => "button orange long", :style => "color: white; width: 340px; padding: 15px 0" %>
  </center>
  <hr>
</div>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Built with HourSchool
    </p>
    <p style="width: 550px">
      A few of our happy customers
    </p>
    <div class="row-fluid" style="width: 960px; margin-top: 30px">
      <div class="span4">
        <p><%= link_to image_tag('v4/hs-pro/womendesignbuild.jpg', :style => "width: 100%"), "http://www.womendesignbuild.org", :target => "_blank" %></p>
        <p style="text-align: left; padding: 20px">
          Women.Design.Build fosters a community where the women and girls of Austin can build skills, friendships, and confidence through design & construction activities.
        </p>
      </div>
      <div class="span4">
        <p><%= link_to image_tag('v4/hs-pro/feastsfordays.jpg', :style => "width: 100%"), "http://www.feastfordays.com", :target => "_blank" %></p>
        <p style="text-align: left; padding: 20px">
          Feast for Days is a collaborative cooking platform that makes it easy for people to cook and share food.
        </p>
      </div>
      <div class="span4">
        <p><%= link_to image_tag('v4/hs-pro/frenchinannarbor.jpg', :style => "width: 100%"), "http://frenchinannarbor.hourschool.com", :target => "blank" %></p>
        <p style="text-align: left; padding: 20px">
          French in Ann Arbor brings together a passionate group of people to learn about the French language, literature, cuisine and more.
        </p>
      </div>
    </div>
  </center>
  <hr>
</div>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      What people are saying
    </p>
    <p style="width: 550px">
      about how we've helped them grow
    </p>
  </center>
  <div class="row-fluid" style="width: 960px; margin-top: 30px">
    <div class="span6" style="padding: 19px">
      <div class="quote-box">
        <p class="lead" style="text-align: left">"HourSchool helped give our workshops more personality by increasing visibility into our community which led to increased member attendance and involvement.”</p>
      </div>
      <%= image_tag 'v4-homepage/mirando.png', :size => "75x75", :style => "float: left; margin-right: 20px" %>
      <p class="lead" style="text-align: left; color: #ff7733; margin-bottom: 10px">
        Christina Mirando
      </p>
      <p style="text-align: left;">
        Executive Director and Founder of <a href="http://womendesignbuild.org" target="_blank" style="font-weight: 700; color: black">Women.Design.Build</a>
      </p>
    </div>
    <div class="span6" style="padding: 19px">
      <div class="quote-box">
        <p class="lead" style="text-align: left;">"My dream has always been to build a gathering place of information and a learning community for lovers of the French language and culture in Ann Arbor. Thanks to HourSchool, I am now able to realize this dream.”</p>
      </div>
      <%= image_tag 'v4-homepage/mijopappas.jpg', :size => "75x75", :style => "float: left; margin-right: 20px" %>
      <p class="lead" style="text-align: left; color: #ff7733; margin-bottom: 10px">
        Mijo Pappas
      </p>
      <p style="text-align: left;">
        Founder of <a href="http://frenchinannarbor.hourschool.com" target="_blank" style="font-weight: 700; color: black">French in Ann Arbor</a>
      </p>
    </div>

  </div>
  <div class="row-fluid" style="width: 960px; margin-top: 30px">
    <div class="span6" style="padding: 19px">
      <div class="quote-box">
        <p class="lead" style="text-align: left;">"I really love this new platform! It's only been up for about an hour and the classes are getting some hits. All in all it is awesome Awesome AWESOME!”</p>
      </div>
      <%= image_tag 'v4-homepage/johnneel.jpg', :size => "75x75", :style => "float: left; margin-right: 20px" %>
      <p class="lead" style="text-align: left; color: #ff7733; margin-bottom: 10px">
        John Neel
      </p>
      <p style="text-align: left;">
        Principal of <a href="http://schoolclass.hourschool.com" target="_blank" style="font-weight: 700; color: black">schoolclass</a>
      </p>
    </div>
    <div class="span6" style="padding: 19px">
      <div class="quote-box">
        <p class="lead" style="text-align: left">"We are really happy with it and the site looks awesome and is already super easy to use!”</p>
      </div>
      <%= image_tag 'v4-homepage/kelly_vuka.jpg', :size => "75x75", :style => "float: left; margin-right: 20px" %>
      <p class="lead" style="text-align: left; color: #ff7733; margin-bottom: 10px">
        Kelly Larkan
      </p>
      <p style="text-align: left;">
        Education lead of <a href="http://www.vukaaustin.com" target="_blank" style="font-weight: 700; color: black">Vuka Austin</a>
      </p>
    </div>
  </div>
  <hr>
</div>


<div class="container_16" style="margin-top: 60px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Why use HourSchool?
    </p>
    <p style="width: 550px">
      Every feature is optimized to build community. Every product detail is designed to supports your goal: to ensure your members have a great experience.
    </p>

    <div class="row-fluid" style="width: 960px; margin-top: 30px">
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Fast, super easy setup
        </p>
        <p style="text-align: left">
          Launching your school is as easy and quick as possible with our simple and intuitive school builder.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Get paid the easy way
        </p>
        <p style="text-align: left">
          Accept payments and all major credit cards from around the world. All payments are handled by <%= link_to "Stripe", "http://www.stripe.com", :style => "text-decoration: underline" %>.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Unlimited classes and users
        </p>
        <p style="text-align: left">
          Why wouldn't it be? We want as much knowledge to be dispersed and as many people to be benefitting as possible!
        </p>
      </div>
    </div>

    <div class="row-fluid" style="width: 960px; margin-top: 30px">
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Amazing Support
        </p>
        <p style="text-align: left">
          Receive quick, reliable and knowledgeable customer support answers from a real human. Try it now: <%= link_to "hello@hourschool.com", "mailto:hello@hourschool.com", :style => "text-decoration: underline"  %>
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          See the faces
        </p>
        <p style="text-align: left">
          Seeing faces of other people who have registered triggers more sign ups. Not sure why, but it's true.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Share ownership
        </p>
        <p style="text-align: left">
          Let your most enthusiastic members share the responsibility of organizing and teaching, with built-in approval process so you won't lose control.
        </p>
      </div>
    </div>

    <div class="row-fluid" style="width: 960px; margin-top: 30px">
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Auto email reminder
        </p>
        <p style="text-align: left">
          No more sending hundreds of emails. You should be focusing on the people and content, not logistics.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Admin dashboard
        </p>
        <p style="text-align: left">
          Identify and reward your super users. Learn what works and double down. Weekly reports deliver to your inbox so you can showcase your success.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          HourSchool marketplace
        </p>
        <p style="text-align: left">
          Your events get cross-posted to our marketplace so you can reach new people and grow your community with every new event.
        </p>
      </div>
    </div>

    <div class="row-fluid" style="width: 960px; margin-top: 30px">
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Your own domain <span class="label">Coming soon</span>
        </p>
        <p style="text-align: left">
          Use your own custom domain for a more branded store experience.
        </p>
      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Offer discounts <span class="label">Coming soon</span>
        </p>
        <p style="text-align: left">
          Drive more sign ups with promos like discounts, anniversary special, or friend deal.
        </p>

      </div>
      <div class="span4" style="padding: 19px">
        <p class="lead" style="color: #ff7733; text-align: left">
          Student driven <span class="label">Coming soon</span>
        </p>
        <p style="text-align: left">
          Let your community decide what they are most interested in learning and teaching by voting on topics and nominating teachers.
        </p>
      </div>
    </div>

  </center>
  <hr>
</div>

<div class="container_16" style="margin-top: 60px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">How much does it cost?</p>
    <p style="width: 700px">Try for free, no credit card required.</p>
    <div class="row-fluid" style="margin-top: 30px">
      <div class="span4">
        <ul class="pricing-table">
          <li class="title">HourSchool Free</li>
          <li class="price">Free</li>
          <li class="description">Free for as long as your classes are free!</li>
          <li class="bullet-item">Your own school</li>
          <li class="bullet-item">Unlimited classes</li>
          <li class="bullet-item">Unlimited users</li>
          <li class="bullet-item">Choose from our pre-built templates</li>
          <li class="bullet-item">Standard metrics</li>
          <li class="cta-button" style="padding: 1px; padding-bottom: 10px"><%= link_to "Use HourSchool for free", new_account_path, :class => "button orange long", :style => "padding: 15px" %></li>
        </ul>
      </div>
      <div class="span4">
        <ul class="pricing-table">
          <li class="title">HourSchool Pro</li>
          <li class="price">$50/month</li>
          <li class="description">No hidden fees. Cancel anytime.</li>
          <li class="bullet-item">Your own school</li>
          <li class="bullet-item">Unlimited classes</li>
          <li class="bullet-item">Unlimited users</li>
          <li class="bullet-item">No transaction fee</li>
          <li class="bullet-item">Choose from our pre-built templates</li>
          <li class="bullet-item">Standard metrics</li>
          <li class="cta-button" style="padding: 1px; padding-bottom: 10px"><%= link_to "Try it free for 30 days", new_account_path, :class => "button orange long", :style => "padding: 15px" %></li>
        </ul>
      </div>
      <div class="span4">
        <ul class="pricing-table">
          <li class="title">HourSchool Tailored</li>
          <li class="price"><span style="font-size: 13px">Implementation fee + </span>$50/month</li>
          <li class="description">We customize to match exactly what you need.</li>
          <li class="bullet-item">Your own school</li>
          <li class="bullet-item">Unlimited classes</li>
          <li class="bullet-item">Unlimited users</li>
          <li class="bullet-item">No transaction fee</li>
          <li class="bullet-item">Custom design</li>
          <li class="bullet-item">Custom metrics</li>
          <li class="bullet-item">Consulting service <a href="/services"><i class="icon-question-sign"></i></a></li>
          <li class="cta-button" style="height: 30px"><%= link_to "Contact Us", 'mailto:hello@hourschool.com', :style => "text-decoration: underline; color: #ff7733" %></li>
        </ul>
      </div>
    </div>
    <p>Not sure if anyone would take your class? Do a test-run by posting a one-off class to our marketplace: <%= link_to "Post for free", new_course_path, :style => "text-decoration: underline;" %></p>
  </center>
  <hr>
</div>


<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header" style="margin-top: 30px">
      Talk to a human
    </p>
    <p style="width: 700px">
      Still have questions? Call us.
    </p>
    <p class="lead" style="color: #ff7733;">
      1.877.246.4689
    </p>

    <p style="width: 700px">
      Email is cool too. We respond quickly.
    </p>
    <p class="lead">
      <%= link_to "hello@hourschool.com", "mailto:hello@hourschool.com", :style => "color: #ff7733" %>
    </p>
  </center>
</div>

