<div class="full-page">
  <div class="page-content">

    <div class="page-section-float-left">
      <ul class="sub-nav">
        <li class="sub-nav-inactive">
          <a href="/mission" class="sub-nav-inactive">About</a>
        </li>
        <li class="sub-nav-active">
          <a href="/story" class="sub-nav-active">Story</a>
        </li>       
        <li class="sub-nav-inactive">
            <a href="/team" class="sub-nav-inactive">Team</a>
        </li>   
        <li class="sub-nav-inactive">
            <a href="/campaign" class="sub-nav-inactive">For non-profits</a>
        </li>
        <li class="sub-nav-inactive">
            <a href="/business" class="sub-nav-inactive">For businesses</a>
        </li>
      </ul>
    </div>

    <center>
      <div class="marcomm-header">
        <div class="heading25_666">Teaching was the best part of people's days</div>
        <%= image_tag "v2/greyheader_full.png", :class => "greyheader_full" %>
      </div>
    </center>
    
    <div class="page-section-float-left">
      
      <div class="clearfix" style="margin-top: 30px">
        <div class="grid_6">
          <div class="heading15-marcomm">The biggest problem is perception</div>
          <p>HourSchool began as a research project about homelessness when co-founders Ruby Ku and Alex Pappas were at the <a href="http://www.ac4d.com" style="font-weight: 700; font-size: 12px; color: #ff7733">Austin Center for Design</a>. 
            
            <p>"We met with homeless people, listened to their stories, and learned about their good and bad days. Contrary to common belief, homelessness is not the guy you see at the corner of the street or on the side of a freeway. 40% of the homeless population in Austin is made up of women and children with the average age of 7. They often have little or no safety nets. When they're hit with rough times, they end up homeless. The biggest problem is perception - both in how society perceives people experiencing homelessness, and how that perception affects the way they perceive themselves.</p>
        </div>
        <div class="grid_6">
          <%= image_tag "v2-about/church_under_the_bridge.jpg", :style => "width: 525px; margin-top: 35px" %>
        </div>      
      </div>
      
      <%= image_tag "v2-campaign/divider-long.png" %>
      
      <div class="clearfix" style="margin-top: 30px">
        <div class="grid_6" style="margin-right: 20px">
          <%= image_tag "v2-about/art-from-the-street.jpg", :style => "width: 320px; margin-bottom: 20px" %>
          <%= image_tag "v2-about/pi-with-matt.jpg", :style => "width: 320px; margin-bottom: 20px" %>
        </div>
        <div>
        <div class="heading15-marcomm">A different view of Maslow's Hierarchy</div>
        <p>Our perception changed the day we began asking one simple question: ‘What is the best part of your day?’. Over and over again, we heard that the best part of their day was when they could help others and share what they know - from where to buy a bus pass and writing a resume to cooking and painting. </p>
        <p>A common way of thinking about the homeless is with Maslow’s hierarchy of needs, describing that the most fundamental of needs (like food and water) must be served before one can move up into other needs (such as self-esteem and being part of a community). Many social service agencies work extremely hard to provide the homeless with these fundamental goods and services. But we believe they are not enough to lift someone out of homelessness. </p>
        <p>If you consider Maslow’s hierarchy from a bird’s eye point of view, self-actualization is at the core of what makes us human. It is an innate human need for us to not just able to live, but have the desire to live. That desire is often what separates between the chronically homeless and the ones that are trying to change their situations. For homeless people to feel empowered to change their situations, we began to look at how they could help others; how the homeless could achieve self-actualization. </p>
        </div>
      </div>
    
      <%= image_tag "v2-campaign/divider-long.png" %>
    
      <div class="clearfix" style="margin-top: 30px">
        <div class="grid_6">
          <div class="heading15-marcomm">We are all hungry for knowledge</div>
          <p>Our innate need to share and give remains true regardless of our economic situation. HourSchool was built as a launchpad for everyone seeking to give, share, teach and learn - one hour at a time.</p>
          <p>Check out our presentation from March 2011 to get a glimpse of the beginning of HourSchool!"</p>
          <div style="border: 1px solid #9bc446; padding: 15px;">
            From now till March 31, 2012, we are raising money to support the launch of our peer-teaching program with two partnered non-profits. To learn more, please visit <a href="/campaign" style="font-weight: 700; font-size: 12px; color: #9bc446;">our campaign page</a>.
          </div>
        </div>
        <div class="grid_6">
          <iframe src="http://player.vimeo.com/video/20963686?title=0&amp;byline=0&amp;portrait=0" width="525" height="309" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>


    </div> <!-- end page-section-float-left -->

  </div>
</div>
