<div class="full-page">
  <div class="page-content">

    <div class="page-section-float-left">
      <ul class="sub-nav">
        <li class="sub-nav-inactive">
          <a href="/mission" class="sub-nav-inactive">About</a>
        </li>
        <li class="sub-nav-active">
          <a href="/story" class="sub-nav-active">Story</a>
        </li>       
        <li class="sub-nav-inactive">
            <a href="/team" class="sub-nav-inactive">Team</a>
        </li>   
        <li class="sub-nav-inactive">
            <a href="/campaign" class="sub-nav-inactive">For non-profits</a>
        </li>
        <li class="sub-nav-inactive">
            <a href="/business" class="sub-nav-inactive">For businesses</a>
        </li>
      </ul>
    </div>

    <center>
      <div class="marcomm-header">
        <div class="heading25_666">Teaching was the best part of people's days</div>
        <%= image_tag "v2/greyheader_full.png", :class => "greyheader_full" %>
      </div>
    </center>
    
    <div class="page-section-float-left">
      
      <div class="clearfix" style="margin-top: 30px">
        <div class="grid_6">
          <div class="heading15-marcomm">The biggest problem is perception</div>
          <p>HourSchool began as a research project about homelessness when we were at the <a href="http://www.ac4d.com" style="font-weight: 700; font-size: 12px; color: #ff7733">Austin Center for Design</a>. We met with homeless people, listened to their stories, and learned about their good and bad days. Contrary to common perceptions, homelessness is not the guy you see at the corner of the street or on the side of a freeway. In fact, 40% of the homeless population in Austin is made up of women and children with the average age of 7. They are people like you and me, but going through tough times and trying to improve their situations. We found that their biggest problem is perception - both in how society perceives them, and how that perception affects the way they perceive themselves.</p>
        </div>
        <div class="grid_6">
          <%= image_tag "v2-about/church_under_the_bridge.jpg", :style => "width: 320px" %>
        </div>      
      </div>
      
      <%= image_tag "v2-campaign/divider-long.png" %>
      
      <div class="clearfix" style="margin-top: 30px">
        <div class="grid_6" style="margin-right: 20px">
          <%= image_tag "v2-about/art-from-the-street.jpg", :style => "width: 320px" %>
          <%= image_tag "v2-about/pi-with-matt.jpg", :style => "width: 320px" %>
        </div>
        <div>
        <div class="heading15-marcomm">A different view of the Maslow's Hierarchy</div>
        <p>Over and over again, they told us that the best part of their day was when they could help others and share what they know - from where to buy a bus pass and writing a resume to cooking and painting. Many social service agencies work extremely hard to provide the homeless with essential goods and services - shelter, food, and medical assistance. These are fundamental to one’s physical survival, but we believe they are not enough to lift someone out of homelessness. The Maslow’s hierarchy paradigm believes that the bottom layers must be served before one can move up into other needs such as self-esteem and being part of a community. However, if you consider looking at the Maslow’s hierarchy from a bird’s eye point of view, self-actualization is at the core of what makes us human. It is an innate human need that needs to be fulfilled, in order for us to not just able to live, but have the desire to live. That desire is often what separates between the chronically homeless and the ones that are trying to change their situations. We combined this belief with our observations of people’s enhanced self-esteem when they share their knowledge. These insights led us to focus on people’s assets, not their liabilities. For homeless people to feel empowered to change their situations, we began to look at what they could offer.</p>
        </div>
      </div>
    
      <%= image_tag "v2-campaign/divider-long.png" %>
    
      <div class="clearfix" style="margin-top: 30px">
        <div class="grid_6">
          <div class="heading15-marcomm">We are all hungry for knowledge</div>
          <p>The innate need of all of us to share and give remains true no matter what economic situation we are in. So we built HourSchool - a school from your community, where we can all learn with each other, one hour at a time.</p>
          <p>Check out our presentation from March 2011 to get a glimpse of the beginning of HourSchool!</p>
          <div style="border: 1px solid #ff7733; padding: 15px;">
            From now till March 31, 2012, we are raising money to support the launch of our peer-teaching program with two partnered non-profits. To learn more, please visit <a href="/campaign" style="font-weight: 700; font-size: 12px; color: #ff7733;">our campaign page</a>.
          </div>
        </div>
        <div class="grid_6">
          <iframe src="http://player.vimeo.com/video/20963686?title=0&amp;byline=0&amp;portrait=0" width="525" height="309" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>


    </div> <!-- end page-section-float-left -->

  </div>
</div>
