<style type="text/css">
  .nav{
    text-transform: uppercase; font-weight: 600; font-size: 12px; letter-spacing: 1px;
    a{color: #999;}
    a:hover{color: #232323;}
  }

  .navbar-inner{
    height: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .white{
    background-color: white;
  }

  .section{
    width: 820px;
  }

  .section-header{
    font-size: 40px;
  }

  .quote-box{
    border: 1px solid #e6e6e6;
    padding: 30px 30px 0 30px;
    margin-bottom: 30px;
    border-radius: 2px;
  }

  .hero-unit{
    background: url(<%= asset_path 'v4-homepage/Banner_01.png' %>);
    background-position: 50% 0%;
    padding-top: 150px;
    margin-bottom: 80px;
    height: 324px;
    border-radius: 0px
  }

  .white-text{
    color: #fff !important;
    text-shadow: 0 1px 1px #000;
  }
</style>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Teaching at HourSchool
    </p>
    <p style="width: 550px">
      How does it work?
    </p>
    <div class="row-fluid" style="width: 960px;">
      <div class="span4">
        <p><%= image_tag "v2-teach/step1.jpg", :class => "width: 100%" %></p>
        <p style="text-align: left; padding-left: 35px; margin-right: 30px">
          Students register and pay for your class online.
        </p>
      </div>
      <div class="span4">
        <p><%= image_tag "v2-teach/step2.jpg", :class => "width: 100%" %></p>
        <p style="text-align: left; padding-left: 35px">
          Class is held in person and everyone learns something new.
        </p>
      </div>
      <div class="span4">
        <p><%= image_tag "v2-teach/step3.jpg", :class => "width: 100%" %></p>
        <p style="text-align: left; padding-left: 35px; margin-right: 30px">
          You become a part of the peer teaching community!
        </p>
      </div>
    </div>
  </center>
</div>

<div class="container_16" style="margin-top: 20px; margin-bottom: 40px; width: 960px">
  <center>
    <%= link_to "Post a class now", new_course_path, :class => "btn btn-large btn-primary", :style => "color: white" %>
  </center>
</div>
<hr>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      What you can teach
    </p>
    <p style="width: 500px">
      We think school doesn’t have to be about classrooms and curriculums. <br>It can be about garages and get-togethers.
    </p>
    <div class="row-fluid" style="width: 960px; margin-top: 30px">
      <div class="span4">
        <p><%= image_tag "v2-teach/class-social.jpg", :class => "width: 100%" %></p>
        <p style="text-align: left; float: left; width: 90%; padding-top: 10px">
          Something that can have a social setting, like a cooking class.<br>
            <a href="http://hourschool.com/courses/make-your-own-pasta-in-san-francisco-ca" style="text-decoration: underline">See example</a>
        </p>
      </div>
      <div class="span4">
        <p><%= image_tag "v2-teach/class-demo.jpg", :class => "width: 100%" %></p>
        <p style="text-align: left; float: left; width: 90%; padding-top: 10px">
            Something that is hands-on, perhaps working through a problem together.<br>
            <a href="http://hourschool.com/courses/wrenching-weekend-motorcycle-maintenance-in-austin-tx" style="text-decoration: underline">See example</a>
        </p>
      </div>
      <div class="span4">
        <p><%= image_tag "v2-teach/class-lesson.jpg", :class => "width: 100%" %></p>
        <p style="text-align: left; float: left; width: 90%; padding-top: 10px">
          Something that is more traditional and might involves a presentation.<br>
          <a href="http://hourschool.com/courses/design-thinking-making-workshop-in-toronto-on" style="text-decoration: underline">See example</a>
        </p>
      </div>
    </div>
  </center>
</div>
<hr>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      What does a class look like?
    </p>
    <p style="width: 500px">
      See a couple different classes in action!
    </p>
    <div class="row-fluid" style="width: 960px; margin-top: 30px;">
      <iframe src="http://player.vimeo.com/video/30463956?byline=0&amp; portrait=0&amp;color=ff7733" width="700" height="394" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="row-fluid" style="width: 960px; margin-top: 30px; margin-bottom: 30px">
      <iframe src="http://player.vimeo.com/video/40017710?byline=0&amp;portrait=0&amp;color=ff7733" width="700" height="394" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </center>
</div>
<hr>

<div class="container_16" style="margin-top: 40px; margin-bottom: 20px; width: 960px">
  <center>
    <p class="lead section-header">
      Peer Teaching Fund
    </p>
    <p style="width: 500px">
      Donate via teaching
    </p>
    <div class="row-fluid" style="width: 700px; margin-top: 30px">
      <p style="text-align: left">HourSchool collaborates and co-designs with organizations to help their own peer teaching programs. You can learn more about our theory of change from our <%= link_to "founding story", story_path, :style => "color: #ff7733" %>.</p>
      <p style="text-align: left">As a teacher at HourSchool, you can choose to donate your class proceeds towards our peer teaching fund. The fund will be used to plan events, cover cost of materials, and compensate time for trainers in these programs. You can’t donate directly without teaching, so start teaching today and empower someone else to do the same. </p>
      <p style="text-align: left; margin: 20px 0 20px 0">Organizations that have benefitted from the Peer Teaching Fund:</p>
      <a href="http://www.greendoors.org"><img src="http://www.workmancommercial.com/images/community/greendoor.jpg" width="100" style="float: left; margin-right: 15px"></a>
        <%= link_to image_tag("v2-campaign/frontsteps-logo.png", :style => "float: left; margin-right: 15px"), "http://www.frontsteps.org" %>
    </div>
  </center>
</div>
<hr>

<div class="container_16" style="margin-top: 20px; margin-bottom: 40px; width: 960px">
  <center>
    <%= link_to "Post a class now", new_course_path, :class => "btn btn-large btn-primary", :style => "color: white" %>
  </center>
</div>


<%= content_for :head do %>
  <meta property="og:description"
        content=" WHAT IS THE PEER TEACHING FUND? HourSchool has partnered with two organizations working to serve those who have lost their homes. We are collaborating and co-designing to help build a series of educational and capacity building programs. "/>

  <meta property="og:image"
        content="<%= asset_path "http://dl.dropbox.com/u/139993/newsletter_peerteachingfund.jpg" %>" />
<%- end -%>


