<div class="container_16" style="margin-top: 20px; margin-bottom: 20px; width: 960px">
  <div class="heading28 brown">Teaching at HourSchool</div>
</div>

<div class="full-page">
  <div class="container_16">
    <div class="page-content">
      <div class="heading14" style="margin-bottom: 20px">How does HourSchool work?</div>
      <div style="float: left">
        <%= image_tag "v2-teach/step1.jpg", :class => "teach_how_it_works" %>
        <div style="padding-right: 10px; font-size: 11px; width: 180px; text-align: center">
            Students register and pay for your class online.
        </div>
      </div>

      <div style="float: left">
        <%= image_tag "v2-teach/step2.jpg",  :class => "teach_how_it_works" %>
        <div style="padding-right: 10px; font-size: 11px; width: 200px; text-align: center">
          Class is held in person and everyone learns something new.
        </div>
      </div>

      <div style="float: left">
        <%= image_tag "v2-teach/step3.jpg", :class => "teach_how_it_works" %>
        <div style="padding-right: 10px; font-size: 11px; width: 180px; text-align: center">
            Be a part of the peer learning network in your city.
        </div>
      </div>

      <div style="float: left; margin-left: 30px">
        <div class="teach-start-block">
          <div class="class-section-heading">Ready to post a class?</div>
          <div id="new-create-class-button">
            <%= link_to image_tag("v2/White Star_create a class.png", :id => 'create-class-star'), new_course_path, :id => 'createCourse'%>
            <div class="create-class-heading">Create a class</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_16">
    <div class="page-content">
      <div class="heading14" style="margin-bottom: 20px">What you can teach</div>
      <div style="float: left; margin-right: 15px">
        <%= image_tag "v2-teach/class-social.jpg", :style => "margin-bottom: 5px" %>
        <div class="heading13-class">
            The Social
        </div>
        <div class="happening-message-description">
            People hanging out, eating, drinking.<br>
            <a href="http://hourschool.com/courses/make-your-own-pasta-in-san-francisco-ca" style="text-decoration: underline">See example</a>
        </div>
      </div>
      <div style="float: left; margin-right: 15px">
        <%= image_tag "v2-teach/class-demo.jpg", :style => "margin-bottom: 5px"  %>
        <div class="heading13-class">
            The Demo
        </div>
        <div class="happening-message-description">
            Show someone how to do something.<br>
            <a href="http://hourschool.com/courses/wrenching-weekend-motorcycle-maintenance-in-austin-tx" style="text-decoration: underline">See example</a>
        </div>
      </div>
      <div style="float: left">
        <%= image_tag "v2-teach/class-lesson.jpg", :style => "margin-bottom: 5px"  %>
        <div class="heading13-class">
            The Lesson
        </div>
        <div class="happening-message-description">
            Engaging a room full of students.<br>
            <a href="http://hourschool.com/courses/design-thinking-making-workshop-in-toronto-on" style="text-decoration: underline">See example</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container_16">
    <div class="page-content">
      <div class="grid_7" style="margin: 0">
      <div class="heading14" style="margin-bottom: 20px">What other teachers say</div>
        <iframe src="http://player.vimeo.com/video/33087846?title=0&amp;byline=0&amp;portrait=0" width="400" height="258" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <div style="float: left; padding-right: 10px; font-size: 11px; width: 380px; margin: 5px 0 20px 0">
            Listen to what other teachers have to say about their experience teaching at HourSchool!
        </div>
      </div>

      <div class="grid_8" style="margin-left: 15px">
        <div class="heading14" style="margin-bottom: 20px">We help you get started</div>
        <a href="../../../pdf/TeachersHandbook-030812-rk.pdf">
        <%= image_tag "v2/screenshot_teacherHandbook.png" %></a>
        <div style="float: left">
          <%= link_to (image_tag "v4/teach/teacher_postcard.png", :style => "height: 258px; width: 218px; margin-left: 10px"), 'assets/v4/teach/teacher_postcard.png' %>
        </div>
        <div style="float: left; padding-right: 10px; font-size: 11px; width: 380px; margin: 8px 0 20px 0">
          <%= link_to image_tag("v2-teach/icon-pdf.png", :size => "25x25"), "../../../pdf/TeachersHandbook-030812-rk.pdf" %>
          Tips & resources on how to start.
        </div>
      </div>
    </div>
  </div>

</div>


<div class="full-page">
  <div class="container_16">
    <div class="page-content">
      <div class="heading14" style="margin-bottom: 20px">Peer teaching fund</div>
      <p>HourSchool collaborates and co-designs with organizations to build peer teaching programs, with a goal to educate and empower. You can learn more about our theory of change from our <%= link_to "founding story", story_path %>.</p>
      <p>As a teacher at HourSchool, you can choose to donate your class proceeds towards our peer teaching fund The fund will be used to plan events, cover cost of materials, and compensate time for trainers in these programs. You can’t donate directly without teaching, so start teaching today and empower someone else to do the same. </p>

      <p style="margin: 20px 0 20px 0">Organizations that have benefitted from the Peer Teaching Fund:</p>
      <a href="http://www.greendoors.org"><img src="http://www.workmancommercial.com/images/community/greendoor.jpg" width="100" style="float: left; margin-right: 15px"></a>
      <%= link_to image_tag("v2-campaign/frontsteps-logo.png", :style => "float: left; margin-right: 15px"), "http://www.frontsteps.org" %>

      <div class="well left">
        <p style="font-weight: 700">If you are an organization looking to adopt the peer teaching model, we would love to work with you. Please email us at <a href="mailto:hello@hourschool.com">hello@hourschool.com</a> and we will chat more.</p>
      </div>

    </div>
  </div>
</div>



<%= content_for :head do %>
  <meta property="og:description"
        content=" WHAT IS THE PEER TEACHING FUND? HourSchool has partnered with two organizations working to serve those who have lost their homes. We are collaborating and co-designing to help build a series of educational and capacity building programs. "/>

  <meta property="og:image"
        content="<%= asset_path "http://dl.dropbox.com/u/139993/newsletter_peerteachingfund.jpg" %>" />
<%- end -%>


