<div class="full-page white">
  <div class="page-content">

      <center>
        <div class="marcomm-header">
          <div class="heading25 dark_grey">We believe everyone can teach and should teach</div>
          <%= image_tag "v2/greyheader_full.png", :class => "greyheader full" %>
        </div>
      </center>

      <div class="clearfix" style="margin-left: 10px">
        <div class="grid_11">
          <div class="heading15 marcomm" id="marcomm">How does HourSchool work?</div>

          <div style="float: left">
            <%= image_tag "v2-teach/step1.jpg", :class => "teach_how_it_works" %>
            <div style="padding-right: 10px; font-size: 11px; width: 180px; text-align: center">
                Students register and pay for your class online.
            </div>
          </div>

          <div style="float: left">
            <%= image_tag "v2-teach/step2.jpg",  :class => "teach_how_it_works" %>
            <div style="padding-right: 10px; font-size: 11px; width: 200px; text-align: center">
              Class is held in person and everyone learns something new.
            </div>
          </div>

          <div style="float: left">
            <%= image_tag "v2-teach/step3.jpg", :class => "teach_how_it_works" %>
            <div style="padding-right: 10px; font-size: 11px; width: 180px; text-align: center">
                Be a part of the peer learning network in your city.
            </div>
          </div>

        </div>

        <div style="float: left">
          <div class="teach-start-block">
            <div class="class-section-heading">Ready to post a class?</div>
            <div id="new-create-class-button">
              <%= link_to image_tag("v2/White Star_create a class.png", :id => 'create-class-star'), new_course_path, :id => 'createCourse'%>
              <div class="create-class-heading">Create a class</div>
            </div>
          </div>
        </div>


      </div>

      <% if community_site? %>
      <%= image_tag "v2-campaign/divider-long.png" %>

      <div class="clearfix" style="margin-top: 30px; margin-left: 20px">
        <div>
          <div class="heading15 marcomm">What you can teach</div>
          <div style="float: left; margin-right: 15px">
            <%= image_tag "v2-teach/class-social.jpg", :style => "margin-bottom: 5px" %>
            <div class="heading13-class">
                The Social
            </div>
            <div class="happening-message-description">
                People hanging out, eating, drinking.
                <a href="http://hourschool.com/courses/make-your-own-pasta-in-san-francisco-ca" style="text-decoration: underline">See example</a>
            </div>
          </div>
          <div style="float: left; margin-right: 15px">
            <%= image_tag "v2-teach/class-demo.jpg", :style => "margin-bottom: 5px"  %>
            <div class="heading13-class">
                The Demo
            </div>
            <div class="happening-message-description">
                Show someone how to do something.
                <a href="http://hourschool.com/courses/wrenching-weekend-motorcycle-maintenance-in-austin-tx" style="text-decoration: underline">See example</a>
            </div>
          </div>
          <div style="float: left">
            <%= image_tag "v2-teach/class-lesson.jpg", :style => "margin-bottom: 5px"  %>
            <div class="heading13-class">
                The Lesson
            </div>
            <div class="happening-message-description">
                Engaging a room full of students.<br>
                <a href="http://hourschool.com/courses/design-thinking-making-workshop-in-toronto-on" style="text-decoration: underline">See example</a>
            </div>
          </div>
        </div>
      </div>

      <%= image_tag "v2-campaign/divider-long.png", :style => "margin-top: 30px" %>

      <div class="clearfix" style="margin-top: 30px; margin-left: 10px">
        <div>
          <div class="grid_7">
            <div class="heading15 marcomm">What other teachers say</div>
              <iframe src="http://player.vimeo.com/video/33087846?title=0&amp;byline=0&amp;portrait=0" width="400" height="258" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              <div style="float: left; padding-right: 10px; font-size: 11px; width: 380px">
                  Listen to what other teachers have to say about their experience teaching at HourSchool!
              </div>
          </div>

          <div style="float: left">
            <div class="heading15 marcomm">We help you get started</div>
              <a href="../../../pdf/TeachersHandbook-030812-rk.pdf">
              <%= image_tag "v2/screenshot_teacherHandbook.png" %></a>
            <div class="happening-message-description">
              <%= link_to image_tag("v2-teach/icon-pdf.png", :size => "25x25"), "../../../pdf/TeachersHandbook-030812-rk.pdf" %>
                Tips & tricks on how to start.
            </div>
          </div>
          <div style="float: left">
            <div class="teach-resource-block">
                <div class="heading13-class"><a href="/users/sign_up">Create an account</a></div>
                <p style="font-size: 12px">To post a class, you’ll need to register. Connect with Facebook to see if your friends are at HourSchool already!</p>
                <div class="heading13-class"><a href="http://help.hourschool.com/customer/portal/articles/254308-how-much-does-hourschool-charge-to-post-a-class-">How fees work</a></div>
                <p style="font-size: 12px">It's free to post. If you're charging, we take a 15% of your revenue for our services.</p>
                <div class="heading13-class"><a href="http://help.hourschool.com/">FAQ's</a></div>
                <p style="font-size: 12px; margin-bottom: 8px">Top questions about teaching at HourSchool.</p>
            </div>
          </div>

        </div>
      </div>


    <% end %>

  </div>
</div>


<div class="full-page white">
  <div class="page-content">

    <center>
      <div class="marcomm-header">
        <div class="heading25 666">A peer teaching fund to discover more teachers</div>
        <%= image_tag "v2/greyheader_full.png", :class => "greyheader full" %>
      </div>
    </center>

    <div class="grid_16">

      <div class="grid_6">
        <div class="heading15 campaign-greendoors" >What is the peer teaching fund?</div>
        <p>HourSchool has partnered with two organizations working to serve those who have lost their homes. We are collaborating and co-designing to help build a series of educational and capacity building programs, with a goal to instill a sense of self-worth for those who have lost hope.</p>

        <div class="heading15 campaign-greendoors" style="margin-top: 30px">How you can help</div>
        <p>Teach a class or ask someone else to teach a class, and choose to donate your class proceeds towards our peer teaching fund! The fund will be used to plan events, cover cost of materials, and compensate time for trainers. Throughout the program, you will receive progress updates from HourSchool. You can’t donate directly without teaching, so start teaching today and empower someone else to do the same. </p>

      </div>

      <div class="grid_8" style="margin-left: 60px">
          <%= image_tag "v2-campaign/frame_big2.png", :class => "campaign_frame_big" %>

          <div class="campaign-frame-text">
            <div class="campaign-frame-big-heading">Total amount raised to date <br>for the Peer Teaching Fund:</div>
            <%= image_tag "v2-campaign/divider.png", :class => "campaign-divider" %>
            <p>
              <div class="campaign-frame-bold-text">
               <%= "#{number_to_currency @amount_raised, :precision => 0}" %>
              </div>
            </p>
            <%= image_tag "v2-campaign/divider.png", :class => "campaign-divider" %>
          </div>


          <%= link_to image_tag("v2-campaign/button-create-class.png", :class => "campaign-button"), new_course_path  %>
          <%= link_to image_tag("v2-campaign/button-take-class.png", :class => "campaign-button"), learn_path %>
          <%= link_to image_tag("v2-campaign/button-nominate.png", :class => "campaign-button"), "" %>
      </div>

    </div>

  </div>
</div>

<div class="full-page white">
  <div class="page-content">
    <div class="grid_16" style="margin-top:10px">
      <div class="grid_5">
        <%= image_tag "v2-about/church_under_the_bridge.jpg", :style => "width: 270px" %>
      </div>

      <div class="grid_10">
        <div class="heading15 campaign-greendoors" >Returning to the founding story of HourSchool</div>
        <p>HourSchool evolved from a research project that co-founders Ruby Ku and Alex Pappas were conducting on homelessness while at Austin Center for Design. They found that people experiencing homelessness lack avenues to give back to the community and become disconnected from the communities in which they live. HourSchool was built based on the belief that everyone has knowledge to share with a mission to empower more people to become teachers, and to enjoy the emotional and financial rewards that teaching provides. <a href="/story" style="color: #5b7020">[continue reading...]</a></p>
      </div>

    </div>

    <div class="grid_16" style="margin-top:30px">
      <div class="heading15 campaign-greendoors"  style="margin-left: 10px; margin-bottom: 20px">About our partnered organizations</div>
      <div class="grid_7" style="margin-right: 30px">
        <a href="http://www.greendoors.org"><img src="http://www.workmancommercial.com/images/community/greendoor.jpg" width="100" style="float: left; margin-right: 15px"></a>
        <p>Green Doors is dedicated to transforming lives and neighborhoods for people in need by creating quality affordable housing and connecting residents to services that support self-sufficiency.</p>
      </div>

      <div class="grid_7" style="width: 450px">
        <%= link_to image_tag("v2-campaign/frontsteps-logo.png", :style => "float: left; margin-right: 15px"), "http://www.frontsteps.org" %>
          <p>Front Steps' mission is to provide a pathway of hope through shelter, affordable housing and community education.</p>
      </div>


    </div>

  </div>
</div>

<div class="full-page">
  <div class="page-content">

    <div class="grid_15" style="margin-top: -10px">
      <div class="heading25 light_grey">FAQs</div>
      <div class="heading15 campaign-greendoors" >Can I get a tax deductible receipt for my contributions?</div>
      <p>The peer teaching fund will be used by HourSchool solely to create programs at these organizations to cover the costs of training and materials. HourSchool is a <a href="http://en.wikipedia.org/wiki/Social_enterprise">social enterprise</a>, not a 501(c), so we cannot issue tax deductible receipts. If you're interested in donating to these two organizations directly, please visit their websites.</p>

      <div class="heading15 campaign-greendoors"  style="margin-top: 20px">How do I know if these peer teaching programs are working?</div>
      <p>We will be working with a vulnerable population - though talented, all are going through different challenges. We are confident that a peer teaching program is a direct way to help them gain self-esteem and recovery from homelessness. At the same time, we don't expect overnight success and are prepared to create long-term partnerships with these two organizations.</p>

      <div class="heading15 campaign-greendoors"  style="margin-top: 20px">I work for a non-profit and I'm interested in implementing a program like this. What should I do?</div>
      <p>We would love to work with you and inspire more organizations to adopt the peer teaching model. Please email us at <a href="mailto:hello@hourschool.com" style="color: #5b7020">hello@hourschool.com</a> and we will chat more.</p>
    </div>

  </div>
</div>


<%= content_for :head do %>
  <meta property="og:description"
        content=" WHAT IS THE PEER TEACHING FUND? HourSchool has partnered with two organizations working to serve those who have lost their homes. We are collaborating and co-designing to help build a series of educational and capacity building programs. "/>

  <meta property="og:image"
        content="<%= asset_path "http://dl.dropbox.com/u/139993/newsletter_peerteachingfund.jpg" %>" />
<%- end -%>


