<div class="container_16" style="width: 960px">
  <%= render :partial => '/pages/show/subnav/about-subnav' %>

  <div class="span9 pull-right" style="margin-top: 40px; margin-bottom: 20px;">
    <p class="lead section-header">
      Core team
    </p>
    <p>We do all of the things, whatever is needed on any given day. We are hustlers and hackers, dreamers and makers. And we work relentlessly everyday towards our vision. </p>
    <hr>
  </div>

  <div class="span9 pull-right">
    <div class="row-fluid">
      <div class="span4">
        <%= image_tag 'v2-about/rubyku.jpg' %>
        <div class="heading14" style="float: left; margin: 15px 0; width: 100%">Ruby Ku</div>
        <p>
          <a href="http://www.linkedin.com/in/rubyku" target="_blank" style="color: #ff7733"><i class="icon-linkedin icon-2x"></i></a>
          <a href="http://www.twitter.com/rubyku" target="_blank" style="color: #ff7733"><i class="icon-twitter icon-2x"></i></a>
        </p>
      </div>
      <div class="span4">
        <%= image_tag 'v2-about/alexpappas.jpg' %>
        <div class="heading14" style="float: left; margin: 15px 0; width: 100%">Alex Pappas</div>
        <p>
          <a href="http://www.linkedin.com/in/drawsalot" target="_blank" style="color: #ff7733"><i class="icon-linkedin icon-2x"></i></a>
          <a href="http://www.twitter.com/drawsalot" target="_blank" style="color: #ff7733"><i class="icon-twitter icon-2x"></i></a>
        </p>
      </div>
      <div class="span4">
        <%= image_tag 'v2-about/christinatran.jpg' %>
        <div class="heading14" style="float: left; margin: 15px 0; width: 100%">Christina Tran</div>
        <p>
          <a href="http://www.linkedin.com/in/stinatran" target="_blank" style="color: #ff7733"><i class="icon-linkedin icon-2x"></i></a>
          <a href="http://www.twitter.com/s0delightful" target="_blank" style="color: #ff7733"><i class="icon-twitter icon-2x"></i></a>
        </p>
      </div>
    </div>
  </div>

  <div class="span9 pull-right" style="margin-top: 100px; margin-bottom: 20px;">
    <p class="lead section-header">
      Friends & Contributors
    </p>
    <p>We wouldn't have made it this far without their belief and help along the way.</p>
    <hr>
  </div>
  <div class="span9 pull-right">
    <div class="row-fluid">
      <%= image_tag 'v2-about/joanniewu.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/richardschneeman.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/mijopappas.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/nickpetten.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/joshizenberg.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/chapambrose.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/henrydombey.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/saranyan.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/phillpappas.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/jessicacheng.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/michaelmay.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/maryaltman.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/katieinglis.jpg', :class => "about-bio-team-photo" %>
      <%= image_tag 'v2-about/jonathanlewis.jpg', :class => "about-bio-team-photo" %>
  </div>
</div>