<div class="marcomm-half-page">
    <div class="page-content">

      <center>
      <div class="marcomm-header">
        <div class="heading25_666">Come Meet The Team Behind HourSchool HQ</div>

        <img src="../../../images/v2/greyheader_full.png" class="greyheader_full">
      </div>
      </center>
      
      <div class="grid_16">

        <div class="heading25_ccc">Co-founders</div>

        <div class="about-bio-team">
            <img src="http://s3.amazonaws.com/hourschool-prod/user/thumb_large/2/Me_NACCC_Punkhaus_SQ.jpg?1323105471" class="about-bio-team-photo">
          <div class="about-bio-team-name">Alex Pappas</div>
          <div class="about-bio-team-blurb">Alex had 5 years of experience in bringing products to market as a senior toy designer. Created open-source toys and built online communities around mentoring and knowledge sharing.</div>
        </div>

        <div class="about-bio-team">
          <img src="http://s3.amazonaws.com/hourschool-prod/user/thumb_large/1/P1010304.jpg?1323847659" class="about-bio-team-photo">
          <div class="about-bio-team-name">Ruby Ku</div>
          <div class="about-bio-team-blurb">Ruby was a program manager and interaction designer at Thinktiv, working with early stage startups to find market relevance and product leadership.</div>
        </div>
      
      </div>
      
      <div class="grid_16">

        <div class="heading25_ccc">People who made this possible</div>

        <div class="about-bio-team">
          <img src="http://s3.amazonaws.com/hourschool-prod/user/thumb_large/8/original_danger-baby-red-panda-28656-1233077173-9.jpg?1323134387" class="about-bio-team-photo">     
          <div class="about-bio-team-name">Joannie Wu</div>
          <div class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</div>
        </div>
  
        <div class="about-bio-team">
          <img src="https://secure.gravatar.com/avatar/db953d125f5cc49756edb6149f1b813e?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" class="about-bio-team-photo" width="125">  
          <div class="about-bio-team-name">Richard Schneeman</div>
          <div class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</div>
        </div>

        <div class="about-bio-team">
          <img src="" class="about-bio-team-photo" width="125">  
          <div class="about-bio-team-name">Jessica Cheng</div>
          <div class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</div>
        </div>
  
        <div class="about-bio-team">
          <img src="http://s3.amazonaws.com/hourschool-prod/user/thumb_large/71/me.jpg?132514018" class="about-bio-team-photo">  
          <div class="about-bio-team-name">Michael May</div>
          <div class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</div>
        </div>
  
        <div class="about-bio-team">
          <img src="" class="about-bio-team-photo" width="125">
          <div class="about-bio-team-name">Nick Santoro</div>
          <div class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</div>
        </div>
      
      </div>  
    
      <div class="grid_16">

        <div class="heading25_ccc">Our Awesome Street Team</div>
        
        <%= image_tag(User.find(7).photo.url(:thumb_small)) %>
        <%= image_tag(User.find(3).photo.url(:thumb_small)) %>
        <%= image_tag(User.find(4).photo.url(:thumb_small)) %>
        <%= image_tag(User.find(13).photo.url(:thumb_small)) %>        
        <%= image_tag(User.find(237).photo.url(:thumb_small)) %>     
        <%= image_tag(User.find(208).photo.url(:thumb_small)) %>             
        <%= image_tag(User.find(335).photo.url(:thumb_small)) %>  
        <%= image_tag(User.find(86).photo.url(:thumb_small)) %>                 
      </div>
    
    <!-- <div class="grid_4">
      <div class="heading25_ccc"> The Advisors</div>

      <div class="about-bio-advisor">
        <div class="about-bio-team-name">Jon Kolko</div>
        <div class="about-bio-advisor-blurb">Director & Founder</div>
        <div class="about-bio-advisor-company">Austin Center for Design</div>
      </div>

      <div class="about-bio-advisor">
        <div class="about-bio-team-name">Justin Petro</div>
        <div class="about-bio-advisor-blurb">President & co-founder</div>
        <div class="about-bio-advisor-company">Thinktiv Inc.</div>
      </div>

    </div> -->


  </div>
</div>
