<div class="full-page">
  <div class="page-content">

    <div class="page-section-float-left">
      <ul class="sub-nav">
        <li class="sub-nav-inactive">
          <a href="/mission" class="sub-nav-inactive">About</a>
        </li>
        <li class="sub-nav-inactive">
          <a href="/story" class="sub-nav-inactive">Story</a>
        </li>       
        <li class="sub-nav-active">
            <a href="/team" class="sub-nav-active">Team</a>
        </li>   
        <li class="sub-nav-inactive">
            <a href="/campaign" class="sub-nav-inactive">For non-profits</a>
        </li>
        <li class="sub-nav-inactive">
            <a href="/business" class="sub-nav-inactive">For businesses</a>
        </li>
      </ul>
    </div>

    <center>
      <div class="marcomm-header">
        <div class="heading25_666">Come meet the people behind HourSchool HQ</div>
        <%= image_tag "v2/greyheader_full.png", :class => "greyheader_full" %>
      </div>
    </center>
    
      <div class="grid_16">

        <div class="heading25_about">Co-founders</div>

        <div class="about-bio-team">
            <img src="http://s3.amazonaws.com/hourschool-prod/user/thumb_large/2/Me_NACCC_Punkhaus_SQ.jpg?1323105471" class="about-bio-team-photo">
          <div class="about-bio-team-name">Alex Pappas</div>
          <div class="about-bio-team-blurb">"I love traveling light, getting lost, and making new maps new along the way. I like things that wear in, instead of out.  Those objects fascinate me because they're often attached to people who lead interesting lives, and those are the people I love to surround myself with. Think, make, share, rinse, and repeat.  I want to see the world through your lens and affect change locally.  I spend Sundays wrenching on old motorcycles, stop by anytime."</div>
        </div>

        <div class="about-bio-team">
          <img src="http://s3.amazonaws.com/hourschool-prod/user/thumb_large/1/P1010304.jpg?1323847659" class="about-bio-team-photo">
          <div class="about-bio-team-name">Ruby Ku</div>
          <div class="about-bio-team-blurb">"I surround myself with courageous people full of world-changing ideas and don't define themselves by how much they make. Turning these ideas into reality is what makes me jump out of bed every morning. I love being in the water, on the mountains and by the rocks because they remind me to not live in a bubble. I spend almost all of my money on plane tickets, visiting my friends and family that live around the world. Hong Kong, Toronto, and Austin are all homes."</div>
        </div>
      
      </div>
            
      <div class="grid_16">
      
        <div class="heading25_about" style="margin-top: 30px">People who made this possible</div>

        <div class="grid_7">
        
          <div class="about-bio-team">
            <img src="http://dl.dropbox.com/u/139993/jwu_aboutpic.png" class="about-bio-team-photo">     
            <div class="about-bio-team-name">Joannie Wu</div>
            <div class="about-bio-team-blurb">"You can usually find me riding around Austin on my IRO bicycle heading to work where I develop products and services that are beautiful as well as useful. When not at work, I'm either running the dirt trails of Town Lake or hanging upside down from my legs on a spinning pole. I like to stay busy, active, and hungry for learning but at the end of the day I find the most joy in the simple comfort of rubbing my corgi's fuzzy belly."</div>
          </div>
        
          <div class="about-bio-team">
            <img src="http://s3.amazonaws.com/hourschool-prod/user/thumb_large/226/L1100713.jpg?1328332249" class="about-bio-team-photo" width="125">  
            <div class="about-bio-team-name">Jessica Cheng</div>
            <div class="about-bio-team-blurb">I’m a native Texan, but I just moved back last year. Before coming to Austin, I lived in Atlanta, Singapore, LA, and SF.  I crave adventures, good food, music, and meeting people.  I believe in working hard to pursue your passions. And help others out along the way – life is too short to only think about yourself. I previously worked in the ad industry, and as glamorous as it was, I’m ready for new challenges.  When I’m not busy in classes or meetings, you’ll find me trying out new coffee shops, furiously cooking in the kitchen, or watching bad reality TV. If you ever want to go to the symphony, you can call me up. And if you ever want to explore a new part of the city, I’ll be there! You can say that I’m an urban dweller, but I would say I’m metro chic. See you around Austin!</div>
          </div>
   
        </div>
      
        <div class="grid_7" style="margin-left: 40px">
    
          <div class="about-bio-team">
            <img src="https://secure.gravatar.com/avatar/db953d125f5cc49756edb6149f1b813e?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" class="about-bio-team-photo" width="125">  
            <div class="about-bio-team-name">Richard Schneeman</div>
            <div class="about-bio-team-blurb">"Howdy there, my name is Richard and I have a confession to make. I - love - dumplings. Love them! Pan fried with soy sauce (so good). I also enjoy teaching Ruby on Rails at the University of Texas, playing board games, and drinking coffee. So - much - coffee! If you're ever in Austin texas say hi at a AustinOnRails meeting. ^_^"</div>
          </div>

          <div class="about-bio-team">
            <img src="http://s3.amazonaws.com/hourschool-prod/user/thumb_large/71/me.jpg?132514018" class="about-bio-team-photo">  
            <div class="about-bio-team-name">Michael May</div>
            <div class="about-bio-team-blurb">I've lived in just about every major city in Texas and now resides in the best one - Austin. I'm an engineering student at the University of Texas at Austin, who enjoys working with startups and has participated in 3 Day Startup and 1 Semester Startup. Some of my entertainment comes from seeking out electronic music, visiting local coffee shops, and drinking local beer. I like to eat tacos, spicy foods, and the fried avocado at Trudy’s.</div>
          </div>
  
          <div class="about-bio-team">
            <img src="" class="about-bio-team-photo" width="125">
            <div class="about-bio-team-name">Nick Santoro</div>
            <div class="about-bio-team-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean placerat eleifend mi vel semper. Duis a sodales nisl. Nunc nec massa lacus, sed rutrum lacus. Donec neque nisi</div>
          </div>
        
          <div class="about-bio-team">
            <img src="https://twimg0-a.akamaihd.net/profile_images/1793842387/BusOutline_Twitter.jpg" class="about-bio-team-photo" width="125">
            <div class="about-bio-team-name">HourSchoolBus</div>
            <div class="about-bio-team-blurb">Hello! I'm the newest member of the team. I'm a bus. I like BBQ's, long walks on the beach, getting caught in the rain... and partying with HourSchool. Follow me <a href="http://www.twitter.com/hourschoolbus">@HourSchoolBus</a> to find out where to hop on.</div>
          </div>
      
        </div>  
        
      </div>
    
      <div class="grid_16">

        <div class="heading25_about">Our Awesome Street Team</div>
        
        <%= image_tag(User.find(7).photo.url(:thumb_large)) %>
        <%= image_tag(User.find(3).photo.url(:thumb_large)) %>
        <%= image_tag(User.find(4).photo.url(:thumb_large)) %>
        <%= image_tag(User.find(13).photo.url(:thumb_large)) %>        
        <%= image_tag(User.find(237).photo.url(:thumb_large)) %>     
        <%= image_tag(User.find(208).photo.url(:thumb_large)) %>             
        <%= image_tag(User.find(335).photo.url(:thumb_large)) %>  
        <%= image_tag(User.find(86).photo.url(:thumb_large)) %>                 
      </div>


  </div>
</div>
