<div class="full-page white">
  <div class="page-content" style="margin-bottom: -30px">
    <div style="width: 300px; height: 350px; margin-right: 50px; float: left"> 
      <div class="heading28 brown" style="margin-bottom: 15px">Put yourself on the Wall of Awesome</div>
      <p>Aw snap, you did it! Go ahead, crack open a beer, cheers yourself, make a toast to accomplishment. You deserve it! </p>
      <p>We’d like to officially congratulate you ourselves. Take some time to reflect, share insights into your experience, and of course, upload a photo of yourself for our wall of awesome. Here’s to you! </p>
    </div>
    <div style="float: left; width: 530px">
      <span class="badge badge-inverse" style="float: left; margin-right: 10px">1</span>
      <p>Download your mission certificate</p>
      <%= link_to (image_tag 'v3/pages/mission-certificate.jpg', :style => "width: 80%; margin-right: 80px"), '/assets/v3/pages/mission-certificate.jpg' %>
      <span class="badge badge-inverse" style="margin-right: 5px">2</span>
      <a class="yellow button long" style="width: 250px" href="mailto:hello@hourschool.com" target="_blank">Email us your awesome photo</a>
    </div>
  </div>
</div>

<div style="float: left;">
  <div style="float: left;">
    <%= image_tag 'v3/homepage/mission-accomplished-1.png', :style => "margin-right: 28px" %>
    <%= image_tag 'v3/homepage/mission-accomplished-2.png' %> 
    <%= image_tag 'v3/homepage/mission-accomplished-3.png', :style => "margin-top: 15px; margin-bottom: 15px" %> 
    <%= image_tag 'v3/homepage/mission-accomplished-4.png', :style => "margin-right: 20px;" %> 
    <%= image_tag 'v3/homepage/mission-accomplished-5.png' %> 
    <%= image_tag 'v3/homepage/mission-accomplished-6.png', :style => "margin-top: 15px"  %>     
  </div>

</div>