<div class="heading32 green">Wall of Awesome</div>

<div class="white" style="padding: 20px; width: 580px; float: left">
 <div class="intro-text">Aw snap, you did it! Go ahead, crack open a beer, cheers yourself, make a toast to accomplishment. You deserve it!  We’d like to officially congratulate you ourselves. Take some time to reflect, share insights into your experience, and of course, upload a photo of yourself for our wall of awesome. Here’s to you! </div>
</div>

<div style="float: right; width: 300px;">
  <div style="float: left; width: 300px; height: 170px; margin-bottom: 22px; background-image: url(<%= asset_path "v3/explore/bg-launchMission.png" %>); background-color: white; text-align: center;">
    <div class="heading14" style="margin-top: 30px">Add my photo to the <br>wall of awesome</div>
    <br>
    <%= link_to "Upload my photo", "", :class => "orange button long" %>
  </div>

</div><!-- End Section 1 -->

<div style="float: left; margin-top: 30px">
  <div style="float: left;">
    <%= image_tag 'v3/homepage/mission-accomplished-1.png', :style => "margin-right: 10px" %>
    <%= image_tag 'v3/homepage/mission-accomplished-2.png' %> 
    <%= image_tag 'v3/homepage/mission-accomplished-3.png', :style => "margin-top: 15px; margin-bottom: 15px" %> 
    <%= image_tag 'v3/homepage/mission-accomplished-4.png', :style => "margin-right: 10px;" %> 
    <%= image_tag 'v3/homepage/mission-accomplished-5.png' %> 
    <%= image_tag 'v3/homepage/mission-accomplished-6.png', :style => "margin-top: 15px"  %>     
  </div>

</div>