<div class="row">
  <%= render :partial => 'admin/sidebar' %>

  <div class="span9">
    <div class="white">
      <div class="page-content">
        <div class="well">
          <div class="heading14 pull-left">
            Total events:
            <% if community_site? %>
              <%= Course.uniq.count %>
            <% else %>
              <%= current_account.courses.uniq.count %>
            <% end %>
          </div>
          <%= link_to "Post event", new_course_path, :class => "btn pull-right" %>
        </div>
        <table class="table">
          <% @courses.each do |course| %>
            <tr>
              <td class="span4">
                <div class="heading13 brown">
                  <%= link_to course.title, course %>
                </div>
              <td><%= course.starts_at.strftime("%y/%m/%d, %l:%M") %>-<%= course.ends_at.strftime("%l:%M%p") if course.ends_at.present? %>
              </td>
              <td>
                <%= link_to 'Edit', edit_course_path(course) %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

</div>
