<div class="full-page">
  <div class="page-content">

      <div id="live" class="section" style="display:none;">
        <% @courses.order('DATE(starts_at) DESC').each do |course| %>
          <div class="classBlock">
            hello!
            <% if course.photo.present? %>
              <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
            <% else %>
              <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
            <% end %>
            <%= image_tag 'v2/arrow_white_pointup.png', :class => 'class-arrow' %>

            <div class="class-description">
              <div class="heading13-class"><%= link_to course.title.truncate(45), course %></div>
              <p>Course id: <%= course.id %></p>
              <%= link_to course.teacher.name, user_path(course.teacher.id) %><br>
              Time: <%= course.starts_at.strftime("%a %b %d, %l:%M%p") %> - <%= course.ends_at.strftime("%l:%M%p") %><br>
              Attendance: <%= course.students.count %> out of <%= course.max_seats %>
              <br>
              <%= link_to 'Edit', edit_course_path(course) %>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

  </div>
</div>
