<style type="text/css">

  body {
    background-image: url(<%= asset_path "feastfordays/bg.png" %>) ;
  }

  #header_feastfordays {
    background-color: #412308;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#412308), to(#38220D));
    background-image: -webkit-linear-gradient(top, #412308, #38220D);
    background-image: -moz-linear-gradient(center top, #412308, #38220D);
    background-image: -ms-linear-gradient(top, #412308, #38220D);
    background-image: -o-linear-gradient(top, #412308, #38220D);
    height: 38px;
    margin-bottom: 30px;
    padding-top: 13px;
    position: relative;
    z-index: 1;
}

  #logo_feastfordays{
    float: left;
    position: relative;
    z-index: 3;
  }

  ul#feastfordays{
    float: left;
    list-style: none;
    position: relative;
    z-index: 3;
    margin-top: -3px;
  }

  ul#feastfordays_profile{
    float: right;
    list-style: none;
    position: relative;
    z-index: 3;
    margin-right: 8px;
    margin-top: -3px;
  }

  li.feastfordays{
    float: left;
    color: #efe6e2;
    font-size: 12px;
    text-decoration: none;
    margin-left: 42px;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #efe6e2
  }


  li.feastfordays2{
    float: left;
    color: #8f9936;
    font-size: 12px;
    text-decoration: none;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #8f9936;
  }

</style>

<body>
<div id="header_feastfordays">
  <div class="container_16">
    <%= link_to (image_tag 'feastfordays/logo.png', :id => "logo_feastfordays"), explore_path %>

    <ul id="feastfordays">
      <li class="feastfordays" style="margin-left: 26px"><%= link_to "Join a feast", courses_browse_index_path, :style => "color: #efe6e2" %></li>
      <li class="feastfordays" style="margin-left: 50px"><%= link_to "Host a feast", f4d_host_path, :style => "color: #efe6e2" %></li>
      <li class="feastfordays"><%= link_to "How it works", f4d_how_it_works_path, :style => "color: #efe6e2" %></li>
      <li class="feastfordays" style="margin-left: 45px"><%= link_to "Past Feasts", f4d_past_feasts_path, :style => "color: #efe6e2" %></li>
      <li class="feastfordays" style="margin-left: 50px"><%= link_to "About us", f4d_about_path, :style => "color: #efe6e2" %></li>
    </ul>

    <ul id="feastfordays_profile">
      <% if user_signed_in? %>
        <li class="feastfordays2"><%= link_to "My profile", profile_path, :style => "color: #8f9936" %></li>
        <li class="feastfordays2" style="margin-left: 20px; margin-right: 20px"><%= link_to "Logout", destroy_user_session_path, :style => "color: #8f9936" %></li>
      <% else %>
        <li class="feastfordays2"><%= link_to "Sign in", new_user_session_path, :style => "color: #8f9936" %></li>
        <li class="feastfordays2" style="margin-left: 20px; margin-right: 20px"><%= link_to "Sign up", new_user_registration_path, :style => "color: #8f9936" %></li>
      <% end %>
    </ul>

    <%= image_tag 'feastfordays/nav_divider_new.png', :style => "position: relative; z-index: 2; margin-top: -47px; margin-left: 200px" %>

  </div>
</div>
</body>