<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 ie"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 ie"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 ie"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9 ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:document_title) ? yield(:document_title) : "HourSchool" %></title>

    <link rel="icon"
          type="image/png"
          href="/images/favicon.png">

    <%= csrf_meta_tag %>
    <%= yield :head_analytics %>
    <%= yield :head_stylesheets %>
    <%= yield :head_scripts %>
    <%= yield :head %>
  </head>

  <body id="<%= id_for_body(yield :body_id) %>"
        class="<%= classes_for_body(yield :body_class) %>
        <%= current_user ? 'logged-in' : 'not-logged-in' %>"
        data-controller="<%= sanitized_controller_path.sub('/', '-') %>"
        data-action="<%= action_name %>">
        
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=207459135947339";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div class="brand_bg"></div>
    <div class="container_16 main clearfix">
      <%= yield %>
    </div>
    <%= yield :foot %>
    <%= yield :foot_libraries %>
    <%= yield :foot_scripts %>
    <%= yield :foot_analytics %>
    <script type="text/javascript" src="http://platform.tumblr.com/v1/share.js"></script>
  </body>
</html>
