<% content_for :head_stylesheets do -%>
  <%= stylesheet_link_tag 'application' %>
<%- end %>


<%= content_for :head do %>
  <!--
  ooooo   ooooo                                 .oooooo..o           oooo                            oooo
  `888'   `888'                                d8P'    `Y8           `888                            `888
   888     888   .ooooo.  oooo  oooo  oooo d8b Y88bo.       .ooooo.   888 .oo.    .ooooo.   .ooooo.   888
   888ooooo888  d88' `88b `888  `888  `888""8P  `"Y8888o.  d88' `"Y8  888P"Y88b  d88' `88b d88' `88b  888
   888     888  888   888  888   888   888          `"Y88b 888        888   888  888   888 888   888  888
   888     888  888   888  888   888   888     oo     .d8P 888   .o8  888   888  888   888 888   888  888
  o888o   o888o `Y8bod8P'  `V88V"V8P' d888b    8""88888P'  `Y8bod8P' o888o o888o `Y8bod8P' `Y8bod8P' o888o
  -->

  <meta property="fb:app_id" content="<%= FacebookConfig::ID %>" />
  <meta property="og:description"
        content=" HourSchool is a social school from your community. Because it's not always the experts who make the best teachers, it's the people you know. Start learning with your network today, one hour at a time."/>

  <meta property="og:image"
        content="<%= asset_path "v2/Logo_Orange.png" %>" />
<%- end -%>

<% content_for :head_scripts do -%>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

  <script type="text/javascript" src="http://use.typekit.com/xjt1fgx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


  <script>

    // Fix CSRF http://excid3.com/blog/rails-tip-2-include-csrf-token-with-every-ajax-request/
    $(document).ajaxSend(function(e, xhr, options) {
      var token = $("meta[name='csrf-token']").attr("content");
      xhr.setRequestHeader("X-CSRF-Token", token);
    });
  </script>
<%- end %>

<%- content_for :head_analytics do -%>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22725750-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script type="text/javascript">
    function recordOutboundLink(link, category, action) {
      _gat._getTrackerByName()._trackEvent(category, action);
      setTimeout('document.location = "' + link.href + '"', 100);
    }
  </script>
  
  <!-- Google Analytics Social Button Tracking -->
  <script type="text/javascript" src="https://s3.amazonaws.com/ha_js/ga_social_tracking.js"></script>
  
<%- end -%>


<%- content_for :after_main do  -%>


<%- end -%>

<%# Admin Bar %>
<%= content_for :first_inside_body do %>
<%- end -%>

<%= content_for :first_inside_body do %>

  <% if current_user && !current_user.confirmed? %>
    <div class='userConfirm'>
      <div class='container_16'>
        <p>
          <span class='reminder'>
            A friendly Reminder
          </span>
          <span class='whiteText'>
            Please confirm your account with the verification email we sent.
          </span>
          <span class='right'>
            <%=  link_to 'Send Email Again', user_confirmation_path(:user => { :email => current_user.email }), :method => :post %>
          </span>
        </p>
      </div>
    </div>
    <% else %>
      <% if community_site? %>
        <div class="brand_bg"></div>
      <% end %>
  <% end %>

  <% if community_site? %>
   <%# do nothing %>
  <% elsif current_account == Account.find(1) %>
    <%= render 'layouts/application/account_header/feastfordays' %>
  <% elsif current_account == Account.find(3) %>
    <%= render 'layouts/application/account_header/missionzero' %>
  <% elsif current_account == Account.find(4) %>
    <%= render 'layouts/application/account_header/womendesignbuild' %>
  <% else %>
    <%= render 'layouts/application/account_header/generic_account' %>
  <%- end -%>
  
<%- end -%>

<%# Main Layout %>
<%= render :layout => 'layouts/document' do %>

<% if community_site? %>
  <%= render 'layouts/application/header' %>
<% end %>

  <%# Flash %>
  <div class='container_16'>
    <%- if flash[:error].present? -%>
      <div class="page-section-float-left">
          <div class="error-block"><div class="form-error">*<%= flash[:error] %></div></div>
      </div>
    <%- end -%>
    <%- if flash[:notice].present? -%>
      <div class="page-section-float-left">
          <div class="flash-notice"><%= flash[:notice] %></div>
      </div>
    <%- end -%>
    <%- if flash[:alert].present? -%>
      <div class="page-section-float-left">
          <div class="flash-notice"><%= flash[:alert] %></div>
      </div>
    <%- end -%>
  </div>

  <%# Main Content %>
  <%= yield %>

  <%# Sidebar %>
  <% if content_for?(:sidebar) %>
    <div class='sidebar'>
      <div class='sidebar-content'>
        <%= yield :sidebar %>
      </div>
    </div>
  <%- end -%>
<%- end -%>

<%= render 'layouts/application/footer' %>

