
<% content_for :head_stylesheets do -%>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
<%- end %>


<% content_for :head_scripts do -%>
  <script type="text/javascript" src="http://use.typekit.com/xjt1fgx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
  <%= javascript_include_tag :all %>
  <script type="text/javascript" src="http://localhost:3000/javascripts/jquery.lettering-0.6.1.min.js"></script>
  <script>
    $(document).ready(function() {
      $("h1#homepage_headline").lettering('words');
    });
  </script>
<%- end %>

<%- content_for :head_analytics do -%>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22725750-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
<%- end -%>




<%= render :layout => 'layouts/document' do %>
  <%= render 'layouts/application/header' %>
  <%- if flash[:error].present? -%>
    <div class="page-section-float-left">
        <div class="error-block"><div class="form-error">*<%= flash[:error] %></div></div>
    </div>
  <%- end -%>

  <%= yield %>
  <%= yield :sidebar %>
<%- end -%>


