<!DOCTYPE html>
<html>
<head>
  <title>HourschoolV2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.js", "jquery-ui.js", "jquery_ujs.js"%>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="header-image">
	  <%= link_to image_tag("hourschool_logo.png"), root_url(:subdomain => false)  %>
	 </div>
	<div class="alert">
	<% flash.each do |name, msg| %>
	<%= msg %>
	<% end %>
	</div>
<%= yield %>

</body>
</html>
