<% content_for :head_stylesheets do -%>
  <%= stylesheet_link_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700' rel='stylesheet' type='text/css'>
<%- end %>


<%= content_for :head do %>
  <!--
  ooooo   ooooo                                 .oooooo..o           oooo                            oooo
  `888'   `888'                                d8P'    `Y8           `888                            `888
   888     888   .ooooo.  oooo  oooo  oooo d8b Y88bo.       .ooooo.   888 .oo.    .ooooo.   .ooooo.   888
   888ooooo888  d88' `88b `888  `888  `888""8P  `"Y8888o.  d88' `"Y8  888P"Y88b  d88' `88b d88' `88b  888
   888     888  888   888  888   888   888          `"Y88b 888        888   888  888   888 888   888  888
   888     888  888   888  888   888   888     oo     .d8P 888   .o8  888   888  888   888 888   888  888
  o888o   o888o `Y8bod8P'  `V88V"V8P' d888b    8""88888P'  `Y8bod8P' o888o o888o `Y8bod8P' `Y8bod8P' o888o
  -->

  <meta property="fb:app_id" content="<%= FacebookConfig::ID %>" />
  <meta property="og:description"
        content=" We believe in peer-led, mission-driven education. What have you always wanted to accomplish?"/>

  <meta property="og:image"
        content="<%= asset_path "v2/Logo_Orange.png" %>" />

  <% if current_account == Account.where(:id => 1).first %>
    <meta name="description" content="Feast for Days is an Austin startup that makes it easy for people to cook and share food." />
    <meta name="keywords" content="feast for days, feastfordays, feast4days, collaborative cooking, austin, feast, food, cook, cooking" />
  <% end %>

<%- end -%>



<% content_for :head_scripts do -%>

  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

  <script type="text/javascript" src="http://use.typekit.com/xjt1fgx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


  <script>

    // Fix CSRF http://excid3.com/blog/rails-tip-2-include-csrf-token-with-every-ajax-request/
    $(document).ajaxSend(function(e, xhr, options) {
      var token = $("meta[name='csrf-token']").attr("content");
      xhr.setRequestHeader("X-CSRF-Token", token);
    });
  </script>
<%- end %>

<%- content_for :head_analytics do -%>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22725750-1']);
    _gaq.push(['_setDomainName', 'hourschool.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript">
    function recordOutboundLink(link, category, action) {
      _gat._getTrackerByName()._trackEvent(category, action);
      setTimeout('document.location = "' + link.href + '"', 100);
    }
  </script>

  <!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("4c725de6bc70a07532bdd7ee7ded4b03");</script><!-- end Mixpanel -->

<%- end -%>

<%= content_for :first_inside_body do %>

  <%# Notice Bar if not logged in %>
  <% if community_site? %>
    <% if !current_user || (current_user && current_user.crewmanships.blank?) %>
      <div class='userConfirm'>
        <div class='container_16'>
          <p>
            <span style="color: #b4c9d9">
              Hi there!
            </span>
            <span class='whiteText'>
              HourSchool is a place to achieve your goals by joining a mission.
            </span>
            <span style="text-decoration: underline; color: #f7b62a">
              <a data-toggle="modal" href="#explainMission" style="color: #f7b62a">Learn more!</a>
            </span>
          </p>
        </div>
      </div>
    <% end %>

    <div class="modal hide" id="explainMission"><!-- modal begins -->
      <div class="modal-body">

        <div class="heading28" style="float: left; width: 485px; margin-bottom: 25px">
          We believe the best way to achieve a goal is with a Mission.
        </div>
        <button type="button" class="close" data-dismiss="modal">×</button>
        <div style="margin-bottom: 30px">
          <div class="title-text" id="explore">What is a mission?</div>
          <p>Each mission is a micro-community that connects passionate people working towards their individually-defined goals through in-person classes, workshops, and happy hours.</p>
        </div>

        <div style="margin: 0px 30px 20px 0px">
          <div class="title-text" id="explore">How does a mission work?</div>
          <p>Here are the building blocks of a mission:</p>
        </div>

        <div class="heading14">Mission</div>
        <p>A mission is something you want to accomplish.</p>

        <div class="heading14">Topics:</div>
        <p>Topics are knowledge or skills you need in your toolbox to achieve your mission. They are collectively, and continuously built by everyone in the mission.</p>

        <div class="heading14">Events:</div>
        <p>Events are organized based on the topics, where people get together in person to learn with and from each other - whether through a class or a happy hour.</p>

        <div class="heading11" style="margin-top: 20px">For example:</div>

        <%= image_tag 'v3/mission-framework.png', :style => "margin-top: 5px; padding-bottom: 20px" %>

        <button type="button" class="close" data-dismiss="modal" style="text-decoration: underline; margin: 30px 0px; color: #333">Okay, got it.</button>

        </div>
      </div>
    </div><!-- modal ends -->
  <% end %>



  <%# Header %>
  <% if community_site? %>
    <%# do nothing %>
  <% elsif current_account == Account.where(:id => 1).first %>
    <%= render 'layouts/application/accounts/feastfordays' %>
  <% elsif current_account == Account.where(:id => 2).first %>
    <%= render 'layouts/application/accounts/a2reskilling' %>
  <% elsif current_account == Account.where(:id => 3).first %>
    <%= render 'layouts/application/accounts/missionzero' %>
  <% elsif current_account == Account.where(:id => 4).first %>
    <%= render 'layouts/application/accounts/womendesignbuild' %>
  <% elsif current_account == Account.where(:id => 5).first %>
    <%= render 'layouts/application/accounts/center61' %>
  <% elsif current_account == Account.where(:id => 7).first %>
    <%= render 'layouts/application/accounts/hubla' %>
  <% else %>
    <%= render 'layouts/application/accounts/generic_account' %>
  <%- end -%>

<%- end -%>


<%# Main Layout %>

<%= render :layout => 'layouts/document' do %>

  <% if community_site? %>
    <%= render 'layouts/application/header' unless yield(:body_id) == "mission_builder" %>
  <% end %>

  <%# Flash %>
  <div class='container_16'>
    <%- if flash[:error].present? -%>
      <div class="page-section-float-left" style="margin-left: 30px">
          <div class="error-block"><div class="form-error">*<%= flash[:error] %></div></div>
      </div>
    <%- end -%>
    <%- if flash[:notice].present? -%>
      <div class="page-section-float-left" style="margin-left: 30px">
          <div class="flash-notice"><%= flash[:notice] %></div>
      </div>
    <%- end -%>
    <%- if flash[:alert].present? -%>
      <div class="page-section-float-left" style="margin-left: 30px">
          <div class="flash-notice"><%= flash[:alert] %></div>
      </div>
    <%- end -%>
  </div>

  <%# Page Content %>
  <% unless yield(:body_id) == "homepage" %>
    <div class='container_16'>
    <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

<%- end -%>

<%- content_for :after_main do  -%>
<%- end -%>

<%= render 'layouts/application/footer' %>

