<% content_for :head_stylesheets do -%>
  <%= stylesheet_link_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700' rel='stylesheet' type='text/css'>
<%- end %>


<%= content_for :head do %>
  <!--
  ooooo   ooooo                                 .oooooo..o           oooo                            oooo
  `888'   `888'                                d8P'    `Y8           `888                            `888
   888     888   .ooooo.  oooo  oooo  oooo d8b Y88bo.       .ooooo.   888 .oo.    .ooooo.   .ooooo.   888
   888ooooo888  d88' `88b `888  `888  `888""8P  `"Y8888o.  d88' `"Y8  888P"Y88b  d88' `88b d88' `88b  888
   888     888  888   888  888   888   888          `"Y88b 888        888   888  888   888 888   888  888
   888     888  888   888  888   888   888     oo     .d8P 888   .o8  888   888  888   888 888   888  888
  o888o   o888o `Y8bod8P'  `V88V"V8P' d888b    8""88888P'  `Y8bod8P' o888o o888o `Y8bod8P' `Y8bod8P' o888o
  -->

  <meta property="fb:app_id" content="<%= FacebookConfig::ID %>" />
  <meta property="og:description"
        content="HourSchool is a social school built from your community, offering in-person, peer-led, bite-sized classes."/>

  <meta property="og:image"
        content="<%= asset_path "v2/Logo_Orange.png" %>" />

  <% if current_account == Account.where(:id => 1).first %>
    <meta name="description" content="Feast for Days is an Austin startup that makes it easy for people to cook and share food." />
    <meta name="keywords" content="feast for days, feastfordays, feast4days, collaborative cooking, austin, feast, food, cook, cooking" />
  <% end %>

<%- end -%>



<% content_for :head_scripts do -%>
  <%= javascript_include_tag 'application' %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

  <script type="text/javascript" src="http://use.typekit.com/xjt1fgx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


  <script>

    // Fix CSRF http://excid3.com/blog/rails-tip-2-include-csrf-token-with-every-ajax-request/
    $(document).ajaxSend(function(e, xhr, options) {
      var token = $("meta[name='csrf-token']").attr("content");
      xhr.setRequestHeader("X-CSRF-Token", token);
    });
  </script>
<%- end %>

<%- content_for :head_analytics do -%>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22725750-1']);
    _gaq.push(['_setDomainName', 'hourschool.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript">
    function recordOutboundLink(link, category, action) {
      _gat._getTrackerByName()._trackEvent(category, action);
      setTimeout('document.location = "' + link.href + '"', 100);
    }
  </script>

  <!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("4c725de6bc70a07532bdd7ee7ded4b03");</script><!-- end Mixpanel -->

<%- end -%>

<%= content_for :first_inside_body do %>

  <%# Admin bar %>
  <% if current_user && !community_site? && (admin_of_current_account? || current_user.admin?) %>
    <div class='userConfirm'>
      <div class='container_16'>
        <p style="float: left">
          <span class="reminder">HourSchool Pro</span>
        </p>
        <p style="float: right">
          <%= link_to "Site", "http://#{current_account.subdomain}.hourschool.com" %>
          <span style="margin: 0 7px 0 7px; color: white">|</span>
          <%= link_to "Admin", admin_index_path %>
          <span style="margin: 0 7px 0 7px; color: white">|</span>
          <%= link_to "Post a new event", new_course_path %>
          <span style="margin: 0 7px 0 7px; color: white">|</span>
          <%= link_to "Email HourSchool", "mailto:hello@hourschool.com" %></span>
        </p>
      </div>
    </div>
  <% end %>


  <%# Header %>
  <% if params[:controller].include?("admin") %>
    <%# do nothing %>
  <% elsif current_account == Account.where(:id => 1).first %>
    <%= render 'layouts/accounts/feastfordays' %>
  <% elsif current_account == Account.where(:id => 2).first %>
    <%= render 'layouts/accounts/a2reskilling' %>
  <% elsif current_account == Account.where(:id => 3).first %>
    <%= render 'layouts/accounts/missionzero' %>
  <% elsif current_account == Account.where(:id => 4).first %>
    <%= render 'layouts/accounts/womendesignbuild' %>
  <% elsif current_account == Account.where(:id => 7).first %>
    <%= render 'layouts/accounts/hubla' %>
  <% elsif current_account == Account.where(:id => 11).first %>
    <%= render 'layouts/accounts/vukaaustin' %>
  <% else %>
    <%= render 'layouts/header' %>
  <%- end -%>

<%- end -%>


<%# Main Layout %>

<%= render :layout => 'layouts/document' do %>

  <%# Flash %>
  <div class='container_16'>
    <%- if flash[:error].present? -%>
      <div class="alert alert-error">
        <%= flash[:error] %>
      </div>
    <%- end -%>
    <%- if flash[:notice].present? -%>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <%- end -%>
    <%- if flash[:alert].present? -%>
     <div class="alert alert-error">
        <%= flash[:alert] %>
      </div>
    <%- end -%>
  </div>

  <%# Page Content %>
  <% unless yield(:body_id) == "homepage" %>
    <div class='container_16'>
    <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

<%- end -%>

<%- content_for :after_main do  -%>
<%- end -%>

<%= render 'layouts/footer' %>


