
<% content_for :head_stylesheets do -%>
  <%= stylesheet_link_tag 'application.css', :media => 'screen, projection' %>
<%- end %>


<%= content_for :head do %>
  <meta property="fb:app_id" content="<%= FacebookConfig::ID %>" />
  <meta property="og:description"
        content=" HourSchool is a social school from your community. Because it's not always the experts who make the best teachers, it's the people you know. Start learning with your network today, one hour at a time."/>

  <meta property="og:image"
        content="http://www.hourschool.com/images/v2/Logo_Orange.png"/>
<%- end -%>

<% content_for :head_scripts do -%>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

  <%= javascript_include_tag 'application' %>

  <script type="text/javascript" src="http://use.typekit.com/xjt1fgx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


  <script>
    // $(document).ready(function() {
    //   $("h1#homepage_headline").lettering('words');
    // });

    // Fix CSRF http://excid3.com/blog/rails-tip-2-include-csrf-token-with-every-ajax-request/
    $(document).ajaxSend(function(e, xhr, options) {
      var token = $("meta[name='csrf-token']").attr("content");
      xhr.setRequestHeader("X-CSRF-Token", token);
    });
  </script>
<%- end %>

<%- content_for :head_analytics do -%>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22725750-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script type="text/javascript">
    function recordOutboundLink(link, category, action) {
      _gat._getTrackerByName()._trackEvent(category, action);
      setTimeout('document.location = "' + link.href + '"', 100);
    }
  </script>
<%- end -%>


<%- content_for :after_main do  -%>

  <% if cookies[:ignoreFacebookReconnect].blank? && current_user && current_user.needs_facebook_reconnect?(FacebookPermissions)%>
    <%= render :layout => 'shared/page/modal', :locals => {
               :display        => 'block',
               :modal_class    => 'facebookReconnect',
               :after_close_js => %Q{$.cookie('ignoreFacebookReconnect',
                                     true,
                                     {domain: "#{URI.parse(root_url(:subdomain => nil)).host}",
                                      path: '/', expires: 365})}} do %>
      <div>
        <p>
          Thanks for using Hourschool, we're trying a new way to make
          course recommendations and need some permissions from facebook.
        </p>
        <br />
        <p>
          To take advantage of these new features you can please click on the facebook button:
        </p>
        <br />
        <%= render :partial => 'users/facebook/connect_button' %>
        <br />
        <p>
          You can connect later on your <%= link_to 'settings', edit_user_registration_path %> page.
        </p>
        <p>
          Closing this window to ignore this message
        </p>
      </div>
    <%- end -%>
  <%- end -%>

<%- end -%>


<%= render :layout => 'layouts/document' do %>
  <%= render 'layouts/application/header' %>

  <%- if flash[:error].present? -%>
    <div class="page-section-float-left">
        <div class="error-block"><div class="form-error">*<%= flash[:error] %></div></div>
    </div>
  <%- end -%>
  <%- if flash[:notice].present? -%>
    <div class="page-section-float-left">
        <div class="flash-notice"><%= flash[:notice] %></div>
    </div>
  <%- end -%>

  <%= yield %>

  <% if content_for?(:sidebar) %>
    <div class='sidebar'>
      <div class='sidebar-content'>
        <%= yield :sidebar %>
      </div>
    </div>
  <%- end -%>
<%- end -%>

<%= render 'layouts/application/footer' %>
