<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" style="margin-bottom: 0px;">
    <li class="active"><a href="#tab1" data-toggle="tab" class="heading11">Classes</a></li>
    <li><a href="#tab2" data-toggle="tab" class="heading11">Members</a></li>
    <li><a href="#tab3" data-toggle="tab" class="heading11">Settings</a></li>
    <li><a href="#tab4" data-toggle="tab" class="heading11">Billing</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="full-page white tab-border full">
        <div class="page-content">
          <div class="well">
            <div class="left heading14">Total # of classes: <%= @account.courses.count %></div>
            <%= link_to "Add an event", new_course_path, :class => "btn right" %>
          </div>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Class name</th>
                <th>Class teacher</th>
                <th>Class date</th>
                <th># of students</th>
                <th>Action</th>
              </tr>
            </thead>
            <% @account.courses.order('DATE(starts_at) DESC').each do |course| %>
              <tr>
                <td style="width: 40%"><%= link_to course.title, course %></td>
                <td><%= course.teacher.name %></td>
                <td><%= "#{course.starts_at.strftime("%a %b %d %Y")}, #{course.starts_at.strftime("%l:%M%p")}" %></td>
                <td><%= "#{course.students.count} out of #{course.max_seats} filled" %></td>
                <td><%= link_to "Edit", edit_course_path(course) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div><!-- end tab2 -->
    <div class="tab-pane" id="tab2">
      <div class="full-page white tab-border full">
        <div class="page-content">
          <div class="well">
            <div class="left heading14">Total # of members: <%= @account.memberships.count %></div>
            <%= link_to "Add a member", "", :class => "btn right" %>
          </div>
          <% @account.users.each do |user| %>
            <div class="mission-divider">
              <div class="crewman-photo">
                <% if user.photo.present? %>
                  <%= link_to_avatar(user, :thumb_large) %>
                <% else %>
                  <%= image_tag 'avatar.jpg', :size => "125x125" %>
                <% end %>
              </div>
              <div class="crewman-description">
                <div style="font-weight: 700; width: 100%; margin-bottom: 10px">
                  <%= link_to user.name, user %>
                </div>
                <p><%= user.bio %></p>
                <p>User ID: <%= user.id %></p>
                <p>Email: <%= link_to "#{user.email}", "mailto: #{user.email}" %></p>
                <p>Joined: <%= user.memberships.where(:account_id => current_account.id).last.created_at %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- end tab3 -->
    <div class="tab-pane" id="tab3">
      <div class="full-page white tab-border full">
        <div class="page-content">
          <%= form_for @account do |f| %>
            <% if @account.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

                <ul>
                <% @account.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <p>
              <%= f.label :name, "Organization Name", :class => "form-question" %><br />
              <%= f.text_field :name, :class => "form-short-with-margin" %><br><br>
            </p>

            <p>
              Your custom url is <%= @account.subdomain %>.hourschool.com<br />
              contact <%= mail_to 'hello@hourschool.com' %> if you'd like to change it.
            </p>

            <p>
              <%= f.label :description, "Description", :class => "form-question" %><br />
              <%= f.text_field :description, :class => "form-with-margin" %><br><br>
            </p>

            <p>
             <%= f.label :logo, 'Logo', :class => "form-question" %><br />
             <%= f.file_field :logo %>
            </p>

            <p>
             <%= f.label :photo, 'Banner Photo', :class => "form-question" %><br />
             <%= f.file_field :photo %>
            </p>

<!--             <hr>
            <div class="control-group" style="margin-bottom:20px">
              <div class="controls">
                <label class="radio">
                  <%= f.radio_button :private, false %>
                  Promote my classes on the main hourschool.com site where anyone can view and attend.
                </label>
                <label class="radio">
                  <%= f.radio_button :private, true %>
                  Please keep my classes private, only the people I invite can view or attend classes.
                </label>
              </div>
            </div>

            <div class="control-group" style="margin-bottom:20px">
              <div class="controls">
                <label class="radio">
                  <%= f.radio_button :charge, true %>
                  Charge a member fee
                </label>
                <label class="radio">
                  <%= f.radio_button :charge, false %>
                  Membership is free
                </label>
              </div>
            </div>

            <div>
              <%= f.text_field :charge_amount, :class => "form-short-with-margin", :placeholder => "Membership per month" %>
            </div><br><br>

            <div class="control-group" style="margin-bottom:20px">
              <div class="controls">
                <label class="radio">
                  <%= f.radio_button :charge, true %>
                  Only members can register for event
                </label>
                <label class="radio">
                  <%= f.radio_button :charge, false %>
                  Everyone can register for event
                </label>
              </div>
            </div>

            <%= f.text_field :discount, :class => "form-short-with-margin", :placeholder => "Discount for member" %> -->

            <br><br><br>

            <div class="actions">
              <%= f.submit 'Save', :class => "btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- end tab4 -->
    <div class="tab-pane" id="tab4">
      <div class="full-page white tab-border full">
        <div class="page-content">
          Coming soon
        </div>
      </div>
    </div><!-- end tab5 -->

  </div><!-- end tab-content -->
</div><!-- end tabbable -->

