<div class="page-main">
  <div class="page-content">
    <div class="heading28 brown" style="margin-bottom: 20px">Create a School</div>


    <%= form_for @account do |f| %>
      <% if @errors.any? %>
        <div id="error_explanation" class="error">
          <strong style="font-weight:bold;color:red;">Oops, check the errors below:</strong>
          <ul>
            <% @errors.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-question">
        <%= f.label :name, "Organization Name" %><br />
        <%= f.text_field :name, :class => "form-short-with-margin" %>
      </div>

      <div class="form-question">
        <%= f.label :subdomain, "Custom URL" %><br />
        <%= f.text_field :subdomain, :class => "form-short-with-margin" %>.hourschool.com<br />
        <span class="help-block" style="font-weight:normal">(numbers and letters only)</span>
      </div>

      <div class="actions">
        <%= f.submit 'Create my school', :class => "btn" %>
      </div>
    <% end %>
  </div>
</div>