<ul>
	<li><%= link_to 'Account', edit_account_path(:admin) %></li>
	<li><%= link_to 'Payment' %></li>
	<li><%= link_to 'Users', users_path %></li>
	<li><%= link_to 'Courses', courses_path %></li>
	<li><%= link_to 'Suggestions', suggestions_path %></li>
</ul>