<% if current_account == Account.where(:id => 4).first %><!-- Women Design Build -->
  <%= render :partial => 'courses/womendesignbuild/index' %>

<% elsif current_account == Account.where(:id => 1).first %><!-- Feast for Days -->
  <%= render :partial => 'accounts/show/feastfordays', :locals => {:courses => @courses} %>

<% elsif current_account == Account.where(:id => 2).first %><!-- A2Reskilling -->
    <%= render :partial => 'accounts/show/a2reskilling', :locals => {:courses => @courses} %>


<% elsif current_account == Account.where(:id => 5).first %><!-- Center61 -->
  <!-- only has one mission, no homepage yet -->

<% elsif current_account == Account.where(:id => 7).first %><!-- Hub LA -->
  <%= render :partial => 'accounts/show/hubla', :locals => {:courses => @courses} %>

<% else %><!-- New Generic School -->

  <div class="full-page" style="background-color: #f0f0f0">
    <% if @account.photo.present? %>
      <%= image_tag(@account.photo) %>
    <% else %>
      <div style="background-color: #333; width: 960px; height: 250px;">
        <div class="heading11" style="text-align: center; padding-top: 60px">
          <a data-toggle="modal" href="#addBasicInfo" style="color: white">Upload a photo that represent your account</a>
        </div>
      </div>
    <% end %>
  </div><!-- end full page -->


  <!-- edit account info modal -->
  <div class="modal hide" id="addBasicInfo">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Add Basic info</h3>
    </div>
    <div class="modal-body">
      <%= form_for(@account) do |f| %>
        <% if @account.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@account.errors.count, "error") %> prohibited this from being saved:</h2>

            <ul>
            <% @account.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :photo, 'Upload a photo that represent your mission' %>
          <%= f.file_field :photo %>
          <%= image_tag(@account.photo, :size => "384x144") if @account.photo.present? %>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" style="text-decoration: none">Close</a>
        <%= f.submit "Save changes", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>


  <div class="grid_16" style="margin-bottom: 30px;">
    <div class="heading14" style="text-align: center; margin-bottom: 20px; text-align: center; width: 920px; padding: 10px; color: black">
      Upcoming classes
    </div>

    <% if @upcoming_courses.present? %>
      <% @upcoming_courses.limit(8).each do |course| %>
        <div class="classBlock" style="margin: 0 20px 30px 20px; background-color: #f0f0f0">
          <% if course.photo.present? %>
            <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
          <% else %>
            <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
          <% end %>

          <div class="class-description" style="float: left; width: 170px">
            <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
              <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
            </div>
            <div class="heading16">
              <%= link_to course.title, course %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="row-fluid">
        <div class="span4" style="background-color: #ccc; height: 250px">
          <%= link_to "Add a class", new_course_path, :class => "btn", :style => "margin-top: 105px; margin-left: 105px" %>
        </div>
        <div class="span4" style="background-color: #ccc; height: 250px">
          <%= link_to "Add a class", new_course_path, :class => "btn", :style => "margin-top: 105px; margin-left: 105px"  %>
        </div>
        <div class="span4" style="background-color: #ccc; height: 250px">
          <%= link_to "Add a class", new_course_path, :class => "btn", :style => "margin-top: 105px; margin-left: 105px"  %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="grid_16">
    <% if @past_courses.present? %>
      <div class="heading14" style="text-align: center; margin-bottom: 20px; text-align: center; width: 920px; padding: 10px; color: black">
        Past classes
      </div>
      <% @past_courses.limit(8).each do |course| %>
        <div class="classBlock" style="margin: 0 20px 30px 20px; background-color: #f0f0f0">
          <% if course.photo.present? %>
            <%= link_to (image_tag(course.photo.url(:small), :size => "190x120")), course %>
          <% else %>
            <%= link_to image_tag("v2-courses/DefaultClassPics_Generic.png"), course %>
          <% end %>

            <div class="class-description" style="float: left; width: 170px">
              <div style="font-size: 12px; font-weight: 400; margin: 10px 0 10px 0">
                <%= "#{course.starts_at.strftime("%a %b %d")}, #{course.starts_at.strftime("%l:%M%p")}" %>
              </div>
              <div class="heading16">
                <%= link_to course.title, course %>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>
